block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title #{title}
    meta(content="" name="description")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")

    //- favicon block start
    link(rel="icon" href="assets/img/favicon.png")
    //- favicon block end
    style.
      *,:after,:before{box-sizing:border-box}article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}body{background-color:#fff}h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem}p{margin-top:0;margin-bottom:1rem}ol ol,ol ul,ul ol,ul ul{margin-bottom:0}b,strong{font-weight:bolder}a{color:#007bff;background-color:transparent}a:hover{color:#0056b3;text-decoration:underline}img{border-style:none}img,svg{vertical-align:middle}svg{overflow:hidden}::-webkit-input-placeholder{color:#000;opacity:.5}::-moz-placeholder{color:#000;opacity:.5}:-ms-input-placeholder{color:#000;opacity:.5}:-moz-placeholder{color:#000;opacity:.5}body{min-width:20rem;line-height:1.65;font-size:1rem;color:#242424;font-family:Montserrat-Medium,sans-serif}.wrapper,body{position:relative}.wrapper{display:flex;flex-direction:column;min-height:100%}main{flex:1 0 auto;position:relative}a{text-decoration:none}img{max-width:100%}ul{list-style-type:none;margin:0;padding:0}.btn{display:inline-block;text-decoration:none;cursor:pointer;position:relative;transition:all .3s ease;text-align:center;padding:0.375rem 1.125rem;font-size:0.9375rem;border-radius:0;color:#fff}@media (max-width:48rem){.btn{font-size:0.875rem}}@media (max-width:36rem){.btn{font-size:0.8125rem}}.btn--primary{background:#fc7327}.btn--light{background:hsla(0,0%,100%,.6);color:#000;border:0.0625rem solid #fc7327;transition:all .3s ease}.container{width:100%;padding-right:0.9375rem;padding-left:0.9375rem;margin-right:auto;margin-left:auto}@media (min-width:62rem){.container{padding-right:1.875rem;padding-left:1.875rem}}@media (min-width:75rem){.container{padding-left:5rem;padding-right:5rem}}@media (min-width:85rem){.container{max-width:72.5rem;padding-right:0;padding-left:0}}@media (min-width:103.75rem){.container{max-width:92.5rem;padding-right:0;padding-left:0}}b{font-family:Montserrat-Bold;font-weight:400}input::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}input[type=number]{-moz-appearance:textfield}h1,h2,h3{font-family:Montserrat-Bold}h1{font-size:1.25rem}h2{font-size:1.5rem}@media (max-width:36rem){h2{font-size:1.3125rem}}@media (max-width:30rem){h2{font-size:1.0625rem}}h2.title{margin-top:1.25rem;margin-bottom:2.5rem}@media (max-width:62rem){h2.title{margin-bottom:1.25rem}}h3{font-size:1.125rem}@media (max-width:62rem){h3{font-size:1.0625rem}}@media (max-width:36rem){h3{font-size:1rem}}@media (max-width:30rem){h3{font-size:0.9375rem}}h3.title{font-size:1.25rem;font-family:Montserrat-Bold;color:#000}ul.base{padding-left:0.9375rem}ul.base li{font-size:0.8125rem;margin-bottom:0.4375rem;position:relative}ul.base li:before{content:"";height:0.0625rem;width:0.25rem;background:#242424;display:inline-block;position:absolute;top:50%;transform:translateY(-50%);left:-0.625rem}.profile-menu{width:12.75rem;box-shadow:0 0.0625rem 0.75rem rgba(0,0,0,.06);padding:1.25rem 0.75rem 0.9375rem;background-color:#fff;position:absolute;visibility:hidden;top:3.125rem;right:3.125rem;opacity:0;transition:opacity .1s linear,top .1s linear,visibility .1s linear;pointer-events:none;z-index:2000}.profile-menu .btn{font-size:0.8125rem;width:100%;margin-top:0.625rem;padding:0.625rem 0.3125rem}.profile-menu .btn .count{margin-left:0.6875rem}.profile-menu .profile-menu__body .profile-menu__top{padding-bottom:2.125rem}.header__top{background:#f4f0e9;padding:1.25rem 0}.header__top .hamburger-top{display:none}.header__top .header__layout__left,.header__top .header__layout__right{display:flex;flex-wrap:wrap;align-items:center;width:auto}.header__top .header__layout__left .select-city,.header__top .header__layout__right .select-city{margin-right:3.125rem;margin-left:5.9375rem}@media (max-width:103.6875rem){.header__top .header__layout__left .select-city,.header__top .header__layout__right .select-city{margin-left:2.1875rem;margin-right:2.1875rem}}@media (max-width:87.5rem){.header__top .header__layout__left .select-city,.header__top .header__layout__right .select-city{margin-right:1.875rem;margin-left:1.875rem}}@media (max-width:81.25rem) and (min-width:75.0625rem){.header__top .header__layout__left .select-city,.header__top .header__layout__right .select-city{margin-left:1.25rem;margin-right:1.25rem}}.header__top .header__layout__right{justify-content:flex-end}.header__top .header__layout__right .basket{margin-left:2.875rem}@media (max-width:103.6875rem){.header__top .header__layout__right .basket{margin-left:1.75rem}}@media (max-width:87.5rem){.header__top .header__layout__right .basket{margin-left:1.625rem}}@media (max-width:30rem){.header__top .header__layout__right .basket{margin-left:1.25rem}}.header__top .header__layout__right .header__group{position:relative;display:flex;flex-wrap:wrap;align-items:center}.header__top .header__layout__right .header__group:last-child{margin-left:6.25rem}@media (max-width:103.6875rem){.header__top .header__layout__right .header__group:last-child{margin-left:2.1875rem}}@media (max-width:87.5rem){.header__top .header__layout__right .header__group:last-child{margin-left:1.875rem}}@media (max-width:36rem){.header__top .header__layout__right .header__group:last-child{margin-left:0.625rem}}@media (max-width:48rem){.header__top .header__layout__right .header__group:first-child{display:none}}@media (max-width:75rem){.header__top{padding:1.25rem 0}.header__top .select-city{display:none}.header__top .header__phone{margin-left:1.5625rem}}@media (max-width:62rem){.header__top .header__phone{display:none}.header__top .hamburger-top{display:inline-flex;align-self:center;margin-left:1.5rem}}@media (max-width:48rem){.header__top{padding:0.625rem 0}.header__top .hamburger-top{margin-left:1.25rem}}.header__layout{display:flex;justify-content:space-between}@media (max-width:30rem){.header__layout{flex-wrap:wrap}}.header .link-information{color:#7f7b77;font-size:0.8125rem;margin:0 1.5625rem}@media (max-width:103.6875rem){.header .link-information{margin:0 1.25rem}}@media (max-width:87.5rem){.header .link-information{margin:0 0.9375rem}}@media (max-width:75rem){.header .link-information{font-size:0.8125rem}}.header .header__phone{color:#081d35}.header .header__phone .header-icon{margin-right:0.9375rem;vertical-align:middle}@media (max-width:87.5rem){.header .header__phone{font-size:0.9375rem}}@media (max-width:81.25rem) and (min-width:75.0625rem){.header .logo{width:10.625rem}}@media (max-width:62.5rem){.header .logo{width:11.25rem}}@media (max-width:48rem){.header .logo{width:8.75rem}}.header__bottom{background:#fff;box-shadow:0 0.25rem 0.5rem rgba(0,0,0,.05);padding:1.125rem 0}.header__bottom .form-search{width:38.0625rem;display:flex;justify-content:space-between;border-bottom:.0625rem solid rgba(174,166,157,.2)}.header__bottom .form-search .form-search__wrap{display:flex;justify-content:space-between;width:80%;position:relative}.header__bottom .form-search .form-input{width:100%;display:flex;position:relative}.header__bottom .form-search .form-input input{border-bottom:none;width:61%}.header__bottom .form-search .form-input__city{position:absolute;right:1.875rem;bottom:0.625rem}.header__bottom .form-search .select-city{display:block}@media (max-width:93.75rem){.header__bottom .form-search button{font-size:0.9375rem;padding-left:1.5625rem;padding-right:1.5625rem}}@media (max-width:87.5rem){.header__bottom .form-search{width:32.5rem}}@media (max-width:103.6875rem){.header__bottom .form-search{width:auto;border-bottom:none}.header__bottom .form-search .form-search__wrap{width:100%}.header__bottom .form-search .form-input{width:18.75rem}.header__bottom .form-search .form-input .icon{right:0;bottom:0.3125rem}.header__bottom .form-search .form-input .icon svg{width:0.875rem}.header__bottom .form-search .form-input input{width:100%;padding-left:0;padding-bottom:0.3125rem;border-bottom:0.0625rem solid rgba(174,166,157,.2)}.header__bottom .form-search button{display:none}.header__bottom .form-search .form-input__city{position:relative;right:0;bottom:0;padding-left:1.5625rem}.header__bottom .form-search .select-city button{color:#fc7327}.header__bottom .form-search .select-city button:after{margin-left:0.625rem}}@media (max-width:62rem){.header__bottom .form-search .form-input{width:14.6875rem}}@media (max-width:48rem){.header__bottom .form-search{width:90%;margin-left:auto;margin-right:auto}.header__bottom .form-search .form-input{width:100%;border:0.0625rem solid rgba(174,166,157,.3)}.header__bottom .form-search .form-input input{border-bottom:0;padding:0.625rem 0.9375rem;font-size:0.8125rem;color:#7f7b77}.header__bottom .form-search .form-input .icon{right:0.9375rem}.header__bottom .form-search .form-input .icon svg{width:1.25rem}}@media (max-width:30rem){.header__bottom .form-search{width:100%}.header__bottom .form-search .form-input input{padding-top:0.5rem;padding-bottom:0.5rem;font-size:0.75rem}}.header__bottom .header__layout{align-items:center}.header__bottom .link-information:last-child{margin-right:0}.header__bottom .select-city .select-city__choose{margin-left:0}.header__bottom .select-city button{border:none;padding:0;color:rgba(36,36,36,.7);font-family:Montserrat-Medium;font-weight:500;font-size:0.8125rem;text-transform:none;display:inline-block}.header__bottom .select-city button:after{background:url(../img/icon/arrow-small.png);width:0.875rem;height:0.5rem}@media (max-width:75rem){.header__bottom .header__catalog-equipment{display:none}}@media (max-width:48rem){.header__bottom{padding-bottom:0;box-shadow:none}.header__bottom .form-input__city,.header__bottom .header__group{display:none}}@media (max-width:30rem){.header__bottom{padding-top:0.625rem}}.menu-head{display:inline-block;cursor:pointer}.menu-head .menu-head__icon{width:2.5rem;height:2.5rem;border-radius:50%;overflow:hidden}.menu-head .menu-head__icon img{width:100%;height:100%;-o-object-fit:cover;object-fit:cover}@media (max-width:62rem){.menu-head .menu-head__icon{width:2.0625rem;height:2.0625rem}}@media (max-width:36rem){.menu-head .menu-head__icon{width:1.5625rem;height:1.75rem}}.menu-head .menu-head__head{display:flex;flex-wrap:wrap;align-items:center}.menu-head .menu-head__head .menu-head__name{font-size:0.9375rem;margin-left:0.6875rem}@media (max-width:103.6875rem){.menu-head .menu-head__head .menu-head__name{max-width:11.25rem;font-size:0.8125rem}}@media (max-width:62rem){.menu-head .menu-head__head .menu-head__name{font-size:0.6875rem;max-width:9.375rem}}@media (max-width:36rem){.menu-head .menu-head__head .menu-head__name{max-width:8.125rem;font-size:0.5625rem}}@media (max-width:30rem){.menu-head .menu-head__head .menu-head__name{display:none}}.menu-head .menu-head__head .menu-head__photo{position:relative}.menu-head .menu-head__head .menu-head__photo .count{width:1.1875rem;height:1.1875rem;font-size:0.6875rem}@media (max-width:36rem){.menu-head .menu-head__head .menu-head__photo .count{width:1rem;height:1rem;line-height:1rem;font-size:0.5625rem}}.menu-head .menu-head__head .menu-head__photo .status{position:absolute;right:-0.375rem;top:-0.5625rem}@media (max-width:62rem){.menu-head .menu-head__head .menu-head__photo .status{top:-0.3125rem;right:-0.25rem}}.header-icon{background:url(../img/icon/header.png);background-repeat:no-repeat;display:inline-block;vertical-align:middle}.header-icon--phone{width:1.125rem;height:1.125rem;background-position-x:-1.8125rem;margin-top:-0.3125rem}.icon-basket{width:1.8125rem}@media (max-width:48rem){.icon-basket{width:1.4375rem}}@media (max-width:30rem){.icon-basket{width:1.25rem}}.basket{position:relative;display:inline-block}.basket .count{position:absolute;right:-0.625rem;top:-0.4375rem;display:block}@media (max-width:48rem){.basket .count{width:1.125rem;height:1.125rem;font-size:0.5625rem;line-height:1.125rem}}@media (max-width:30rem){.basket .count{top:-0.3125rem;right:-0.3125rem;width:1rem;height:1rem;line-height:1rem}}.count{color:#fff;border-radius:50%;background-color:#fc7327;font-size:0.8125rem;text-align:center;width:1.375rem;height:1.375rem;line-height:1.375rem;display:inline-block}.header__catalog-equipment{position:relative}

    link(rel='stylesheet' href='assets/css/foundation.css')
    link(rel="stylesheet", href="assets/css/critical.css")
    link(rel='stylesheet' href='assets/css/app.css')
    link(rel='stylesheet' href='assets/css/display.css')

    <!--[if lt IE 9]>
    script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    <![endif]-->

  body(class=localClass)
    .wrapper
        block content
    script(src='assets/js/foundation.js' defer)
    script(src='assets/js/app.js' defer)