body {
  margin: 0;
}

span.size,
.small-size {
  font-size: 13px;
}

@import 'common/_var';
@import 'common/base';
@import 'common/fonts';
@import 'common/mixins';
@import 'common/header';

.login-page {
  min-height: calc(100vh - 233px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin-bottom: 15px;
    font-size: 42px;

    @media (max-width: 1659px) {
      font-size: 36px;
    }

    @media (max-width: 1365px) {
      font-size: 30px;
    }

    @media (max-width: 992px) {
      font-size: 25px;
    }
  }

  .errornote {
    margin-bottom: 0;
    font-size: 13px;
    color: $accent;

    @media (max-width: 768px) {
      margin-bottom: 10px;
    }
  }

  .block-text {
    font-size: 22px;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.08);
    color: rgb(127, 123, 119);
    padding-bottom: 10px;

    span {
      font-family: $bold;
      margin-bottom: 10px;
      display: block;
      line-height: normal;
    }

    p {
      line-height: 1.2;

      a {
        margin-top: 10px;
      }
    }

    a.link {
      display: block;
      color: $accent;
      font-family: $bold;

      &:hover {
        text-decoration: underline;
      }
    }

    @media (max-width: 1659px) {
      font-size: 19px;
    }

    @media (max-width: 1365px) {
      font-size: 18px;
    }

    @media (max-width: 992px) {
      font-size: 17px;

      span {
        margin-bottom: 6px;
      }
    }

    @media (max-width: 576px) {
      font-size: 15px;

      p {
        font-size: 14px;
      }
    }
  }

  h3 {
    font-size: 21px;
    margin-bottom: 25px;
    margin-top: 25px;

    @media (max-width: 1659px) {
      font-size: 19px;
    }

    @media (max-width: 768px) {
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    @media (max-width: 480px) {
      font-size: 15px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .form {
    max-width: 380px;

    .form__item {
      padding-bottom: 15px;

      label {
        color: $color-text;
        font-size: 15px;
        margin-bottom: 10px;
      }

      input {
        font-size: 13px;
        padding: 7px 15px;
      }
    }

    button {
      width: 100%;
      font-size: 15px;
      margin-top: 10px;
      padding: 7px 15px;
    }

    @media (max-width: 768px) {
      label {
        margin-bottom: 6px;
        font-size: 13px;
      }

      input {
        padding: 8px 9px;
      }

      button {
        margin-top: 0;
        padding: 7px 10px;
        font-size: 14px;
      }
    }

    @media (max-width: 992px) {
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: 576px) {
      max-width: 100%;
    }
  }

  .login-page__info {
    padding-top: 20px;
    padding-bottom: 20px;
    flex-basis: 43%;
    max-width: 43%;

    @media (max-width: 1300px) {
      flex-basis: 45%;
      max-width: 45%;
    }

    @media (max-width: 992px) {
      flex-basis: 100%;
      max-width: 100%;
      text-align: center;
    }
  }

  .login-page__bg {
    flex-basis: 54%;
    max-width: 54%;

    img {
      width: 100%;
    }

    @media (max-width: 1300px) {
      flex-basis: 52%;
      max-width: 52%;
    }

    @media (max-width: 992px) {
      display: none;
    }
  }

  @media (max-width: 1200px) {
    min-height: 100%;
    padding-top: 50px;
  }

  @media (max-width: 992px) {
    justify-content: center;
  }

  @media (max-width: 480px) {
    padding-top: 30px;
  }
}

.inner-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  aside {
    flex: 0 0 19%;
  }

  .inner-content {
    width: 75.89%;

    @media (max-width: 1659px) {
      width: 77%;
    }

    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  .page-other {
    flex: 0 0 68%;

    @media (max-width: 1365px) {
      flex: 0 0 100%;
    }
  }

  .handle {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .sortable-placeholder {
    cursor: grabbing;
    border: 0.0625rem dashed #999;
    background: #ddd;
  }

  .dragAndrop .sortable-placeholder {
    flex: 0 0 32.12%;
    max-width: 32.12%;
    min-height: 26.25rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .catalog-inner {
    flex: 0 0 69%;
    max-width: 69%;

    @media (max-width: 1365px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .result-wrapper {
    flex: 0 0 27%;
    max-width: 27%;

    @media (max-width: 1659px) and (min-width: 1366px) {
      flex: 0 0 29%;
      max-width: 29%;
    }

    @media (max-width: 1365px) {
      margin-top: 20px;
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media (max-width: 992px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.inner-page-wraper {
  padding-top: 52px;
  padding-bottom: 100px;

  .switch {
    padding-bottom: 40px;

    @media (max-width: 1199px) {
      display: none;
    }
  }

  .inner-page-wraper__line {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;

    h1 {
      margin-bottom: 0;
    }

    @media (max-width: 1199px) {
      margin-bottom: 25px;
    }

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }

    @media (max-width: 480px) {
      h1 {
        width: 100%;
      }
    }
  }

  @media (max-width: 1199px) {
    padding-top: 40px;
  }

  @media (max-width: 992px) {
    padding-top: 30px;
    // .breadcrumb {display: none;}
  }

  @media (max-width: 767px) {
    padding-top: 20px;
  }
}

.inner-page--block {
  display: block;
}

.reviews-el {
  color: $color-p;
  font-size: 13px;
}

.collapse.in {
  display: block;
}

@import 'common/element';
@import 'common/intro/intro';
@import 'common/catalog/catalog';
@import 'common/section/step';
@import 'common/section/information-block';
@import 'common/section/personal-area';
@import 'common/section/page-landlord';
@import 'common/section/page-balance';
@import 'common/section/applications-obj';
@import 'common/section/page-order';
@import 'common/section/page-technique .scss';
@import 'common/section/application-catalog';
@import 'common/section/manager';
@import 'common/section/content';
@import 'common/section/moderation';
@import 'common/footer';

.text-block {
  width: 49%;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  padding: 30px 20px;

  .btn {
    width: 100%;
    margin-top: 20px;
  }

  h3 {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

.text-block-wrapper {
  justify-content: space-between;

  .text-block {
    width: 49.5%;
  }
}

.wrap-basis--none {
  display: none;
}

.wrap-restore {
  display: none;

  .form {
    .form__text {
      text-align: left;
      padding-bottom: 25px;
    }
  }
}

.wrap-basis--block {
  display: block;
}

span.accent,
.accent {
  color: $accent;
}

.feedback__body.in {
  display: none;
}

.wrap-report {
  padding-bottom: 10px;
}

.wrap-filter {
  padding-bottom: 25px;

  .filter-primary {
    padding-bottom: 25px;
  }

  .item {
    label {
      display: block;
    }
  }

  .controls {
    padding-top: 20px;
  }
}

.region-select,
.city-select {
  .item {
    padding-bottom: 7px;
    cursor: pointer;
  }

  .item.active {
    color: $accent;
  }
}

.inner-content__line {
  h3.title {
    font-size: 19px;
    margin-bottom: 0;

    @media (max-width: 576px) {
      font-size: 17px;
    }
  }

  @media (max-width: 576px) {
    margin-bottom: 15px;
  }
}

.extra-block {
  padding-top: 10px;

  .btn {
    font-size: 14px;
    padding: 5px 23px;
  }

  a:not([href]):not([tabindex]) {
    color: #fff;
  }
}

.wrapper-message {
  @media (max-width: 1200px) {
    .footer,
    .header,
    h1.page-heading,
    .switch {
      display: none;
    }

    .container {
      padding-right: 0;
      padding-left: 0;
    }

    .inner-page-wraper {
      padding-bottom: 0;
      padding-top: 0;

      > nav {
        display: none;
      }
    }
  }

  @media (max-width: 768px) {
    .head-block,
    .chat-block__right {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.error-header {
  color: #fff;
  background-image: linear-gradient(246deg, $accent, #ec6572);
  position: relative;
  height: 320px;
  clip-path: polygon(0 0, 100% 0%, 100% 84%, 0 94%);

  .error-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  h1 {
    font-size: 60px;
    text-align: center;

    @media (max-width: 1355px) {
      font-size: 50px;
    }

    @media (max-width: 992px) {
      font-size: 40px;
    }

    @media (max-width: 768px) {
      font-size: 32px;
    }
  }

  @media (max-width: 1355px) {
    height: 270px;
  }

  @media (max-width: 992px) {
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 768px) {
    height: 160px;
  }
}

.error-main {
  padding-top: 30px;
  font-size: 24px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  p {
    margin-bottom: 0;
  }

  a {
    color: $accent;
  }

  @media (max-width: 1355px) {
    font-size: 20px;
    padding-top: 20px;
  }

  @media (max-width: 1200px) {
    max-width: 800px;
  }

  @media (max-width: 992px) {
    font-size: 18px;
  }

  @media (max-width: 992px) {
    max-width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.page-block {
  background: #fff;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  max-width: 850px;

  .page-block__header {
    padding: 25px;
    position: relative;

    h3 {
      margin-bottom: 0;
    }
  }

  .setting-link {
    display: block;
    position: absolute;
    top: 0;
    right: -50px;
  }

  @media (max-width: 992px) {
    .page-block__header {
      padding: 20px;
    }

    .setting-link {
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @media (max-width: 480px) {
    .page-block__header {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .setting-link {
      svg {
        width: 20px;
      }
    }
  }
}

.feed {
  border-top: 1px solid #e7e8ec;
  font-size: 13px;
  padding: 15px;
  color: $color-text;
  align-items: center;
  transition: all 03s ease;

  &:hover {
    color: $color-text;
    background-color: #eef2f7;
  }

  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 15px;
  }

  .feed__content {
    width: calc(100% - 55px);
    line-height: 1.4;
  }

  @media (max-width: 768px) {
    font-size: 11px;
    padding: 10px 7px;

    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }

    .feed__content {
      width: calc(100% - 40px);
    }
  }
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  path {
    transition: all 04s ease;
  }

  :checked ~ label {
    svg path {
      stroke: $accent;
      stroke-opacity: 1;
      fill: $accent;
    }
  }

  :hover ~ label {
    svg path {
      stroke: $accent;
      stroke-opacity: 1;
      fill: $accent;
    }
  }

  label {
    margin-bottom: 0;
    cursor: pointer;
  }

  input {
    display: none;
  }
}

.errorlist {
  margin-top: 3px;

  li {
    font-size: 12px;
    color: rgb(235, 63, 63);
  }
}

.collapse-items {
  padding-top: 6px;

  .collapse-item__body {
    display: none;
  }

  .collapse-item__title {
    cursor: pointer;

    h4 {
      .name {
        width: calc(100% - 120px);
      }
    }
  }
}

.notifyjs-bootstrap-base {
  @media (max-width: 480px) {
    font-size: 12px;
    width: 100%;
    padding: 8px;
  }
}
