// // скрытые блоки

// .header {
// 	.select-city {display: none;}
// 	.header__phone {margin-left: 5.9375rem;}
// 	.header__layout__right {
// 		.header__group:first-child {display: none;}
// 		.header__group .basket {display: none;}
// 	}
// 	.header__bottom {display: none;}
// }

// .inner-page-wraper {
// 	.menu.menu--personal {
// 		ul {
// 			li {display: none;}
// 			li:nth-child(3) {display: block;}
// 			li:nth-child(4) {display: block;}
// 			li:nth-child(7) {display: block;}
// 		}
// 	}
// }


// .footer .sub-menu li {
// 	display: none;	
// }

// .footer .sub-menu li:nth-child(4) {
// 	display: block;
// }

// .footer .footer-item--phone .sub-menu li:nth-last-child(3) {
// 	display: block;
// }

// @media (max-width: 479px) {
// 	.footer .sub-menu li:last-child {
// 		display: block;
// 	}
// 	.footer .footer-item--phone .sub-menu li:nth-last-child(3) {
// 		text-align: left;
// 	}
// }