mixin social(title, img)
	li
		a(href="#" title=title)
			img(src="assets/img/icon/" + img, alt="")
footer.footer
	.container
		.footer-layout
			.footer-item.footer-item--phone
				ul.sub-menu
					li
						a(href="#") О сервисе
					li
						a(href="#") Контакты
					li
						a(href="#") Оплата и документооборот
					li
						a(href="#") Обратная связь
					li
						a(href="#") Пользовательское соглашение
					li
						a(href="#")
							img(src="/assets/img/icon/phone.png", alt="")
							| 8 (800) 300-62-06
			.footer-item
				a(href="#" aria-label="На главную Спецшеринг").logo
					img(src="assets/img/logo.svg", alt="Спецшеринг")
				.copy Все права зарегистрированы specsharing.ru / 2018 (c)
			.footer-item
				ul.sub-menu
					li
						a(href="#") Пользовательское соглашение
					li
						a(href="#") Оплата и документооборот
					li
						a(href="#") Обратная связь
					li
						a(href="#") О сервисе
					li
						a(href="#") Контакты
			.footer-item.footer-item--right
				a(href="tel:8803006206").phone
					img(src="/assets/img/icon/phone.png", alt="")
					| 8 (800) 300-62-06
				ul.social
					+social('Наша группа в Инстаграм', 'insta.png')
					+social('Наша группа в Facebook', 'fas.png')
					+social('Наша группа Вконтакте', 'vk.png')
			.copy.copy--phone Все права зарегистрированы specsharing.ru / 2018 (c)

