header.header
	.header__top
		.container
			.header__layout
				.header__layout__left
					a(href="#" title="Спецшеринг").logo
						img(src="/assets/img/logo.svg", alt="Спецшеринг")
					.select-city
						.select-city__icon
							svg(viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(fill-rule="evenodd" clip-rule="evenodd" d="M7.2579 19.0317C10.0275 15.3653 13 10.0379 13 6.66667C13 2.98477 10.0899 0 6.5 0C2.91015 0 0 2.98477 0 6.66667C0 10.0379 2.97247 15.3653 5.7421 19.0317C6.12463 19.5381 6.87537 19.5381 7.2579 19.0317ZM6.5 10C8.433 10 10 8.433 10 6.5C10 4.567 8.433 3 6.5 3C4.567 3 3 4.567 3 6.5C3 8.433 4.567 10 6.5 10Z" fill="#FC7327")
						.select-city__choose
							button(type="button" data-toggle="modal" data-target="#registration-completed") Казань
					a(href="tel:8803006206").header__phone
						.header-icon.header-icon--phone
						span 8 (800) 300-62-06
				.header__layout__right
					.header__group
						a(href="#").link-information Заказчикам
						a(href="#").link-information Владельцам
					.header__group
						//- button(data-toggle="modal" data-target="#open-auth").header-auth
						//- 	.icon-auth
						//- 		svg(viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg")
						//- 			path(d="M4.40816 1V0.5H3.90816V1H4.40816ZM18 1H18.5V0.5H18V1ZM18 19V19.5H18.5V19H18ZM4.40816 19H3.90816V19.5H4.40816V19ZM7.71429 10.1837L8.06784 10.5372L8.42139 10.1837L8.06784 9.83012L7.71429 10.1837ZM4.40816 1.5H18V0.5H4.40816V1.5ZM17.5 1V19H18.5V1H17.5ZM18 18.5H4.40816V19.5H18V18.5ZM4.90816 19V13.4898H3.90816V19H4.90816ZM3.90816 1V6.14286H4.90816V1H3.90816ZM0 10.6837H7.71429V9.68367H0V10.6837ZM8.06784 9.83012L6.59845 8.36073L5.89134 9.06784L7.36073 10.5372L8.06784 9.83012ZM7.36073 9.83012L5.89134 11.2995L6.59845 12.0066L8.06784 10.5372L7.36073 9.83012Z" fill="#242424")
						//- 	span Авторизация
						//- это кнопку скорее всго надо заменить, когда авторизовался. на эту кнопку навешен обработчик
						//- button(class="btn-open-profile").header-auth
						//- .icon-auth
						//- 	svg(viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg")
						//- 		ath(d="M4.40816 1V0.5H3.90816V1H4.40816ZM18 1H18.5V0.5H18V1ZM18 19V19.5H18.5V19H18ZM4.40816 19H3.90816V19.5H4.40816V19ZM7.71429 10.1837L8.06784 10.5372L8.42139 10.1837L8.06784 9.83012L7.71429 10.1837ZM4.40816 1.5H18V0.5H4.40816V1.5ZM17.5 1V19H18.5V1H17.5ZM18 18.5H4.40816V19.5H18V18.5ZM4.90816 19V13.4898H3.90816V19H4.90816ZM3.90816 1V6.14286H4.90816V1H3.90816ZM0 10.6837H7.71429V9.68367H0V10.6837ZM8.06784 9.83012L6.59845 8.36073L5.89134 9.06784L7.36073 10.5372L8.06784 9.83012ZM7.36073 9.83012L5.89134 11.2995L6.59845 12.0066L8.06784 10.5372L7.36073 9.83012Z" fill="#242424")
						//- 	span Авторизация
						.menu-head
							.menu-head__head
								.menu-head__photo
									.menu-head__icon
										img(src="assets/img/ellipse2.png", alt="")
										.count.status 2
								.menu-head__name "ООО КОМЕТЕХСТРОЙ -1"
						.profile-menu
							form
								.profile-menu__body
									.profile-menu__top
										a(href="#").btn.btn--primary Личный кабинет
										a(href="#").btn.btn--light.btn--s Уведомления
											.count 2
									button.btn.btn--primary Выйти
						a(href="#" aria-label="Корзина").basket
							.icon-basket
								svg(viewBox="0 0 29 20" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M0 1H3.15493L7.09859 15.4878M7.09859 15.4878H24.4507L28 1H11.831M7.09859 15.4878L3.94366 19H26.8169" stroke="#242424")
							span.count 10
						button.hamburger-top.btn-menu(aria-expanded="false")
							svg(xmlns="http://www.w3.org/2000/svg" width="23" height="15" viewBox="0 0 23 15" fill="none")
								rect(x="0.900391" y="0.761963" width="21.9048" height="1.09524" fill="#242424")
								rect(x="0.900391" y="7.33337" width="21.9048" height="1.09524" fill="#242424")
								rect(x="0.900391" y="13.9048" width="21.9048" height="1.09524" fill="#242424")

	.header__bottom
		.container
			.header__layout
				.header__catalog-equipment
					button.hamburger.hamburger--spring(id="catalog-open" aria-controls="catalog-equipment" aria-label="Меню каталог техники")
						span.hamburger-box
							span.hamburger-inner
						span.hamburger-label Каталог техники
					nav#catalog-equipment.catalog-equipment
						.catalog-equipment-container
							ul.catalog-list
								li
									a(href="#")
										img(src="assets/img/gf.png" alt="Экскаваторы")
										span Экскаваторы
									.catalog-inside
										.catalog-equipment-container
											ul
												li
													a(href="#")
														img(src="assets/img/gf.png" alt="Гусеничный экскаватор")
														span Гусеничный экскаватор
												li
													a(href="#")
														img(src="assets/img/gf.png" alt="Колесный экскаватор")
														span Колесный экскаватор
												li
													a(href="#")
														img(src="assets/img/gf.png" alt="Экскаватор-погрузчик")
														span Экскаватор-погрузчик
												li
													a(href="#")
														img(src="assets/img/gf.png" alt="Подвид")
														span Подвид
												li
													a(href="#")
														img(src="assets/img/gf.png" alt="Подвид")
														span Подвид
												li
													a(href="#")
														img(src="assets/img/gf.png" alt="Подвид")
														span Подвид
												li
													a(href="#")
														img(src="assets/img/gf.png" alt="Подвид")
														span Подвид
												li
													a(href="#")
														img(src="assets/img/gf.png" alt="Подвид")
														span Подвид
												li
													a(href="#")
														img(src="assets/img/gf.png" alt="Подвид")
														span Подвид
								li
									a(href="#")
										img(src="assets/img/gf.png" alt="Вид")
										span Вид
									.catalog-inside
										ul.catalog-list
											li
												a(href="#")
													img(src="assets/img/gf.png" alt="Подвид 1")
													span Подвид 1
								li
									a(href="#")
										img(src="assets/img/gf.png" alt="Вид")
										span Вид
									.catalog-inside
										ul
											li
												a(href="#")
													img(src="assets/img/gf.png" alt="Подвид 2")
													span Подвид 2
				form.form-search
					.form-search__wrap
						.form-input
							.icon
								svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(opacity="0.3" d="M12.5 7C12.5 10.0376 10.0376 12.5 7 12.5V13.5C10.5899 13.5 13.5 10.5899 13.5 7H12.5ZM7 12.5C3.96243 12.5 1.5 10.0376 1.5 7H0.5C0.5 10.5899 3.41015 13.5 7 13.5V12.5ZM1.5 7C1.5 3.96243 3.96243 1.5 7 1.5V0.5C3.41015 0.5 0.5 3.41015 0.5 7H1.5ZM7 1.5C10.0376 1.5 12.5 3.96243 12.5 7H13.5C13.5 3.41015 10.5899 0.5 7 0.5V1.5ZM11.6464 12.3536L16.6464 17.3536L17.3536 16.6464L12.3536 11.6464L11.6464 12.3536Z" fill="#AEA69D")
							input(type="text" placeholder="Найти технику" aria-label="Найти технику")
						.form-input__city
							.select-city
								.select-city__choose
									button(type="button" data-toggle="modal" data-target="#modal-city") Казань
					button(class="btn-search") Найти
				.header__group
					a(href="#" class="link-information") Найти арендодателей
					a(href="#" class="link-information") Все заявки на технику
	.wrapper-menu#menu(aria-hidden="true")
		.wrapper-menu__group
			.wrapper-menu__head
				.select-city
					.select-city__icon
						svg(viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg")
							path(fill-rule="evenodd" clip-rule="evenodd" d="M7.2579 19.0317C10.0275 15.3653 13 10.0379 13 6.66667C13 2.98477 10.0899 0 6.5 0C2.91015 0 0 2.98477 0 6.66667C0 10.0379 2.97247 15.3653 5.7421 19.0317C6.12463 19.5381 6.87537 19.5381 7.2579 19.0317ZM6.5 10C8.433 10 10 8.433 10 6.5C10 4.567 8.433 3 6.5 3C4.567 3 3 4.567 3 6.5C3 8.433 4.567 10 6.5 10Z" fill="#FC7327")
					.select-city__choose
						button(type="button" data-toggle="modal" data-target="#modal-city") Казань
				button.close(aria-label="Закрыть меню")
					svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
						rect(x="0.944336" width="22.7065" height="1.33568" transform="rotate(45 0.944336 0)" fill="#242424")
						rect(y="16.0558" width="22.7065" height="1.33568" transform="rotate(-45 0 16.0558)" fill="#242424")
			nav
				include ./elements/menu
		.wrapper-menu__bottom
			a(href="tel:8803006206").phone-element
				svg(width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
					path(d="M11.6851 9.25693L9.25627 7.63717C8.94804 7.43327 8.53488 7.50036 8.30701 7.79134L7.59951 8.701C7.50859 8.82089 7.3433 8.85567 7.21177 8.7826L7.07719 8.70841C6.63105 8.46523 6.07595 8.16249 4.95751 7.04366C3.83907 5.92482 3.53572 5.3693 3.29254 4.92398L3.21875 4.7894C3.14468 4.65789 3.1788 4.4919 3.29873 4.40025L4.20778 3.69297C4.49865 3.46507 4.56583 3.05202 4.36217 2.7437L2.74241 0.314861C2.53368 0.000891881 2.11491 -0.0933597 1.79178 0.100885L0.776128 0.710989C0.457003 0.898602 0.222874 1.20245 0.122834 1.55886C-0.242901 2.89145 0.0322375 5.19131 3.42014 8.57961C6.11515 11.2744 8.12146 11.9991 9.50045 11.9991C9.81782 12.0005 10.1339 11.9592 10.4403 11.8763C10.7968 11.7764 11.1007 11.5423 11.2882 11.223L11.8989 10.208C12.0934 9.8848 11.9992 9.46577 11.6851 9.25693ZM11.5543 10.0028L10.945 11.0185C10.8104 11.2489 10.5918 11.4183 10.3351 11.4912C9.10489 11.829 6.95561 11.5492 3.70309 8.29667C0.450559 5.04415 0.170827 2.89506 0.508581 1.66466C0.581602 1.40764 0.751217 1.18879 0.981902 1.05395L1.99756 0.444638C2.13776 0.360276 2.31952 0.401168 2.41009 0.537414L3.28997 1.85841L4.02847 2.96604C4.11691 3.09978 4.08785 3.27903 3.96168 3.37799L3.05242 4.08528C2.77571 4.29686 2.69669 4.6797 2.86705 4.98355L2.93925 5.11473C3.19482 5.58346 3.51257 6.16657 4.6726 7.32641C5.83263 8.48623 6.41555 8.804 6.88407 9.05954L7.01544 9.13193C7.31926 9.30227 7.70213 9.22328 7.91371 8.94657L8.621 8.0373C8.71998 7.91121 8.89916 7.88217 9.03295 7.97052L11.4616 9.59028C11.5979 9.68078 11.6388 9.86263 11.5543 10.0028Z" fill="#242424")
				span 8 (800) 300-62-06
.modal.fade#modal-city(tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="select-city")
	.modal-dialog(role="document")
		.modal-content.box
			.box__title(id="select-city") Выберите свой город
			form
				.group
					input(type="text" placeholder="Введите город или регион")
					span.focus-border
					button.icon-search
						svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
							path(opacity="0.3" d="M12.5 7C12.5 10.0376 10.0376 12.5 7 12.5V13.5C10.5899 13.5 13.5 10.5899 13.5 7H12.5ZM7 12.5C3.96243 12.5 1.5 10.0376 1.5 7H0.5C0.5 10.5899 3.41015 13.5 7 13.5V12.5ZM1.5 7C1.5 3.96243 3.96243 1.5 7 1.5V0.5C3.41015 0.5 0.5 3.41015 0.5 7H1.5ZM7 1.5C10.0376 1.5 12.5 3.96243 12.5 7H13.5C13.5 3.41015 10.5899 0.5 7 0.5V1.5ZM11.6464 12.3536L16.6464 17.3536L17.3536 16.6464L12.3536 11.6464L11.6464 12.3536Z" fill="#AEA69D")
.modal.fade#open-auth(tabindex="-1" role="dialog")
	.modal-dialog.modal-dialog-centered.modal-auth(role="document")
		.modal-content
			button(type="button" class="close" data-dismiss="modal" aria-label="Закрыть окно")
				img(src="assets/img/close.png" aria-hidden="true" alt="")
			.modal-content
				ul.nav.nav-tabs.nav-tabs-auth(role="tablist")
					li.nav-item
						a(class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true") Вход
					li.nav-item
						a(class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false") Регистрация
				.tab-content
					.tab-pane.fade.show.active#tab-1(role="tabpanel")
						.wrap-basis
							form.form.form--basis
								.form__item
									input(type="text" placeholder="Введите e-mail")
								.form__item
									input(type="password" placeholder="Введите пароль")
								.form__item.form__item-pt
									input(type="checkbox" aria-label="Запомнить пароль" id="remember-paswword" class="custom-input")
									label(for="remember-paswword" class="custom-label") #[span Запомнить пароль]
								button.btn.btn--primary Войти

						.wrap-restore
							form.form.form--basis
								.form__text Введите e-mail, на который был зарегистрирован аккаунт, на него будет отправлен новый пароль 
								.form__item
									input(type="password" placeholder="Введите пароль")
								button.btn.btn--primary Восстановить
						.restore-password
							button(class="restore")
								img(src="assets/img/icon/lock.png", alt="")
								span Восстановить пароль
						//- при отправке яксом вот этот контент нужно показывать 
						
						//- form.form.form--basis
						//-     .form__text Сообщение с данными для входа отправлено на ваш e-mail, проверьте его и перейдите по ссылке
						//-     .form__item
						//-       input(type="password" placeholder="Введите пароль")
						//-     button.btn.btn--primary.btn-back К авторизации
					.tab-pane.fade#tab-2(role="tabpanel")
						form.form.form--basis
							.form__item
								input(type="text" placeholder="Введите e-mail")
								.extra-block
									a(class="btn btn--primary send-code-check") Отправить код
							.form__item
								input(type="text" placeholder="Введите пароль")
							.form__item
								input(type="text" placeholder="Подтвердите пароль")
							button.btn.btn--primary Зарегистрироваться
							.form__text Нажимая кнопку “Зарегистрироваться”, вы соглашаетесь на обработку ваших персональных данных.
							//- после успешной регистрации вызываеться модалка с таким id = #registration-completed


.modal.fade#registration-completed(tabindex="-1" role="dialog")
	.modal-dialog.modal-dialog-centered.modal-completed(role="document")
		.modal-content
			.modal-title Регистрация прошла успешно.
			h3.title Выберите, чем вы будете заниматься.
			.modal-sub Вы всегда можете сменить род деятельности в личном кабинете.
			form
				.toggle
					.toggle__item
						input(type="radio" name="type" id="individual")
						label(for="individual")
							svg(width='26', height='30', viewBox='0 0 26 30', fill='none')
								path(d='M12.6503 16.1648C12.6814 16.1648 12.7124 16.1648 12.7497 16.1648C12.7621 16.1648 12.7745 16.1648 12.787 16.1648C12.8056 16.1648 12.8305 16.1648 12.8491 16.1648C14.6693 16.1338 16.1417 15.4939 17.2289 14.27C19.6207 11.5738 19.2231 6.95175 19.1796 6.51066C19.0243 3.19942 17.4587 1.61524 16.1666 0.875958C15.2036 0.323048 14.0792 0.0248499 12.8242 0H12.7808C12.7745 0 12.7621 0 12.7559 0H12.7186C12.029 0 10.6747 0.111824 9.37633 0.851108C8.07171 1.59039 6.48132 3.17457 6.32601 6.51066C6.28252 6.95175 5.88492 11.5738 8.27672 14.27C9.35769 15.4939 10.83 16.1338 12.6503 16.1648ZM7.98473 6.66598C7.98473 6.64734 7.99095 6.6287 7.99095 6.61628C8.19596 2.16194 11.3581 1.68358 12.7124 1.68358H12.7373C12.7497 1.68358 12.7683 1.68358 12.787 1.68358C14.4643 1.72085 17.3159 2.40422 17.5084 6.61628C17.5084 6.63491 17.5084 6.65355 17.5147 6.66598C17.5209 6.70946 17.9557 10.9339 15.9802 13.158C15.1974 14.0402 14.1537 14.475 12.7808 14.4875C12.7683 14.4875 12.7621 14.4875 12.7497 14.4875C12.7373 14.4875 12.7311 14.4875 12.7186 14.4875C11.3519 14.475 10.302 14.0402 9.52543 13.158C7.55607 10.9464 7.97852 6.70325 7.98473 6.66598Z', fill='#242424')
								path(d='M25.5163 23.8311C25.5163 23.8249 25.5163 23.8186 25.5163 23.8124C25.5163 23.7627 25.5101 23.713 25.5101 23.6571C25.4728 22.4271 25.392 19.5507 22.6958 18.6312C22.6772 18.625 22.6523 18.6188 22.6337 18.6126C19.8319 17.8982 17.5022 16.2829 17.4774 16.2643C17.0984 15.9972 16.5766 16.0903 16.3094 16.4693C16.0423 16.8483 16.1355 17.3701 16.5144 17.6372C16.62 17.7118 19.0926 19.4326 22.1864 20.2278C23.6339 20.7435 23.7954 22.2904 23.8389 23.7068C23.8389 23.7627 23.8389 23.8124 23.8451 23.8621C23.8514 24.4213 23.8141 25.2848 23.7147 25.7818C22.7083 26.3533 18.7633 28.3289 12.7621 28.3289C6.78571 28.3289 2.81594 26.3471 1.80331 25.7756C1.70391 25.2786 1.66042 24.415 1.67284 23.8559C1.67284 23.8062 1.67906 23.7565 1.67906 23.7006C1.72254 22.2842 1.88407 20.7373 3.33157 20.2216C6.42538 19.4264 8.89794 17.6994 9.00356 17.631C9.38252 17.3639 9.4757 16.842 9.20857 16.4631C8.94143 16.0841 8.41958 15.9909 8.04062 16.2581C8.01577 16.2767 5.69852 17.892 2.88428 18.6064C2.85943 18.6126 2.84079 18.6188 2.82215 18.625C0.12594 19.5507 0.0451782 22.4271 0.00790342 23.6509C0.00790342 23.7068 0.00790328 23.7565 0.00169081 23.8062C0.00169081 23.8124 0.00169081 23.8187 0.00169081 23.8249C-0.00452165 24.1479 -0.010734 25.8066 0.318527 26.6391C0.380651 26.8006 0.492476 26.9373 0.641575 27.0305C0.827949 27.1547 5.29471 30.0001 12.7683 30.0001C20.2419 30.0001 24.7087 27.1485 24.895 27.0305C25.0379 26.9373 25.156 26.8006 25.2181 26.6391C25.5287 25.8129 25.5225 24.1541 25.5163 23.8311Z', fill='#242424')
							span Физическое лицо
					.toggle__item
						input(type="radio" name="type" id="entity")
						label(for="entity")
							svg(width='30', height='30', viewBox='0 0 30 30', fill='none', xmlns='http://www.w3.org/2000/svg')
								path(d='M14.1342 22.2007C13.9086 22.0351 13.591 22.0834 13.4252 22.3092L13.3626 22.3945C13.1969 22.62 13.2451 22.9371 13.4705 23.1031C13.561 23.1698 13.6665 23.2021 13.771 23.2021C13.9264 23.2021 14.0799 23.1308 14.1793 22.9962L14.2428 22.9097C14.4086 22.684 14.36 22.3665 14.1342 22.2007Z', fill='#242424')
								path(d='M14.2674 27.0258L12.9629 24.6538L14.1809 22.995C14.3467 22.7693 14.298 22.4518 14.0722 22.286C13.8465 22.1201 13.5283 22.1686 13.3626 22.3945L11.9536 24.3145C11.8367 24.4736 11.8229 24.6861 11.918 24.8591L13.3786 27.5147C13.471 27.6825 13.6445 27.7774 13.8235 27.7774C13.9062 27.7774 13.99 27.7572 14.0675 27.7146C14.3129 27.5796 14.4024 27.2713 14.2674 27.0258Z', fill='#242424')
								path(d='M18.0475 24.3148L16.6436 22.4027C16.5272 22.2442 16.3299 22.1672 16.1369 22.2054C15.9439 22.2433 15.7904 22.3894 15.7427 22.5801C15.706 22.7266 15.7366 22.8817 15.8259 23.0034L17.0379 24.6541L15.7423 27.01C15.7012 27.0848 15.6796 27.1692 15.6796 27.2547C15.6796 27.4862 15.8364 27.6883 16.0606 27.7459C16.1026 27.7567 16.145 27.762 16.1868 27.762C16.3684 27.762 16.5405 27.664 16.6312 27.4992L18.0831 24.8595C18.1783 24.6864 18.1643 24.4739 18.0475 24.3148Z', fill='#242424')
								path(d='M18.8507 16.3441C18.6839 16.2565 18.4822 16.2684 18.327 16.3754C18.0253 16.5833 17.7454 16.8035 17.4949 17.0298C16.1299 18.2638 14.8331 18.0968 14.7823 18.0895C14.7517 18.0847 14.7206 18.0825 14.6898 18.0835C14.1503 18.0973 13.1777 17.6044 12.1487 16.7962C11.9913 16.6727 11.83 16.5549 11.6688 16.4461C11.5134 16.3411 11.3126 16.3305 11.147 16.4186C10.9814 16.5066 10.8779 16.6789 10.8779 16.8665V18.6065C10.8779 18.7604 10.9479 18.9058 11.0679 19.0021C11.0821 19.0136 11.0968 19.0241 11.1121 19.0338L14.7086 21.4371C14.7092 21.4375 14.7097 21.438 14.7103 21.4384L14.7198 21.4447C14.8045 21.5007 14.902 21.529 14.9999 21.529C15.0823 21.529 15.1647 21.509 15.24 21.4688C15.2559 21.4603 15.2711 21.451 15.2858 21.441C15.2875 21.4399 15.2892 21.4388 15.2909 21.4376C15.2929 21.4363 15.2949 21.435 15.2969 21.4336L18.885 19.036C18.8994 19.0269 18.9134 19.017 18.927 19.0065C19.0501 18.9104 19.122 18.7629 19.122 18.6067V16.7931C19.122 16.6046 19.0176 16.4318 18.8507 16.3441ZM18.1075 18.3352L14.9999 20.4118L11.8923 18.3352V17.8738C12.649 18.4238 13.7621 19.0982 14.6694 19.0982C14.6713 19.0982 14.6734 19.0982 14.6753 19.0982C14.98 19.1319 16.5335 19.2234 18.1076 17.8425L18.1075 18.3352Z', fill='#242424')
								path(d='M15.5005 20.9381C15.467 20.7369 15.3163 20.5754 15.1179 20.5281C14.9193 20.481 14.712 20.5569 14.5913 20.7213L13.4252 22.3092C13.2594 22.535 13.3083 22.8525 13.5342 23.0183C13.6246 23.0847 13.7297 23.1167 13.8339 23.1167C13.9899 23.1167 14.1433 23.0451 14.2428 22.9097L15.403 21.33C15.469 21.2437 15.5074 21.1364 15.5074 21.0217C15.5074 20.9938 15.505 20.9656 15.5005 20.9381Z', fill='#242424')
								path(d='M22.728 4.58636C22.718 4.5069 22.4804 2.7921 20.8662 2.11563C20.9131 1.81446 20.9082 1.42739 20.717 1.0508C20.46 0.544669 19.9529 0.214844 19.2096 0.0703516C19.1777 0.0641406 19.1454 0.0610352 19.1129 0.0610352H12.305C9.54066 0.0610352 7.29166 2.30998 7.29166 5.07444V7.7458C7.29166 8.44177 7.5289 9.12047 7.95957 9.65672C8.17308 9.92262 8.43605 10.387 8.47572 11.089C8.49119 11.3631 8.72064 11.575 8.99645 11.5673C9.2709 11.5596 9.48934 11.3348 9.48934 11.0603V7.57752C9.83375 6.15316 11.0092 5.87595 11.2113 5.83851H13.4134C13.6724 5.83851 13.9271 5.79896 14.1706 5.72091C14.5893 5.58661 15.2536 5.33946 15.7372 5.15577C16.0608 5.03278 16.419 5.02827 16.7458 5.14312L19.1032 5.9707C20.2818 6.40546 20.4922 7.44011 20.5182 7.60265V11.7826C20.5182 12.0481 20.7229 12.2683 20.9876 12.2881C21.0005 12.289 21.0132 12.2895 21.0258 12.2895C21.2746 12.2895 21.4894 12.1072 21.5271 11.8574C21.5291 11.8443 21.7316 10.5361 22.3847 9.48867C22.6119 9.12404 22.7321 8.70832 22.7321 8.28644V4.6504C22.7321 4.62901 22.7307 4.60763 22.728 4.58636ZM21.7176 8.28621C21.7176 8.51279 21.6537 8.73756 21.5326 8.93742V7.56796C21.5326 7.54962 21.5316 7.5314 21.5296 7.51318C21.5216 7.43953 21.3121 5.70128 19.4496 5.01714C19.4474 5.01632 19.4451 5.0155 19.4428 5.01468L17.0818 4.18581C16.8156 4.09235 16.5371 4.04571 16.2587 4.04571C15.9594 4.04571 15.6603 4.09968 15.3769 4.20749C14.6998 4.46472 14.1754 4.65403 13.8607 4.75493C13.7176 4.80081 13.5671 4.82413 13.4133 4.82413H11.1703C11.1485 4.82413 11.1267 4.82554 11.1051 4.82829C11.0193 4.83942 8.99621 5.12712 8.48709 7.40906C8.479 7.44533 8.4749 7.48236 8.4749 7.51951V8.56342C8.36445 8.30818 8.30597 8.02939 8.30597 7.74586V5.07456C8.30597 2.86956 10.0999 1.07559 12.3049 1.07559H19.0616C19.3414 1.13518 19.6813 1.25746 19.8103 1.50625C19.9682 1.81077 19.7883 2.23006 19.7881 2.23041C19.7233 2.3684 19.724 2.52819 19.79 2.66559C19.8559 2.80299 19.9803 2.90342 20.1285 2.93911C21.4198 3.24995 21.6832 4.48845 21.7175 4.68878L21.7176 8.28621Z', fill='#242424')
								path(d='M21.5296 7.51318C21.5216 7.43953 21.3121 5.70128 19.4496 5.01714C19.4474 5.01632 19.4451 5.0155 19.4428 5.01468L17.0818 4.18581C16.5292 3.99186 15.9239 3.99971 15.3769 4.20749C14.6998 4.46472 14.1754 4.65403 13.8607 4.75493C13.7176 4.80081 13.5671 4.82413 13.4133 4.82413H11.1703C11.1485 4.82413 11.1267 4.82554 11.1051 4.82829C11.0193 4.83942 8.99621 5.12712 8.48709 7.40906C8.479 7.44533 8.4749 7.48236 8.4749 7.51951L8.47461 11.8799C8.47461 11.8837 8.47467 11.8874 8.47473 11.8912C8.47807 12.0426 8.58523 15.6196 11.0567 17.2555L11.0695 17.2645C11.0801 17.272 11.0907 17.2795 11.1018 17.287C11.2427 17.3821 11.3842 17.4854 11.5226 17.594C12.2426 18.1594 13.599 19.0982 14.6694 19.0982C14.6713 19.0982 14.6734 19.0982 14.6753 19.0982C14.7335 19.1046 14.8377 19.1131 14.9784 19.1131C15.585 19.1131 16.8793 18.9541 18.1756 17.7822C18.3932 17.5857 18.6378 17.3934 18.903 17.2107L18.9409 17.1841C18.9533 17.1754 18.9656 17.1666 18.9784 17.158C19.8028 16.6043 21.2306 15.1756 21.5304 11.8279C21.5317 11.8129 21.5324 11.7977 21.5324 11.7826L21.5326 7.56796C21.5326 7.54962 21.5316 7.5314 21.5296 7.51318ZM20.5179 11.7597C20.2415 14.7809 18.9543 15.9521 18.4127 16.3158C18.3935 16.3288 18.3745 16.3421 18.3555 16.3555L18.327 16.3754C18.0253 16.5833 17.7454 16.8035 17.4949 17.0298C16.135 18.2592 14.8428 18.0978 14.7794 18.0889C14.7499 18.0845 14.7196 18.0827 14.6898 18.0835C14.1503 18.0973 13.1777 17.6044 12.1487 16.7962C11.9913 16.6727 11.83 16.5549 11.6688 16.4461L11.657 16.4375C11.6448 16.4288 11.6326 16.4202 11.6184 16.4107C9.62393 15.0906 9.49344 12.0015 9.48905 11.8726L9.48934 7.57752C9.83498 6.14794 11.0174 5.87404 11.2102 5.83865L13.4134 5.83851C13.6724 5.83851 13.9271 5.79896 14.1706 5.72091C14.5893 5.58661 15.2536 5.33946 15.7372 5.15577C16.0608 5.03278 16.419 5.02827 16.7458 5.14312L19.1032 5.9707C20.2818 6.40546 20.4922 7.44011 20.5182 7.60265L20.5179 11.7597Z', fill='#242424')
								path(d='M15.4541 20.795C15.3751 20.637 15.2194 20.5314 15.0434 20.5164C14.8676 20.5019 14.6959 20.5788 14.5913 20.7213L13.3765 22.3765C13.2109 22.6022 13.2593 22.9194 13.4848 23.0853C13.5753 23.1519 13.6806 23.184 13.7849 23.184C13.9406 23.184 14.0942 23.1126 14.1936 22.9777L15.4087 21.329C15.473 21.2418 15.5074 21.1299 15.5074 21.0217C15.5075 20.943 15.4893 20.8655 15.4541 20.795Z', fill='#242424')
								path(d='M15.4863 28.9615C15.2958 28.7622 14.9809 28.7516 14.7775 28.9378L14.6615 29.0438C14.4879 29.2026 14.4463 29.4599 14.561 29.6653L14.5646 29.6717C14.642 29.8105 14.7802 29.905 14.9376 29.9269C14.961 29.9301 14.9843 29.9317 15.0075 29.9317C15.141 29.9317 15.2703 29.8789 15.3661 29.7831L15.4784 29.6706C15.6734 29.4757 15.6769 29.1607 15.4863 28.9615Z', fill='#242424')
								path(d='M15.3391 29.0441L15.2232 28.938C15.0197 28.7519 14.7049 28.7625 14.5143 28.9617C14.3237 29.1611 14.3272 29.4761 14.5222 29.671L14.6347 29.7835C14.7305 29.8793 14.8598 29.932 14.9933 29.932C15.0172 29.932 15.0411 29.9303 15.0651 29.9269C15.2231 29.9043 15.3612 29.8087 15.438 29.6687L15.4416 29.6623C15.554 29.4573 15.5117 29.2019 15.3391 29.0441Z', fill='#242424')
								path(d='M15.3474 29.0519C15.2691 28.9786 15.1671 28.9298 15.0555 28.9175C14.9061 28.9012 14.7605 28.9519 14.6546 29.0505L14.6531 29.0519C14.5505 29.1454 14.4908 29.2769 14.4878 29.4157C14.4848 29.5546 14.5389 29.6884 14.6372 29.7863L14.6426 29.7916C14.7415 29.89 14.8708 29.9392 15.0002 29.9392C15.1301 29.9392 15.2598 29.8896 15.3588 29.7907L15.3641 29.7854C15.4621 29.6873 15.5158 29.5536 15.5126 29.415C15.5095 29.2765 15.4498 29.1453 15.3474 29.0519Z', fill='#242424')
								path(d='M15.1647 20.5309C14.9546 20.4636 14.7241 20.5416 14.5962 20.7215C14.4531 20.923 14.4768 21.1975 14.6511 21.3726C14.7492 21.4712 14.8793 21.5217 15.0105 21.5217C15.1124 21.5217 15.2149 21.4912 15.3032 21.429C15.4382 21.334 15.5185 21.1793 15.5185 21.0142V21.013C15.5185 20.7922 15.375 20.598 15.1647 20.5309Z', fill='#242424')
								path(d='M15.4126 20.7174L15.4083 20.7115C15.2782 20.5354 15.0496 20.4628 14.8417 20.5313C14.6337 20.5998 14.4932 20.7941 14.4932 21.013V21.0217C14.4932 21.2084 14.5981 21.3786 14.7626 21.467C14.8371 21.507 14.9194 21.5268 15.0015 21.5268C15.1006 21.5268 15.1996 21.4981 15.2847 21.4417C15.4006 21.3649 15.48 21.2439 15.5042 21.1069C15.5284 20.9701 15.4953 20.8291 15.4126 20.7174Z', fill='#242424')
								path(d='M21.0345 19.124C20.9819 18.985 20.8711 18.8762 20.7313 18.8261L18.7865 18.129C18.7708 18.1234 18.7544 18.1183 18.7381 18.1143C18.5993 18.0796 18.4523 18.1051 18.3333 18.1846L14.7299 20.5925C14.729 20.5931 14.7279 20.5938 14.7269 20.5945L15.0099 21.0152L14.7206 20.5988C14.6149 20.6687 14.5392 20.7758 14.5085 20.8988C14.4916 20.9663 14.4889 21.0368 14.5003 21.1054C14.5134 21.1838 14.5446 21.2581 14.5918 21.3222L17.2299 24.9153C17.3258 25.0459 17.4779 25.1223 17.6387 25.1223C17.6497 25.1223 17.6608 25.1219 17.6719 25.1212C17.8446 25.1098 17.9996 25.0113 18.0831 24.8595L21.0045 19.548C21.0762 19.4178 21.0871 19.2628 21.0345 19.124ZM17.5773 23.6743L15.7231 21.1489L18.6845 19.17L19.829 19.5804L17.5773 23.6743Z', fill='#242424')
								path(d='M15.5004 20.9343C15.4766 20.7981 15.3982 20.6776 15.2834 20.6005L11.668 18.1846C11.5529 18.1076 11.411 18.0813 11.2759 18.1113C11.2551 18.1158 11.2347 18.1218 11.2148 18.129L9.26997 18.8261C9.13017 18.8762 9.01937 18.9851 8.96681 19.1239C8.91425 19.2629 8.92515 19.4178 8.99675 19.548L11.918 24.8591C12.0014 25.0109 12.1566 25.1098 12.3294 25.1212C12.3404 25.1219 12.3515 25.1222 12.3625 25.1222C12.5233 25.1222 12.6753 25.0458 12.7714 24.9151L14.1809 22.995C14.182 22.9935 14.1832 22.9922 14.1843 22.9906L15.4096 21.3218C15.4914 21.2104 15.5242 21.0704 15.5004 20.9343ZM13.3626 22.3945C13.3613 22.3961 13.361 22.398 13.3598 22.3996L12.4238 23.6743L10.1721 19.5803L11.3167 19.17L14.278 21.1489L13.3626 22.3945Z', fill='#242424')
								path(d='M29.9752 27.7826L29.3208 23.8314C29.1146 22.5863 28.2493 21.5459 27.0624 21.1167L20.7313 18.8261C20.5361 18.7556 20.3189 18.8112 20.181 18.966C20.0431 19.1209 20.0133 19.3441 20.1058 19.5298L21.4275 22.1803L20.1306 22.2002C19.9545 22.203 19.7924 22.2967 19.7025 22.4482C19.6125 22.5996 19.6074 22.7867 19.6891 22.9427L20.221 23.9584L14.7775 28.9378C14.7719 28.9429 14.7665 28.9483 14.7611 28.9537L14.6488 29.066C14.4896 29.2253 14.4543 29.4705 14.5625 29.668L14.5664 29.6752C14.6554 29.8378 14.8261 29.939 15.0115 29.939H28.1465C28.6922 29.939 29.2075 29.7004 29.5603 29.2842C29.9131 28.8681 30.0643 28.3207 29.9752 27.7826ZM28.7867 28.6282C28.6269 28.8166 28.3935 28.9247 28.1466 28.9247H16.295L21.1941 24.4432C21.364 24.2878 21.408 24.0376 21.3011 23.8336L20.9702 23.2018L22.249 23.1821C22.4233 23.1795 22.584 23.0874 22.6746 22.9385C22.7651 22.7895 22.7729 22.6046 22.6952 22.4486L21.5797 20.2117L26.7176 22.0705C27.5599 22.3751 28.174 23.1134 28.3203 23.9971L28.9746 27.9482C29.0149 28.1919 28.9465 28.4397 28.7867 28.6282Z', fill='#242424')
								path(d='M15.3515 29.0558L15.3456 29.0505C15.1449 28.8687 14.8365 28.8768 14.6455 29.0689L14.6402 29.0742C14.4958 29.2195 14.453 29.4375 14.5316 29.6266C14.6103 29.8159 14.7954 29.9392 15.0002 29.9392L15.0115 29.939C15.2212 29.939 15.4089 29.8099 15.4843 29.6143C15.5598 29.4185 15.507 29.1966 15.3515 29.0558Z', fill='#242424')
								path(d='M15.3362 29.0411C15.2211 28.9375 15.065 28.892 14.912 28.9181C14.7593 28.944 14.6267 29.0384 14.5522 29.1742L14.5487 29.1806C14.4418 29.3755 14.4743 29.6174 14.6289 29.7772L14.6307 29.7791C14.7301 29.8818 14.8625 29.9336 14.9953 29.9336C15.1175 29.9336 15.24 29.8897 15.337 29.801L15.3423 29.7962C15.3884 29.7543 15.4264 29.704 15.4543 29.6482C15.5564 29.4441 15.5059 29.1937 15.3362 29.0411Z', fill='#242424')
								path(d='M15.3576 29.0721L15.3555 29.0699C15.3541 29.0686 15.3527 29.0672 15.3514 29.0659L15.2389 28.9535C15.2337 28.9482 15.2287 28.943 15.2232 28.938L9.77915 23.9583L10.3111 22.9427C10.3929 22.7867 10.3878 22.5995 10.2978 22.4481C10.2078 22.2967 10.0458 22.2029 9.86968 22.2002L8.5727 22.1802L9.89435 19.5297C9.98693 19.3441 9.95704 19.1208 9.81917 18.966C9.6813 18.8111 9.46286 18.7557 9.26792 18.8264L2.93785 21.1166C1.75097 21.5458 0.885541 22.5861 0.679349 23.8313L0.0250313 27.7825C-0.0640899 28.3209 0.0871994 28.8681 0.440052 29.2842C0.792962 29.7003 1.3083 29.9389 1.8538 29.9389L15.0002 29.9392C15.2056 29.9392 15.3906 29.815 15.4689 29.6252C15.5472 29.4353 15.5032 29.2169 15.3576 29.0721ZM1.85386 28.9246C1.60683 28.9246 1.37351 28.8165 1.21378 28.6281C1.05406 28.4397 0.985619 28.1919 1.02593 27.9482L1.68025 23.997C1.82656 23.1132 2.44068 22.3751 3.28297 22.0704L8.42077 20.2116L7.30538 22.4484C7.22756 22.6044 7.2353 22.7893 7.32594 22.9383C7.41647 23.0873 7.57719 23.1793 7.75151 23.1819L9.03038 23.2016L8.69944 23.8335C8.59263 24.0374 8.63657 24.2877 8.80638 24.443L13.7055 28.9246H1.85386Z', fill='#242424')
								path(d='M16.7269 22.8258C16.7635 22.6793 16.733 22.5244 16.6436 22.4027L15.4093 20.7215C15.2796 20.5448 15.0508 20.4745 14.8426 20.5429C14.7302 20.5797 14.6375 20.6541 14.5759 20.7492L13.3641 22.3934C13.3468 22.4169 13.3313 22.4421 13.3183 22.4682C13.2353 22.6343 13.2496 22.8325 13.3557 22.9849L13.8717 23.7259L13.322 27.191C13.3043 27.3022 13.3243 27.4159 13.3786 27.5147L14.5561 29.656C14.6453 29.8181 14.8156 29.9188 15.0006 29.9188C15.1855 29.9188 15.3559 29.8181 15.445 29.656L16.6312 27.4992C16.6724 27.4243 16.6942 27.34 16.6942 27.2546C16.6942 27.228 16.692 27.2011 16.6879 27.1748L16.1407 23.726L16.6512 22.9931C16.6862 22.9423 16.712 22.8856 16.7269 22.8258ZM15.0006 28.3591L14.3511 27.1783L14.9056 23.6832C14.9262 23.5537 14.8957 23.4214 14.8209 23.3139L14.3958 22.7034L15.002 21.8809L15.6114 22.7108L15.1915 23.3139C15.1166 23.4213 15.0862 23.5537 15.1067 23.6832L15.6588 27.1623L15.0006 28.3591Z', fill='#242424')
							span Физическое лицо
				.text-block-wrapper.flex-element
					.text-block
						h3 Я буду арендовать спецтехнику
						ul.base
							li Заказ транспорта на строительные объекты 
							li Подбор исполнителей с лучшим рейтингом
							li Описание преимущества
							li Подбор исполнителей с лучшим рейтингом
						button.btn.btn--primary Выбрать
					.text-block
						h3 Я буду сдавать в аренду спецтехнику
						ul.base
							li Заказ транспорта на строительные объекты 
							li Подбор исполнителей с лучшим рейтингом
							li Описание преимущества
							li Подбор исполнителей с лучшим рейтингом
						button.btn.btn--primary Выбрать
