.intro
  .container
    .intro-block
      .intro__left
        h1 Спецшеринг
        .intro__title.title-bold
          span Сервис аренды спецтехники
          span для любых масштабов
        .intro__sub
          span Посмотрите рейтинги, сравните цены,
          span выберите лучший вариант!
        .intro__sub.intro__sub--phone
          span Посмотрите рейтинги, сравните цены, выберите лучший вариант!
        .btn-group
          a(href="#" disabled).btn.btn--light Подобрать технику
          a(href="#").btn.btn--primary Зарегистрироваться
      .intro__right
        img(src="assets/img/intro.png", alt="")