mixin step(number, img, title, sub)
	.col-md-3
		.step
			.step__icon
				span= number
				i
					img(src="assets/img/icon/" + img, alt="")
			h3= title
			p= sub

section.section-step
	.container
		.row
			+step('1', 'tap.png', 'Заказчик', 'выбирает технику из каталога')
			+step('2', 'analysis.png', 'Сервис Спецшеринг', 'подбирает арендодателей по условиям и направляет заявки')
			+step('3', 'crane.png', 'Арендодатели', 'дают предложения на заявку')
			+step('4', 'check-square.png', 'Заказчик', 'выбирает лучший вариант из предложений арендодателей')
			// .col-xl-4
			// 	.step
			// 		.step-icon
			// 			.step__number
			// 				span 1
			// 				i
			// 					img(src="", alt="")
			// 		h3 Заказчик
			// 		p выбрать технику из каталога
