.modal.fade(id="catalogBasket" tabindex="-1" role="dialog")
  .modal-dialog.modal-dialog-centered.modal-lg-width(role="document")
    .modal-content.box-catalog 
      button(type="button" class="close" data-dismiss="modal" aria-label="Закрыть окно")
        svg(width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M1.23633 1L14.2363 14M14.2363 14L27.2363 27M14.2363 14L27.2363 1M14.2363 14L1.23633 27" stroke="white" stroke-width="2")
      .box-catalog__title Техника добавлена в корзину
      .box-catalog__tovar.catalog-preview.flex-element
        .catalog-preview__left
          .catalog-preview__img
            img(src="assets/img/catalog-min.png" alt="").responsiv-img
          .catalog-preview__title 3t – 6t  колесный экскаватор
        .catalog-preview__right
          .counter
            button.counter-action.counter-action--minus - 
            input.counte-number(value="1")
            button.counter-action.counter-action--plus + 
          .catalog-preview__price 17 290 ₽
      .box-catalog__bottom.flex-element
        .box-catalog__info В корзине #[span 22] товара на сумму #[span 69 878] ₽
        .box-catalog__btn
          a(href="#").btn.btn--light Продолжить заказы
          a(href="#").btn.btn--primary Перейти в корзину