@import "../var";

.custon-accordion,
.custom-accordion {
  .card-header {
    background: #fff;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
    padding: 0;
    border-bottom: 0;
    border-radius: 0;
    margin-bottom: 10px;

    button {
      width: 100%;
      background: #f4f0e9;
      border: none;
      color: #000;
      font-family: $bold;
      text-align: left;
      padding: 20px 25px 20px 40px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      &:focus {
        outline: none;
      }

      .open {
        transform: rotate(-180deg);
      }

      .open-arrow {
        transform: rotate(-180deg);
      }
    }

    button.collapsed {
      background: #fff;

      .open {
        transform: rotate(0deg);
      }

      .open-arrow {
        transform: rotate(0deg);
      }
    }

    .information-block {
      width: calc(100% - 60px);

      @media (max-width: 768px) {
        width: calc(100% - 20px);
      }
    }

    @media (max-width: 992px) {
      button {
        padding: 17px 20px;
        font-family: "Montserrat-Medium", sans-serif;
      }
    }

    @media (max-width: 768px) {
      button {
        align-items: flex-start;
        padding: 15px;

        .open-arrow,
        .open {
          svg {
            width: 16px;
          }
        }
      }
    }

    @media (max-width: 480px) {
      button {
        font-size: 14px;
        padding: 14px 20px;
      }
    }
  }

  .card {
    border: 0;
  }
}

.open {
  display: inline-block;
  transition: $transition;
}

.open-arrow {
  transition: $transition;
}

.obj-accordion {
  padding-top: 10px;

  .card-header {
    background: #fff;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
    border-bottom: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 576px) {
      padding: 15px 15px;
    }
  }

  .card {
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
  }

  .custom-btn {
    background: transparent;
    border: none;
    width: calc(100% - 480px);

    &:focus {
      outline: none;
    }

    @media (max-width: 1659px) {
      width: calc(100% - 65px);
    }

    @media (max-width: 576px) {
      width: calc(100% - 20px);
    }
  }

  .card-header-btn {
    .btn {
      width: 230px;
      padding: 8px;
      margin-right: 10px;

      svg {
        display: none;
      }

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: 1659px) {
        background-color: transparent;
        border: none;
        width: auto;
        padding: 0;

        span {
          display: none;
        }

        svg {
          display: block;
        }
      }

      @media (max-width: 768px) {
        svg {
          width: 15px;
          height: 15px;
        }
      }

      @media (max-width: 576px) {
        display: block;
        margin-bottom: 10px;
        margin-right: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .btn--light {
      color: $color-p;

      &:hover {
        color: #fff;
      }
    }
  }

  .card-body {
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
    padding: 5px 30px 0 35px;
    margin-top: 10px;

    .box-m:last-child {
      border-bottom: 0;
    }

    @media (max-width: 1659px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (max-width: 992px) {
      h4 {
        font-size: 14px;
      }

      h4.mb {
        margin-bottom: 15px;
        margin-top: 15px;
      }
    }

    @media (max-width: 767px) {
      padding-left: 8px;
      padding-right: 8px;

      h4.mb {
        font-size: 12px;
      }
    }
  }
}

.card-obj {
  display: flex;
  align-items: center;

  &__img {
    width: 60px;
    margin-right: 10px;

    img {
      width: 100%;
    }

    @media (max-width: 576px) {
      width: 45px;
    }
  }

  &__name {
    font-size: 16px;
    font-family: $bold;
    text-align: left;
    line-height: normal;
    color: #000;

    &:hover {
      text-decoration: underline;
      color: #000;
    }

    @media (max-width: 1659px) {
      font-size: 15px;
    }

    @media (max-width: 576px) {
      font-size: 13px;
      font-weight: normal;
    }

    @media (max-width: 480px) {
      font-size: 11px;
    }
  }

  .raiting {
    li {
      width: 16px;

      img {
        width: 100%;
      }
    }
  }

  .all-rating {
    color: $color-p;
  }

  @media (max-width: 576px) {
    .raiting {
      li {
        width: 14px;
        margin-right: 3px;
      }
    }

    .all-rating {
      display: none;
    }
  }
}

.custon-accordion--light {
  .card-header button {
    font-family: "Montserrat-Medium", sans-serif;
    padding: 14px 25px;
  }
}

.accordion-primary {
  h5 {
    margin-bottom: 0;
  }

  .card {
    border-radius: 0;
    border: none;
    margin-bottom: 25px;
  }

  .card-header {
    background-color: transparent;
    border-bottom: 0;
    padding: 0;

    button {
      font-size: 21px;
      font-family: $bold;
      background-color: transparent;
      cursor: pointer;
      border: 0;
      padding: 0;

      span {
        margin-right: 15px;
      }
    }
  }

  .card-body {
    padding: 16px 0 0 0;
  }

  @media (max-width: 992px) {
    .card-header {
      button {
        font-size: 19px;
      }
    }
  }

  @media (max-width: 768px) {
    .card {
      margin-bottom: 20px;
    }

    .card-header {
      button {
        font-size: 16px;
      }
    }
  }

  @media (max-width: 480px) {
    .card {
      margin-bottom: 15px;
    }

    .card-header {
      button {
        font-size: 15px;
      }
    }
  }
}
