@import "../var";

.reports {
  background: #fff;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  padding: 35px;
  color: #000;

  .reports__group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% - 200px);
  }

  .reports__name {
    width: 300px;
    font-size: 16px;
    margin-right: 30px;
  }

  .reports__date {
    margin-right: 40px;
  }

  .reports__sub {
    width: 105px;
  }

  .reports__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }

    &:first-child {
      padding-top: 0;
    }
  }

  .reports__file {
    width: 240px;
  }

  span {
    color: $accent;
  }

  .reports__date--min {
    color: rgba(174, 166, 157, 0.7);
    display: none;
  }

  .btn--min {
    width: 180px;
    padding: 7px 15px;

    .arrow {
      display: none;
    }

    span.name {
      color: #fff;
    }
  }

  @media (max-width: 1400px) {
    .btn--min {
      width: 160px;
    }

    .reports__group {
      width: calc(100% - 180px);
    }
  }

  @media (max-width: 992px) {
    padding: 25px 30px;

    .reports__name,
    .reports__date,
    .reports__sub {
      font-size: 15px;
    }

    .reports__date {
      display: none;
    }

    .reports__date--min {
      display: block;
    }

    .reports__sub {
      width: auto;
    }
  }

  @media (max-width: 767px) {
    .btn--min {
      width: 30px;
      height: 30px;
      padding: 5px 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      .name {
        display: none;
      }

      .arrow {
        display: block;
      }
    }

    .reports__group {
      justify-content: space-between;
      width: calc(100% - 50px);
    }

    .reports__name {
      margin-right: 10px;
      width: 70%;
    }
  }

  @media (max-width: 570px) {
    padding: 15px;

    .reports__item {
      padding-bottom: 15px;
    }

    .reports__name,
    .reports__date,
    .reports__sub {
      font-size: 12px;
      line-height: normal;
    }
  }

  @media (max-width: 480px) {
    .reports__name,
    .reports__date,
    .reports__sub {
      font-size: 11px;
    }

    .reports__group {
      width: calc(100% - 43px);
    }
  }
}

.table-acts {
  @media (max-width: 767px) {
    display: none;
  }
}

.form-acts {
  .object {
    margin: 10px -10px 30px -10px;

    @media (max-width: 1600px) {
      margin-top: 0;
    }

    @media (max-width: 992px) {
      margin-bottom: 20px;
    }

    @media (max-width: 768px) {
      margin-bottom: 15px;
    }
  }

  .filter-basis,
  .filter-primary {
    padding-bottom: 30px;
    margin-bottom: 0;

    @media (max-width: 992px) {
      padding-bottom: 20px;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  .form-acts__line {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    .form-acts__group {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }

    label {
      display: block;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 4px;
      line-height: 17px;
    }

    input {
      border: 1px solid rgba(174, 166, 157, 0.3);
      font-size: 13px;
      color: $color-text;
      padding: 8px 10px;
      width: 100%;
    }

    .btn.btn--width {
      width: 180px;
      padding: 6px 15px;
      font-size: 15px;
    }

    .item {
      padding: 0 40px;

      .item__calendar {
        width: 250px;
      }

      label {
        position: absolute;
        top: -23px;
      }

      span {
        display: none;
      }

      .item__calendar--phone {
        display: none;
      }
    }

    .item-sel {
      width: 211px;
    }

    .bootstrap-select.custom-max:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
      width: 100%;
    }

    .bootstrap-select.select-size .btn-light {
      padding: 9px 15px;
      font-size: 13px;
    }

    @media (max-width: 1659px) {
      .item-sel {
        width: 180px;
      }

      .item {
        padding: 0 18px;
      }
    }

    @media (max-width: 1365px) {
      .item-sel {
        width: 170px;
      }

      .item {
        padding: 0 10px;
      }

      .btn--width {
        font-size: 14px;
        padding-top: 17px;
        padding-bottom: 17px;
        width: 150px;
      }
    }

    @media (max-width: 992px) {
      input {
        padding: 7px;
      }

      .item {
        display: flex;
        padding-left: 15px;
        padding-right: 15px;
        align-items: center;

        span {
          padding-left: 6px;
          padding-right: 6px;
          display: block;
        }
      }

      .item__calendar {
        display: none;
      }

      .item__calendar.item__calendar--phone {
        display: block;
        width: 110px;
      }

      .bootstrap-select.select-size .btn-light {
        padding: 8px 10px;
      }
    }

    @media (max-width: 890px) {
      .form-acts__group {
        width: 100%;
        padding-bottom: 10px;
      }
    }

    @media (max-width: 767px) {
      padding-bottom: 0;

      .form-acts__group {
        padding-bottom: 0;
      }

      .bootstrap-select,
      .item {
        margin-bottom: 9px;
      }

      .item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;

        label {
          position: relative;
          top: unset;
        }

        span {
          padding-top: 15px;
        }

        .item__calendar {
          flex: 1;
        }
      }

      .item-sel {
        flex: 1;
      }

      .btn.btn--width {
        width: 100%;
        margin-top: 3px;
      }
    }
  }
}
