.badge {
  border: 1px solid rgba(174, 166, 157, 0.1);
  border-radius: 0;
  padding: 8px 15px;
  font-size: 13px;
  font-family: "Montserrat-Medium", sans-serif;
  font-weight: normal;
}

button.btn-more {
  background: #f4f0e9;
  padding: 6px 8px;
  font-size: 13px;
  text-align: center;
  border: none;
}

.badge--custom {
  border: 0;
  padding: 0;
}
