.b-catalog {
  background: #fff;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  padding: 22px 70px 22px 25px;
  margin-bottom: 10px;
  position: relative;
  justify-content: space-between;
  align-items: center;

  .delite {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
    padding: 0;
  }

  .b-batalog__img {
    width: 94px;
  }

  &__title {
    font-size: 17px;
    font-family: $bold;
    padding-bottom: 8px;
    line-height: 1.4;
  }

  .group {
    position: relative;
  }

  .b-catalog__radio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .group:last-child {
      padding-left: 19px;
    }
  }

  &__date {
    padding-bottom: 10px;
  }

  .btn--prim {
    width: 220px;
  }

  .b-catalog__group--left {
    width: 430px;

    .b-catalog__block {
      padding-left: 25px;
      width: calc(100% - 120px);
    }
  }

  .b-catalog__group--right {
    .counter-text--phone {
      display: none;
    }
  }

  @media (max-width: 1659px) and (min-width: 1366px) {
    padding: 22px 60px 22px 20px;

    .b-batalog__img {
      width: 70px;
    }

    .b-catalog__group--left {
      width: calc(100% - 250px);

      .b-catalog__block {
        padding-left: 15px;
      }
    }

    .b-catalog__title {
      font-size: 16px;
      padding-bottom: 2px;
    }

    .b-catalog__date {
      padding-bottom: 5px;
    }

    .counter-text {
      display: none;
    }

    .b-catalog__group--right {
      width: 190px;

      .counter-text--phone {
        display: block;
        text-align: right;
        padding-bottom: 5px;
      }
    }

    .btn--prim {
      width: 100%;
      font-size: 13px;
      padding: 5px;
    }
  }

  @media (max-width: 1100px) {
    .counter-text {
      display: none;
    }

    .b-catalog__group--right {
      width: 190px;

      .counter-text--phone {
        display: block;
        text-align: right;
        padding-bottom: 5px;
      }

      .btn--prim {
        width: 100%;
        font-size: 13px;
        padding: 5px;
      }
    }

    .b-catalog__group--left {
      width: 70%;
    }
  }

  @media (max-width: 990px) {
    .b-catalog__title {
      font-size: 16px;
      padding-bottom: 0;
    }

    .b-catalog__date {
      padding-bottom: 5px;
    }

    .b-batalog__img {
      width: 65px;
    }

    .b-catalog__group--left .b-catalog__block {
      padding-left: 15px;
      width: calc(100% - 75px);
    }
  }

  @media (max-width: 768px) {
    padding: 20px 30px 20px 15px;

    .b-catalog__group--left {
      width: 100%;

      .b-catalog__block {
        padding-left: 0;
        width: 100%;
      }
    }

    .b-catalog__title {
      font-size: 14px;
    }

    .radio-label {
      padding-left: 25px;

      &::before {
        width: 20px;
        height: 20px;
      }
    }

    .b-catalog__group--right {
      width: 100%;

      .counter-text--phone {
        text-align: left;
        padding-top: 7px;
      }
    }

    .delite {
      svg {
        width: 18px;
      }
    }
  }

  @media (max-width: 480px) {
    .btn--prim {
      max-width: 100%;
    }
  }
}

.result-block-wrapp {
  button,
  a.btn {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
  }

  @media (max-width: 576px) {
    width: 100%;

    button,
    a.btn {
      font-size: 12px;
      padding: 6px;
    }
  }
}

.result-block--width {
  width: 440px;

  @media (max-width: 1659px) {
    width: 350px;
  }

  @media (max-width: 1365px) {
    width: 500px;
  }

  @media (max-width: 576px) {
    width: 100%;
  }
}

// левое меню
.address-b {
  .open-min {
    margin-right: 11px;
  }

  .address-b__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__title {
    line-height: 1.3;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;

    span {
      font-family: "Montserrat-Medium", sans-serif;
    }
  }

  .link-open {
    width: calc(100% - 20px);
  }

  .address-inf {
    width: calc(100% - 90px);
    align-items: center;
  }

  .address-b__group {
    padding-top: 20px;
    padding-left: 20px;
    width: 100%;

    .address-b__item {
      padding-bottom: 15px;
      line-height: normal;

      &:last-child {
        padding-bottom: 0;
      }

      .address-b__title {
        span {
          width: 30%;
          text-align: right;
        }
      }
    }

    > .address-b__item > .address-b__group > .address-b__item > .address-b__group {
      padding-top: 15px;
      padding-bottom: 8px;
    }
  }

  @media (max-width: 1659px) {
    .address-b__group {
      .address-b__title {
        font-family: 'Montserrat-Medium', sans-serif;
      }
    }
  }

  @media (max-width: 992px) {
    .open-min {
      margin-right: 6px;
    }

    .address-b__group {
      padding-left: 15px;
      padding-top: 15px;
    }
  }

  @media (max-width: 576px) {
    .address-b__title,
    .address-b__group .address-b__title {
      font-size: 12px;

      span {
        font-size: 11px;
      }
    }
  }
}
