@import "../var";

.box-date,
.date {
  font-size: 13px;
  display: inline-flex;

  span.time {
    color: $color-p;
  }

  span {
    color: #000;
  }

  @media (max-width: 992px) {
    font-size: 12px;
  }

  @media (max-width: 576px) {
    font-size: 10px;
  }
}
