@import "../var";

.box-dh {
  color: $color-p;
  font-size: 13px;
  display: inline-block;

  @media (max-width: 992px) {
    font-size: 12px;
  }

  @media (max-width: 576px) {
    font-size: 11px;
  }
}

.box-m {
  font-size: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  padding-right: 20px;

  .box-m__block {
    align-items: center;

    .box-m__img {
      margin-right: 15px;
    }

    .item {
      padding-left: 25px;

      @media (max-width: 1659px) {
        padding-left: 25px;
      }
    }
  }

  .box-m__group--right {
    text-align: right;
  }

  .box-m__block--left {
    width: calc(100% - 260px);

    .box-m__group {
      width: calc(100% - 80px);
    }
  }

  .box-m__block--phone {
    display: none;
  }

  &__img {
    width: 60px;

    img {
      width: 100%;
    }
  }

  h3.title--min {
    font-size: 16px;
  }

  .box-m__prise {
    h3 {
      margin-bottom: 0;
    }

    p.dark {
      margin-top: 7px;
    }
  }

  p.price--phone {
    display: none;
  }

  .box-m__group {
    .box-m__group__line {
      padding-bottom: 4px;
      align-items: center;
    }
  }

  .box-m__group__line {
    .box-m__title {
      display: inline-block;
      margin-right: 15px;
    }

    p {
      display: inline-block;
      margin-right: 15px;
    }
  }

  button.del {
    position: absolute;
    right: -10px;
    top: 5px;
    padding: 0;
  }

  @media (max-width: 1659px) {
    padding-right: 25px;

    .box-m__block {
      .item {
        padding-left: 17px;
      }

      .box-m__img {
        margin-right: 10px;
      }
    }

    .box-m__block--left {
      width: calc(100% - 220px);
    }
  }

  @media (max-width: 1365px) {
    .box-m__prise p.dark {
      margin-top: 5px;
    }

    .box-m__block {
      .item {
        order: 0;
        padding-left: 0;
        margin-left: auto;
        margin-bottom: 10px;
      }

      .box-m__group--right {
        order: 1;
        width: 100%;
        text-align: right;
      }
    }
  }

  @media (max-width: 767px) {
    button.del {
      padding: 0;
      right: 0;

      svg {
        width: 15px;
      }
    }

    .box-m__group--right {
      display: none;
    }

    .box-m__block {
      .item {
        margin-bottom: 0;
      }
    }

    .box-m__block--left {
      width: calc(100% - 35px);
      padding-bottom: 0;

      .box-m__group__line {
        padding-bottom: 0;

        .btn-tool,
        .price {
          display: none;
        }
      }
    }

    .box-m__block--phone {
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 7px;
      padding-top: 10px;

      .block-group:last-child {
        text-align: right;
      }
    }

    .title--min {
      margin-top: 4px;
      margin-bottom: 0;
    }
  }

  @media (max-width: 576px) {
    padding-right: 0;

    .box-m__group__line .box-m__title {
      width: 100%;
      margin-right: 0;
      margin-bottom: 3px;
    }

    .dark {
      margin-bottom: 3px;
    }

    .box-m__block .item {
      margin-top: 4px;
    }
  }

  @media (max-width: 480px) {
    font-size: 11px;

    h3.title--min {
      font-size: 13px;
    }

    .box-m__img {
      width: 40px;
    }

    .box-m__block--left .box-m__group {
      width: calc(100% - 50px);
    }

    .dark {
      margin-bottom: 2px;
    }
  }
}

.box-info-date {
  font-size: 13px;
  color: rgba(127, 123, 119, 07);
  line-height: 17px;
  padding-bottom: 5px;
}

.box-rate {
  position: relative;
  width: 100%;
  height: 30px;
  border: 1px solid rgba(174, 166, 157, 0.1);
  overflow: hidden;
}

.box-rate-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: #f4f0e9;
  text-align: center;
  height: 30px;
}

.box-rate-on {
  color: $color-p;
  font-size: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  span {
    margin-left: 12px;
    vertical-align: middle;
  }
}

.box-rate-white {
  width: 100%;
}
