@import "../var";

.breadcrumb {
  background: transparent;
  padding: 0;
  margin-bottom: 17px;

  li {
    font-size: 13px;

    a {
      color: rgba(174, 166, 157, 0.6);
    }

    &::before {
      width: 23px;
      height: 5px;
      background: url(../img/arrow/breadcrumb.png) no-repeat;
      content: '';
      margin: -3px 15px 0 15px;
      display: inline-block;
      vertical-align: middle;
    }

    &:first-child {
      &::before {
        content: none;
      }
    }
  }

  li.active {
    a {
      color: $color-text;
    }
  }

  @media (max-width: 992px) {
    margin-bottom: 10px;

    li {
      font-size: 12px;
    }
  }

  @media (max-width: 768px) {
    li {
      &::before {
        margin: -3px 7px 0 7px;
      }
    }
  }

  @media (max-width: 480px) {
    li {
      font-size: 10px;
    }
  }
}
