@import "../var";

.datepicker {
  width: 300px;
  border: none;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  color: #0b0b0b;
  z-index: 10000;

  .datepicker--nav-title {
    font-family: $bold;
    pointer-events: none;

    i {
      color: #0b0b0b;
    }
  }

  .datepicker--content {
    background: #fefaf6;
    padding: 15px;
  }

  .datepicker--day-name {
    color: #000;
  }

  .datepicker--cell.-selected-,
  .datepicker--cell.-selected-.-current- {
    background: $accent;
    color: #fff;
    border-radius: 0;
  }

  .datepicker--cell.-current- {
    color: $accent;
  }

  .datepicker--cell {
    height: 38px;
    border-radius: 0;
  }

  .-selected- .dp-note {
    display: none;
  }

  @media (max-width: 992px) {
    width: 280px;
    font-size: 13px;

    .datepicker--content {
      padding: 6px;
    }

    //.datepicker--cell-day {
    //  width: 30px;
    //  height: 30px;
    //}
    //
    //.datepicker--day-name {
    //  width: 30px;
    //  flex: none;
    //}
  }
}

.calendar-insert {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
}

.calendar-insert.show {
  position: relative;
}

.widget-calendar {
  .widget-header {
    background: #fff;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
    padding: 30px 40px;
    text-align: right;

    span {
      color: #aea69d;
      margin-left: 15px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }

    span.state-active {
      color: $color-text;
      border-bottom: 1px solid $accent;
      padding-bottom: 7px;
    }
  }

  .prev,
  .next {
    background: transparent;
    cursor: pointer;
    border: 1px solid $accent;
    width: 40px;
    height: 40px;
    padding: 0;
  }

  .event {
    background: rgba(252, 115, 39, 08);
    width: 100%;
    height: 49px;
  }

  .widget-action {
    background: #fbf8f5;
    padding: 10px 40px;
    border-top: 1px solid rgba(174, 166, 157, 03);
    border-bottom: 0;
    border-bottom: 1px solid rgba(174, 166, 157, 03);
    margin-bottom: 10px;

    .prev {
      margin-right: 10px;
    }
  }

  table {
    background: #fff;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);

    thead {
      th {
        font-weight: normal;
        border: none;
        padding-top: 23px;
        padding-bottom: 23px;
      }

      tr > th:first-child {
        width: 275px;
      }

      tr {
        text-align: center;

        span {
          display: block;
        }
      }
    }

    td.name {
      color: rgba(0, 0, 0, 06);
      font-size: 14px;
    }

    td {
      border: 1px solid rgba(174, 166, 157, 0.1);
      vertical-align: middle;
      height: 80px;
    }
  }

  .widget-week {
    table thead {
      background: #fbf8f5;
      border-top: 1px solid rgba(174, 166, 157, 0.3);
      border-bottom: 1px solid rgba(174, 166, 157, 0.3);

      th {
        color: rgba(0, 0, 0, 05);
        padding-top: 10px;
        padding-bottom: 10px;
      }

      th:first-child {
        text-align: left;
      }
    }

    table tbody {
      td {
        text-align: center;

        span {
          color: $accent;
        }
      }

      td:first-child {
        text-align: left;
      }
    }
  }
}

.calendar-rent {
  padding-top: 20px;

  .nav-tabs--small .nav-link {
    font-family: "Montserrat-Medium", sans-serif;
    color: rgba(0, 0, 0, 06);
  }

  .nav-tabs {
    padding-bottom: 30px;

    .nav-link.active {
      background: transparent;
      color: #000;
      box-shadow: none;
    }

    @media (max-width: 768px) {
      padding-bottom: 20px;
    }
  }

  form {
    position: relative;
  }

  table {
    thead {
      th {
        color: rgba(0, 0, 0, 06);
        text-align: center;
        font-weight: 500;
        border-top: 0;
        border-bottom-color: rgba(0, 0, 0, 0.1);
        line-height: 21px;
        vertical-align: top;
        width: 117px;
        box-sizing: border-box;

        span {
          display: flex;
          justify-content: center;

          .day {
            padding-right: 3px;
          }
        }

        &:nth-last-child(-n + 3) {
          span {
            display: none;
          }
        }

        &:nth-last-child(-n + 2) {
          width: 150px;
        }
      }
    }

    tbody {
      font-size: 13px;

      input {
        color: #000;
        font-size: 13px;
        border: 1px solid rgba(174, 166, 157, 0.3);
        width: 60px;
        height: 40px;
        line-height: 40px;
        text-align: center;
      }

      td {
        border-top: 0;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        text-align: center;
        position: relative;
      }
    }

    th.active,
    td.active {
      background: #f4f0e9;
    }

    .total {
      background: #f4f0e9;
      vertical-align: middle;
      font-size: 13px;
      text-align: center;

      span {
        display: none;
      }
    }

    @media (max-width: 1659px) {
      thead {
        th {
          font-size: 14px;
        }
      }
    }

    @media (max-width: 1365px) {
      thead {
        th {
          font-size: 13px;
        }
      }
    }

    @media (max-width: 992px) {
      box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);

      thead {
        tr {
          display: flex;

          th {
            width: calc(100% / 6);
            display: flex;
            flex-wrap: wrap;

            > span {
              width: 100%;
            }

            &:nth-last-child(-n + 3) {
              display: none;
            }
          }
        }

        th {
          border-bottom-width: 1px;
        }
      }

      tbody {
        tr {
          display: flex;
          flex-wrap: wrap;

          td {
            display: block;
            width: calc(100% / 6);
            border-bottom-width: 1px;

            &:nth-last-child(-n + 3) {
              display: flex;
              width: auto;
              max-width: calc(100% / 3);
              margin-right: 15px;
              color: $accent;
              border-bottom: none;

              span {
                display: block;
                padding-right: 3px;
                color: #000;
              }
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .total {
        background-color: transparent;
      }
    }

    @media (max-width: 768px) {
      td.active,
      th.active {
        background: transparent;
      }

      thead {
        tr th {
          padding: 10px;
          font-size: 11px;
        }
      }

      tbody {
        tr td {
          font-size: 11px;
        }
      }

      th.active {
        span.group {
          border-radius: 50%;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 36px;
          height: 36px;
          line-height: normal;
          background: #f4f0e9;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    @media (max-width: 480px) {
      thead {
        tr th {
          padding: 10px 5px;

          span.group {
            font-size: 9px;
          }
        }
      }

      tbody {
        tr td {
          padding: 10px 5px;
          font-size: 10px;

          &:nth-last-child(-n + 3) {
            margin-right: 7px;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      th.active {
        span.group {
          width: 32px;
          height: 32px;
        }
      }

      .total {
        font-size: 10px;
      }
    }
  }

  .info-block {
    .calendar-text {
      font-size: 14px;
      max-width: 400px;
      color: $color-p;
    }

    .btn-group {
      width: calc(100% - 410px);
      justify-content: flex-end;
      flex-wrap: wrap;

      .btn {
        padding: 8px 15px;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }

      > .btn {
        flex: unset;
      }
    }

    @media (max-width: 1659px) {
      .btn-group {
        .btn {
          font-size: 14px;
        }
      }
    }

    @media (max-width: 1350px) {
      .calendar-text {
        max-width: 100%;
        width: 100%;
        padding-bottom: 10px;
      }

      .btn-group {
        justify-content: flex-start;
        width: 100%;
      }
    }

    @media (max-width: 768px) {
      .calendar-text {
        font-size: 12px;
      }

      .btn-group .btn {
        font-size: 13px;
        padding: 6px 10px;
      }
    }

    @media (max-width: 576px) {
      .btn-group .btn {
        width: 100%;
        margin-right: 0;
        margin-bottom: 7px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .info-block--custom {
    .btn-group {
      width: 100%;
    }
  }

  @media (max-width: 576px) {
    padding-top: 13px;
  }
}

.widget-month {
  .month-title {
    font-size: 18px;
    color: #000;
    display: inline-block;
    margin-left: 13px;
    margin-right: 13px;
    vertical-align: middle;
  }

  .button-action {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .item--check {
    z-index: 100;
    width: 24px;
    height: 24px;
    display: inline-block;

    .custom-label {
      width: 24px;
      height: 24px;
      display: inline-block;
    }

    input[type="checkbox"] {
      width: 24px;
      height: 24px;
    }
  }

  tbody {
    td {
      font-size: 13px;
      padding-top: 22px;
      padding-bottom: 22px;
    }

    td.status {
      padding: 0;
      vertical-align: middle;
      text-align: right;
    }
  }

  span {
    display: block;
    padding-bottom: 3px;
  }

  .badge {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 25px;

    span {
      border: none;
      font-size: 13px;
      padding: 0;
      position: absolute;
      left: -50%;
      top: 50%;
      transform: translateX(0%) translateY(-50%) rotate(-90deg);
    }
  }

  .badge-success {
    background: #dbd5ca;
  }

  .badge-info {
    background: #f56565;
  }

  .btn-s {
    width: 250px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.ui-timepicker-container {
  position: absolute;
  overflow: hidden;
  box-sizing: border-box;
}

.ui-timepicker {
  box-sizing: content-box;
  display: block;
  height: 205px;
  list-style: none outside none;
  margin: 0;
  padding: 0 1px;
  text-align: center;
}

.ui-timepicker-viewport {
  box-sizing: content-box;
  display: block;
  height: 205px;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  overflow: auto;
  overflow-x: hidden;
}

.ui-timepicker-standard {
  font-size: 14px;
  background-color: #fff;
  margin: 0;
  padding: 2px;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  z-index: 10000 !important;
}

.ui-timepicker-viewport::-webkit-scrollbar {
  width: 5px;
  background-color: #ebeef5;
}

.ui-timepicker-standard a {
  color: #000;
  display: block;
  padding: 0.2em 0.4em;
  text-decoration: none;
}

.ui-timepicker-standard .ui-state-hover {
  background-color: #fc7327;
  border: 0;
}

.ui-timepicker-standard .ui-state-hover:not([href]):not([tabindex]) {
  color: #fff;
}

.ui-timepicker-standard .ui-menu-item {
  margin: 0;
  padding: 0;
}

.ui-timepicker-corners,
.ui-timepicker-corners .ui-corner-all {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.ui-timepicker-hidden {
  display: none;
}
