@import "../var";

input[type="checkbox"]:not(:checked) + .custom-label::after {
  opacity: 0;
  transform: scale(0);
}

input[type="checkbox"]:checked + .custom-label::after {
  opacity: 1;
  transform: scale(1);
}

// radio
input[type="radio"] {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.radio-label {
  position: relative;
  color: $color-p;
  padding-left: 36px;
  margin-bottom: 0;

  &::before {
    content: '';
    background: #fff;
    border: 1px solid rgba(171, 171, 171, 0.75);
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: $transition;
    position: absolute;
    left: 0;
  }

  span {
    vertical-align: middle;
  }
}

input[type="radio"]:checked + .radio-label {
  span {
    color: #000;
  }
}

input[type='checkbox'] {
  opacity: 0;
  position: absolute;
  height: 100%;
}

.custom-label {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  vertical-align: middle;
  padding-left: 35px;

  &::before {
    content: "";
    background-color: #fff;
    border: 1px solid rgba(171, 171, 171, 0.75);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;

    @media (max-width: 768px) {
      width: 20px;
      height: 20px;
    }
  }

  @media (max-width: 768px) {
    padding-left: 30px;
  }
}

.custom-label span {
  vertical-align: middle;
}

.custom-label::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;
  right: 5px;
  line-height: 24px;
  background: $accent;
  width: 14px;
  height: 14px;
  transition: all 0.2s;

  @media (max-width: 768px) {
    top: 3px;
    left: 3px;
    right: 3px;
    width: 14px;
    height: 14px;
  }
}
