@import "../var";

.comment {
  &__name {
    font-family: $bold;
    color: #000;
    line-height: normal;
    padding-bottom: 13px;
    text-align: left;
  }

  &__date {
    color: #aea69d;
    font-size: 13px;
    padding-bottom: 10px;
    line-height: normal;
  }

  &__info {
    font-size: 13px;
    color: #000;
  }

  &__head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
    text-align: right;
  }

  textarea {
    height: 134px;
    border: 1px solid rgba(174, 166, 157, 0.1);
    padding: 19px;
    width: 100%;
    font-size: 13px;

    &:focus {
      border-color:rgba(252, 115, 39, 0.3);
      outline: none;
    }
  }

  ul.raiting {
    padding-bottom: 0;

    li {
      display: inline-block;
    }
  }

  @media (max-width: 992px) {
    .comment__head {
      padding-bottom: 10px;
    }

    textarea {
      padding: 15px;
    }

    .comment__name {
      font-size: 15px;
      padding-bottom: 6px;
    }

    .comment__date {
      font-size: 12px;
      padding-bottom: 6px;
    }

    .comment__info {
      font-size: 12px;
    }
  }

  @media (max-width: 576px) {
    .comment__head {
      padding-bottom: 7px;
    }

    .comment__head-block {
      width: 100%;
      text-align: left;
    }

    textarea {
      font-size: 12px;
      padding: 10px 5px;
    }
  }
}

.hide-button.collapsed {
  background: #aea69d;
  border: 1px solid #aea69d;
  color: #fff;
}
