.counter {
  button {
    border: 1px solid rgba(174, 166, 157, 0.3);
    width: 30px;
    height: 35px;
    background: #fff;
    color: rgba(0, 0, 0, 03);

    &:focus {
      outline: none;
      box-shadow: 0 0 0 1px rgba(252, 115, 39, 035);
    }
  }

  input {
    border: 1px solid rgba(174, 166, 157, 0.3);
    height: 35px;
    padding: 9px 5px;
    text-align: center;
    width: 60px;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 1px rgba(252, 115, 39, 035);
    }
  }

  @media (max-width: 992px) {
    input {
      width: 40px;
      font-size: 13px;
    }
  }

  @media (max-width: 768px) {
    input,
    button {
      height: 30px;
    }
  }
}

.counter--other {
  button {
    border: none;
  }
}

.counter--bigger {
  input {
    width: 80px;
  }
}
