@import "../var";

.feedback {
  &__head {
    justify-content: space-between;
    padding-bottom: 30px;
    padding-top: 30px;

    .feedback__group {
      display: flex;
      flex-wrap: wrap;
    }

    button {
      align-self: center;
    }

    ul {
      li {
        display: block;
        line-height: normal;
        color: $color-p;
        font-size: 13px;
        margin-bottom: 8px;
      }
    }
  }

  .feedback__information {
    padding-left: 20px;
  }

  &__img {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 159px;
  }

  .feedback__company {
    padding-bottom: 15px;
    line-height: normal;
    font-family: $bold;
  }

  .feedback__message {
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 992px) {
    &__head {
      padding-bottom: 20px;
      padding-top: 20px;

      ul {
        li {
          font-size: 12px;
        }
      }
    }

    &__img {
      width: 120px;
    }

    .feedback__company {
      font-size: 15px;
      padding-bottom: 10px;
    }
  }

  @media (max-width: 768px) {
    &__head {
      .feedback__group {
        width: 100%;
      }

      ul li {
        margin-bottom: 5px;
      }
    }

    .feedback__information {
      padding-top: 10px;
      padding-left: 0;
      width: 100%;
      text-align: center;
    }

    &__img {
      margin-left: auto;
      margin-right: auto;
    }

    .feedback__company {
      padding-bottom: 13px;
    }

    .feedback__message {
      padding-bottom: 15px;
    }
  }
}
