@import "../var";

.controls--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 576px) {
    .controls-b {
      width: 100%;
    }
  }
}

.filter-button {
  background: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  margin-right: 5px;
}

.controls {
  .controls-b {
    color: #000;
    display: flex;
    flex-wrap: wrap;

    span {
      padding-right: 17px;
    }

    ul {
      li {
        display: inline-block;
        font-size: 13px;
        padding-right: 20px;

        a {
          color: $color-p;
        }

        a.active {
          color: $accent;

          span {
            svg {
              path {
                stroke: $accent;
              }
            }
          }
        }

        a.descend {
          span {
            svg {
              transform: rotate(-180deg);
            }
          }
        }

        &:last-child {
          padding-right: 0;
        }

        span {
          margin-left: 10px;
          padding-right: 0;

          svg {
            transition: $transition;
          }
        }
      }
    }

    .filter-button {
      display: none;
    }

    @media (max-width: 1365px) {
      ul li {
        padding-right: 15px;
      }
    }

    @media (max-width: 992px) {
      span {
        font-size: 15px;
      }
    }

    @media (max-width: 576px) {
      ul li {
        font-size: 12px;
      }
    }

    @media (max-width: 480px) {
      align-items: center;

      span {
        font-size: 13px;
        padding-right: 0;
        display: none;
      }

      .filter-button {
        display: flex;
        align-items: center;

        span {
          display: block;
          padding-left: 10px;
        }
      }

      ul {
        display: none;
        width: 100%;
      }

      ul.active {
        display: block;
      }

      ul li {
        font-size: 10px;
        padding-right: 10px;
      }
    }
  }
}

.filter-block__input--flex {
  display: flex;
}

.filter-block {
  position: relative;

  input {
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 13px;
    color: #000;
    padding: 0 10px;
    line-height: 39px;
    height: 39px;

    &:focus {
      outline: none;
    }
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input.amount-min {
    width: 45%;
    text-align: left;
  }

  input.amount-max {
    width: 45%;
    text-align: right;
  }

  &__input {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__name {
    font-size: 13px;
    padding-bottom: 5px;
    line-height: 21px;
  }

  .filter-block__wrap {
    border: 1px solid rgba(174, 166, 157, 0.3);
    position: relative;
  }
}

.filter-block--absolutely {
  .filter-block__name {
    position: absolute;
    top: -30px;
    padding-bottom: 0;
    line-height: unset;
  }
}

.filter-block--size {
  input {
    font-size: 16px;
    padding: 11px 10px 11px 25px;
  }
}

.ui-slider-horizontal {
  height: 3px;
}

.ui-slider .ui-slider-handle {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: none;
  background: $accent;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &::before {
    content: '';
    position: absolute;
    background: #fff;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    top: 6px;
    left: 6px;
  }
}

.ui-widget-header {
  background: #000;
}

.ui-widget.ui-widget-content {
  border: none;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -12px;
}

.filter-primary {
  li {
    display: inline-block;
    font-size: 17px;
    margin-right: 26px;
    position: relative;

    @media (max-width: 1659px) {
      font-size: 16px;
    }

    @media (max-width: 992px) {
      font-size: 14px;
      margin-right: 17px;
    }

    @media (max-width: 480px) {
      font-size: 13px;
      margin-right: 14px;
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      color: #aea69d;
      display: block;
      padding-bottom: 5px;
    }

    a.active {
      color: $color-text;
      border-bottom: 0.0625rem solid $accent;
    }

    .count {
      position: absolute;
      top: -14px;
      right: -20px;

      @media (max-width: 1365px) {
        top: -5px;
        right: -25px;
      }

      @media (max-width: 992px) {
        width: 18px;
        height: 18px;
        line-height: 18px;
        font-size: 10px;
      }

      @media (max-width: 768px) {
        right: -20px;
        top: -3px;
      }
    }
  }
}

.filter-primary--border {
  li a.active {
    border-bottom: 0;
  }

  li a {
    padding-bottom: 0;
  }
}

.filter-primary--custom {
  li {
    margin-right: 40px;
  }
}

.filter-basis {
  margin: 0 0 10px 0;

  li {
    display: inline-block;
    font-size: 17px;
    margin-right: 20px;

    a {
      color: #000;

      &.active {
        font-family: $bold;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: 1659px) {
    li {
      font-size: 16px;
    }
  }

  @media (max-width: 1365px) {
    li {
      font-size: 15px;
      margin-right: 15px;
    }
  }

  @media (max-width: 768px) {
    li {
      font-size: 14px;
      margin-right: 10px;
    }
  }

  @media (max-width: 480px) {
    li {
      font-size: 12px;
    }
  }
}

.filter-basis--small {
  li {
    font-size: 16px;
    margin-right: 8px;

    @media (max-width: 1659px) {
      font-size: 14px;
    }

    @media (max-width: 1365px) {
      font-size: 13px;
    }

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
}

.filter-order {
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;

  li {
    width: 240px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;

    a {
      padding: 8px 10px;
      font-size: 13px;
      color: $color-p;
      display: block;
      background: #f4f0e9;
      border: 1px solid rgba(174, 166, 157, 0.1);
    }

    a.active {
      background: $accent;
      color: #fff;
    }
  }

  @media (max-width: 1365px) {
    li {
      margin-right: 7px;
      margin-left: 7px;
    }
  }

  @media (max-width: 1200px) {
    li {
      width: 200px;
    }
  }

  @media (max-width: 992px) {
    li {
      flex: 1;
      margin-right: 5px;
      margin-left: 5px;
      margin-bottom: 7px;

      a {
        padding: 7px 25px;
      }
    }
  }
}

.filter-order--min {
  li {
    font-size: 13px;
    width: 200px;
    margin-right: 6px;

    a {
      padding: 9px 13px;
    }
  }
}

.filter-btn {
  display: flex;
  flex-wrap: wrap;

  li {
    width: calc((100% / 3 ) - 10px);
    margin-right: 15px;
    margin-bottom: 12px;

    @media screen and (min-width: 992px) {
      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    a {
      background-color: transparent;
      box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
      border: none;
      color: $color-p;
      font-size: 15px;
      width: 100%;
      padding: 30px 20px;
      display: flex;
      justify-content: space-between;
    }

    a.active {
      border-bottom: 2px solid $accent;
    }
  }

  @media (max-width: 1659px) {
    li {
      a {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 1365px) and (min-width: 1201px) {
    li {
      a {
        padding: 20px 10px;
        font-size: 13px;
      }
    }
  }

  @media (max-width: 991px) {
    justify-content: space-between;

    li {
      margin-right: 0;
      margin-bottom: 10px;
      width: calc((100% / 2 ) - 5px);

      a {
        font-size: 13px;
        padding: 20px 15px;
      }
    }
  }

  @media (max-width: 576px) {
    li {
      width: 100%;
    }
  }
}

.filter-sec {
  display: flex;
  flex-wrap: wrap;

  li {
    width: 170px;
    margin-right: 10px;

    a {
      background: rgba(244, 240, 233, 05);
      padding: 8px 11px;
      width: 100%;
      color: $color-p;
      display: block;
      text-align: center;
      font-size: 13px;
    }

    a.active {
      box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
      background: #fff;
      color: $color-text;
      border-bottom: 1px solid $accent;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: 767px) {
    li a {
      font-size: 12px;
    }
  }
}

.scr-el {
  height: 495px;
  overflow-y: auto;
}

.filter-size {
  li {
    font-size: 16px;
  }
}

.filter-controls {
  background-color: transparent;
  cursor: pointer;
  border: none;
  align-items: center;
  padding: 0;
  display: none;
  font-size: 13px;

  span {
    color: $accent;
    line-height: 17px;
  }

  svg {
    margin-right: 10px;
    pointer-events: none;
  }

  @media (max-width: 1199px) {
    display: block;
  }

  @media (max-width: 480px) {
    margin-top: 12px;
  }
}

.filter-aside {
  background: #fff;
  box-shadow: 0 0.0625rem 0.75rem rgba(0, 0, 0, 0.06);
  width: 380px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transform: translateX(100%);
  height: 100%;
  z-index: 200;
  padding: 45px 37px;
  transition: transform 0.3s;

  svg {
    opacity: 1;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;

    &:focus {
      outline: none;

      svg {
        path {
          fill: $accent;
        }
      }
    }
  }

  .menu {
    display: block;
  }

  .filter-wrap {
    width: 100%;
    padding: 0 7px 40px 7px;
    margin-left: 0;
    margin-right: 0;

    .filter-block__name {
      padding-bottom: 10px;
    }

    button {
      width: 100%;
      font-size: 14px;
      margin-top: 16px;
    }

    h3 {
      margin-bottom: 22px;
      font-size: 22px;
    }
  }

  @media (max-width: 576px) {
    width: 260px;
    padding: 30px 25px;

    .close {
      width: 20px;
      height: 20px;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .filter-wrap {
      padding-bottom: 25px;
      padding-left: 0;
      padding-right: 0;

      h3 {
        font-size: 20px;
      }

      .filter-block input {
        height: 40px;
        line-height: 40px;
      }

      .filter-block__wrap {
        border: none;
        height: 40px;
      }

      .filter-block__input {
        input {
          border: 0.0625rem solid rgba(174, 166, 157, 0.3);
        }
      }

      .ui-slider .ui-slider-range {
        position: relative;
        margin-top: 18px;
      }

      .ui-slider-horizontal .ui-slider-handle {
        top: unset;
      }
    }
  }
}

.filter-aside.menu-active {
  transform: translateX(0%);
}

.mCS-my-theme.mCSB_scrollTools {
  opacity: 1;
}

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: $accent;
}

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_draggerRail {
  border-radius: 0;
}

.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail {
  background-color: rgba(196, 196, 196, 06);
}

.filter-icon {
  display: none;
}

.controls.controls-change {
  @media (max-width: 768px) {
    .controls-b-wrap {
      align-self: flex-start;
      text-align: center;
      cursor: pointer;
    }

    .controls-b {
      flex-direction: column;
      font-size: 14px;
    }

    ul {
      display: none;
    }

    span {
      padding-right: 0;
    }
  }
}
