@import "../var";

.label-size,
.p-size,
.custom-label--size {
  font-size: 13px;

  @media (max-width: 992px) {
    font-size: 12px;
  }

  @media (max-width: 480px) {
    font-size: 11px;
  }
}

.p-size {
  margin-bottom: 0;
}

.label-primary {
  font-size: 15px;

  @media (max-width: 992px) {
    font-size: 14px;
  }

  @media (max-width: 480px) {
    font-size: 11px;
  }
}

.label-bright {
  color: $color-p;
}

textarea {
  position: relative;
  resize: none;
}

textarea:disabled {
  background: transparent;
}

.form-search {
  position: relative;

  input {
    border: 0;
    border-bottom: 1px solid rgba(174, 166, 157, 0.2);
    font-size: 13px;
    line-height: 17px;
    color: $basis;
    padding-left: 33px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .icon {
    position: absolute;
    bottom: 10px;
  }

  button {
    border: 1px solid $accent;
    font-weight: 500;
    color: #000;
    padding: 8px 30px;
    background-color: transparent;
  }
}

.form {
  input {
    width: 100%;
    display: block;
    border: 1px solid rgba(174, 166, 157, 0.3);
    font-size: 13px;
    color: $basis;
    padding: 8px 15px;

    @media (max-width: 576px) {
      padding: 6px 13px;
    }
  }

  .input-width {
    width: 217px;
  }

  .input-custom {
    width: 250px;
  }

  label {
    margin-bottom: 10px;
    display: block;

    @media (max-width: 768px) {
      margin-bottom: 7px;
    }

    @media (max-width: 480px) {
      margin-bottom: 5px;
    }
  }

  .inpit-light {
    color: $color-p;
  }

  .form__title {
    font-size: 18px;
    font-family: $bold;
    color: #000;
    margin-bottom: 30px;
  }

  &__item {
    position: relative;
  }

  &__inline {
    display: flex;
    flex-wrap: wrap;
  }

  .form__line {
    .form__item,
    .item {
      display: inline-block;
    }
  }

  textarea {
    border: 1px solid rgba(174, 166, 157, 0.3);
    width: 100%;
    padding: 13px 16px;
  }

  .item-size {
    font-size: 13px;
  }
}

.form__item--pl {
  margin-right: 15px;
}

.form--basis {
  label {
    color: $color-p;
    line-height: normal;
    margin-bottom: 13px;
  }

  .form__item-line {
    position: relative;

    button {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 230px;
    }

    input {
      padding-top: 10px;
      padding-bottom: 10px;
      height: 50px;
    }
  }

  .form__title {
    font-size: 18px;
    line-height: normal;
  }
}

.input-doc {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0;
  opacity: 0;
  height: 100%;
  padding: 0;
  cursor: pointer;
}

.form-control {
  width: 100%;
  display: block;
  border: 1px solid rgba(174, 166, 157, 0.3);
  font-size: 13px;
  color: $basis;
  padding: 9px 10px;
  height: auto;
  border-radius: 0;

  @media (max-width: 576px) {
    padding: 6px 13px;
  }
}

@import './checkbox.scss';

.custom-label--color {
  color: #aea69d;
}

input[type="checkbox"]:checked + .custom-label--color {
  color: #000;
}

.form--custom {
  .custom-label--color {
    color: #aea69d;
    margin-bottom: 0;
  }

  label {
    color: $color-text;
  }
}

.custom-label--choice {
  font-weight: 500;
  color: #000;
  cursor: default;

  &::before {
    content: url("data:image/svg+xml; utf8, <svg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 4.5L4.5 8L11.5 1' stroke='white'/></svg>");
    background-color: $accent;
    border: none;
    text-align: center;
    line-height: 24px;
  }
}

.custom-label--not {
  color: #aea69d;
  cursor: default;

  &::before {
    background-color: rgba(196, 196, 196, 0.3);
    border: none;
  }
}

input[type="radio"]:checked + .radio-label::before {
  background-color: $accent;
  box-shadow: inset 0 0 0 4px #ffff;
  border: 1px solid rgba(171, 171, 171, 0.75);
}

.label-checkbox {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  vertical-align: middle;
  width: 40px;
  height: 40px;

  &::before {
    content: "";
    background-color: #fff;
    border: 1px solid $accent;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
  }

  @media (max-width: 1659px) {
    width: 30px;
    height: 30px;

    &::before {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  }

  @media (max-width: 768px) {
    width: 25px;
    height: 25px;

    &::before {
      width: 25px;
      height: 25px;
      line-height: 25px;
    }
  }
}

.label-checkbox--dark {
  &::before {
    border: 1px solid rgba(174, 166, 157, 0.3);
  }
}

.label-checkbox::after {
  position: absolute;
  content: "";
  line-height: 40px;
  background-image: url(../img/icon/icon.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  transition: $transition;
  top: 13px;
  left: 13px;

  @media (max-width: 1659px) {
    line-height: 30px;
    width: 30px;
    height: 30px;
    top: 7px;
    left: 9px;
  }

  @media (max-width: 768px) {
    line-height: 25px;
    width: 25px;
    height: 25px;
    top: 4px;
    left: 4px;
  }
}

input[type="checkbox"]:not(:checked) + .label-checkbox::after {
  opacity: 0;
  transform: scale(0);
}

.custom--light {
  .btn-light {
    color: #aea69d;
  }

  .dropdown-toggle::after {
    background: url(../img/icon/arrow-picker-min.png);
  }

  .filter-option-inner {
    text-align: center;
  }
}

.check-item {
  position: relative;
}

.selectpicker--width {
  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 211px;
  }
}

.form--search-inner {
  input {
    padding: 13px 20px;
  }

  button {
    color: $accent;
    padding-right: 45px;
    padding-left: 45px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.form--inner {
  .form__line {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;

    .form__item {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    .form__item:nth-child(2) {
      width: 200px;
    }

    .form__item:first-child {
      width: 154px;
    }
  }

  .form__item--pt {
    margin-top: 25px;
  }

  .custom-label {
    margin-bottom: 0;
  }
}

.toggle {
  &__item {
    position: relative;
    display: inline-block;
  }

  label {
    margin-bottom: 0;
    width: 280px;
    height: 60px;
    background: #f4f0e9;
    border: 1px solid rgba(174, 166, 157, 0.3);
    text-align: center;
    line-height: 60px;
    cursor: pointer;
  }

  input[type="radio"] {
    cursor: pointer;
  }

  input:checked + label {
    background: $accent;
    color: #fff;

    svg {
      path {
        fill: #fff;
      }
    }
  }

  svg {
    margin-right: 10px;
  }
}

.item-map {
  position: relative;
  display: flex;

  .input-button {
    border: 1px solid rgba(174, 166, 157, 0.5);
    background: #fff;
    cursor: pointer;
    color: rgba(36, 36, 36, 09);
    text-align: left;
    height: 40px;
    font-size: 13px;
    width: calc(100% - 110px);
    padding: 7px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:focus {
      outline: none;
    }
  }

  .btn--light {
    width: 110px;
    padding: 7px;

    svg {
      display: none;
    }
  }

  @media (max-width: 992px) {
    .input-button {
      height: 37px;
      padding: 7px 5px;
    }

    .btn--light {
      padding-left: 3px;
      padding-right: 3px;
      font-size: 14px;
    }
  }

  @media (max-width: 768px) {
    .input-button {
      height: 35px;
      width: calc(100% - 30px);
      padding: 5px;
      font-size: 13px;
    }

    .btn--light {
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        display: none;
      }

      svg {
        display: block;
      }
    }
  }
}

.input-group-addon {
  width: 70px;
  background: rebeccapurple;
}

.item {
  position: relative;
}

.search-inside {
  position: relative;

  label {
    color: #000;
    margin-bottom: 8px;
  }

  input {
    border: 1px solid rgba(174, 166, 157, 0.3);
    font-size: 13px;
    color: rgba(0, 0, 0, 05);
    padding: 8px 14px;
    width: calc(100% - 220px);

    &:focus {
      outline: none;
    }
  }

  button {
    width: 210px;
    margin-left: 10px;
  }

  .search-inside__line {
    display: flex;
    flex-wrap: wrap;
  }

  @media (max-width: 992px) {
    input {
      width: 100%;
      padding-top: 6px;
      padding-bottom: 6px;
    }

    button {
      font-size: 15px;
      width: 100%;
      margin-left: 0;
      margin-top: 15px;
    }
  }

  @media (max-width: 768px) {
    label {
      font-size: 14px;
    }

    button {
      font-size: 14px;
      margin-top: 10px;
    }
  }
}

.search-b {
  position: relative;
  width: 246px;

  input {
    color: rgba(174, 166, 157, 0.9);
    border: 0;
    font-size: 13px;
    padding-bottom: 13px;
    border-bottom: 1px solid rgba(174, 166, 157, 0.2);
    text-align: right;
    padding-right: 60px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.search-p {
  position: relative;
  width: 310px;

  input {
    width: 100%;
    border: 1px solid rgba(174, 166, 157, 0.3);
    box-sizing: border-box;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
    padding: 15px;
    padding-left: 43px;
    font-size: 13px;

    &:focus {
      outline: none;
    }
  }

  button {
    border: none;
    position: absolute;
    right: 15px;
    cursor: pointer;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
  }
}

.form-bg {
  .form--personal .btn {
    margin-top: 0;
  }

  .form--personal {
    .form__item:last-child {
      padding-bottom: 0;
    }
  }
}

.form-search-block {
  max-width: 720px;
  display: flex;
  flex-wrap: wrap;

  label {
    width: 100%;
  }

  input {
    border: 1px solid rgba(174, 166, 157, 0.3);
    width: 78%;
  }

  .btn.btn--light {
    border: 2px solid $accent;
    color: $accent;
    width: 140px;
    margin-left: 13px;
  }
}

label.disabled {
  color: #6c757d;
  pointer-events: none;
}

.seach-item {
  padding-bottom: 35px;

  input {
    width: 40%;
  }

  .btn {
    width: 15%;
  }

  @media (max-width: 992px) {
    padding-bottom: 25px;
  }

  @media (max-width: 576px) {
    input {
      width: calc(100% - 90px);
    }

    .btn {
      width: 90px;
    }
  }
}
