@import "../var";

// мой автопарк
.input-block {
  display: inline-block;
  position: relative;
  width: 372px;

  .view-label {
    display: flex;
    align-items: center;

    .name-file {
      font-size: 16px;
      margin-left: 15px;
      color: $color-p;
      margin-bottom: 0;
      text-align: left;
    }

    span.sub {
      color: #aea69d;
      font-size: 0.8125rem;
      display: block;
    }
  }

  .label-icon {
    width: 55px;
    height: 55px;
    border: 1px solid rgba(174, 166, 157, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
  }

  .delete-file {
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    position: absolute;
    top: -2px;
    right: 0;
    display: block;

    svg {
      pointer-events: none;
      cursor: pointer;
      width: 17px;
      height: 17px;
    }
  }

  input {
    position: absolute;
    top: 0;
    z-index: 15;
    width: 90%;
    margin: 0;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    display: block;
    padding: 0;
  }

  @media (max-width: 1300px) {
    width: 324px;

    .view-label {
      .name-file {
        font-size: 13px;
        margin-left: 10px;
      }

      span.sub {
        font-size: 10px;
      }
    }

    .label-icon {
      width: 45px;
      height: 45px;
    }

    .delete-file {
      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  @media (max-width: 1141px) {
    width: 276px;
  }

  @media (max-width: 650px) {
    .label-icon {
      width: 38px;
      height: 38px;

      svg {
        width: 13px;
      }
    }

    .view-label .name-file {
      line-height: normal;
      font-size: 10px;

      span.sub {
        font-size: 9px;
      }
    }
  }
}

.wrapper-inside {
  display: flex;
  flex-wrap: wrap;

  .input-block {
    margin-right: 20px;
  }

  @media (max-width: 650px) {
    .input-block {
      margin-right: auto;
      margin-left: auto;
      width: 350px;
    }
  }

  @media (max-width: 480px) {
    .input-block {
      width: 100%;
    }
  }
}

// на странице message-inside и модалка отправка сообщение
.input-files {
  position: relative;
  width: 100%;
  display: inline-block;

  .input-file {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }

  label {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }

  .input-file-trigger {
    position: relative;
    background: #fff;
    border: 1px solid rgba(174, 166, 157, 0.3);
    color: rgba(0, 0, 0, 07);
    height: 38px;
    padding: 7px;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  .input-files-link {
    display: block;
    width: 40px;
    height: 40px;
    background: #f4f0e9;
    line-height: 40px;
  }

  .input-trigger {
    color: $color-p;
    margin-bottom: 0;
    font-size: 15px;
    display: flex;
    align-items: center;
    line-height: normal;
    padding-left: 51px;
    position: relative;
    min-height: 40px;

    span {
      display: block;
    }

    span.sub {
      font-size: 13px;
      color: #aea69d;
      padding-bottom: 0;
      padding-top: 3px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background: #fff;
      border: 1px solid rgba(174, 166, 157, 0.3);
      text-align: center;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 41px;
      height: 41px;
      background-image: url("data:image/svg+xml;utf8, <svg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M3.25166 9.53839L10.6958 1.4613C12.001 1.4613 12.649 3.03056 11.0828 4.69214C9.51656 6.35371 5.20944 10.923 3.25166 13C1.72894 12.6154 0.557695 10.7974 1.16222 9.18199C1.88871 7.24065 7.87135 1.54547 8.3874 1' stroke='black'/></svg>");
      background-size: 13px;
      background-repeat: no-repeat;
      background-position: center;
      pointer-events: none;
      cursor: pointer;
    }
  }

  @media (max-width: 992px) {
    .input-trigger {
      font-size: 13px;
    }
  }
}

.input-files.flex-element {
  display: flex;
  align-items: center;

  .input-file-trigger {
    width: calc(100% - 45px);
    margin-bottom: 0;

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.input-file-item {
  .input-file__name {
    font-size: 13px;
    padding-bottom: 7px;
  }
}

.link-file {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: $color-text;

  span {
    padding-left: 5px;
  }

  &:hover {
    color: $accent;
    text-decoration: underline;

    svg path {
      stroke: $accent;
    }
  }
}
