@import "../var";

.message {
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  padding: 15px 25px 25px 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 50px);

    @media (max-width: 767px) {
      width: calc(100% - 80px);
    }

    @media (max-width: 576px) {
      width: calc(100% - 80px);

      .message__right,
      .message__left {
        width: 100%;
      }
    }
  }

  &__right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .message__preview--phone {
      display: none;
      width: 100%;
      padding-top: 3px;
    }

    .message__count {
      margin-left: 110px;
    }

    .icon {
      width: 27px;

      img,
      svg {
        width: 100%;
      }
    }

    .message__name {
      font-family: 'Montserrat-Medium', sans-serif;
      font-size: 13px;
    }

    @media (max-width: 1659px) {
      .message__count {
        margin-left: 40px;
      }
    }

    @media (max-width: 992px) {
      .message__count {
        margin-left: 25px;
      }
    }

    @media (max-width: 767px) {
      .message__count {
        display: none;
      }
    }

    @media (max-width: 576px) {
      .message__preview--phone {
        display: block;
      }
    }
  }

  &__preview {
    color: rgba(66, 66, 66, 05);
    width: 100%;
    font-size: 13px;

    @media (max-width: 767px) {
      font-size: 12px;
    }

    @media (max-width: 576px) {
      display: none;
      font-size: 11px;
    }
  }

  &__count {
    background: $accent;
    border-radius: 50%;
    width: 29px;
    height: 29px;
    text-align: center;
    line-height: 29px;
    font-size: 14px;
    color: #fff;
  }

  span.dark {
    font-size: 12px;
    color: rgba(66, 66, 66, 0.5);

    @media (max-width: 576px) {
      font-size: 11px;
    }
  }

  &__icon {
    margin-right: 10px;
    width: 40px;
    position: relative;

    img {
      width: 100%;
    }

    .message__count {
      display: none;
      width: 24px;
      height: 24px;
      font-size: 11px;
      line-height: 24px;
      position: absolute;
      top: -6px;
      right: -15px;
    }

    @media (max-width: 767px) {
      margin-right: 23px;

      .message__count {
        display: block;
        width: 18px;
        height: 18px;
        line-height: 18px;
        font-size: 11px;
      }
    }

    @media (max-width: 576px) {
      margin-right: 18px;

      .message__count {
        display: block;
      }
    }
  }

  &__name {
    font-family: $bold;
    color: #000;

    @media (max-width: 767px) {
      font-size: 15px;
    }

    @media (max-width: 480px) {
      font-size: 14px;
    }
  }

  &__block {
    color: $color-p;
    font-size: 13px;

    span {
      color: $accent;
    }

    @media (max-width: 767px) {
      font-size: 12px;
    }

    @media (max-width: 576px) {
      font-size: 11px;
    }
  }

  &__head {
    display: flex;
    align-items: center;
  }

  .message__right--block {
    .message__count {
      margin-left: 40px;
    }

    .icon {
      margin-right: 23px;

      @media (max-width: 992px) {
        margin-right: 15px;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .message__right--block--phone {
    display: none;

    @media (max-width: 768px) {
      border-top: 1px solid rgba(0, 0, 0, 007);
      padding-top: 10px;
      display: flex;
      width: 100%;

      .icon {
        width: 40px;
        margin-right: 23px;
      }
    }

    @media (max-width: 576px) {
      .icon {
        margin-right: 18px;
      }
    }
  }

  @media (max-width: 576px) {
    padding-left: 15px;
    padding-right: 15px;
    align-items: flex-start;
  }
}

// modal-message
.message-head {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px 0;

  &__name {
    font-family: $bold;
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
  }

  &__avatar {
    border-radius: 50%;
    height: 42px;
    width: 42px;
    display: inline-block;

    img {
      width: 100%;
    }
  }

  &__info {
    padding-bottom: 15px;
  }

  .media-block {
    border: 1px solid rgba(16, 16, 16, 0.1);
  }

  @media (max-width: 992px) {
    padding: 10px 0;

    &__name {
      font-size: 14px;
    }

    &__info {
      width: 100%;
    }

    &__avatar {
      width: 38px;
      height: 38px;
    }
  }
}

.message-inner {
  display: flex;
  flex-direction: column;
}

.chat-block {
  display: flex;
  flex-wrap: wrap;

  &__group {
    display: flex;
    align-items: center;
  }

  &__person {
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
    height: 65px;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    .btn-prev {
      display: none;
      margin-bottom: 0;
    }

    img {
      width: 65px;
    }

    span {
      margin-left: 10px;
      vertical-align: middle;
      line-height: 1.5;
      font-size: 14px;
    }

    @media (max-width: 1659px) {
      img {
        width: 55px;
      }
    }

    @media (max-width: 1200px) {
      padding-left: 20px;
      padding-right: 20px;
      height: 50px;

      .btn-prev {
        display: block;
      }

      span {
        font-size: 13px;
      }
    }

    @media (max-width: 992px) {
      span {
        font-size: 13px;
      }
    }

    @media (max-width: 767px) {
      padding: 6px 10px;
      width: 100%;
      height: 45px;

      span {
        font-size: 12px;
      }

      img {
        width: 40px;
      }
    }
  }

  &__head {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding: 10px;

    .chat-block__title {
      font-size: 13px;
      width: 100%;
      padding-top: 5px;
    }

    .btn-prev {
      margin-bottom: 0;
    }

    @media (max-width: 1200px) {
      display: none;
    }
  }

  &__left {
    max-width: 830px;
    width: 73%;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
    background: #fff;
    position: relative;

    @media (max-width: 1659px) {
      width: 70%;
    }

    @media (max-width: 1200px) {
      width: 100%;
      max-width: 100%;
      order: 1;
    }
  }

  &__right {
    max-width: 300px;
    width: 26%;
    margin-left: 10px;

    @media (max-width: 1659px) {
      width: 28%;
    }

    @media (max-width: 1200px) {
      width: 100%;
      max-width: 100%;
      order: 0;
      margin-left: 0;
      margin-bottom: 15px;
    }
  }

  &__body {
    height: 530px;
    position: relative;

    @media (max-width: 1200px) {
      height: calc(100vh - 187px);
    }

    @media (max-width: 768px) {
      height: calc(100vh - 173px);
    }
  }

  &__message {
    padding: 18px 25px;
    height: 100%;
    overflow-y: auto;

    @media (max-width: 992px) {
      padding-left: 17px;
      padding-right: 17px;
    }
  }

  .message-input {
    position: relative;
    width: 100%;
    z-index: 99;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    background: #fff;

    .message-text {
      min-height: 45px;
      max-height: 150px;
      width: 100%;
      margin-left: 50px;
      margin-right: 50px;
      padding: 6px 0 6px 0;
      line-height: inherit;
      font-size: 14px;
      overflow-y: auto;
      word-wrap: break-word;
      box-sizing: border-box;

      @media (max-width: 992px) {
        max-height: 130px;
        -ms-overflow-style: none;
        scrollbar-width: none;
      }

      @media (max-width: 768px) {
        min-height: 40px;
      }
    }

    @media (max-width: 992px) {
      .message-text::-webkit-scrollbar {
        width: 0;
        background: transparent;
      }
    }

    .media-block-wrap {
      position: absolute;
      bottom: 5px;
      left: 8px;
    }

    button {
      position: absolute;
      bottom: 5px;
      right: 8px;
      padding: 0;
      width: 30px;
      height: 30px;
      border: 0;
      background: transparent;

      &:focus {
        outline: none;
      }

      svg {
        width: 20px;
      }
    }
  }

  .chat-view {
    background: #fcfcfc;
    z-index: 100;
    width: 100%;
  }
}

.chat {
  display: inline-block;
  width: 100%;

  .photo {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;

    img {
      width: 100%;
    }

    @media (max-width: 1200px) {
      width: 32px;
      height: 32px;
    }
  }

  &__item {
    margin-bottom: 10px;
  }

  .chat-content {
    font-size: 13px;
    line-height: normal;
    letter-spacing: 0.01em;
    max-width: 320px;
    display: inline-block;
    position: relative;

    @media (max-width: 1200px) {
      max-width: 260px;
    }

    @media (max-width: 767px) {
      font-size: 12px;

      .chat-media {
        width: 180px;
      }
    }
  }

  .chat-text {
    background: #fafafa;
    padding: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;

    @media (max-width: 1200px) {
      padding: 10px 6px;
    }

    span {
      display: block;
      font-size: 11px;
      padding-top: 3px;
    }
  }

  &.sent {
    .chat__item {
      float: right;
      clear: both;
    }

    .photo {
      float: right;
      margin-left: 8px;
      margin-right: 0;
    }
  }

  &.replies {
    .chat__item {
      float: left;
      clear: both;
    }
  }
}

//загрузка фото в чате
.chat-view {
  display: flex;
  flex-wrap: wrap;

  .file-view {
    width: 176px;
    height: 100px;
    background-size: cover;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 100px;
    text-transform: uppercase;
    margin-right: 10px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: 1300px) {
      width: 120px;
      height: 90px;
      line-height: 90px;

      div {
        font-size: 14px;
      }
    }

    @media (max-width: 992px) {
      width: 100px;
      height: 80px;
      line-height: 80px;
    }

    @media (max-width: 480px) {
      width: 80px;
      height: 50px;
      line-height: 50px;
    }
  }

  .del-vew {
    position: absolute;
    background-color: transparent;
    width: auto;
    height: auto;
    bottom: unset;
    top: 10px;
    right: 10px;
    line-height: 16px;
    border: none;

    @media (max-width: 1300px) {
      width: 15px;
      height: 15px;
      top: 5px;
      right: 5px;

      img {
        width: 100%;
      }
    }

    @media (max-width: 480px) {
      background: $accent;
      border-radius: 50%;
      line-height: 8px;
      top: 0;
      right: -5px;

      img {
        width: 6px;
      }
    }
  }
}

.media-block {
  label {
    margin-bottom: 0;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    width: 30px;
    height: 30px;

    img {
      cursor: pointer;
    }
  }

  input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
  }
}

.contact-list::-webkit-scrollbar {
  display: none;
}

.contact-list {
  -ms-overflow-style: none;
  scrollbar-width: none;

  li {
    display: block;
    font-size: 13px;
    margin-bottom: 10px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
    padding: 18px 25px 18px 25px;

    span {
      display: block;
      margin-bottom: 10px;
      line-height: 17px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (max-width: 1659px) {
      font-size: 14px;
    }

    @media (max-width: 1200px) {
      font-size: 13px;
      padding: 10px;

      span {
        margin-bottom: 6px;
      }
    }

    @media (max-width: 768px) {
      font-size: 12px;

      span {
        line-height: 1.3;
      }
    }

    @media (max-width: 480px) {
      font-size: 12px;
    }
  }

  li.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1200px) {
      width: 240px;
      flex-shrink: 0;
      margin: 2px 4px 2px 4px;

      &:last-child {
        margin-right: 8px;
      }
    }

    @media (max-width: 768px) {
      width: 180px;
    }
  }

  .count {
    width: 29px;
    height: 29px;
    font-size: 16px;
    line-height: 29px;

    @media (max-width: 1200px) {
      width: 20px;
      height: 20px;
      line-height: 20px;
      font-size: 11px;
    }
  }

  li.active {
    border-bottom: 1px solid $accent;
  }

  @media (max-width: 1200px) {
    display: flex;
    overflow: scroll;
  }
}

//конец
.head-block {
  .form-search-block {
    padding-bottom: 37px;

    @media (max-width: 992px) {
      padding-bottom: 25px;

      .btn.btn--light {
        width: 85px;
        margin-left: 5px;
      }

      input {
        width: calc(100% - 90px);
      }
    }

    @media (max-width: 576px) {
      padding-bottom: 15px;
    }
  }

  .filter-primary {
    margin-bottom: 30px;

    li {
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }

      .count {
        font-size: 10px;
      }
    }

    @media (max-width: 992px) {
      margin-bottom: 25px;
    }

    @media (max-width: 576px) {
      li {
        margin-right: 30px;
      }
    }

    @media (max-width: 576px) {
      margin-bottom: 15px;
    }
  }

  .btn--action {
    padding-right: 50px;
    padding-left: 50px;
    margin-left: 24px;
  }

  .btn {
    padding: 6px;
  }

  @media (max-width: 992px) {
    .btn {
      font-size: 13px;
      padding: 6px;
    }
  }
}

.head-block--right {
  text-align: right;
}

.message--lead {
  background: #f4f0e9;
}

.message-block {
  max-width: 383px;

  h3 {
    margin-bottom: 25px;

    @media (max-width: 768px) {
      margin-bottom: 15px;
    }
  }

  .form {
    .form__item {
      padding-top: 20px;

      &:first-child {
        padding-top: 0;
      }
    }

    .bootstrap-select .btn-light {
      padding: 9px 10px;
      margin-top: 0;
    }

    .bootstrap-select > .dropdown-toggle.bs-placeholder {
      color: rgba(0, 0, 0, 0.5);
    }

    textarea {
      height: 150px;
    }

    textarea,
    input {
      font-size: 13px;
    }

    button {
      margin-top: 23px;
      padding: 8px 15px;
    }

    .input-files {
      width: auto;
    }

    @media (max-width: 992px) {
      .bootstrap-select .btn-light,
      textarea {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .form__item {
        padding-top: 15px;
      }

      button.btn--w {
        font-size: 15px;
        padding: 7px 10px;
      }
    }

    @media (max-width: 768px) {
      button.btn--w {
        margin-top: 17px;
      }
    }
  }
}

