@import '../../common/_var';

.object {
  display: flex;
  flex-wrap: wrap;

  &__box {
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
    padding: 16px 25px;
    width: 362px;
    min-height: 120px;
    margin: 10px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &:focus {
      outline: none;
    }

    @media (max-width: 1659px) {
      width: calc((100% / 3) - 20px);
    }

    @media (max-width: 992px) {
      padding: 15px 17px;
      margin-left: 7px;
      margin-right: 7px;
      width: calc((100% / 3) - 14px);
    }

    @media (max-width: 700px) {
      width: calc((100% / 2) - 14px);
      margin-top: 5px;
      margin-bottom: 5px;
    }

    @media (max-width: 700px) {
      width: 100%;
    }
  }

  .object__box.slick-slide {
    @media (max-width: 1200px) {
      width: 300px;
      margin-left: 7px;
      margin-right: 7px;
    }

    @media (max-width: 992px) {
      width: 280px;
    }

    @media (max-width: 768px) {
      width: 240px;
    }

    @media (max-width: 576px) {
      width: 220px;
    }

    @media (max-width: 480px) {
      width: 215px;
    }
  }

  &__box.active {
    border-bottom: 1px solid $accent;
  }

  h4 {
    font-size: 14px;
    font-family: $bold;
    line-height: 20px;
    margin-bottom: 3px;
    color: $color-text;

    @media (max-width: 992px) {
      font-size: 13px;
    }

    @media (max-width: 768px) {
      font-size: 11px;
      line-height: normal;
    }
  }

  &__date {
    font-size: 13px;
    color: $color-p;

    @media (max-width: 768px) {
      font-size: 10px;
    }
  }

  .object__all {
    font-size: 13px;
    padding-top: 17px;

    span {
      color: $accent;
    }

    @media (max-width: 992px) {
      padding-top: 10px;
    }

    @media (max-width: 768px) {
      font-size: 10px;
      padding-top: 3px;
    }
  }

  .slick-track {
    display: flex;

    .slick-slide {
      height: auto;
    }
  }

  .slick-arrow {
    svg {
      path {
        transition: $transition;
      }
    }
  }

  .slick-disabled {
    pointer-events: none;
    display: none !important;
  }

  .slick-arrow:hover {
    svg {
      path {
        stroke: $accent;
        stroke-opacity: 1;
      }
    }
  }
}

.object--slider {
  margin-left: -10px;
  margin-right: -10px;

  @media (max-width: 1199px) {
    .slick-list {
      padding-left: 10px;
    }
  }
}
