@import "../var";

ul.pagination {
  justify-content: center;
  margin-bottom: 0;
  padding-top: 30px;

  li {
    display: block;
  }

  .page-link {
    color: #aea69d;
    border: 0;
    padding-bottom: 0;
    padding-top: 0;

    &:hover {
      background: transparent;
    }

    &:focus {
      outline: none;
    }
  }

  li.active {
    .page-link {
      color: $accent;
      background-color: transparent;
    }
  }

  svg {
    position: relative;
    top: -2px;
  }
}
