@import '../../common/_var';

.box {
  max-width: 510px;
  padding: 50px 60px;

  &__title {
    font-size: 24px;
    font-family: $bold;
    padding-bottom: 20px;
  }

  form {
    .group {
      position: relative;
    }

    input {
      width: 100%;
      display: block;
      color: #333;
      font-size: 13px;
      padding: 10px 5px 13px 0;
      border: none;
      border-bottom: 1px solid rgba(174, 166, 157, 0.2);

      &:focus {
        outline: none;
      }

      &:focus ~ .focus-border {
        width: 100%;
        transition: $transition;
        left: 0;
      }
    }

    .focus-border {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: $accent;
      transition: $transition;
    }
  }

  .icon-search {
    position: absolute;
    right: 0;
    padding: 0;
    bottom: 8px;
    background: transparent;
    border: none;
  }

  @media (max-width: 992px) {
    padding: 40px 50px;

    .box__title {
      font-size: 19px;
      padding-bottom: 15px;
    }
  }

  @media (max-width: 576px) {
    padding: 30px 25px 40px 25px;

    .box__title {
      padding-bottom: 10px;
    }

    form input {
      padding-top: 5px;
      padding-bottom: 8px;
    }

    .icon-search {
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.modal-sent {
  max-width: 777px;

  h3 {
    margin-bottom: 14px;
  }
}

.modal-lg-width {
  @media (min-width: 1100px) {
    max-width: 1000px;
  }

  @media (max-width: 1099px) {
    max-width: 100%;
    margin-right: 8px;
    margin-left: 8px;
    width: auto;
  }

  .close {
    position: absolute;
    right: -50px;
    z-index: 1000;
    top: 0;
    opacity: 1;
    cursor: pointer;

    &:focus {
      outline: none;

      svg {
        path {
          stroke: $accent;
        }
      }
    }

    @media (max-width: 1200px) {
      right: 15px;
      top: 15px;

      svg {
        width: 20px;

        path {
          stroke: #000;
        }
      }
    }

    @media (max-width: 768px) {
      padding: 5px;

      svg {
        width: 15px;
      }
    }

    @media (max-width: 576px) {
      top: 10px;
      right: 10px;
    }
  }
}

.box-catalog {
  padding: 30px 25px;

  &__title {
    font-family: $bold;
    color: #000;
    padding-bottom: 20px;
  }

  .box-catalog__btn {
    .btn:last-child {
      margin-left: 10px;
    }
  }

  .box-catalog__info {
    color: #000;
    font-size: 15px;

    span {
      color: $accent;
    }
  }

  .box-catalog__tovar {
    padding-top: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(174, 166, 157, 0.1);
    border-top: 1px solid rgba(174, 166, 157, 0.1);
  }

  .box-catalog__bottom {
    padding-top: 30px;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 992px) {
    padding-top: 20px;
    padding-bottom: 20px;

    .box-catalog__bottom {
      padding-top: 20px;
    }

    .btn {
      font-size: 12px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .box-catalog__info {
      font-size: 13px;
    }
  }

  @media (max-width: 768px) {
    .box-catalog__btn {
      padding-top: 12px;
      width: 100%;

      .btn {
        width: 49%;
      }
    }

    .box-catalog__title {
      font-size: 15px;
      padding-bottom: 15px;
    }
  }

  @media (max-width: 480px) {
    padding: 17px 13px;

    .box-catalog__bottom {
      padding-top: 15px;
    }

    .box-catalog__info {
      font-size: 12px;
    }

    .box-catalog__btn {
      .btn {
        width: 100%;

        &:last-child {
          margin-left: 0;
          margin-top: 7px;
        }
      }
    }

    .box-catalog__title {
      font-size: 14px;
      padding-bottom: 10px;
    }
  }
}

.modal-content {
  background: #fff;
  margin: 0 auto;
  border: none;
  border-radius: 0;

  .close-modal {
    position: absolute;
    right: -3.125rem;
    z-index: 1000;
    top: 0;
    opacity: 1;
    cursor: pointer;
  }
}

.modal-dialog-send {
  max-width: 700px;

  button {
    position: absolute;
    right: 20px;
    z-index: 100;
    top: 30px;
    opacity: 1;
    cursor: pointer;
  }
}

.box-send {
  padding: 40px 50px;

  .title {
    font-family: $bold;
    font-size: 24px;
    color: #000;
    margin-bottom: 15px;
  }

  .sub {
    color: #000;
  }
}

.modal-dialog-change {
  width: auto;
  max-width: 100%;

  @media (min-width: 480px) {
    max-width: 360px;
  }
}

.modal-change {
  padding: 35px;

  .form .form__title {
    font-size: 19px;
    margin-bottom: 20px;
  }

  .form__item {
    padding-bottom: 20px;
  }

  button {
    width: 100%;
    padding: 7px 16px;
    margin-top: 0;
  }

  @media (max-width: 992px) {
    padding: 30px 25px;

    .form .form__title {
      font-size: 18px;
      margin-bottom: 22px;
    }

    button {
      font-size: 15px;
      margin-top: 10px;
    }
  }

  @media (max-width: 480px) {
    padding: 20px 15px;

    .form .form__title {
      font-size: 16px;
      margin-bottom: 15px;
    }

    .form__item {
      padding-bottom: 15px;

      label {
        margin-bottom: 8px;
      }
    }

    button {
      margin-top: 0;
      font-size: 13px;
    }
  }
}

.modal-auth {
  max-width: 400px;

  .close {
    position: absolute;
    right: -40px;
    opacity: 1;
    width: 16px;
    top: -30px;
  }

  .custom-label {
    margin-bottom: 0;
    font-size: 13px;
    vertical-align: middle;
    line-height: 23px;
  }

  .tab-pane {
    padding: 50px 40px 30px 40px;
  }

  .form {
    .form__item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .form__item-pt {
      padding-top: 5px;
      margin-bottom: 17px;
    }

    .form__text {
      font-size: 13px;
      text-align: center;
      color: $color-p;
      padding-top: 20px;
      line-height: 17px;
    }

    input {
      font-size: 13px;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    button {
      width: 100%;
      padding: 6px;
      margin-top: 5px;
    }
  }

  .restore-password {
    padding-top: 20px;
    text-align: center;

    .restore {
      background-color: transparent;
      border: none;
    }

    font-size: 13px;

    img {
      margin-right: 12px;
      margin-top: -2px;
    }

    span {
      vertical-align: middle;
      color: rgba(0, 0, 0, 0.3);
    }
  }

  a:not([href]):not([tabindex]):focus,
  a:not([href]):not([tabindex]):hover {
    color: #fff;
  }

  a:not([href]) {
    color: #fff;
  }

  .extra-block {
    padding-top: 10px;

    .btn {
      font-size: 14px;
      padding: 5px 23px;
    }
  }

  @media (max-width: 992px) {
    .tab-pane {
      padding: 40px 30px 30px 30px;

      .form {
        button {
          font-size: 15px;
          padding: 8px;
        }

        .form__item-pt {
          margin-bottom: 10px;
        }

        .form__text {
          font-size: 12px;
        }
      }

      .wrap-basis--block {
        .form {
          .form__text {
            padding-top: 0;
            padding-bottom: 20px;
          }
        }
      }
    }
  }

  @media (max-width: 576px) {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;

    .tab-pane {
      padding: 35px 20px 30px 20px;

      .form {
        input {
          font-size: 11px;
        }

        button {
          font-size: 13px;
        }

        .form__text {
          font-size: 10px;
          line-height: 12px;
        }
      }
    }

    .close {
      right: 0;
    }
  }

  @media (max-width: 480px) {
    max-width: 310px;
  }
}

.modal-completed {
  max-width: 896px;

  .modal-title {
    font-size: 36px;
    font-family: $bold;
    line-height: normal;
  }

  h3.title {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .modal-sub {
    color: rgba(36, 36, 36, 0.8);
  }

  .modal-content {
    padding: 40px 35px;
  }

  .toggle {
    padding-top: 25px;
  }

  .text-block-wrapper {
    padding-top: 30px;
  }

  @media (max-width: 1200px) {
    .modal-title {
      font-size: 30px;
    }
  }

  @media (max-width: 992px) {
    .modal-title {
      font-size: 28px;
    }

    h3.title {
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.toggle {
  &__item {
    position: relative;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  span {
    vertical-align: middle;
    margin-top: -5px;
  }
}

.modal-adress {
  max-width: 1200px;

  .nav-tabs {
    .nav-item {
      box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
    }

    .nav-link {
      width: 190px;
      padding: 0;
      height: 50px;
      line-height: 50px;
      background: #fff;
      color: #495057;
    }
  }

  .modal-head {
    padding: 35px 35px 25px 35px;
    z-index: 10000;
  }

  .address-list-wrap {
    height: 520px;
    overflow: auto;
  }

  .tab-pane-map {
    height: 690px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background: #f9f9f9;

    form {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 1000;
      left: 0;

      input {
        width: 100%;
        background: #fff;
        border: none;
        height: 50px;
        color: $color-p;
        padding-left: 30px;

        &:focus {
          outline: none;
        }
      }

      button {
        background: $accent;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        border: none;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }

  .map-tab {
    position: relative;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1300px) {
    .modal-head {
      padding: 25px 35px 20px 35px;
    }

    .tab-pane-adress {
      padding-left: 30px;
      padding-right: 35px;
    }

    .tab-pane-map {
      form {
        input {
          font-size: 15px;
          height: 45px;
          padding-right: 20px;
        }

        button {
          width: 45px;
          height: 45px;
          line-height: 45px;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .modal-content {
      margin-right: 5px;
      margin-left: 5px;
    }

    .tab-pane-map {
      height: 550px;
    }
  }

  @media (max-width: 992px) {
    .nav-tabs {
      padding-bottom: 0;

      .nav-link {
        width: 150px;
        height: 40px;
        line-height: 40px;
      }
    }

    .modal-head {
      padding-bottom: 10px;
    }
  }

  @media (max-width: 768px) {
    .tab-pane-adress {
      padding-left: 20px;
      padding-right: 20px;
    }

    .modal-head {
      padding: 20px;
      padding-bottom: 10px;
    }

    .address-list-wrap {
      height: 480px;
    }

    .tab-pane-map {
      height: 450px;

      form {
        input {
          font-size: 13px;
          height: 40px;
          padding-right: 10px;
        }

        button {
          width: 40px;
          height: 40px;
          line-height: 40px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .tab-pane-adress {
      padding-left: 10px;
      padding-right: 10px;
    }

    .modal-head {
      padding: 15px 10px 7px 10px;
    }

    .nav-tabs {
      .nav-item {
        width: 100%;
        margin-bottom: 5px;
        margin-right: 0;
        margin-left: 0;
        padding: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .nav-link {
        width: 100%;
      }
    }

    .address-list-wrap {
      height: 420px;
    }
  }
}

.modal-dialog-individual {
  @media (min-width: 800px) {
    max-width: 760px;
  }

  @media (max-width: 760px) {
    margin: 0.5rem;
  }

  max-width: 100%;
  width: auto;

  .form__sib-text {
    font-size: 15px;
    padding-bottom: 19px;
  }

  .form .form__title {
    margin-bottom: 10px;
  }

  textarea {
    height: 200px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .btn {
    margin-top: 0;
    width: auto;
    padding-left: 85px;
    padding-right: 85px;
  }

  @media (max-width: 992px) {
    .form__sib-text {
      padding-bottom: 13px;
      font-size: 13px;
      line-height: normal;
    }

    .form .form__title {
      margin-bottom: 10px;
    }

    textarea {
      height: 150px;
    }
  }

  @media (max-width: 576px) {
    .btn {
      width: 100%;
    }
  }
}

.balance-box {
  max-width: 433px;

  .modal-content {
    margin-left: 5px;
    margin-right: 5px;
  }

  .head-balance {
    padding: 25px 25px 15px 25px;

    h3 {
      display: inline-block;
      margin-bottom: 0;
    }

    span {
      padding-left: 12px;
      font-weight: 500;

      @media (max-width: 992px) {
        font-size: 15px;
      }
    }

    @media (max-width: 480px) {
      padding: 20px 15px 13px 15px;
    }
  }

  .popular-choose {
    padding-top: 18px;
  }

  .form {
    &__head {
      padding: 0 25px 20px 25px;
    }

    &__item {
      padding: 0 25px 10px 25px;
    }

    &__btn {
      padding: 10px 25px 25px 25px;
    }

    input {
      padding: 8px 15px;
    }

    @media (max-width: 992px) {
      &__btn {
        button {
          font-size: 14px;
          padding: 9px 15px;
        }
      }
    }

    @media (max-width: 480px) {
      &__head {
        padding: 0 15px 10px 15px;
      }

      &__item {
        padding: 0 15px 10px 15px;
      }

      &__btn {
        padding: 10px 0 0 0;
      }
    }
  }

  .form-conent {
    display: none;
  }
}

.modal-profile {
  @media (min-width: 900px) {
    max-width: 851px;
  }

  @media (max-width: 850px) {
    margin: 05rem;
  }

  max-width: 100%;
  width: auto;

  .modal-head {
    padding: 40px 30px 35px 30px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;

    .raiting-block {
      padding-bottom: 15px;
    }
  }

  .modal-body {
    padding: 0 45px 30px 35px;
    background: #fff;
  }

  .modal-bottom {
    margin-top: 10px;
    background: #fff;
  }

  .btn-group {
    position: absolute;
    right: -34%;
    display: block;
    width: 260px;

    button {
      display: block;
      width: 100%;
      margin-bottom: 9px;
      background: #fff;
      border: 1px solid $accent;
      color: $color-text;

      &:hover {
        background: $accent;
        color: #fff;
      }
    }
  }

  @media (max-width: 1659px) {
    .btn-group {
      position: relative;
      right: 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      // margin-right: -4px;
      // margin-left: -4px;

      .btn {
        flex: unset;
        flex-basis: calc((100% / 3) - 9px);
        margin-right: 4px;
        margin-left: 4px;
      }
    }
  }

  @media (max-width: 992px) {
    .modal-head {
      padding: 30px 25px;
    }
  }

  @media (max-width: 768px) {
    .modal-head {
      padding: 25px 15px 30px 15px;

      .raiting-block {
        padding-bottom: 8px;
      }
    }

    .modal-body {
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 14px;
    }

    .btn-group {
      .btn {
        font-size: 13px;
        padding-left: 5px;
        padding-right: 5px;
        flex-basis: calc((100% / 2) - 9px);
      }
    }
  }

  @media (max-width: 480px) {
    .btn-group {
      .btn {
        flex-basis: 100%;
      }
    }
  }
}

.modal-bottom-filter {
  .modal-bottom__head {
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
    padding: 33px 30px 33px 28px;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-size: 16px;
      margin-bottom: 0;
      line-height: normal;
    }

    ul.filter {
      li {
        display: inline-block;
        font-size: 13px;
        padding-right: 30px;
        margin-bottom: 0;

        &:last-child {
          padding-right: 0;
        }

        a {
          color: #000;
        }
      }

      .border-arrow {
        margin-left: 6px;
      }
    }

    @media (max-width: 992px) {
      padding-top: 20px;
      padding-bottom: 20px;

      h3 {
        font-size: 15px;
        margin-bottom: 7px;
      }

      ul.filter {
        li {
          font-size: 12px;
          padding-right: 18px;
        }
      }
    }

    @media (max-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;

      h3 {
        width: 100%;
      }
    }

    @media (max-width: 576px) {
      ul.filter {
        .border-arrow {
          margin-left: 3px;
        }

        li {
          padding-right: 13px;
        }
      }
    }
  }

  .modal-bottom__body {
    padding-left: 30px;
    padding-right: 30px;
    background: #fff;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
    margin-top: 10px;

    .feedback {
      padding-top: 28px;

      .feedback__item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }

      .feedback__body.hide {
        display: none;
      }

      .hide-button {
        background: #aea69d;
        color: #fff;
        border-color: #aea69d;

        &.active-hide {
          border-color: $accent;
          background: #fff;
          color: #000;
        }
      }
    }

    @media (max-width: 992px) {
      .btn {
        font-size: 14px;
        padding-left: 11px;
        padding-right: 11px;
      }
    }

    @media (max-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;

      .btn {
        margin-left: auto;
        margin-right: auto;
        font-size: 13px;
        margin-top: 10px;
      }
    }
  }
}

.modal-white {
  max-width: 550px;

  .modal-content {
    padding: 30px 25px;
  }

  h3 {
    margin-bottom: 0;
    line-height: 1.3;
  }

  .modal-text {
    padding-top: 15px;
    font-size: 14px;
    line-height: 1.35rem;

    a {
      color: $accent;
    }
  }

  .btn-group {
    justify-content: space-between;
    padding-top: 20px;

    .btn {
      margin-left: 17px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .btn--w {
    margin-top: 20px;
  }

  textarea {
    height: 140px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 13px;
    padding: 15px;

    &:focus {
      outline: none;
    }
  }

  @media (max-width: 992px) {
    .modal-content {
      padding: 25px;
    }

    .modal-text {
      padding-top: 10px;
      font-size: 13px;
    }

    .btn-group {
      .btn {
        margin-left: 9px;
      }
    }
  }

  @media (max-width: 576px) {
    .modal-content {
      padding-left: 17px;
      padding-right: 17px;
    }

    .modal-text {
      line-height: inherit;
      font-size: 12px;
    }

    .btn-group {
      padding-top: 15px;
    }
  }
}

.modal-custom {
  .modal-content {
    padding: 35px;

    @media (max-width: 992px) {
      padding: 25px 20px;
    }
  }

  h3 {
    font-size: 17px;
  }

  textarea {
    padding: 13px;
  }

  @media (max-width: 992px) {
    .modal-content {
      padding: 23px 20px;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 15px;
      text-align: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 15px;
    }

    .btn--w {
      margin-top: 10px;
    }
  }
}

.modal-dialog-median {
  max-width: 310px;

  .modal-content {
    padding: 40px 30px;
  }

  h3 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form__item {
    padding-bottom: 20px;
  }

  textarea {
    height: 110px;
    width: 100%;
    border: 1px solid rgba(174, 166, 157, 0.3);

    &:focus {
      outline: none;
    }
  }

  button {
    width: 100%;
  }

  .form__text {
    line-height: 21px;
    font-size: 15px;
    padding-bottom: 40px;
    text-align: center;
  }

  .form__item-pb {
    padding-bottom: 30px;
  }
}

.modal-share {
  max-width: 535px;

  .modal-content {
    padding: 25px 40px 35px 25px;
  }

  h3 {
    margin-bottom: 25px;
  }
	
	.form {
		padding-top: 10px;

		label {
			width: 100%;
			font-family: $bold;
		}

		input {
			width: calc(100% - 145px);
		}

		button {
			width: 145px;
		}
	}

	.search-item {
		padding-bottom: 0;
	}

	@media (max-width: 1200px) {
		svg {
			height: 100%;
		}

    .facebook {
      width: 45px;
    }

		.telegram {
      width: 45px;
		}

    .vk {
      width: 56px;
    }

    .whatsApp {
      width: 45px;
    }

		h3 {
			margin-bottom: 20px;
		}
	}

	@media (max-width: 990px) {
		.modal-content {
			padding: 15px;
		}

		h3 {
			font-size: 17px;
		}

		label {
			font-size: 14px;
		}

    .form {
			padding-top: 15px;
		}

    .facebook {
      width: 32px;
    }

    .telegram,
    .vk,
    .whatsApp {
      width: 35px;
    }
	}

	@media (max-width: 480px) {
		.form {
			input {
				width: 100%;
			}

			button {
				width: 100%;
				margin-top: 10px;
			}
		}
	}
}

.modal-proposition {
  max-width: 1224px;

  @media (min-width: 1250px) {
    max-width: 1224px;
  }

  @media (max-width: 1249px) {
    margin: 0.5rem;
  }

  width: auto;

  .block-position {
    padding-top: 60px;
  }

  .modal-content {
    padding: 60px;
  }

  .title {
    font-size: 18px;
    margin-right: 30px;
    font-family: $bold;
  }

  h3 {
    margin-bottom: 28px;
  }

  // head
  .modal-head {
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    .modal-head__content {
      width: calc(100% - 260px);
    }

    .modal-head__button {
      width: 240px;

      button {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        padding-left: 5px;
        padding-right: 5px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .dop {
      padding-bottom: 10.3px;
      display: block;
    }

    &__line {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .modal-head__line--end {
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      padding-top: 15px;

      .city {
        margin-right: 50px;
        max-width: 350px;
      }
    }

    .modal-head__block {
      padding-bottom: 20px;
      width: 100%;

      .modal-head__group {
        padding-bottom: 15px;
        display: flex;
        flex-wrap: wrap;

        h3 {
          margin-bottom: 0;
          margin-right: 20px;
        }
      }

      .item {
        display: inline-block;
      }

      .item-pl {
        padding-left: 20px;
      }
    }

    .information-list {
      padding-top: 30px;
    }
  }

  ul.list {
    li {
      display: block;
      font-size: 13px;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 5px;
      color: #000;

      span {
        font-family: $bold;
      }

      &::before {
        content: none;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // body
  .modal-body {
    padding-top: 30px;
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  // чат
  .chat-block .chat-block__left {
    width: 100%;
    max-width: 100%;
  }

  .chat-block-wrap {
    padding-top: 60px;

    h3 {
      margin-bottom: 10px;
      font-size: 20px;
    }

    p {
      margin-bottom: 0;
      font-size: 14px;
    }

    .chat-block {
      padding-top: 25px;
    }
  }

  .city {
    span {
      color: #000;
      margin-left: 12px;
      vertical-align: middle;
    }

    .sub {
      color: $color-p;
      font-size: 13px;
      padding-top: 10px;
      line-height: 17px;
    }
  }

  @media (max-width: 1659px) {
    .modal-content {
      padding: 50px 40px;
    }
  }

  @media (max-width: 1300px) {
    .modal-content {
      padding: 30px;
    }
  }

  @media (max-width: 1200px) {
    .modal-head {
      .modal-head__content {
        width: 100%;
        order: 1;
      }

      .modal-head__button {
        order: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 30px;

        .btn,
        .btn-share {
          width: calc((100% / 3) - 15px);
          padding: 5px;
          font-size: 12px;
          margin-bottom: 5px;
          margin-right: 15px;

          &:last-child {
            margin-right: 0;
          }
        }

        .btn-share {
          background: $accent;
          color: #fff;

          svg {
            path {
              fill: #fff;
            }
          }
        }

        button:last-child {
          margin-bottom: 5px;
        }
      }
    }
  }

  @media (max-width: 992px) {
    .modal-content {
      padding-left: 25px;
      padding-right: 25px;
    }

    .notes-block {
      justify-content: space-between;

      .notes-block__item {
        width: 49%;
        margin-bottom: 5px;
        margin-right: 0;
        margin-left: 0;
      }
    }

    .chat-block-wrap {
      padding-top: 40px;

      h3 {
        margin-bottom: 7px;
        font-size: 18px;
      }
    }

    .block-position {
      padding-top: 30px;
    }

    .modal-head {
      .modal-head__line--end {
        padding-bottom: 13px;
      }

      .information-list {
        border-top: 0.0625rem solid rgba(0, 0, 0, 0.05);
        padding-top: 13px;
      }
    }

    .modal-body {
      padding-top: 25px;
    }
  }

  @media (max-width: 768px) {
    .modal-content {
      padding: 20px 15px;
    }

    .block-position {
      padding-top: 20px;
    }

    h3 {
      font-size: 16px;
      margin-bottom: 20px;
    }

    .title {
      font-size: 16px;
      margin-right: 20px;
    }

    .modal-head {
      font-size: 12px;

      .dop {
        padding-top: 3px;
      }

      .modal-head__line--end .city {
        max-width: 100%;
        margin-bottom: 10px;
        margin-right: 10px;
      }

      .modal-head__button {
        padding-bottom: 25px;

        .btn,
        .btn-share {
          font-size: 12px;
        }
      }
    }

    .city .sub {
      padding-top: 6px;
      font-size: 12px;
    }

    ul.list {
      li {
        font-size: 11px;
        margin-bottom: 3px;
      }
    }
  }

  @media (max-width: 650px) {
    .modal-head {
      .modal-head__button {
        .btn,
        .btn-share {
          width: 100%;
          margin-bottom: 7px;
          margin-right: 0;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  @media (max-width: 576px) {
    .chat-block-wrap {
      padding-top: 35px;

      h3 {
        margin-bottom: 7px;
        font-size: 16px;
      }

      p {
        font-size: 12px;
        line-height: normal;
      }

      .chat-block {
        padding-top: 20px;
      }
    }

    .block-position {
      padding-top: 10px;
    }

    .modal-body {
      padding-top: 10px;
    }

    .modal-head .modal-head__block .item-pl {
      padding-left: 15px;
    }

    .custom-label {
      font-size: 12px;
    }
  }

  @media (max-width: 480px) {
    .notes-block {
      .notes-block__item {
        width: 100%;
      }
    }

    .modal-head {
      font-size: 12px;
    }
  }
}

.modal-inconsistency {
  max-width: 462px;

  .modal-content {
    padding: 40px;
  }

  .item {
    padding-bottom: 10px;
  }

  h3 {
    margin-bottom: 24px;
  }

  h3.mb {
    margin-bottom: 12px;
  }

  .input-files {
    padding-top: 7px;
    padding-bottom: 25px;
  }

  textarea {
    height: 150px;
  }

  .star-rating {
    padding-bottom: 15px;
  }

  p {
    font-size: 13px;
    margin-bottom: 9px;
  }
}

.modal-calendar {
  max-width: 1222px;

  h3 {
    margin-bottom: 15px;
  }

  .btn-group {
    position: absolute;
    right: -240px;
    top: 0;
    width: 230px;
    display: block;

    .btn {
      width: 100%;
    }

    .btn:first-child {
      margin-bottom: 10px;
    }

    .btn:last-child {
      background: #fff;

      &:hover {
        background: $accent;
      }
    }
  }

  .modal-wrap {
    padding: 40px 50px;
  }
}

.modal-add {
  max-width: 330px;

  .modal-content {
    background: #fff;
  }

  .modal-form {
    padding: 20px 15px 22px 20px;
  }

  .item {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 22px;
  }

  .checkbox__text {
    border: none;
    color: $color-p;
    line-height: 21px;
    width: 90%;

    &:focus {
      outline: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      color: #000;
    }
  }

  input[type='checkbox'] {
    display: block;
  }

  .container-check .check-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border: 1px solid rgba(171, 171, 171, 0.75);
    background-color: #fff;
  }

  .modal-choose {
    border: 1px solid rgba(174, 166, 157, 0.3);
    padding: 12px 17px;
  }

  .container-check.active .checkbox__text {
    color: #000;
  }

  .container-check {
    display: block;
    position: relative;
    padding-left: 36px;
    cursor: pointer;
    user-select: none;
    margin-bottom: 22px;
  }

  .container-check .check-input:checked ~ .checkmark {
    background-color: $accent;
  }
}

.modal-catalog {
  max-width: 1242px;

  .open-result {
    display: none;
  }

  .catalog-inner {
    padding: 50px 30px;
    flex-basis: 850px;
    background-color: #fff;

    .catalog-inner__line {
      .catalog-inner__img {
        width: 220px;
      }

      .catalog-inner__block {
        width: calc(100% - 240px);
      }
    }
  }

  .modal-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: transparent;
  }

  .result-wrapper {
    flex-basis: 375px;

    .btn-group {
      width: 100%;
    }

    .btn--light {
      background: #fff;

      &:hover {
        color: $color-text;
      }
    }
  }

  @media (max-width: 1365px) {
    max-width: 850px;

    .result-wrapper {
      display: none;
    }

    .catalog-inner {
      flex-basis: 100%;
    }

    .open-result {
      display: block;
      font-size: 12px;
      padding: 5px 7px;
      margin-top: 15px;
    }
  }

  @media (max-width: 992px) {
    .catalog-inner {
      padding: 35px 20px;
    }
  }

  @media (max-width: 768px) {
    .catalog-inner {
      padding: 35px 20px;

      .catalog-inner__line {
        .catalog-inner__img {
          width: 180px;
        }

        .catalog-inner__block {
          width: calc(100% - 180px);
        }
      }
    }
  }

  @media (max-width: 576px) {
    .catalog-inner {
      padding: 25px 10px;

      .catalog-inner__line {
        .catalog-inner__block {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .catalog-inner .notes-block__item {
      width: 100%;
    }
  }
}

.modal-information {
  @media (min-width: 1260px) {
    max-width: 1230px;
  }

  @media (max-width: 1259px) {
    max-width: 100%;
    margin-right: 8px;
    margin-left: 8px;
    width: auto;
  }

  .modal-content {
    padding: 40px 30px;
    position: relative;

    h3 {
      margin-bottom: 30px;
    }

    .btn--info {
      min-width: 160px;
      width: 100%;
    }

    .box-item {
      padding-right: 15px;
    }

    .close {
      position: absolute;
      right: 40px;
      top: 30px;
    }
  }

  .scroll-default {
    height: 425px;
    overflow-y: auto;

    .box-item {
      margin: 12px 10px;
    }
	}

	.scroll-default--more {
		height: 600px;
	}
	
	.a-block {
		margin: 10px;
	}

  @media (max-width: 992px) {
    .modal-content {
      padding: 30px 20px;

      h3 {
        margin-bottom: 20px;
      }

      .close {
        top: 20px;

        svg {
          width: 20px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .box-item {
      .box-item__group {
        width: 100%;

        .btn {
          margin-left: 110px;
          width: auto;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .modal-content {
      padding: 20px 10px;

      h3 {
        margin-bottom: 7px;
      }
    }

    .mCSB_inside > .mCSB_container {
      margin-right: 19px;
    }
  }

  @media (max-width: 576px) {
    h3 {
      font-size: 15px;
    }

    .modal-content {
      .close {
        top: 15px;

        svg {
          width: 15px;
        }
      }
    }

    .box-item {
      .box-item__group {
        width: 100%;

        .btn {
          margin-left: 0;
          width: 100%;
        }
      }

      .box-item__group--flex {
        .box-item__img {
          width: 130px;
          margin-right: 0;
          padding-bottom: 10px;
        }

        .box-item__info {
          width: 100%;
        }
      }
    }
  }
}

.scroll-default {
  .mCS-custom-el.mCSB_scrollTools .mCSB_draggerContainer {
    height: 100%;
  }
}

.modal-dialog-static {
  max-width: 590px;

  .modal-content {
    padding: 35px 25px 17px 25px;

    h3 {
      text-align: center;
      margin-bottom: 20px;
    }

    .form {
      .form__item {
        width: 250px;
        margin-right: 30px;
        margin-bottom: 29px;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }

      .form__item--width {
        width: 342px;
      }

      .btn-send {
        margin-top: 28px;
        text-align: center;

        .btn {
          max-width: 250px;
          width: 100%;
        }
      }

      .input-file-wrap {
        width: 100%;
      }
    }
  }
}

.modal-order {
  max-width: 540px;

  .modal-content {
    padding: 40px;

    h3 {
      margin-bottom: 13px;
    }

    p {
      font-size: 14px;
      color: $color-p;
      line-height: 22px;
      margin-bottom: 20px;
    }

    .form__inline {
      .item:first-child {
        padding-right: 10px;
      }
    }
  }

  .form-check {
    width: 223px;
    background: rgb(244, 240, 233);
    padding: 13px 15px;
    color: $color-p;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(174, 166, 157, 0.3);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
    margin-bottom: 0;
  }

  input[type="radio"]:checked + .form-check {
    background: #fff;
    border: none;
    border-bottom: 1px solid $accent;
  }

  .btn-group {
    width: 100%;
    padding-top: 25px;

    .btn:first-child {
      margin-right: 10px;
    }
  }
}

.box-call-modal {
  padding: 35px;
  text-align: center;

  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .modal-content-width {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    p {
      padding-left: 40px;
      padding-right: 40px;
      font-size: 15px;
    }

    .form {
      padding-top: 20px;

      button {
        margin-top: 20px;
        padding: 8px;
      }
    }
  }

  @media (max-width: 1200px) {
    h3 {
      font-size: 20px;
    }

    .modal-content-width {
      p {
        font-size: 14px;
      }

      .form {
        button {
          margin-top: 20px;
          padding: 6px;
        }

        input {
          padding: 6px 10px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 25px 20px;

    h3 {
      margin-bottom: 15px;
      font-size: 18px;
    }

    .modal-content-width {
      p {
        font-size: 13px;
        padding-left: 0;
        padding-right: 0;
      }

      .form {
        button {
          font-size: 13px;
          padding: 5px;
          margin-top: 15px;
        }

        input {
          padding: 4px 8px;
        }
      }
    }
  }

  @media (max-width: 576px) {
    padding: 20px 10px;

    h3 {
      margin-bottom: 10px;
      font-size: 16px;
    }

    .modal-content-width {
      width: 100%;

      p {
        font-size: 12px;
      }
    }

    .form {
      button {
        width: 100%;
        margin-top: 13px;
      }
    }
  }
}

.modal-md-width {
  @media (min-width: 1201px) {
    max-width: 835px;
  }

  @media (max-width: 1200px) {
    max-width: 700px;
  }

  @media (max-width: 870px) {
    max-width: 100%;
    margin-right: 8px;
    margin-left: 8px;
    width: auto;
  }
}
