.raiting {
  li {
    display: inline-block;
    margin-right: 5px;
  }
}

.all-rating {
  color: #aea69d;
  font-size: 13px;
}

.all-rating--border {
  border: 1px solid rgba(174, 166, 157, 0.3);
  width: 70px;
  text-align: center;
  padding: 7px 10px;
  color: #000;

  @media (max-width: 1659px) {
    width: 50px;
  }

  @media (max-width: 992px) {
    padding: 6px;
    width: 44px;
    font-size: 12px;
  }

  @media (max-width: 576px) {
    padding: 4px;
    font-size: 11px;
  }
}

.raiting-block {
  display: flex;
  align-items: center;

  .all-rating {
    margin-left: 15px;
  }

  .reviews-el {
    padding-left: 20px;
  }

  @media (max-width: 1659px) {
    .reviews-el {
      padding-left: 10px;
    }
  }
}
