@import "../var";

.bootstrap-select {
	> .dropdown-toggle.bs-placeholder {
		color: #000;
	}

	.btn-light {
		background: #fff;
		border: 1px solid rgba(174, 166, 157, 0.3);
		padding: 9px 13px;
		color: #000;
		font-size: 13px;

		@media (max-width: 576px) {
			padding: 7px 9px;
			font-size: 12px;
		}
	}

	.dropdown-toggle::after {
		border: none;
		background: url(../img/icon/arrow-picker.png);
		width: 17px;
		height: 10px;
		opacity: 0.4;
		vertical-align: middle;

		@media (max-width: 768px) {
			background: url("data:image/svg+xml;utf8,<svg width='15' height='10' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 1L7 7L13 1' stroke='rgb(174, 166, 157)'/></svg>");
			opacity: 1;
		}
	}

	.btn-light:not(:disabled):not(.disabled).active,
	.btn-light:not(:disabled):not(.disabled):active,
	.show > .btn-light.dropdown-toggle {
		background: #fff;
		border: 1px solid rgba(174, 166, 157, 0.3);

		@media (max-width: 767px) {
			border-style: dashed;
		}
	}

	.bootstrap-select > .dropdown-toggle.bs-placeholder,
	.bootstrap-select > .dropdown-toggle.bs-placeholder:active,
	.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
	.bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
		color: #aea69d;
	}

	.dropdown-item.active,
	.dropdown-item:active {
		background: #fff;
		color: #aea69d;
	}

	.btn-light.focus,
	.btn-light:focus {
		box-shadow: none;
	}
}

.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-light.dropdown-toggle:focus {
	box-shadow: none;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
	outline: none !important;
}

.bootstrap-select .dropdown-menu li a:focus {
	outline: none;
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
	background: #fff;
}

.bootstrap-select .dropdown-menu li {
	font-size: 13px;
}

.bootstrap-select.custom-center {
	.filter-option-inner-inner {
		text-align: center;
	}
}

.dropdown-item {
	@media (max-width: 992px) {
		padding-left: 15px;
		padding-right: 15px;
	}

	@media (max-width: 768px) {
		padding-left: 7px;
		padding-right: 7px;
	}
}

.bootstrap-select.bright {
	> .dropdown-toggle.bs-placeholder {
		color: $color-p;
	}

	.btn-light {
		color: $color-p;
	}
}

.bootstrap-select.color-n {
	> .dropdown-toggle.bs-placeholder {
		color: #aea69d;
	}

	.btn-light {
		color: #aea69d;
	}
}

.bootstrap-select.custom:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 265px;
}

.bootstrap-select.width-all:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 100%;
}

.bootstrap-select.cutsom-small:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 180px;
}

.bootstrap-select.cutsom-min:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 110px;

	.dropdown-toggle::after {
		@media (max-width: 992px) {
			background: url("data:image/svg+xml;utf8,<svg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 1L7 7L13 1' stroke='rgb(174, 166, 157)' stroke-opacity='0.3'/></svg>");
			opacity: 1;
			margin-top: 4px;
		}
	}
}

	.bootstrap-select.custom-max:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
		width: 211px;
	}

	.bootstrap-select.custom-wide:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
		width: 253px;
	}

	.bootstrap-select.stand:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
		width: 200px;

		@media (max-width: 1200px) {
			width: 170px;
		}

		@media (max-width: 992px) {
			width: 160px;
		}
	}

	.bootstrap-select.select-large:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
		width: 365px;
	}

	.bootstrap-select.custom-min {
		button {
			padding-top: 7px;
			padding-bottom: 7px;
			font-size: 18px;

			@media (max-width: 1659px) {
				font-size: 16px;
			}

			@media (max-width: 767px) {
				font-size: 15px;
			}

			@media (max-width: 480px) {
				font-size: 13px;
			}
		}
	}

	.bootstrap-select.btn-height-min {
		.btn-light {
			padding: 8px 13px;

			@media (max-width: 576px) {
				padding: 7px 10px;
			}
		}
	}

	.bootstrap-select.select-trn {
		@media (max-width: 767px) {
			margin-right: 20px;

			.btn-light {
				background-color: transparent;
				border: 0;
				padding: 0;
			}
		}
	}

	.bootstrap-select.select-trn.stand:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
		@media (max-width: 767px) {
			width: auto;
		}
	}
