@import "../var";

.switch {
  display: inline-block;
  position: relative;

  &__label {
    position: relative;
    cursor: pointer;
    user-select: none;
    width: 40px;
    height: 18px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 0;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 0;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background-color: $accent;
      transition: margin-left 0.2s ease;
    }
  }

  &__input:checked + &__label::before {
    margin-left: calc(100% - 18px);
  }

  span {
    color: rgba(36, 36, 36, 03);
    font-size: 15px;
  }

  span.active {
    color: $color-text;
  }

  @media (max-width: 992px) {
    span {
      font-size: 14px;
    }

    &__label {
      margin-right: 7px;
      margin-left: 7px;
      width: 37px;
      height: 16px;

      &::before {
        width: 16px;
        height: 16px;
      }
    }

    &__input:checked + &__label::before {
      margin-left: calc(100% - 16px);
    }
  }

  @media (max-width: 600px) {
    span {
      font-size: 13px;
      display: block;
    }

    &__label {
      margin-right: 0;
      margin-left: 0;
    }

    &__input:checked + &__label::before {
      margin-left: calc(100% - 16px);
    }
  }
}
