@import "../var";

.table--basis {
  border-spacing: 10px;
  border-collapse: separate;

  thead th {
    font-family: $bold;
    font-weight: normal;
    font-size: 15px;
    border: 0;
    text-align: center;
    padding-bottom: 0;

    &:first-child {
      text-align: left;
    }

    @media (max-width: 1659px) {
      font-size: 14px;
    }

    @media (max-width: 800px) {
      font-size: 13px;
    }
  }

  tbody td {
    font-size: 13px;
    color: #000;
    border-top: 0;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    line-height: normal;
    vertical-align: middle;

    &:first-child {
      text-align: left;
    }

    @media (max-width: 1659px) {
      font-size: 12px;
    }

    @media (max-width: 992px) {
      padding: 7px 9px;
      font-size: 11px;
    }
  }

  tbody tr {
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
    background: #fff;

    td:nth-child(5) {
      color: $accent;
    }
  }

  .btn {
    font-size: 13px;
    padding: 5px 37px;

    @media (max-width: 1659px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  span {
    display: block;
    color: $color-p;
  }
}

.table--option {
  tbody {
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  }

  tbody td {
    font-size: 13px;
    border-color: rgba(174, 166, 157, 0.1);
  }

  thead th {
    font-family: Montserrat-Medium, sans-serif;
    font-weight: normal;
    border: 0;
    padding: 12px 20px;
  }

  span {
    vertical-align: middle;
  }

  .tool-btn {
    vertical-align: middle;
    margin-right: 5px;
  }

  thead {
    text-align: center;

    th:first-child {
      text-align: left;
    }
  }

  tbody > tr {
    text-align: center;

    td:first-child {
      width: 100px;
      text-align: left;
    }

    td:nth-child(5) {
      width: 83px;
    }
  }

  @media (max-width: 1659px) {
    thead {
      th {
        font-size: 14px;
      }
    }

    tbody > tr {
      td {
        font-size: 12px;
      }

      td:nth-child(5) {
        width: auto;
      }
    }
  }

  @media (max-width: 1200px) {
    tbody td,
    thead th {
      padding: 10px 7px;
    }
  }
}
