@import "../var";

.nav-tabs {
  border-bottom: 0;
  padding-bottom: 17px;

  .nav-link {
    background: rgba(244, 240, 233, 0.5);
    border: 1px solid rgba(174, 166, 157, 0.1);
    color: $color-p;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 13px;
    padding: 8px 40px;
    text-align: center;
    transition: $transition;
    position: relative;

    .count {
      position: absolute;
      top: -12px;
      right: -22px;
    }

    @media (max-width: 576px) {
        font-size: 12px;
        padding-left: 7px;
        padding-right: 7px;
    }
  }

  .nav-item {
    padding: 0 5px;

    &:first-child {
        padding-left: 0;
    }
  }

  .nav-link.active {
    background: #fff;
    border: 0;
    border-bottom: 1px solid $accent;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  }
}

.nav-tabs-auth {
  padding-bottom: 0;

  .nav-link {
    height: 60px;
    background: #fff;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
    font-size: 16px;
    color: #aea69d;
    line-height: 60px;
    padding: 0;
    width: 100%;

    &.active {
      box-shadow: none;
      background-color: $accent;
      color: #fff;
    }
  }

  .nav-item {
    padding: 0;
    flex: 1;
  }

  @media (max-width: 992px) {
    .nav-link {
      font-size: 14px;
    }
  }

  @media (max-width: 576px) {
    .nav-link {
      font-size: 13px;
      height: 50px;
      line-height: 50px;
    }
  }
}

.nav-tabs.nav-tabs--min {
  .nav-item {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;

    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 12px;
      background: $color-text;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child {
      &::before {
          content: none;
      }
    }

    &:first-child {
        padding-left: 0;
    }
  }

  .nav-link {
      width: auto;
      box-shadow: none;
      background: transparent;
      padding: 0;
      font-size: 13px;
      border: 0;
      color: rgba(174, 166, 157, 0.5);
      padding-bottom: 5px;
      line-height: normal;
  }

  .nav-link.active {
    background: transparent;
    color: $color-text;
    border-bottom: 2px solid $accent;
  }
}

.nav-tabs--small {
	.nav-link {
		font-size: 17px;
		background: transparent;
		border: none;
		color: #aea69d;
		padding: 0;
		line-height: 1.5;
	}

	.nav-link.active {
		color: $color-text;
		padding-bottom: 5px;
		background: transparent;
		box-shadow: none;
	}

	.nav-item {
		padding: 0 15px;

		&:last-child {
			padding-right: 0;
		}
	}

	@media (max-width: 992px) {
		.nav-link {
			font-size: 15px;
		}

		.nav-item {
			padding: 0 10px;
		}

		.nav-link.active {
			padding-bottom: 3px;
		}
	}

	@media (max-width: 576px) {
		justify-content: center;

		.nav-link {
			font-size: 14px;
		}
	}
}

.nav-tabs--primary {
	.nav-link.active {
		background: $accent;
		color: #fff;
	}
}

.tab-content--wrapp > .tab-pane,
.pill-content > .pill-pane {
    display: block;
    height: 0;
    position: relative;
}

.tab-content--wrapp > .active,
.pill-content > .active {
    height: auto;
    position: relative;
}

.tabs--info {
	padding-bottom: 20px;

	.nav-item {
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}
	}

	.nav-link {
		background: transparent;
		display: flex;
		border: 0;
		padding: 0;

		span.block {
			margin-right: 10px;
		}
	}

	.nav-link.active {
		background: transparent;
		box-shadow: none;
		border-bottom: 0;

		.square {
			background: $accent;
		}

		span.title {
			border-bottom: 2px solid $accent;
			color: $color-text;
		}
	}

	span.block {
		width: 48px;
		height: 48px;
		box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center;

		.square {
			width: 26px;
			height: 26px;
			background: #fff;
		}
	}

	span.title {
		background: #fff;
		box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
		width: 200px;
		font-size: 15px;
		text-align: center;
		padding: 10px 14px;
		color: #aea69d;
	}

	@media (max-width: 992px) {
		span.title {
			width: 180px;
		}
	}

	@media (max-width: 768px) {
		padding-bottom: 15px;

		.nav-item {
			flex: 1;
			margin-right: 10px;
			padding: 0;
		}

		.nav-link {
			width: 100%;

			span.block {
				display: none;
			}
		}

		span.title {
			width: 100%;
			font-size: 13px;
			padding: 8px 10px;
		}
	}
}

.nav-tabs--accent {
	li {
		padding-right: 27px;

		&:last-child {
			padding-right: 0;
		}
	}

	.nav-link {
		background-color: transparent;
		border: none;
		color: #aea69d;
		font-size: 18px;
		padding: 0;
	}

	.nav-link.active {
		background: transparent;
		box-shadow: none;
	}

	@media (max-width: 1200px) {
		.nav-link {
			font-size: 16px;
		}
	}

	@media (max-width: 768px) {
		li {
			padding-right: 20px;
		}

		.nav-link {
			font-size: 15px;
		}
	}

	@media (max-width: 480px) {
		.nav-link {
			font-size: 13px;
		}
	}
}

.nav-tabs.nav-mb {
  padding-bottom: 25px;

  @media (max-width: 768px) {
    padding-bottom: 20px;
  }

  @media (max-width: 480px) {
    padding-bottom: 15px;
  }
}
