.block-timeline {
  display: flex;
  flex-wrap: wrap;

  &__item {
    font-size: 13px;
    color: #aea69d;
    position: relative;
    padding-right: 38px;

    &:last-child {
        padding-right: 0;
    }
  }

  &__body {
    padding-left: 21px;
    line-height: normal;

    &::before {
      content: '';
      position: absolute;
      left: 3px;
      bottom: 4px;
      width: 12px;
      height: 2px;
      background: rgba(0, 0, 0, 07);
    }
  }

  &__name {
    padding-bottom: 5px;

    &::before {
      content: '';
      position: absolute;
      left: 2px;
      bottom: 4px;
      width: 2px;
      height: 12px;
      background: rgba(0, 0, 0, 07);
    }
  }
}
