@import "../var";

button.btn-tool,
.tool-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  line-height: normal;
  display: inline-flex;
  align-items: center;

  &:focus {
    outline: none;
  }

  span {
    padding-left: 5px;
  }

  @media (max-width: 768px) {
    img {
      width: 13px;
    }
  }
}

.tooltip-primary ~ .tooltip > .tooltip-inner {
  background-color: blue;
}

.tooltip-primary ~ .tooltip > .tooltip-arrow {
  border-bottom-color: blue;
}
