@import "../var";

ul.list {
	li {
		display: inline-block;
		color: $color-p;
		font-size: 15px;
		position: relative;
		margin-right: 15px;
		margin-left: 15px;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			width: 8px;
			height: 1px;
			background-color: $color-p;
			left: -11px;
		}
	}

	> span {
		padding-right: 25px;
	}
}

ul.list.list-view {
	li,
  span {
		font-size: 14px;
	}

	> span {
		padding-right: 18px;
	}

	@media (max-width: 1659px) {
		li,
    span {
			font-size: 13px;
		}
	}

	@media (max-width: 1365px) {
		li,
    span {
			font-size: 12px;
		}

		li {
			margin-right: 10px;
		}
	}

	@media (max-width: 992px) {
		li {
			margin-right: 5px;
		}

		span {
			padding-right: 10px;
		}
	}

	@media (max-width: 768px) {
		line-height: 1.3;

		li,
    span {
			font-size: 11px;
		}
	}

	@media (max-width: 768px) {
		 > span {
			padding-right: 0;
			width: 100%;
			display: block;
			padding-bottom: 5px;
		}

		li {
			width: 100%;
		}
	}
}
