@import '../common/var';

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
  opacity: 0.5;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #000;
  opacity: 0.5;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #000;
  opacity: 0.5;
}

:-moz-placeholder { /* Firefox 18- */
  color: #000;
  opacity: 0.5;
}

dl,
ol,
p,
ul {
  /* margin-bottom: 1rem; */
  margin-bottom: 0;
}

html,
body {
  height: 100%;
}

body {
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-size: 16px;
  color: $color-text;
  font-family: "Montserrat-Medium", sans-serif;
}

.hidden {
  display: none;
}

.hidden.active {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

main {
  flex: 1 0 auto;
  position: relative;
}

.responsiv-img {
  width: 100%;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// универсиальный класс для flex

.flex-element {
  display: flex;
  flex-wrap: wrap;
}

.flex-element--option {
  justify-content: space-between;
  align-items: center;
}

@import '../common/button';

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (min-width: 1360px) {
  .container {
    max-width: 1160px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1660px) {
  .container {
    max-width: 1480px;
    padding-right: 0;
    padding-left: 0;
  }
}

b {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: normal;
}

.test {
  &:first-child {
    &:hover {
      background: red;
    }
  }
}

input[type="number"]::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

h1,
h2,
h3 {
  font-family: "Montserrat-Bold", sans-serif;
}

h1 {
  font-size: 20px;
}

h1.page-heading {
  margin-bottom: 17px;

  @media (max-width: 768px) {
    margin-bottom: 15px;
  }
}

h1.heading {
  font-size: 24px;
  margin-bottom: 35px;

  @media (max-width: 768px) {
    margin-bottom: 25px;
  }

  @media (max-width: 480px) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

h1.heading-catalog {
  font-size: 20px;
  font-family: "Montserrat-Medium", sans-serif;
}

h1.title {
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;

  @media (max-width: 576px) {
    font-size: 21px;
  }

  @media (max-width: 480px) {
    font-size: 17px;
  }
}

h2.title {
  margin-top: 20px;
  margin-bottom: 40px;

  @media (max-width: 992px) {
    margin-bottom: 20px;
  }
}

h3 {
  font-size: 18px;

  @media (max-width: 992px) {
    font-size: 17px;
  }

  @media (max-width: 576px) {
    font-size: 16px;
  }

  @media (max-width: 480px) {
    font-size: 15px;
  }
}

h3.title {
  font-size: 20px;
  font-family: $bold;
  color: #000;
}

h3.title--min,
h3.title-min {
  font-size: 18px;

  @media (max-width: 992px) {
    font-size: 17px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

h4 {
  font-size: 16px;
  font-family: $bold;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#map {
  max-width: 1200px;
  height: 690px;

  @media (max-width: 1200px) {
    height: 550px;
  }

  @media (max-width: 768px) {
    height: 480px;
  }
}

.not-scroll {
  overflow-y: hidden;
}

ul.base {
  padding-left: 15px;

  li {
    font-size: 13px;
    margin-bottom: 7px;
    position: relative;

    &::before {
      content: '';
      height: 1px;
      width: 4px;
      background: $color-text;
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -10px;
    }
  }
}

.border-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #3f3f3f;
  vertical-align: middle;
}

.dark {
  color: $color-p;
}

h4.mb {
  margin-bottom: 20px;
  margin-top: 20px;
}

.title-bold {
  font-family: "Montserrat-Bold", sans-serif;
}
