@import "./var";

.btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  transition: $transition;
  text-align: center;
  padding: 6px 18px;
  font-size: 15px;
  border-radius: 0;
  color: #fff;

  &:hover {
    color: #fff;
  }

  .count--pl {
    margin-left: 14px;
  }

  @media (max-width: 768px) {
    font-size: 14px;
  }

  @media (max-width: 576px) {
    font-size: 13px;
  }
}

.btn--primary {
  background: $accent;
}

.btn--dark {
  background: #aea69d;
}

.btn--light {
  background: rgba(255, 255, 255, 0.6);
  color: #000;
  border: 1px solid $accent;
  transition: $transition;

  &:hover {
    background: $accent;

    .count {
      color: $accent;
      background: #fff;
    }
  }
}

.btn--min {
  padding: 9px 30px;
}

.btn--size {
  font-size: 13px;
}

.btn--width {
  width: 225px;
}

.btn--wide {
  width: 280px;
}

.btn--prim {
  max-width: 200px;
  width: 100%;
}

.btn--w {
  width: 100%;
}

.btn-none {
  background-color: transparent;
  border: none;
  padding: 0;
  color: $accent;
  opacity: 07;
  font-size: 13px;

  &:focus {
    outline: none;
  }
}

.btn-share {
  background-color: transparent;
  border: none;
  text-align: center;
  width: 100%;
  font-size: 15px;
  display: block;

  span {
    vertical-align: middle;
    margin-left: 10px;
  }

  &:focus {
    outline: none;
  }
}

a:not([href]):not([tabindex]).pattern-save {
  color: #fff;
  margin-top: 10px;
}

.del {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.del-el {
  display: inline-block;
  background: url(../img/del.png);
  border: none;
  cursor: pointer;
  width: 12px;
  height: 12px;

  &:focus {
    outline: none;
  }
}

.btn-view {
  border: 1px solid $accent;
  text-align: center;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 13px;
  background: transparent;

  @media (max-width: 576px) {
    font-size: 12px;
    padding: 6px 3px;
  }
}

.btn-prev {
  color: $color-text;
  text-align: center;
  font-size: 13px;
  padding: 0;
  display: inline-block;
  margin-bottom: 30px;

  svg {
    margin-right: 13px;
  }

  &:hover {
    color: $color-text;
  }

	@media (max-width: 1659px) {
		margin-bottom: 25px;
  }

  @media (max-width: 992px) {
		margin-bottom: 20px;
  }
}

.back {
  color: $accent;
  transition: $transition;

  span {
    padding-right: 3px;
  }

  &:hover {
    color: $accent;
  }
}

button:disabled {
  cursor: default;

  &:hover {
    background: none;
    color: #000;
  }
}
