@import "./var";

.counter-text {
  font-size: 14px;

  @media (max-width: 1659px) {
    font-size: 13px;
  }

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.sub-menu {
  li {
    display: inline-block;
    font-size: 13px;
    padding: 0 20px;
    position: relative;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    a {
      color: #aea69d;
    }
  }

  @media (max-width: 1659px) {
    li {
      padding: 0 9px;
    }
  }

  @media (max-width: 1359px) {
    li:nth-last-child(-n+2) {
      display: none;
    }
  }

  @media (max-width: 1199px) {
    li:nth-last-child(-n+3) {
      display: none;
    }
  }

  @media (max-width: 992px) {
    li {
      font-size: 11px;
    }
  }
}

.scroll-up {
  width: 70px;
  height: 70px;
  background: $basis;
  display: block;
  text-align: center;
  line-height: 70px;
  position: fixed;
  right: 50px;
  bottom: 20px;
  transition: 0.3s;
  opacity: 0;
  border: none;
  cursor: pointer;

  // visibility: hidden;
  // opacity: 0;
  svg {
    height: 36px;
  }

  // @media (max-width: 1600px) {
  // 	width: 50px;
  // 	height: 50px;
  // 	line-height: 50px;
  // 	svg {
  // 		height: 28px;
  // 	}
  // }

  // @media (max-width: 993px) {
  // 	display: none;
  // }
}

.scroll-up.active {
  opacity: 1;
}

.select-city {
  display: flex;
  align-items: center;

  svg {
    height: 20px;
  }

  &__choose {
    margin-left: 15px;

    button {
      position: relative;
      background: transparent;
      border: 0;
      font-size: 13px;
      padding: 0;

      &:focus {
        outline: none;
      }

      &::after {
        content: '';
        display: inline-block;
        border: none;
        vertical-align: middle;
        margin-left: 17px;
        background: url(../img/arrow/1.png);
        width: 8px;
        height: 5px;
      }
    }
  }
}

.hamburger {
  padding: 0;

  .hamburger-box {
    width: 20px;
    height: 11px;

    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before {
      width: 20px;
      border-radius: 0;
      height: 1px;
    }
  }

  .hamburger-label {
    margin-left: 15px;
  }

  &:focus {
    outline: none;
  }
}

.hamburger--spring .hamburger-inner::before {
  top: 4px;
}

.hamburger--spring .hamburger-inner::after {
  top: 8px;
}

.hamburger--top {
  display: none;

  .hamburger-box {
    width: 22px;
    height: 15px;

    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before {
      width: 22px;
    }
  }

  @media (max-width: 480px) {
    .hamburger-box {
      width: 19px;

      .hamburger-inner,
      .hamburger-inner::after,
      .hamburger-inner::before {
        width: 19px;
      }
    }
  }
}

.hamburger.hamburger--squeeze .hamburger-inner::before {
  top: -5px;
}

.hamburger.hamburger--squeeze .hamburger-inner::after {
  top: 5px;
}

@media (max-width: 1200px) {
  aside {
    display: none;
  }
}

.menu {
  &__item {
    border-bottom: 1px solid rgba(174, 166, 157, 0.1);
    padding-bottom: 0;
    padding-top: 15px;

    &:first-child {
      padding-top: 0;
    }
  }

  h3 {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 12px;
    color: $color-text;
  }

  ul {
    li {
      font-size: 14px;
      display: block;
      margin-bottom: 6px;

      a {
        color: #aea69d;
      }
    }
  }

  @media (max-width: 1659px) {
    h3 {
      // font-size: 22px;
      // margin-bottom: 10px;
      font-size: 16px;
      margin-bottom: 0;
    }
  }

  @media (max-width: 1199px) {
    display: none;

    h3 {
      margin-bottom: 10px;
    }

    .menu__item {
      padding-top: 20px;

      &:first-child {
        padding-top: 0;
      }
    }
  }

  @media (max-width: 576px) {
    .menu__item {
      padding-top: 20px;
    }

    ul {
      li {
        margin-bottom: 6px;
      }
    }
  }

  @media (max-width: 480px) {
    h3 {
      margin-bottom: 10px;
    }
  }
}

.menu.menu--personal {
  li {
    margin-bottom: 18px;
  }

  @media (max-width: 1659px) {
    ul {
      li {
        font-size: 15px;
      }
    }
  }

  @media (max-width: 1365px) {
    ul {
      li {
        font-size: 14px;
        margin-bottom: 15px;
      }
    }
  }
}

.menu--personal {
  li {
    img {
      margin-right: 15px;
    }
  }

  li.active {
    a {
      color: $color-text;

      span {
        padding-bottom: 7px;
        border-bottom: 1px solid $accent;
      }
    }
  }
}
//TODO - исправить ошибки
.delite {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.notes-block {
  display: flex;
  flex-wrap: wrap;

  &__title {
    padding-bottom: 10px;
    font-size: 13px;

    .btn-tool {
      margin-left: 10px;
    }
  }

  &__item {
    width: calc((100% / 4) - 15px);
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:last-child {
      margin-right: 0;
    }
  }

  &__body {
    background: #fff;
    border: 1px solid rgba(174, 166, 157, 0.3);
    color: $color-p;
    padding: 10px 15px;
    font-size: 13px;
    width: 100%;
    height: 120px;
  }

  @media (max-width: 1659px) {
    &__title {
      font-size: 12px;
      padding-bottom: 8px;
    }
  }

  @media (max-width: 992px) {
    &__body {
      padding: 10px;
    }
  }

  @media (max-width: 768px) {
    &__item {
      width: calc((100% / 3) - 10px);
      margin: 0 5px;
    }
  }

  @media (max-width: 768px) and (min-width: 577px) {
    &__item {
      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-child(3n + 1) {
        margin-left: 0;
      }
    }
  }

  @media (max-width: 576px) {
    justify-content: space-between;

    &__item {
      width: 48%;
    }
  }

  @media (max-width: 576px) and (min-width: 480px) {
    &__item {
      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-child(2n + 1) {
        margin-left: 0;
      }
    }
  }

  @media (max-width: 576px) {
    &__item {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
  }
}

@import 'elements/box-date';
@import 'elements/basket';
@import 'elements/tooltip';
@import 'elements/raiting';
@import 'elements/form';
@import 'elements/select';
@import 'elements/table';
@import 'elements/tabs';
@import 'elements/accordion';
@import 'elements/message';
@import 'elements/acts';
@import 'elements/badge';
@import 'elements/filter';
@import 'elements/object';
@import 'elements/calendar';
@import 'elements/comment';
@import 'elements/popap';
@import 'elements/count';
@import 'elements/switch';
@import 'elements/breadcrumb';
@import 'elements/box';
@import 'elements/timeline';
@import 'elements/pagination';
@import 'elements/ul';
@import 'elements/feedback';
@import 'elements/inputfile';

.address-b__group {
  display: none;
}

.open-min {
  display: inline-block;
  width: 8px;
  height: 10px;
  background: url(../img/icon/arrow-min.png);
  background-repeat: no-repeat;
  transition: $transition;
}

.address-list {
  padding: 0;

  li {
    margin: 0 5px 10px 5px;

    &:first-child {
      margin-top: 10px;
    }

    .name {
      font-family: $bold;
      font-size: 18px;
      line-height: normal;
    }

    .select-address {
      cursor: pointer;
      color: #000;
      display: block;
      background: #fff;
      box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
      padding: 18px 20px 22px 20px;
      transition: $transition;

      &:hover {
        background: $accent;
        color: #fff;
      }
    }

    .address {
      padding-top: 8px;
      line-height: normal;

      span {
        font-size: 13px;
        vertical-align: middle;
      }

      .icon {
        width: 16px;
        display: inline-block;
        margin-right: 14px;

        img {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    li {
      .name {
        font-size: 16px;
      }
    }
  }

  @media (max-width: 768px) {
    li {
      .select-address {
        padding: 15px;
      }

      .address {
        padding-top: 4px;

        .icon {
          width: 13px;
          margin-right: 7px;
        }

        span {
          font-size: 11px;
        }
      }

      .name {
        font-size: 14px;
      }
    }
  }
}

.object {
  position: relative;

  .slick-arrow {
    background: transparent;
    border: none;
    position: absolute;
    top: 50%;
    z-index: 1000;
    transform: translateY(-50%);

    &:focus {
      outline: none;
    }
  }

  .slick-next {
    right: -40px;
  }

  .slick-left {
    left: -40px;
  }
}

.popular-choose {
  justify-content: space-between;

  &__item {
    width: 48%;
    margin-bottom: 20px;
    cursor: pointer;

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }
}

.subspecies-technology {
  &__item {
    width: calc((100% / 4) - 30px);
    text-align: center;
    margin-right: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: 801px) {
      &:nth-child(4n) {
        margin-right: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  h3 {
    font-size: 13px;
    font-family: "Montserrat-Medium", sans-serif;
    margin-bottom: 10px;
    text-align: center;
  }

  .subspecies-technology__sub {
    color: #aea69d;
    font-size: 13px;
    padding-top: 10px;
  }

  @media (max-width: 800px) {
    &__item {
      width: calc((100% / 3) - 20px);
      margin-right: 20px;

      @media (max-width: 800px) and (min-width: 577px) {
        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }

    h3,
    .subspecies-technology__sub {
      font-size: 12px;
    }
  }

  @media (max-width: 576px) {
    &__item {
      margin-right: 15px;
      width: calc((100% / 2) - 15px);

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    h3,
    .subspecies-technology__sub {
      font-size: 11px;
    }
  }
}

.m-profile {
  background: transparent;

  .all-rating {
    color: #000;
  }

  .m-profile__img {
    width: 240px;
    margin-right: 30px;
  }

  .m-profile__name {
    font-family: $bold;
    font-size: 18px;
    margin-bottom: 8px;
  }

  .m-profile__text {
    font-size: 13px;
    line-height: normal;
    margin-bottom: 8px;
  }

  .raiting-block {
    .raiting {
      li {
        margin-bottom: 0;
      }
    }
  }

  .m-profile__block {
    padding-top: 12px;

    ul {
      li {
        font-size: 13px;
        margin-bottom: 8px;
        line-height: normal;
        color: #000;

        &:last-child {
          margin-bottom: 0;
        }

        span {
          color: $color-p;
        }
      }
    }
  }

  @media (max-width: 1365px) {
    .m-profile__name {
      font-size: 16px;
      margin-bottom: 0;
    }

    .raiting-block {
      padding-bottom: 6px;

      .raiting {
        li {
          img {
            width: 20px;
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .m-profile__img {
      width: 180px;
      margin-right: 20px;
    }
  }

  @media (max-width: 768px) {
    .m-profile__name {
      font-size: 14px;
    }

    .m-profile__img {
      width: 150px;
    }

    .raiting-block {
      .raiting {
        li {
          img {
            width: 15px;
          }
        }
      }

      .all-rating {
        margin-left: 3px;
      }
    }

    .all-rating,
    .reviews-el,
    .m-profile__text {
      font-size: 12px;
    }

    .m-profile__block {
      padding-top: 8px;

      ul li {
        font-size: 12px;
      }
    }
  }

  @media (max-width: 576px) {
    .modal-head__text {
      width: 100%;
    }

    .m-profile__img {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
}

.wrap-tool {
  display: inline-block;
  position: absolute;
  top: -12px;
  right: -20px;
}

.select-width.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 286px;
}

.btn-object {
  background: #fff;
  border: 1px solid $accent;
  width: 120px;
  height: 120px;
  font-size: 18px;
  line-height: normal;
  z-index: 200;

  @media (max-width: 1659px) {
    font-size: 15px;
    width: 100px;
  }

  @media (max-width: 1150px) {
    height: auto;
    width: auto;
    padding: 7px 30px;
    margin-bottom: 10px;
  }

  @media (max-width: 768px) {
    font-size: 14px;
    padding: 6px 20px;
  }
}

.object-wrapp {
  position: relative;

  .btn-object {
    position: absolute;
    right: 1px;
    top: 10px;

    @media (max-width: 1150px) {
      position: relative;
      top: unset;
      right: unset;
    }
  }
}

.social {
  li {
    display: inline-block;
    padding: 0 5px;
    // padding-left: 15px;
    // padding-right: 15px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-top: 0;
    }

    a {
      display: block;

      &:hover {
        .facebook {
          path {
            fill: #3b5998;
          }
        }

        .vk {
          path {
            fill: #4d7198;
          }
        }

        .telegram {
          path {
            fill: #08c;
          }
        }

        .whatsApp {
          path {
            fill: #25d366;
          }
        }

        span {
          color: $accent;
        }
      }
    }
  }

  svg {
    path {
      transition: $transition;
    }
  }

  span {
    color: #000;
    margin-left: 10px;
    vertical-align: middle;
    transition: $transition;
  }
}

.rights {
  padding-bottom: 25px;
  font-size: 18px;
  line-height: normal;
}

.gnr-tree-wrapp {
  background: #fff;
  border: 1px solid rgba(174, 166, 157, 0.3);
  padding: 30px;

  h3 {
    margin-bottom: 20px;
  }

  .gnr-tree__item {
    margin-top: 7px;

    .gnr-tree__name {
      font-size: 15px;
      padding: 10px 35px;
      margin-bottom: 10px;
      cursor: pointer;

      @media (max-width: 1659px) {
        padding-left: 20px;
      }

      @media (max-width: 992px) {
        padding: 7px 15px;
      }

      @media (max-width: 576px) {
        padding: 5px 10px;
      }
    }

    > .gnr-tree__group {
      margin-left: 30px;
      position: relative;

      @media (max-width: 1659px) {
        margin-left: 20px;
      }

      @media (max-width: 768px) {
        margin-left: 12px;

        span {
          font-size: 12px;
        }
      }
    }

    .gnr-tree__group-sub {
      margin-left: 35px;

      @media (max-width: 992px) {
        margin-left: 20px;
      }
    }
  }

  span,
  .sub-name {
    font-size: 15px;

    @media (max-width: 1659px) {
      font-size: 14px;
    }

    @media (max-width: 992px) {
      font-size: 13px;
    }
  }

  .open-min {
    margin-right: 10px;
  }

  .gnr-tree__group {
    display: none;
  }

  .gnr-tree__name.active {
    background: #f8f4f0;

    span {
      font-family: $bold;
      color: #000;

      @media (max-width: 992px) {
        font-family: "Montserrat-Medium", sans-serif;
      }
    }
  }

  @media (max-width: 992px) {
    padding: 20px 15px;
  }

  @media (max-width: 576px) {
    padding: 15px 10px;
  }
}

ul.tree {
  li {
    display: block;
    margin-left: 35px;
    color: #000;
    position: relative;

    &:last-child {
      margin-bottom: 0;

      .sub-name {
        padding-bottom: 0;

        &::after {
          background: rgba(174, 166, 157, 0.3);
          height: 52%;
        }
      }
    }

    .sub-name {
      position: relative;
      padding-bottom: 10px;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        width: 13px;
        height: 1px;
        margin-left: -25px;
        background: rgba(174, 166, 157, 0.3);

        @media (max-width: 1659px) {
          margin-left: -20px;
        }

        @media (max-width: 992px) {
          content: none;
        }
      }

      &::after {
        content: '';
        position: absolute;
        left: -2.8%;
        width: 1px;
        top: 0;
        background: rgba(174, 166, 157, 0.3);
        height: 100%;

        @media (max-width: 992px) {
          content: none;
        }
      }
    }

    @media (max-width: 992px) {
      margin-left: 15px;
    }

    @media (max-width: 768px) {
      .sub-name {
        font-size: 11px;
      }
    }
  }
}

.mCS-custom-el.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: $accent;
}

.mCS-custom-el.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #f4f0e9;
}

.mCS-custom-el.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_draggerRail {
  border-radius: 0;
}

.mCS-custom-el.mCSB_scrollTools {
  opacity: 1;
}

.wrap-save {
  padding: 25px;
  background: #fff;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  text-align: center;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;

  .btn {
    margin-top: 10px;
    width: 300px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  @media (max-width: 1300px) {
    padding: 20px 15px;
    font-size: 15px;

    .btn {
      font-size: 15px;
      padding: 5px;
    }
  }

  @media (max-width: 992px) {
    .btn {
      width: 180px;
    }
  }

  @media (max-width: 768px) {
    padding: 15px 10px;
    font-size: 14px;

    .btn {
      font-size: 13px;
    }
  }

  @media (max-width: 480px) {
    font-size: 13px;

    .btn {
      width: 100%;
    }

    .title {
      line-height: normal;
    }
  }
}

.starting-block {
  .form {
    .form__line {
      align-items: flex-end;
      padding-bottom: 40px;

      .item--stan {
        flex-basis: 280px;
      }

      .item--w {
        flex-basis: 560px;
      }

      .item {
        padding-right: 20px;
        padding-bottom: 15px;
      }

      .item--btn {
        width: 200px;
        padding-right: 0;

        .btn {
          padding: 8px;
          font-size: 14px;
          width: 100%;
        }
      }

      .item__group {
        width: 100%;

        .item {
          padding-bottom: 0;
        }

        label {
          margin-bottom: 0;
        }
      }
    }

    @media (max-width: 1659px) {
      .form__line {
        padding-bottom: 20px;

        .item--w {
          flex-basis: 450px;
        }

        .item--stan {
          flex-basis: 260px;
        }
      }
    }

    @media (max-width: 992px) {
      label {
        margin-bottom: 6px;
      }

      input {
        padding-left: 10px;
        padding-right: 10px;
      }

      .bootstrap-select .btn-light {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    @media (max-width: 800px) {
      .form__line {
        justify-content: space-between;
        padding-bottom: 7px;

        .bootstrap-select.stand:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
          width: 100%;
        }

        .item--select,
        .item--stan,
        .item,
        .item__group {
          flex-basis: 49%;
        }

        .item--w {
          flex-basis: 100%;
        }

        .item {
          padding-right: 0;
          padding-bottom: 13px;
        }

        .item__group {
          order: 0;
          align-self: center;

          .item {
            padding-right: 10px;

            &:last-child {
              padding-right: 0;
            }
          }
        }

        .item:nth-child(7) {
          order: 1;
        }
      }
    }

    @media (max-width: 576px) {
      label {
        font-size: 12px;
      }

      .form__line {
        .item--select,
        .item--stan,
        .item,
        .item__group {
          flex-basis: 100%;
        }

        .item__group {
          margin-bottom: 20px;
        }

        .item > .btn.btn--primary {
          padding-top: 6px;
          padding-bottom: 6px;
          font-size: 13px;
        }
      }
    }
  }

  .filter-basis {
    margin-bottom: 0;
    padding-bottom: 28px;

    @media (max-width: 1659px) {
      padding-bottom: 10px;
    }

    @media (max-width: 992px) {
      li {
        font-size: 16px;
        margin-right: 17px;
      }
    }

    @media (max-width: 768px) {
      li {
        font-size: 15px;
        margin-right: 10px;
      }
    }

    @media (max-width: 480px) {
      li {
        font-size: 14px;
      }
    }
  }
}

.starting-content {
  padding-top: 23px;

  @media (max-width: 480px) {
    padding-top: 10px;
  }
}

.infm-block {
  background: #f4f0e9;
  padding: 20px;

  p {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 24px;
    max-width: 700px;

    @media (max-width: 1659px) and (min-width: 1201px) {
      max-width: 580px;
    }

    @media (max-width: 992px) {
      font-size: 14px;
      max-width: 570px;
    }

    @media (max-width: 800px) {
      max-width: 100%;
      width: 100%;
    }

    @media (max-width: 780px) {
      font-size: 13px;
      line-height: normal;
    }
  }

  button {
    padding: 6px;

    @media (max-width: 1659px) {
      width: 180px;
    }

    @media (max-width: 800px) {
      margin-top: 10px;
    }

    @media (max-width: 992px) {
      font-size: 14px;
      width: 120px;
    }

    @media (max-width: 576px) {
      width: 100%;
      padding: 5px;
    }
  }

  @media (max-width: 576px) {
    padding: 15px;
  }
}

.inner-page-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-file-wrap {
  text-align: center;
}

.add-file-block {
  display: inline-flex;
  flex-wrap: wrap;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 20px;

  .add-file-block__icon {
    width: 55px;
    height: 55px;
    border: 1px solid rgba(174, 166, 157, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;

    @media (max-width: 992px) {
      width: 40px;
      height: 40px;
    }
  }

  .add-file-block__text {
    span {
      color: $color-p;
      display: block;
    }

    span.sub {
      color: #aea69d;
      font-size: 13px;
    }
  }

  @media (max-width: 768px) {
    padding-top: 10px;
    padding-bottom: 15px;
  }
}

.switch-block {
  h3 {
    font-size: 16px;
  }

  .switch {
    padding-bottom: 20px;
  }

  @media (max-width: 992px) {
    h3 {
      font-size: 14px;
    }

    .switch {
      padding-bottom: 15px;
    }
  }
}

.notifyjs-arrow {
  display: none !important;
}

.attention-block {
  background: #f4f0e9;
  padding: 15px 20px;
  margin-bottom: 30px;

  p {
    font-size: 15px;
    margin-bottom: 3px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: $accent;
    }
  }

  @media (max-width: 1200px) {
    padding: 14px 20px;
    margin-bottom: 25px;
  }

  @media (max-width: 768px) {
    padding: 10px;
    margin-bottom: 17px;

    p {
      font-size: 14px;
    }
  }
}
