@font-face {
	font-family: "Montserrat-Medium";
	src:  url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"),
				url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat-Bold";
	src:  url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
				url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto-Regular";
	src:  url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
				url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: "Roboto-Bold";
	src:  url("../fonts/RobotoBold/Roboto-Bold.woff") format("woff"),
				url("../fonts/RobotoBold/Roboto-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
