@import '../common/_var';

.footer {
  background: #f4f0e9;
  padding: 50px 0;

  .logo {
    display: block;
  }

  .copy--phone {
    display: none;
  }

  .copy {
    color: #aea69d;
    font-size: 13px;
    padding-top: 10px;
  }

  .footer-item--phone {
    display: none;
  }

  .social {
    padding-top: 4px;
    margin-bottom: 0;

    li {
      padding-left: 5px;
      padding-right: 5px;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .footer-layout {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-item:nth-child(2) {
    max-width: 215px;
  }

  .phone {
    color: $color-text;

    img {
      display: none;
    }
  }

  .footer-item--right {
    text-align: right;
  }

  @media (max-width: 1500px) {
    padding: 40px 0;
  }

  @media (max-width: 1300px) {
    padding: 30px 0;

    .phone {
      font-size: 14px;
    }

    .logo {
      width: 180px;

      img {
        width: 100%;
      }
    }
  }

  @media (max-width: 992px) {
    padding-top: 20px;
    padding-bottom: 20px;

    .logo {
      width: 150px;
    }

    .copy {
      padding-top: 6px;
      font-size: 10px;
    }

    .social {
      li {
        width: 20px;
        padding: 0;
      }
    }

    .footer-item:nth-child(2) {
      max-width: 160px;
    }
  }

  @media (max-width: 767px) {
    .footer-item:nth-child(3) {
      display: none;
    }

    .phone img {
      display: inline-block;
      margin-right: 6px;
      vertical-align: middle;
      width: 14px;
    }

    .footer-item--phone {
      display: block;
      width: 100%;
      text-align: center;
      padding-bottom: 10px;

      .sub-menu li:nth-last-child(3) {
        display: inline-block;
      }
    }
  }

  @media (max-width: 575px) {
    .sub-menu li {
      padding-left: 5px;
      padding-top: 3px;

      &:first-child {
        padding-left: 0;
      }

      &:nth-child(3) {
        padding-right: 0;
      }
    }
  }

  @media (max-width: 479px) {
    .footer-item--right {
      .phone {
        display: none;
      }
    }

    .copy {
      display: none;
    }

    .copy--phone {
      display: block;
      width: 100%;
      padding-top: 10px;
      text-align: center;
    }

    .sub-menu img {
      width: 9px;
      margin-right: 3px;
    }

    .social {
      padding-top: 0;
    }

    .sub-menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        line-height: 12px;
        display: inline-block;
        padding-left: 0;
        padding-right: 0;
      }

      li:nth-child(even) {
        text-align: right;
        width: 40%;
      }

      li:nth-child(odd) {
        text-align: left;
        width: 60%;
      }
    }
  }

  @media (max-width: 404px) {
    .container {
      padding-left: 15px;
      padding-right: 15px;
    }

    .sub-menu {
      li {
        font-size: 12px;
      }
    }

    .copy {
      font-size: 8px;
    }
  }
}
