@import "./var";

.profile-menu {
  width: 204px;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  padding: 20px 12px 15px 12px;
  background-color: #fff;
  position: absolute;
  visibility: hidden;
  top: 50px;
  right: 50px;
  opacity: 0;
  transition: opacity 100ms linear, top 100ms linear, visibility 100ms linear;
  pointer-events: none;
  z-index: 2000;

  .btn {
    font-size: 13px;
    width: 100%;
    margin-top: 10px;
    padding: 10px 5px;

    .count {
      margin-left: 11px;
    }
  }

  .btn--s:hover {
    background-color: transparent;
    color: $color-text;

    .count {
      background-color: $accent;
      color: #fff;
    }
  }

  .profile-menu__body {
    .profile-menu__top {
      padding-bottom: 34px;
    }
  }

  .profile-menu__icon {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .profile-menu__head {
    display: flex;
    align-items: center;
    padding-bottom: 8px;

    .profile-menu__name {
      font-size: 15px;
      margin-left: 11px;
    }

    .profile-menu__photo {
      position: relative;

      .status {
        position: absolute;
        right: -6px;
        top: -9px;
      }
    }
  }
}

.menu-head {
  display: inline-block;
  cursor: pointer;

  .menu-head__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: 992px) {
      width: 33px;
      height: 33px;
    }

    @media (max-width: 576px) {
      width: 25px;
      height: 28px;
    }
  }

  .menu-head__head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .menu-head__name {
      font-size: 15px;
      margin-left: 11px;

      @media (max-width: 1659px) {
        max-width: 180px;
        font-size: 13px;
      }

      @media (max-width: 992px) {
        font-size: 11px;
        max-width: 150px;
      }

      @media (max-width: 576px) {
        max-width: 130px;
        font-size: 9px;
      }

      @media (max-width: 480px) {
        display: none;
      }
    }

    .menu-head__photo {
      position: relative;

      .count {
        width: 19px;
        height: 19px;
        font-size: 11px;

        @media (max-width: 576px) {
          width: 16px;
          height: 16px;
          line-height: 16px;
          font-size: 9px;
        }
      }

      .status {
        position: absolute;
        right: -6px;
        top: -9px;

        @media (max-width: 992px) {
          top: -5px;
          right: -4px;
        }
      }
    }
  }
}

.profile-menu.show {
  visibility: visible;
  opacity: 1;
  top: 40px;
  pointer-events: auto;
}

.btn-menu {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;

  @media (max-width: 480px) {
    svg {
      width: 18px;
    }
  }
}

.header {
  &__top {
    background: #f4f0e9;
    padding: 20px 0;

    .hamburger-top {
      display: none;
    }

    .header__layout__left,
    .header__layout__right {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: auto;

      .select-city {
        margin-right: 50px;
        margin-left: 95px;

        @media (max-width: 1659px) {
          margin-left: 35px;
          margin-right: 35px;
        }

        @media (max-width: 1400px) {
          margin-right: 30px;
          margin-left: 30px;
        }

        @media (max-width: 1300px) and (min-width: 1201px) {
          margin-left: 20px;
          margin-right: 20px;
        }
      }
    }

    .header__layout__right {
      justify-content: flex-end;

      .basket {
        margin-left: 46px;

        @media (max-width: 1659px) {
          margin-left: 28px;
        }

        @media (max-width: 1400px) {
          margin-left: 26px;
        }

        @media (max-width: 480px) {
          margin-left: 20px;
        }
      }

      .header__group {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }

      .header__group:last-child {
        margin-left: 100px;

        @media (max-width: 1659px) {
          margin-left: 35px;
        }

        @media (max-width: 1400px) {
          margin-left: 30px;
        }

        @media (max-width: 576px) {
          margin-left: 10px;
        }
      }

      @media (max-width: 768px) {
        .header__group:first-child {
          display: none;
        }
      }
    }

    @media (max-width: 1200px) {
      padding: 20px 0;

      .select-city {
        display: none;
      }

      .header__phone {
        margin-left: 25px;
      }
    }

    @media (max-width: 992px) {
      .header__phone {
        display: none;
      }

      .hamburger-top {
        display: inline-flex;
        align-self: center;
        margin-left: 24px;
      }
    }

    @media (max-width: 768px) {
      padding: 10px 0;

      .hamburger-top {
        margin-left: 20px;
      }
    }
  }

  &__layout {
    display: flex;
    justify-content: space-between;

    @media (max-width: 480px) {
      flex-wrap: wrap;
    }
  }

  .link-information {
    color: $color-p;
    font-size: 13px;
    margin: 0 25px;

    @media (max-width: 1659px) {
      margin: 0 20px;
    }

    @media (max-width: 1400px) {
      margin: 0 15px;
    }

    @media (max-width: 1200px) {
      font-size: 13px;
    }
  }

  .header__phone {
    color: #081d35;

    .header-icon {
      margin-right: 15px;
      vertical-align: middle;
    }

    @media (max-width: 1400px) {
      font-size: 15px;
    }
  }

  .logo {
    @media (max-width: 1300px) and (min-width: 1201px) {
      width: 170px;
    }

    @media (max-width: 1000px) {
      width: 180px;
    }

    @media (max-width: 768px) {
      width: 140px;
    }
  }

  &__bottom {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    padding: 18px 0;

    .form-search {
      width: 609px;
      display: flex;
      justify-content: space-between;
      border-bottom: 0.0625rem solid rgba(174, 166, 157, 0.2);

      .form-search__wrap {
        display: flex;
        justify-content: space-between;
        width: 80%;
        position: relative;
      }

      .form-input {
        width: 100%;
        display: flex;
        position: relative;

        input {
          border-bottom: none;
          width: 61%;
        }
      }

      .form-input__city {
        position: absolute;
        right: 30px;
        bottom: 10px;
      }

      .select-city {
        display: block;
      }

      @media (max-width: 1500px) {
        button {
          font-size: 15px;
          padding-left: 25px;
          padding-right: 25px;
        }
      }

      @media (max-width: 1400px) {
        width: 520px;
      }

      @media (max-width: 1659px) {
        width: auto;
        border-bottom: none;

        .form-search__wrap {
          width: 100%;
        }

        .form-input {
          width: 300px;

          .icon {
            right: 0;
            bottom: 5px;

            svg {
              width: 14px;
            }
          }

          input {
            width: 100%;
            padding-left: 0;
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(174, 166, 157, 0.2);
          }
        }

        button {
          display: none;
        }

        .form-input__city {
          position: relative;
          right: 0;
          bottom: 0;
          padding-left: 25px;
        }

        .select-city button {
          color: $accent;

          &::after {
            margin-left: 10px;
          }
        }
      }

      @media (max-width: 992px) {
        .form-input {
          width: 235px;
        }
      }

      @media (max-width: 768px) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        .form-input {
          width: 100%;
          border: 1px solid rgba(174, 166, 157, 0.3);

          input {
            border-bottom: 0;
            padding: 10px 15px;
            font-size: 13px;
            color: $color-p;
          }

          .icon {
            right: 15px;

            svg {
              width: 20px;
            }
          }
        }
      }

      @media (max-width: 480px) {
        width: 100%;

        .form-input {
          input {
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 12px;
          }
        }
      }
    }

    .header__layout {
      align-items: center;
    }

    .link-information:last-child {
      margin-right: 0;
    }

    .select-city {
      .select-city__choose {
        margin-left: 0;
      }

      button {
        border: none;
        padding: 0;
        color: rgba(36, 36, 36, 0.7);
        font-family: "Montserrat-Medium", sans-serif;
        font-weight: 500;
        font-size: 13px;
        text-transform: none;
        display: inline-block;

        &::after {
          background: url(../img/icon/arrow-small.png);
          width: 14px;
          height: 8px;
        }
      }
    }

    @media (max-width: 1200px) {
      .header__catalog-equipment {
        display: none;
      }
    }

    @media (max-width: 768px) {
      padding-bottom: 0;
      box-shadow: none;

      .header__group {
        display: none;
      }

      .form-input__city {
        display: none;
      }
    }

    @media (max-width: 480px) {
      padding-top: 10px;
    }
  }
}

.header-icon {
  background: url(../img/icon/header.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.header-icon--phone {
  width: 18px;
  height: 18px;
  background-position-x: -29px;
  margin-top: -5px;
}

.icon-auth {
  width: 18px;
  display: inline-block;
  margin-top: -7px;
  vertical-align: middle;
  margin-right: 15px;

  svg {
    path {
      transition: $transition;
    }
  }

  @media (max-width: 1199px) {
    margin-right: 0;
  }
}

.header-auth {
  color: $color-text;
  font-size: 13px;
  transition: $transition;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;

  &:focus {
    outline: none;
  }

  &:hover {
    color: $accent;

    svg {
      path {
        fill: $accent;
      }
    }
  }

  @media (max-width: 1199px) {
    span {
      display: none;
    }
  }
}

.icon-basket {
  width: 29px;

  @media (max-width: 768px) {
    width: 23px;
  }

  @media (max-width: 480px) {
    width: 20px;
  }
}

.basket {
  position: relative;
  display: inline-block;

  .count {
    position: absolute;
    right: -10px;
    top: -7px;
    display: block;
  }

  @media (max-width: 768px) {
    .count {
      width: 18px;
      height: 18px;
      font-size: 9px;
      line-height: 18px;
    }
  }

  @media (max-width: 480px) {
    .count {
      top: -5px;
      right: -5px;
      width: 16px;
      height: 16px;
      line-height: 16px;
    }
  }
}

.count {
  color: #fff;
  border-radius: 50%;
  background-color: $accent;
  font-size: 13px;
  text-align: center;
  width: 22px;
  height: 22px;
  line-height: 22px;
  display: inline-block;
}

.header__catalog-equipment {
  position: relative;
}

.catalog-equipment {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  position: absolute;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;

  .catalog-equipment-container {
    background: #fff;
  }

  ul {
    position: relative;
    height: 100%;

    li {
      width: 280px;
      padding: 9px 20px;
      font-size: 14px;
      border-bottom: 1px solid transparent;

      a {
        display: flex;
        align-items: center;

        img {
          width: 50px;
        }

        span {
          color: #000;
          padding-left: 15px;
          vertical-align: middle;
        }
      }

      &:hover {
        border-color: rgba(174, 166, 157, 0.1);

        > .catalog-inside {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .catalog-inside {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 280px;
      box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
      border-radius: 3px;
      display: flex;
      height: 100%;
      z-index: 100;
      flex-direction: column;
      background-color: #fff;
    }
  }

  .catalog-equipment__inner {
    position: relative;
    height: 100%;
  }
}

.catalog-equipment.open-catalog {
  opacity: 1;
  visibility: visible;
}

.wrapper-menu {
  opacity: 1;
  background: rgba(255, 255, 255, 0.98);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  position: fixed;
  height: 100%;
  z-index: 1000;
  width: 400px;
  right: 0;
  top: 0;
  padding-top: 30px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
  transition: transform 0.3s;
  transform: translateX(100%);

  ul {
    li {
      display: block;

      a {
        display: block;
        color: $color-p;
        font-size: 13px;
        padding: 18px 0 18px 15px;
        border-bottom: 1px solid rgba(174, 166, 157, 0.2);
      }

      &:last-child {
        a {
          border-bottom: 0;
        }
      }
    }
  }

  .select-city {
    display: flex;
    align-items: center;
  }

  button.close {
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: 20px;
    opacity: 1;

    &:focus {
      outline: none;

      svg {
        rect {
          fill: $accent;
        }
      }
    }
  }

  &__head {
    position: relative;
    padding-bottom: 30px;
  }

  .phone-element {
    color: $color-p;
  }

  .wrapper-menu__bottom {
    border-top: 1px solid rgba(127, 123, 119, 0.1);
    padding: 20px 20px 20px 0;

    svg {
      margin-right: 10px;
    }

    span {
      font-size: 13px;
    }
  }

  @media (max-width: 576px) {
    width: 280px;
    padding-left: 30px;
    padding-top: 18px;

    ul li a {
      padding: 13px 10px 13px 0;
    }

    .wrapper-menu__bottom {
      padding: 17px 10px 17px;
    }

    button.close {
      top: -7px;

      svg {
        width: 13px;
      }
    }
  }
}

.menu-active {
  transform: translateX(0%);
}

.menu-bottom {
  background: #f7f7f7;
  width: 100%;
  height: 60px;
  z-index: 100;
  display: none;
  position: sticky;
  bottom: 0;

  .menu-bottom__wrap {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;

    li > a {
      color: $color-p;
      font-size: 13px;
      display: block;
      line-height: normal;
      text-align: center;

      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    li {
      padding-left: 22px;
      padding-right: 22px;
      align-self: center;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    @media (max-width: 750px) {
      li {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    @media (max-width: 650px) {
      li {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    @media (max-width: 480px) {
      li {
        padding-left: 8px;
        padding-right: 8px;

        img {
          width: 16px;
        }
      }

      a {
        font-size: 9px;
      }
    }
  }

  @media (max-width: 992px) {
    display: block;
  }

  @media (max-width: 650px) {
    nav {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  @media (max-width: 480px) {
    nav {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}

.my-icon {
  background: url(../img/icon-dots.png);
  width: 17px;
  height: 17px;
  display: block;
}

.flexMenu-viewMore {
  cursor: pointer;
}

.flexMenu-viewMore.active {
  transition: all 0.6s ease;
}

ul.more_dropdown {
  width: 100%;
  height: 55px;
  top: -55px;
  background: #f9f7f2;
  right: 0;
  transition: all 0.6s ease;

  li {
    a {
      padding: 0 3px;
    }
  }
}
