// %clearfix {
//   &:before, &:after {
//     content: "";
//     display: block;
//     clear: both;
//   }
// }

// @mixin destop{
// 	@media (max-width: 1200px) {
// 		@content;	
// 	}
// }

// @mixin laptop{
// 	@media (max-width: 992px) {
// 		@content;
// 	}
// }

// @mixin tablet{
// 	@media (max-width: 768px) {
// 		@content;
// 	}
// }

// @mixin phone{
// 	@media (max-width: 480px) {
// 		@content;
// 	}
// }