@import '../var';

.intro {
  border-bottom: 1px solid #f1efed;
  padding-top: 40px;
  padding-bottom: 13px;

  .intro__sub--phone {
    display: none;
  }

  &__title {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.3;
    font-size: 25px;

    span {
      display: block;
    }
  }

  h1 {
    font-size: 35px;
    margin-bottom: 10px;
  }

  &__sub {
    margin-top: 15px;
    font-size: 19px;
    line-height: 1.5;

    span {
      display: block;
    }
  }

  .btn-group {
    margin-top: 50px;
    flex-wrap: wrap;

    .btn {
      flex: none;
      margin-bottom: 10px;

      &:nth-child(1) {
        margin-right: 20px;
      }
    }
  }

  .intro-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;

    .intro__left {
      width: 45%;
    }

    .intro__right {
      text-align: center;
      width: 45%;
    }
  }

  @media (max-width: 1659px) {
    .intro-block {
      justify-content: space-around;

      .intro__right {
        text-align: left;
        width: 39%;
      }
    }

    h1 {
      font-size: 32px;
    }

    .btn-group {
      margin-top: 40px;
    }
  }

  @media (max-width: 1400px) {
    .intro-block .intro__left {
      width: 53%;
    }

    .intro-block {
      justify-content: space-around;

      .intro__right {
        text-align: center;
      }
    }
  }

  @media (max-width: 1200px) {
    .intro__sub {
      font-size: 20px;
      margin-top: 10px;
    }

    .btn-group {
      margin-top: 30px;
    }

    .intro-block .intro__left {
      width: 55%;
    }
  }

  @media (max-width: 992px) {
    .intro-block {
      justify-content: flex-start;

      .intro__title {
        font-size: 19px;
      }

      h1 {
        font-size: 25px;
      }

      .intro__sub {
        font-size: 17px;
      }
    }
  }

  @media (max-width: 880px) {
    border-bottom: none;

    .intro-block {
      padding-bottom: 50px;
    }

    .intro-block .intro__left {
      width: 70%;
    }

    .intro-block .intro__right {
      width: 380px;
      z-index: -1;
      opacity: 0.2;
      position: absolute;
      right: 0;
      height: 100%;

      img {
        width: 100%;
      }
    }

    .btn-group {
      flex-wrap: wrap;

      .btn {
        flex: unset;
        width: 280px;
      }
    }
  }

  @media (max-width: 768px) {
    border-bottom: 1px solid #f1efed;
    padding-bottom: 25px;
    padding-top: 25px;

    .intro-block {
      padding-bottom: 0;

      h1 {
        font-size: 23px;
      }

      .intro__title {
        font-size: 17px;
      }

      .intro__sub {
        line-height: 21px;
        font-size: 14px;
      }
    }

    .btn-group {
      margin-top: 25px;

      .btn {
        font-size: 13px;
      }
    }

    .intro-block .intro__left {
      width: 100%;
    }

    .intro-block .intro__right {
      width: 270px;
    }
  }

  @media (max-width: 480px) {
    .intro-block {
      h1 {
        font-size: 21px;
        line-height: normal;
      }

      .intro__sub {
        display: none;
      }

      .intro__sub--phone {
        display: block;
        line-height: 21px;
      }
    }

    .btn-group {
      .btn:nth-child(1) {
        margin-right: 0;
      }

      .btn {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
      }
    }

    .intro-block .intro__right {
      width: 65%;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (max-width: 380px) {
    .intro-block .intro__right {
      width: 90%;
    }
  }
}

//box-element
.box-element {
  &__icon {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #fff;
    border: 1px solid $accent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    font-size: 13px;
    line-height: 1.5;
    color: #7f7b77;

    span {
      display: block;
    }

    a {
      color: $accent;
    }
  }

  h3 {
    font-size: 15px;
  }

  &__info {
    margin-left: 15px;
    width: calc(100% - 85px);
  }

  @media (max-width: 1659px) {
    &__icon {
      width: 60px;
      height: 60px;
    }
  }

  @media (max-width: 1200px) {

    &__icon {
      width: 52px;
      height: 52px;

      svg {
        width: 18px;
      }
    }
  }


  @media (max-width: 768px) {
    &__text {
      font-size: 12px;
    }
  }

  @media (max-width: 480px) {
    &__icon {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
    }

    &__info {
      margin-left: 0;
      width: 100%;
      text-align: center;
    }

    h3 {
      font-size: 14px;
    }
  }
}

.box-element-wrapper {
  justify-content: space-between;
  align-items: flex-start;

  .box-element {
    flex: 1;
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: 1659px) {
    .box-element {
      flex: unset;
      width: 49%;
      margin-right: 0;
      margin-bottom: 25px;
    }
  }

  @media (max-width: 768px) {
    .box-element {
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.intro-section {
  border-bottom: 0.0625rem solid #f1efed;
  padding: 40px 0;

  h2 {
    margin-bottom: 40px;
    text-align: center;
  }

  @media (max-width: 992px) {
    padding: 30px 0;

    h2 {
      margin-bottom: 30px;
    }
  }
}
