mixin aside-personal(link, icon, name)
	if selected === name
		li.active
			a(href= link)
				img(src="assets/img/icon/" + icon, alt="")
				span= name
	else
		li
			a(href= link)
				img(src="assets/img/icon/" + icon, alt="")
				span= name
