mixin aside-personal(link, icon, name)
	if selected === name
		li.active
			a(href= link)
				img(src="assets/img/icon/" + icon, alt="")
				span= name
	else
		li
			a(href= link)
				img(src="assets/img/icon/" + icon, alt="")
				span= name

aside
	nav.menu.menu--personal
		ul
			+aside-personal('technique.html', 'user-menu-male.png', 'Мой автопарк')
			+aside-personal('#', 'checklist.png', 'Мои заявки')
			+aside-personal('#', 'floor-plan.png', 'Мои заказы')
			+aside-personal('message.html', 'message.png', 'Сообщения')
			+aside-personal('#', 'documents.png', 'Акты и отчеты')
			+aside-personal('#', 'notification.png', 'Уведомления')
			+aside-personal('#', 'personal-data.png', 'Личные данные')
			+aside-personal('#', 'menu-male.png', 'Баланс и платежи')