mixin catalog-item(img)
	.catalog
		a(href="#").catalog__head
			h3 3т - 6т колесный экскаватор
			.catalog__img
				img(src="assets/img/" + img, alt="")
			.catalog__bottom
				ul.catalog-params
					li Мощность: 18v
					li Параметр: 20х
					li Вес: 2t
				.catalog-prices
					.prices
						span.text от
						span.price 14920
						b ₽ / час
					.prices-left
						span.text 2740 ₽ / без оператора
		button.btn.btn--primary(data-toggle="modal" data-target="#catalogBasket") Добавить в корзину