mixin date(lastDate, lastTime, nextDate, nextTime)
	.box-date
		.box-date__item
			span= lastDate
			| (
			span.time= lastTime
			| ) 
		| - 
		.box-date__item
			span= nextDate
			| (
			span.time= nextTime
			| )