- var menu = [ {name: 'Каталог техники', link: '#'}, {link: '#', name: 'Найти арендодателей'}, {name: 'Все заявки на технику', link: '#'}, {name: 'Оплата и документооборот', link: '#'}, {name: 'Пользовательское соглашение', link: '#'},{name: 'Обратная связь', link: '#'},{name: 'О сервисе', link: '#'},{name: 'Контакты', link: '#'} ];

ul
	each item in menu
		li
			a(href=item.link)= item.name
