@import '../var';

.box-item {
	box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
	background: #fff;
	justify-content: space-between;
	align-items: center;
	padding: 19px 70px 18px 15px;
	margin-bottom: 10px;
	position: relative;

	&__name {
		font-size: 18px;
		font-family: $bold;
		line-height: 1.3;
		padding-right: 20px;
		color: #000;

		span {
			font-family: 'Montserrat-Medium', sans-serif;
		}
	}

	&__number {
		font-size: 13px;
		padding-top: 4px;
	}

	&__text {
		font-size: 13px;
		color: #000;
		line-height: 17px;
	}

	&__line {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		padding-bottom: 4px;
	}

	&__applications {
		font-size: 13px;
		line-height: normal;
		padding-bottom: 17px;

		span {
			color: $color-p;
		}
	}

	.box-item-l {
		color: $color-p;
		font-size: 13px;
	}

	.box-date {
		padding-right: 15px;
	}

	.box-item__group--flex {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		flex-basis: calc(100% - 240px);

		.box-item__info {
			width: calc(100% - 145px);
		}

		.box-item__img {
			width: 130px;
			margin-right: 15px;
			text-align: center;

			img {
				width: 100%;
			}
		}
	}

	.box-item__group--right {
		text-align: right;

		.box-item__block--text--phone {
			display: none;
		}
	}

	.delete {
		position: absolute;
		right: 20px;
		top: 20px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		padding: 0;

		&:focus {
			outline: none;
		}

		@media (max-width: 1659px) {
			right: 15px;
		}

		@media (max-width: 992px) {
			width: 17px;
		}

		@media (max-width: 576px) {
			top: 8px;
			right: 10px;
		}
	}

	.box-item__block {
		padding-bottom: 5px;

		&:last-child {
			padding-bottom: 0;
		}

		.box-item__text:first-child {
			margin-right: 20px;
			width: 200px;
		}
	}

	.box-item__block--flex {
		align-items: center;
	}

	.btn {
		font-size: 13px;
		width: 210px;
	}

	@media (max-width: 1659px) {
		padding-right: 50px;

		&__name {
			font-size: 17px;
			padding-right: 15px;
		}

		.box-item__block {
			.box-item__text:first-child {
				width: 100%;
				margin-right: 0;
				margin-bottom: 3px;
			}
		}

		.box-item__group--flex {
			flex-basis: calc(100% - 225px);
		}
	}

	@media (max-width: 1365px) {
		.box-item__group--flex {
			.box-item__img {
				width: 100px;
				margin-right: 10px;
			}

			.box-item__info {
				width: calc(100% - 120px);
			}
		}
	}

	@media (max-width: 992px) {
		padding-right: 40px;

		.box-item__name {
			font-size: 15px;
		}

		.box-item__line {
			padding-bottom: 3px;
		}

		.box-item__text {
			font-size: 12px;
		}

		.box-item-l {
			font-size: 11px;
		}

		.box-item__number {
			font-size: 12px;
			padding-top: 2px;

			span {
				text-transform: lowercase;
			}
		}

		.box-item__group--flex {
			flex-basis: calc(100% - 225px);
		}

		.box-item__applications {
			padding-bottom: 10px;
		}

		.btn {
			width: 200px;
		}

		.box-date {
			padding-right: 7px;
		}

		.box-item__block {
			padding-bottom: 3px;
		}
	}

	@media (max-width: 810px) {
		.box-item__group--flex {
			flex-basis: 100%;
		}

		.box-item__group--right {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			align-items: center;
			padding-top: 7px;
			padding-left: 110px;
		}

		.box-item__applications {
			padding-bottom: 0;
		}

		.btn {
			margin-left: 0;
			width: 100%;
			margin-top: 8px;
			padding-left: 15px;
			padding-right: 15px;
			background: $accent;
			font-size: 13px;
			color: #fff;
		}
	}

	@media (max-width: 576px) {
		padding: 15px 20px 15px 10px;

		.box-item__group--right {
			padding-left: 0;
			text-align: left;

			.box-item__block--text--phone {
				display: block;
			}
		}

		.box-item__block {
			line-height: normal;
		}

		.box-item__line {
			padding-bottom: 5px;
		}

		.box-item__block--flex {
			display: none;
		}

		.box-item__applications,
    .box-item__text {
			font-size: 11px;
		}

		.box-item__applications {
			padding-top: 10px;
			width: 100%;

			.count {
				width: 16px;
				height: 16px;
				line-height: 16px;
				font-size: 9px;
			}
		}
	}

	@media (max-width: 480px) {
		.box-date {
			width: 100%;
			flex-wrap: wrap;
			padding-right: 0;
		}

		.box-item__name {
			font-size: 14px;
			width: 100%;
			padding-bottom: 2px;
			padding-right: 0;

			span {
				text-transform: lowercase;
			}
		}

		.box-item__group--flex {
			.box-item__img {
				width: 70px;
				margin-right: 10px;
			}

			.box-item__info {
				width: calc(100% - 80px);
			}
		}

		.box-item__block--text--phone {
			.box-item__text:first-child {
				max-width: 250px;
			}
		}
	}
}

.page-aplication {
	position: relative;

	.nav-tabs {
		padding-bottom: 22px;
	}

	.object {
		margin-bottom: 30px;

		@media (max-width: 1365px) {
			margin-bottom: 20px;
		}

		@media (max-width: 992px) {
			margin-bottom: 13px;
		}
	}

	.controls {
		padding-bottom: 19px;
	}
}

// блоки
.aplication-details {
	position: relative;
	box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
	padding: 30px 30px 40px 30px;

	@media (max-width: 1659px) {
		padding: 30px 25px;
	}

	@media (max-width: 480px) {
		box-shadow: none;
		padding: 0;
	}

	.aplication-details__block {
		flex: 1;
		border-right: 1px solid rgba(174, 166, 157, 0.3);

		&:nth-child(2) {
			border-right: 0;
			padding-left: 30px;

			h4 {
				margin-top: 7px;
			}

			h4.pt {
				margin-bottom: 0;
				margin-top: 22px;
			}

			@media (max-width: 1500px) {
				padding-left: 25px;
			}

			@media (max-width: 1365px) {
				padding-left: 0;
			}
		}

		&:first-child {
			padding-right: 30px;

			@media (max-width: 1500px) {
				padding-right: 25px;
			}

			@media (max-width: 1365px) {
				padding-right: 0;
			}
		}

		h3.flex {
			margin-top: 22px;
		}

		@media (max-width: 1365px) {
			border-right: none;
			border-bottom: 1px solid rgba(174, 166, 157, 0.3);
			flex: unset;
			width: 100%;

			&:nth-child(2) {
				border-bottom: none;
				padding-top: 20px;
			}

			&:first-child {
				padding-bottom: 20px;
			}
		}

		@media (max-width: 480px) {
			display: none;
			padding-top: 15px;
		}
	}

	h3 {
		margin-bottom: 22px;
		display: inline-block;

		@media (max-width: 1659px) {
			font-size: 16px;
			margin-bottom: 17px;
		}

		@media (max-width: 768px) {
			font-size: 15px;
			margin-bottom: 10px;
		}
	}

	h4 {
		font-size: 15px;
		font-family: $bold;
		margin-bottom: 8px;

		span {
			font-size: 16px;
		}

		@media (max-width: 576px) {
			span {
				font-size: 15px;
			}
		}
	}

	h4.flex,
	h3.flex {
		display: flex;
		justify-content: space-between;
		margin-bottom: 13px;

		@media (max-width: 768px) {
			margin-top: 15px;
		}
	}

	ul.block {
		li {
      font-size: 14px;
			padding-bottom: 12px;
			line-height: 21px;
			display: flex;
			justify-content: space-between;

			span {
				color: $color-p;
			}

			@media (max-width: 1659px) {
				padding-bottom: 8px;
			}

			@media (max-width: 768px) {
				line-height: normal;
				font-size: 13px;
			}

			@media (max-width: 480px) {
				font-size: 12px;
			}
		}

		.block-result {
			padding-top: 12px;

			@media (max-width: 768px) {
				padding-top: 0;
			}
		}
	}

	ul.sm {
		li {
			font-size: 13px;
			margin-bottom: 7px;
		}
	}

	.aplication-details__line {
		span {
			font-size: 13px;
			position: relative;
			color: $color-p;
			padding-left: 20px;
			top: -3px;

			@media (max-width: 992px) {
				top: 0;
				font-size: 11px;
				padding-left: 15px;
			}
		}
	}

	.aplication-details__obj {
		padding-bottom: 20px;

		ul {
			li {
				line-height: 17px;
				padding-bottom: 7px;
				font-size: 13px;
				color: $color-p;

				span {
					color: #000;
				}

				&:first-child {
					padding-bottom: 10px;
				}

				@media (max-width: 992px) {
					font-size: 12px;
				}

				@media (max-width: 768px) {
					&:first-child {
						padding-bottom: 9px;
					}
				}
			}

			.map {
				display: inline-block;
				margin-right: 12px;

				span {
					vertical-align: middle;
				}
			}

      li.flex-element {
        align-items: center;

        span {
          width: calc(100% - 28px);
        }
      }
		}

		@media (max-width: 1200px) {
			padding-bottom: 15px;
		}

		@media (max-width: 768px) {
			padding-bottom: 7px;
		}
	}

	.aplication-details__obj-item {
		position: relative;
	}

	.tab-content {
		width: 100%;

		.aplication-details__block {
			display: block;
		}
	}

	.aplication-details__block-container {
		width: 100%;
		display: none;

		@media (max-width: 480px) {
			display: block;
		}
	}

	.nav-tabs {
		width: 100%;

		.nav-item {
			flex: 1;
		}

		.nav-link {
			padding-left: 5px;
			padding-right: 5px;
			font-size: 11px;
		}
	}
}

.aplication-details--custom {
	padding: 40px 30px;

	.aplication-details__line {
		padding-bottom: 23px;

		h3 {
			margin-bottom: 0;
		}
	}

	.aplication-details__block {
		position: relative;
		padding: 0;
		border-right: none;
		border-bottom: none;

		&:first-child {
			padding: 0;
			border-bottom: none;
		}
	}

	.aplication-details__obj {
		padding-bottom: 0;
	}

	.map {
		display: inline-block;
		margin-right: 12px;
	}

	.aplication-details__list {
		justify-content: space-between;
		padding-bottom: 0;

		.aplication-details__obj-item {
			width: 43%;

			h4 {
				margin-bottom: 10px;
			}

			span.dark {
				padding-bottom: 10px;
				display: block;
			}

			&:last-child {
				width: 52%;
			}
		}
	}

	.order-date {
		position: absolute;
		top: 0;
		right: 0;
	}

	.order-date--bottom {
		top: unset;
		bottom: 0;
		right: unset;
	}

	@media (max-width: 1659px) {
		padding: 30px 20px;
	}

	@media (max-width: 1335px) and (min-width: 1202px) {
		.aplication-details__list {
			.aplication-details__obj-item {
				width: 100%;
				border-bottom: 0.0625rem solid rgba(174, 166, 157, 0.3);
				padding-bottom: 10px;

				&:last-child {
					padding-top: 15px;
					border-bottom: 0;
					padding-bottom: 0;
				}
			}
		}
	}

	@media (max-width: 992px) {
		padding-top: 25px;
		padding-bottom: 25px;

		span.size {
			font-size: 11px;
		}

		.aplication-details__line {
			padding-bottom: 15px;
		}

		.aplication-details__list {
			.aplication-details__obj-item {
				width: 100%;
				border-bottom: 0.0625rem solid rgba(174, 166, 157, 0.3);

				&:last-child {
					width: 100%;
					padding-top: 15px;
					border-bottom: none;
				}

				h4 {
					margin-bottom: 5px;
				}
			}

			.aplication-details__obj {
				padding-bottom: 15px;
			}
		}

		.order-date {
			position: relative;
		}
	}

	@media (max-width: 480px) {
		box-shadow: 0 0.0625rem 0.75rem rgba(0, 0, 0, 0.06);
		padding: 20px 15px;

		.aplication-details__block {
			display: block;
		}
	}
}

.wrap-obj {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;

	.aplication-details--custom {
		position: relative;
		width: calc(100% - 395px);
		display: block;
	}

	.aplication-details--custom:last-child {
		width: 385px;
		margin-left: 10px;

		h4.flex {
			margin-bottom: 0;
			margin-top: 20px;
		}

		.text {
			font-size: 13px;
			padding-top: 20px;
		}
	}

	@media (max-width: 1659px) {
		.aplication-details--custom {
			width: calc(100% - 350px);
		}

		.aplication-details--custom:last-child {
			width: 340px;
		}
	}

	@media (max-width: 1200px) {
		.aplication-details--custom:last-child .text {
			padding-top: 10px;
		}
	}

	@media (max-width: 768px) {
		.aplication-details--custom {
			width: 100%;

			&:last-child {
				width: 100%;
				margin-left: 0;

				h4.flex {
					margin-top: 10px;
				}

				.text {
					font-size: 10px;
					padding-top: 7px;
				}
			}
		}
	}
}

.aplication-obj {
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;

	.aplication-obj__name {
		font-family: $bold;
		line-height: 22px;
		padding-bottom: 10px;

		span {
			text-transform: uppercase;
			font-family: Montserrat-Medium, sans-serif;
		}

		@media (max-width: 992px) {
			font-size: 15px;
			padding-bottom: 3px;
		}

		@media (max-width: 767px) {
			font-size: 13px;
			padding-bottom: 5px;
			line-height: normal;
		}
	}

	.aplication-obj__img {
		width: 130px;

		@media (max-width: 992px) {
			width: 100px;
		}

		@media (max-width: 767px) {
			width: 86px;
		}

		@media (max-width: 576px) {
			width: 79px;
		}
	}

	.aplication-obj__box {
		padding: 20px 15px;
		box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
		justify-content: space-between;
		align-items: flex-end;
		width: 75%;

		@media (max-width: 767px) {
			padding: 15px 10px;
		}
	}

	.aplication-obj__group {
		display: flex;
		flex-wrap: wrap;

		.item {
			padding-right: 20px;
			padding-bottom: 15px;

			&:last-child {
				padding-right: 0;
			}
		}

		@media (max-width: 1659px) and (min-width: 768px) {
			&:nth-child(2) {
				flex-direction: column;
			}

			.item {
				padding-right: 0;
				width: 100%;
				padding-bottom: 5px;

				&:last-child {
					padding-bottom: 0;
				}
			}
		}

		@media (max-width: 767px) {
			width: 100%;

			&:nth-child(2) {
				padding-top: 10px;

				.item {
					padding-bottom: 0;
					padding-right: 15px;

					&:last-child {
						padding-right: 0;
					}
				}
			}

			label.custom-label {
				font-size: 12px;
				padding-left: 30px;
			}
		}

		@media (max-width: 480px) {
			label.custom-label {
				font-size: 11px;
			}
		}
	}

	.aplication-obj__group-block {
		padding-left: 10px;

		@media (max-width: 767px) {
			width: calc(100% - 90px);
		}
	}

	.inf {
		font-size: 13px;
		color: $accent;
		line-height: 17px;
		padding-bottom: 2px;

		@media (max-width: 767px) {
			font-size: 11px;
			padding-bottom: 0;
			line-height: normal;
		}

		@media (max-width: 576px) {
			font-size: 10px;
		}
	}

	.aplication-obj__button {
		width: 260px;

		button {
			display: block;
			width: 100%;
			padding-left: 10px;
			padding-right: 10px;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 10px;
			}
		}

		@media (max-width: 1659px) {
			width: 230px;

			button {
				font-size: 15px;
			}
		}
	}

	.aplication-obj__wrap {
		width: calc(100% - 270px);
		padding-right: 10px;

		.aplication-obj__box,
		.aplication-content {
			width: 100%;
		}

		.aplication-content {
			margin-top: 9px;
		}

		@media (max-width: 1659px) {
			width: calc(100% - 235px);
		}
	}

	.aplication-obj__link {
		width: 260px;

		button {
			display: block;
			width: 100%;
			padding: 8px 15px;
			margin-bottom: 10px;
		}

		@media (max-width: 1659px) {
			width: 230px;

			button {
				font-size: 15px;
				padding: 8px 10px;
			}
		}
	}

	.box-date {
		@media (max-width: 767px) {
			font-size: 11px;
		}
	}

	@media (max-width: 991px) {
		.aplication-obj__wrap {
			width: 100%;
			order: 1;
			padding-right: 0;
		}

		.aplication-obj__link,
		.aplication-obj__button {
			width: 100%;
			order: 0;

			button {
				padding: 7px;
				font-size: 13px;
				width: 210px;
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		.aplication-obj__link,
		.aplication-obj__button .aplication-obj__button__wrap {
			display: flex;
			flex-wrap: wrap;
		}
	}

	@media (max-width: 768px) {
		.aplication-obj__link,
		.aplication-obj__button .aplication-obj__button__wrap {
			justify-content: space-between;
		}

		.aplication-obj__link,
		.aplication-obj__button {
			button {
				width: 49%;
				margin-right: 0;
				margin-left: 0;
			}
		}
	}

	@media (max-width: 768px) {
		.aplication-obj__link,
		.aplication-obj__button {
			button {
				font-size: 10px;
				padding: 7px 2px;
			}
		}
	}
}

.aplication-inside {
	&__head {
		padding-bottom: 25px;

		.btn {
			text-align: left;
			font-size: 15px;
			padding: 10px 15px;

			svg {
				margin-right: 6px;
			}

			span {
				vertical-align: middle;
			}
		}

    .btn-prev {
      margin-bottom: 0;
    }

		@media (max-width: 992px) {
			.btn {
				padding: 8px 14px;
			}
		}

		@media (max-width: 576px) {
			.btn {
				font-size: 13px;
				padding: 6px 20px;
			}
		}
	}
}

.el-fixed {
	position: fixed;
	top: 0;
}
