@import "../var";

.application-catalog {
	.form {
		.form__layout {
			align-items: flex-end;
			padding-bottom: 5px;
		}

		label {
			margin-bottom: 8px;
		}

		.form__item--map {
			width: 530px;
		}

		.filter-block {
			width: 170px;
			margin-bottom: 0;

			.filter-block__name {
				padding-bottom: 8px;
			}
		}

		.form__item--map,
		.form__item--select,
		.filter-block {
			margin-right: 30px;
		}

		.form__item,
		.filter-block {
			margin-bottom: 15px;
		}

		.gr-check {
			position: relative;
			display: inline-block;
		}

		.form__item--chec {
			width: 100%;
			text-align: left;

			.custom-label {
				margin-bottom: 0;
				display: inline-block;
			}
		}

		@media (max-width: 1659px) {
			.form__item--map,
			.form__item--select,
			.filter-block {
				margin-right: 25px;
			}

			.form__item--map {
				width: 490px;
			}
		}

		@media (max-width: 992px) {
			.form__layout {
				align-items: flex-end;
			}

			.form__item--map {
				width: 100%;
				margin-right: 0;
			}

			.filter-block,
			.form__item--select {
				flex: 1;

				.bootstrap-select.stand:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
					width: 100%;
				}
			}

			.filter-block {
				margin-right: 10px;
			}

			.form__item--select {
				margin-right: 0;
			}

      .form__item--btn {
        order: 1;
      }
		}

    @media (max-width: 768px) {
      .form__item--btn {
        width: 100%;

        .btn {
          width: 100%;
          padding: 0.3125rem;
        }
      }
    }

		@media (max-width: 480px) {
			.form__item--select {
				width: 100%;
				flex: unset;
			}

			.filter-block {
				width: 100%;
				margin-right: 0;
			}

			.form__item,
			.filter-block {
				margin-bottom: 10px;
			}
		}
	}

	.form__item-w {
		width: 200px;
	}

	.form__flex {
		display: flex;
		justify-content: space-between;
	}

	.filter-block {
		.filter-block__name {
			padding-bottom: 7px;
		}
	}

	.content {
		padding-top: 28px;
	}

	&__head {
		.btn-back {
			text-align: left;
			border: 1px solid #aea69d;
			color: $color-text;
			font-size: 13px;
			padding: 10px 30px;

			span {
				margin-left: 15px;
				vertical-align: middle;
			}
		}

		.controls {
			padding-top: 20px;
		}
	}

	.application-catalog__line {
		padding-top: 35px;
		padding-bottom: 15px;

		h3 {
			display: inline-block;
			margin-bottom: 0;
		}

		.sub {
			color: $color-p;
			padding-top: 28px;
		}

		.pl {
			margin-right: 20px;
		}
	}

	.item-w {
		width: 210px;
	}

	.o-block__text {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		.o-block__text-left {
			width: 156px;
			line-height: 17px;
			margin-right: 10px;
		}
	}
}

.application-catalog {
	.form-page-application {
		width: 100%;
	}
}

.m-block {
	background: #fff;
	box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
	padding: 23px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;

	&__date {
		font-size: 13px;
		color: rgba(0, 0, 0, 0.7);
		padding-bottom: 8px;
	}

	&__name {
		color: #000;
		font-size: 17px;
		font-family: $bold;
		line-height: 1.3;
		padding-bottom: 8px;
	}

	.m-block__text {
		font-size: 13px;
		color: #000;
		line-height: 17px;
	}

	.box-dh__block {
		padding-bottom: 7px;
		line-height: normal;

		&:last-child {
			padding-bottom: 0;
		}
	}

	.m-block__wrapp {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: calc(100% - 250px);
	}

	.m-block__group:first-child {
		width: 480px;
	}

	.m-block__group--btn {
		width: 230px;
	}

	.m-block__group--width {
		width: 42%;
		margin-left: 30px;

		.badge {
			margin-right: 20px;
			margin-bottom: 10px;

			&:nth-child(2) {
				margin-right: 0;
			}

			&:nth-child(3) {
				margin-bottom: 0;
			}
		}
	}

	.btn-share {
		margin-top: 15px;
	}

	.box-dh__block--inline {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		.m-block__text:first-child {
			width: 203px;
			margin-right: 20px;
		}
	}

	@media (max-width: 1659px) {
		padding-left: 20px;
		padding-right: 20px;

		.m-block__group--btn {
			width: 200px;
		}

		.m-block__wrapp {
			width: calc(100% - 220px);
		}
	}

	@media (max-width: 1365px) {
		&__name {
			font-size: 15px;
		}

		.m-block__group--width {
			width: 32%;
		}

		.box-date,
		.m-block__text,
		.box-dh {
			font-size: 12px;
		}

		.box-dh__block--inline .m-block__text:first-child {
			width: 100%;
			margin-right: 0;
		}
	}

	@media (max-width: 1200px) {
		.m-block__group:first-child {
			width: 400px;
		}

		.m-block__group--width {
			width: 36%;
		}
	}

	@media (max-width: 992px) {
		align-items: flex-start;

		.m-block__group--width {
			padding-top: 4px;
			border-top: 1px solid rgba(0, 0, 0, 0.05);
			width: 100%;
			margin-left: 0;
			margin-top: 3px;

			.badge {
				margin-right: 15px;
				margin-bottom: 0;
			}

			.badge:nth-child(2) {
				margin-right: 15px;
			}
		}

		.m-block__group:first-child {
			width: 100%;
			padding-bottom: 4px;
		}

		.m-block__name {
			font-size: 14px;
			max-width: 450px;
		}

		.m-block__group--btn {
			width: 170px;

			.btn,
			.btn-share {
				font-size: 13px;
			}
		}

		.m-block__wrapp {
			width: calc(100% - 190px);
		}
	}

	@media (max-width: 768px) {
		padding: 20px 15px;

		.m-block__group--width .badge,
		.m-block__date,
		.box-date,
		.m-block__text {
			font-size: 11px;
		}

		.m-block__wrapp {
			width: 100%;
		}

		.m-block__name {
			padding-bottom: 5px;
			max-width: 100%;
		}

		.m-block__group--btn {
			padding-top: 10px;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.btn,
			.btn-share {
				width: 49%;
			}
		}

		.btn-share {
			margin-top: 0;
			background: $accent;
			color: #fff;

			svg {
				circle {
					fill: #fff;
				}

				line {
					stroke: #fff;
				}
			}
		}
	}

	@media (max-width: 480px) {
		.m-block__group--btn {
			.btn,
			.btn-share {
				width: 100%;
				padding: 5px;
				font-size: 12px;
			}

			.btn-share {
				margin-top: 7px;
			}
		}

		.m-block__name {
			font-size: 13px;
		}
	}
}

.o-block {
	color: #000;
	font-size: 13px;
	box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
	padding: 24px 30px 23px 25px;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	.o-block__line {
		display: flex;
		flex-wrap: wrap;
		flex-basis: 540px;
		max-width: 540px;

		.o-block__img {
			width: 148px;

			img {
				width: 100%;
			}
		}

		.o-block__group {
			margin-left: 15px;
			width: calc(100% - 165px);
		}

		.o-block__name {
			padding-right: 10px;
		}

		.box-block {
			padding-bottom: 9px;

			.box-date {
				padding-right: 10px;
			}
		}

		.o-block__group-wrap {
			padding-bottom: 7px;
			display: flex;
			flex-wrap: wrap;
		}
	}

	.o-item-wrapp {
		display: flex;
		flex-wrap: wrap;

		.o-item:last-child {
			padding-left: 70px;
		}
	}

	.o-item-wrapp--phone {
		display: none;
	}

	.o-block__group--btn {
		flex-basis: 220px;
		max-width: 220px;

		.btn {
			width: 100%;
			margin-bottom: 15px;
		}
	}

	&__name {
		font-family: $bold;
		font-size: 16px;
		line-height: normal;
	}

	.o-block__count {
		color: $accent;
	}

	.o-block__city {
		padding-bottom: 6px;
	}

	.o-block__group {
		button {
			padding-left: 5px;
			padding-right: 5px;
		}
	}

	&__date {
		color: rgba(0, 0, 0, 0.7);
		padding-bottom: 7px;
	}

	.o-item {
		h3 {
			font-size: 15px;
		}

		span {
			font-size: 16px;
		}
	}

	@media (max-width: 1659px) {
		padding: 20px;

		.o-block__group--btn {
			flex-basis: 200px;
			max-width: 200px;
		}

		.o-block__line {
			flex-basis: 520px;
			max-width: 520px;

			.o-block__group {
				margin-left: 10px;
			}
		}
	}

	@media (max-width: 1300px) {
		.o-item-wrapp {
			justify-content: center;

			.o-item {
				width: 100%;

				&:last-child {
					padding-left: 0;
					padding-top: 15px;
				}

				h3 {
					margin-bottom: 4px;
				}
			}
		}
	}

	@media (max-width: 1200px) {
		.o-block__line {
			flex-basis: 67%;
			max-width: 67%;

			.o-block__img {
				width: 130px;
			}

			.o-block__group {
				width: calc(100% - 140px);
			}

			.box-block,
			.o-block__city,
			.o-block__date,
			.o-block__text,
			.box-dh {
				padding-bottom: 4px;
				font-size: 12px;
			}

			.box-date {
				font-size: 12px;
			}

			.o-block__name {
				font-size: 15px;
			}
		}

		.o-item-wrapp {
			display: none;
		}

		.o-item-wrapp--phone {
			display: flex;
			justify-content: flex-start;
			padding-top: 7px;

			.o-item {
				width: auto;

				&:first-child {
					padding-right: 20px;
				}

				&:last-child {
					padding-top: 0;
					padding-right: 0;
				}
			}
		}

		.o-block__text .o-block__text-left {
			width: auto;
		}
	}

	@media (max-width: 992px) {
		.o-block__line {
			.o-block__img {
				width: 100px;
			}

			.o-block__group {
				width: calc(100% - 120px);
			}
		}
	}

	@media (max-width: 768px) {
		padding: 15px;

		.o-block__line {
			flex-basis: 100%;
			max-width: 100%;

			.box-block,
			.o-block__city,
			.o-block__date,
			.o-block__text,
			.box-dh,
			.box-date {
				padding-bottom: 3px;
				font-size: 11px;
			}
		}

		.o-block__group--btn {
			padding-top: 10px;
			flex-basis: 100%;
			max-width: 100%;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			.btn,
			.btn-share {
				padding: 5px;
				font-size: 12px;
				width: 49%;
				background: $accent;
				color: #fff;
				margin-bottom: 0;

				svg {
					path {
						fill: #fff;
					}
				}
			}
		}

		.o-item-wrapp--phone {
			padding-top: 5px;

			h3 {
				font-size: 13px;
			}

			span {
				font-size: 13px;
			}
		}
	}

	@media (max-width: 480px) {
		padding-left: 10px;
		padding-right: 10px;

		.o-block__line {
			.o-block__group {
				margin-left: 0;
				width: 100%;
			}
		}

		.o-block__group--btn {
			.btn,
			.btn-share {
				width: 100%;
			}

			.btn {
				margin-bottom: 7px;
			}
		}
	}
}

.o-block--cutsom {
	.o-block__group--btn {
		flex-basis: 190px;
		max-width: 190px;

		.btn {
			margin-bottom: 10px;
			font-size: 14px;
		}
	}

	.o-block__line {
		flex-basis: 370px;
		max-width: 370px;

		.o-block__group {
			margin-left: 0;
			width: 100%;
		}

		.box-block {
			padding-bottom: 5px;
		}
	}

	.o-block__text {
		color: rgba(0, 0, 0, 0.7);

		.o-block__text-left {
			display: inline-block;
		}
	}

	.o-block__city {
    .o-block__city-info {
      padding-left: 11px;
      width: calc(100% - 27px);

      span {
        padding-right: 15px;
      }
    }

    .cusm {
      font-size: 13px;
      color: $color-p;
    }
	}

	.o-item-wrapp .o-item:last-child {
		padding-left: 40px;
	}

	@media (max-width: 1365px) and (min-width: 1201px) {
		.o-item-wrapp {
			display: block;
			margin-right: 15px;
			margin-left: 15px;

			.o-item {
				width: 100%;

				&:last-child {
					padding-left: 0;
					padding-top: 15px;
				}
			}
		}

    .o-item-wrapp--phone {
      display: none;
    }
	}

	@media (max-width: 1200px) {
		.o-block__line {
			flex-basis: 65%;
			max-width: 65%;

			.box-block {
				padding-bottom: 0;
			}
		}

		.o-item-wrapp .o-item:last-child {
			padding-left: 0;
		}
	}

	@media (max-width: 768px) {
		.o-block__line {
			flex-basis: 100%;
			max-width: 100%;
		}

		.o-block__group--btn {
			flex-basis: 100%;
			max-width: 100%;

			.btn,
      .btn-share {
				font-size: 12px;
			}

			.btn {
				margin-bottom: 5px;
			}
		}
	}
}

.block-position {
	table {
		margin-bottom: 0;

		thead th,
		tbody td {
			font-family: "Montserrat-Medium", sans-serif;
			font-weight: normal;
		}

		thead tr,
		tbody tr {
			text-align: center;
		}

		tbody td {
			font-size: 13px;
			vertical-align: middle;
			padding-top: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid rgba(174, 166, 157, 0.1);
		}

		thead th {
			// border-top: 1px solid rgba(174, 166, 157, 0.1);
			border-top: 0;
			border-bottom: 0;
			padding-bottom: 30px;
			padding-top: 0;
		}

		.counter {
			input {
				height: 35px;
				width: 110px;
			}
		}

		span {
			vertical-align: middle;
		}

		.btn-tool {
			margin-left: 20px;
		}

		thead {
			th:first-child {
				padding-left: 0;
				text-align: left;
			}

			th:last-child {
				padding-right: 0;
				text-align: right;
			}
		}

		tbody {
			td:last-child {
				text-align: right;
				padding-right: 0;
			}

			td:first-child {
				padding-left: 0;
				text-align: left;
			}
		}

		@media (max-width: 1659px) {
			thead th {
				font-size: 14px;
				padding-bottom: 20px;
			}

			tbody td {
				font-size: 14px;
			}
		}

		@media (max-width: 1200px) {
			.counter input {
				padding: 7px 3px;
				width: 90px;
			}

			tbody {
				td {
					padding: 10px;

					> span {
						margin-right: 10px;
					}
				}
			}
		}

		@media (max-width: 992px) {
			table-layout: fixed;
			width: 100%;

			thead th {
				font-size: 12px;
				padding-bottom: 10px;
				width: 120px;

				&:first-child,
				&:nth-child(4) {
					width: 180px;
				}

				&:nth-child(3) {
					width: 140px;
				}
			}

			tbody td {
				font-size: 12px;
			}

			.item {
				.label-size {
					font-size: 12px;
				}
			}
		}

		@media (max-width: 480px) {
			thead th {
				font-size: 11px;
			}

			tbody td {
				font-size: 11px;
			}

			.item {
				.label-size {
					font-size: 11px;
				}
			}
		}
	}

	.block-position__info {
		padding: 26px 0;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid rgba(194, 194, 194, 0.3);

		.total {
			font-family: $bold;
			font-size: 18px;

			span {
				margin-left: 19px;
			}
		}

		.number {
			font-size: 13px;
		}

		@media (max-width: 1365px) {
			padding: 22px 0;

			.total {
				font-size: 17px;

				span {
					margin-left: 15px;
				}
			}
		}

		@media (max-width: 480px) {
			padding: 14px 0;

			.total {
				font-size: 15px;
				width: 100%;
				padding-top: 6px;

				span {
					margin-left: 10px;
				}
			}

			.number {
				font-size: 12px;
			}
		}
	}

	.block-position__other {
		padding-top: 30px;

		.switch {
			span {
				font-size: 13px;
				color: #aea69d;
			}
		}

		.item.item--width {
			width: 140px;
		}

		.block-position__line {
			padding-bottom: 60px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;

			@media (max-width: 992px) {
				padding-bottom: 40px;
			}

			@media (max-width: 480px) {
				padding-bottom: 30px;
			}
		}

		.block-position__group {
			// display: flex;
			// flex-wrap: wrap;
			// align-items: center;

			.item--width {
				margin-top: 15px;
				font-size: 14px;
				display: flex;
				align-items: center;

				span {
					margin-left: 10px;
				}
			}

			@media (max-width: 850px) {
				width: 100%;

				.custom-label {
					font-size: 12px;
				}
			}

			@media (max-width: 570px) {
				.custom-label {
					font-size: 11px;
				}

				.item {
					width: 100%;
				}

				.item--width {
					margin-left: 0;
					margin-top: 15px;
				}
			}
		}

		@media (max-width: 850px) {
			padding-top: 20px;
		}

		@media (max-width: 992px) {
			.switch {
				span {
					font-size: 12px;
				}
			}
		}

		@media (max-width: 480px) {
			.switch__label {
				margin-left: 10px;
				margin-right: 10px;
			}
		}
	}
}

.information-list {
	li {
		position: relative;
		font-size: 13px;
		border-right: 1px solid rgba(174, 166, 157, 0.3);
		padding-right: 20px;
		margin-right: 20px;
    margin-bottom: 15px;

		&:nth-child(5) {
			padding-right: 28px;
		}

		display: inline-block;

		span.name {
			display: block;
			line-height: 17px;
		}

		button {
			position: absolute;
			top: -12px;
			right: 4px;
		}

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
			border-right: 0;
		}
	}

	@media (max-width: 992px) {
		display: flex;
		flex-wrap: wrap;

		li {
			padding-right: 0;
			margin-right: 0;
			border-right: 0;
			font-size: 12px;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 4px;

			> span.name {
				margin-right: 7px;
			}

			&:nth-child(5) {
				padding-right: 0;
			}

			button {
				display: none;
			}
		}

		.box-date {
			font-size: 12px;
		}
	}

	@media (max-width: 768px) {
		li,
		.box-date {
			font-size: 11px;
		}
	}
}

.block-information-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 20px;

	.block-information {
		max-width: 56.8%;
		flex: 0 0 56.8%;
	}

	.block-information:last-child {
		max-width: 41.5%;
		flex: 0 0 41.5%;
	}

	@media (max-width: 992px) {
		.block-information {
			max-width: 100%;
			flex: 100%;

			.block-information__content {
				max-width: 100%;
			}
		}

		.block-information:last-child {
			margin-top: 15px;
			max-width: 100%;
			flex: 100%;
		}
	}
}

.block-information {
	box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
	padding: 30px;

	ul {
		li {
			display: flex;
			justify-content: space-between;
			font-family: $bold;
			margin-bottom: 10px;

			span {
				color: $color-p;
				font-family: Montserrat-Medium, sans-serif;
			}
		}
	}

	button {
		margin-top: 10px;
	}

	.item h4 {
		margin-bottom: 0;
		vertical-align: middle;
		color: $color-text;
		line-height: normal;
	}

	.block-information__text {
		color: $color-p;
		font-size: 13px;
		line-height: 21px;
		padding-bottom: 29px;
	}

	.block-information__content {
		max-width: 480px;
	}

	.block-information__line {
		padding-bottom: 18px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

    > .item {
      margin-right: 15px;
    }
	}

	.fb {
		font-family: "Montserrat-Bold", sans-serif;
		line-height: normal;
	}

	@media (max-width: 1659px) {
		padding: 20px;

		.block-information__text {
			padding-bottom: 20px;
		}
	}

	@media (max-width: 1365px) {
		.block-information__line {
			padding-bottom: 10px;
		}

		ul {
			li {
				font-size: 15px;
				margin-bottom: 7px;
			}
		}

		.block-information__text {
			padding-bottom: 10px;
		}

		.fb {
			font-size: 15px;
		}
	}

	@media (max-width: 768px) {
		padding: 20px 15px;

		.block-information__line {
			> .item {
				width: 100%;
        margin-right: 0;
			}

			input {
				margin-left: 0;
				width: 80%;
			}
		}

		.fb {
			font-size: 11px;
			line-height: normal;
			font-family: "Montserrat-Medium", sans-serif;
		}

		.block-information__text {
			font-size: 12px;
		}

		.item {
			.label-size {
				font-size: 11px;
				line-height: normal;
			}
		}
	}

	@media (max-width: 480px) {
		.block-information__text {
			font-size: 11px;
			line-height: normal;
		}

		ul {
			li {
				font-size: 13px;
				margin-bottom: 5px;
			}
		}
	}
}
