.page-content {
  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 384px;
  }

  .edit {
    padding-top: 15px;
  }

  .btn-wrap {
    padding-top: 30px;
    text-align: right;

    .btn {
      max-width: 290px;
      width: 100%;
    }
  }

  @media (max-width: 576px) {
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
      width: 100%;
    }

    .btn-wrap {
      padding-top: 20px;

      .btn {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}
