@import "../var";

.information-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  font-family: Montserrat-Medium, sans-serif;

  h3 {
    color: $color-text;
    margin-bottom: 10px;
  }

  &__adress {
    font-size: 13px;
    line-height: normal;
  }

  .information-block__left {
    width: calc(100% - 270px);
  }

  .information-block__right {
    text-align: right;
    display: flex;
    align-items: center;

    .information-block__group {
      font-size: 15px;
    }

    .open {
      margin-left: 44px;
    }
  }

  .information-block__date {
    font-size: 13px;
    color: rgba(0, 0, 0, 07);
    padding-bottom: 5px;
  }

  @media (max-width: 1659px) {
    h3 {
      font-size: 21px;
    }
  }

  @media (max-width: 992px) {
    h3 {
      font-size: 18px;
    }

    .information-block__right {
      .information-block__group {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 760px) {
    .information-block__left,
    .information-block__right {
      width: 100%;
    }

    .information-block__right {
      padding-top: 10px;
      width: 100%;

      .information-block__group {
        font-size: 12px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }
    }

    .information-block__adress {
      font-size: 12px;
    }
  }

  @media (max-width: 760px) {
    h3 {
      font-size: 16px;
    }

    .information-block__adress,
    .information-block__date {
      font-size: 11px;
    }

    .information-block__right .information-block__group {
      .number {
        text-align: left;
        width: 100%;
      }
    }
  }
}

.information-panel {
  margin-bottom: 20px;
}
