@import "../var";

.categories-page {
  h3.title-pb {
    margin-bottom: 30px;

    @media (max-width: 1659px) {
      margin-bottom: 25px;
    }

    @media (max-width: 992px) {
      margin-bottom: 20px;
    }

    @media (max-width: 768px) {
      margin-bottom: 15px;
    }
  }

  h3.title--catalog {
    font-size: 20px;
  }

  .categories-page__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;

    .btn-group {
      flex-wrap: wrap;

      .btn {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .btn {
      padding: 7px 25px;

      .count {
        position: absolute;
        top: -10px;
        width: 26px;
        height: 26px;
        line-height: 26px;
      }
    }

    @media (max-width: 1659px) {
      .btn {
        font-size: 15px;
      }
    }

    @media (max-width: 1365px) {
      .btn {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    @media (max-width: 1200px) {
      padding-bottom: 25px;

      .btn-group {
        .btn {
          margin-right: 15px;
        }
      }

      .btn {
        font-size: 14px;
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }

    @media (max-width: 767px) {
      .btn-group {
        width: 100%;
        margin-bottom: 10px;

        .btn {
          margin-right: 10px;
        }
      }
    }

    @media (max-width: 480px) {
      padding-bottom: 15px;

      .btn-group {
        margin-bottom: 0;

        .btn {
          margin-right: 0;
        }
      }

      .btn {
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
        margin-bottom: 7px;

        .count {
          top: -5px;
        }
      }
    }
  }

  .search-inside {
    padding-bottom: 30px;

    @media (max-width: 768px) {
      padding-bottom: 20px;
    }
  }

  .categories-page__bg {
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
    padding: 40px 70px;

    .form {
      .item {
        position: relative;

        label {
          margin-bottom: 0;
        }
      }

      input {
        padding-left: 10px;
        padding-right: 10px;
      }

      .form__line {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 40px;

        h4 {
          font-size: 16px;
          width: 100%;
          margin-bottom: 15px;
        }

        .item {
          padding-right: 30px;

          &:last-child {
            padding-right: 0;
          }
        }

        .form__item {
          margin-right: 20px;

          &:last-child {
            margin-right: 0;
          }
        }

        .form__item-m {
          width: 180px;

          .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 100%;
          }
        }

        .form__item-x {
          flex: 1;

          .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 100%;
          }
        }

        .form__item--btn {
          width: calc(100% - 600px);
        }

        .btn-modal-open {
          border: 1px solid rgba(174, 166, 157, 0.3);
          display: block;
          color: $color-p;
          font-size: 13px;
          text-align: left;
          width: 100%;
          padding: 9px 13px;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }

      .form__line.form__line--jc {
        padding-bottom: 16px;
        justify-content: space-between;

        h3 {
          margin-bottom: 0;
        }

        .btn--wide {
          width: 200px;
        }
      }

      .form__line.form__line--pb {
        padding-bottom: 28px;

        .item {
          padding-bottom: 10px;
        }
      }

      .notes-block {
        width: 100%;

        &__item {
          font-size: 13px;
          color: $color-p;
        }

        .notes-block__body {
          height: 128px;
        }
      }

      .form-block-wrap {
        padding-top: 20px;

        > h3 {
          margin-bottom: 35px;
        }
      }

      .form-block-wrap.form-block-wrap--not {
        padding-top: 0;
      }

      .form-block {
        label {
          margin-bottom: 5px;
        }

        .form-block__item {
          display: flex;
          flex-wrap: wrap;
          padding-bottom: 30px;

          h4 {
            font-size: 18px;
            margin-bottom: 17px;
            width: 100%;
          }

          &:last-child {
            padding-bottom: 0;
          }
        }

        .form__item {
          display: inline-block;
          margin-right: 10px;
          width: 150px;
        }

        .form__item--min {
          width: 105px;
        }

        .form__item-w {
          width: calc(100% - 502px);
        }

        .form-item--custom {
          width: 250px;
        }

        .form__group {
          padding-right: 28px;

          label {
            color: $color-p;
          }

          .form__item:last-child {
            margin-right: 0;
          }

          &:last-child {
            padding-right: 0;
          }
        }

        .form-block__positions {
          width: 100%;
          padding-bottom: 14px;

          .form__item {
            vertical-align: bottom;
            margin-right: 13px;

            &:last-child {
              margin-right: 0;
            }
          }

          .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 100%;
          }

          &:last-child {
            padding-bottom: 0;
          }
        }

        .form-block__positions-custom {
          .form__item:nth-child(2) {
            width: 310px;
          }
        }
      }

      .form-block.form-block--wide {
        .form__group {
          padding-right: 20px;

          .form__item--min {
            width: 110px;
          }
        }

        @media (max-width: 576px) {
          .form-block__item {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
          }

          .form__group {
            width: 49%;
            padding-left: 0;
            padding-right: 0;

            .form__item--min {
              width: 100%;
            }
          }
        }
      }

      .btn-wrap {
        text-align: right;
        padding-top: 40px;
      }

      label {
        font-size: 15px;
      }

      @media (max-width: 1659px) {
        .form-block {
          .form__item--min {
            width: 91px;
          }

          .form__item {
            margin-right: 5px;
          }

          .form__group {
            padding-right: 22px;
          }
        }
      }

      @media (max-width: 1366px) {
        .notes-block {
          .notes-block__item {
            width: calc(25% - 8px);
            margin: 0 5px;

            &:first-child {
              margin-left: 0;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .form__line {
          padding-bottom: 20px;

          .form__item {
            margin-right: 15px;
          }

          .form__item--btn {
            width: calc(100% - 588px);
          }
        }

        .form__line--jc {
          padding-bottom: 30px;
        }

        .form-block-wrap {
          padding-top: 25px;

          > h3 {
            margin-bottom: 30px;
          }
        }

        label {
          font-size: 13px;
        }
      }

      @media (max-width: 1365px) {
        label {
          margin-bottom: 6px;
        }

        .form__line {
          .form__item--btn {
            width: 40%;
          }

          .item {
            padding-right: 20px;
          }

          .form__item {
            margin-bottom: 11px;
          }
        }

        .form__line--jc {
          padding-bottom: 25px;
        }

        .form__line.form__line--pb {
          padding-bottom: 20px;
        }

        .form-block-wrap {
          padding-top: 5px;

          > h3 {
            margin-bottom: 25px;
          }
        }

        .form-block {
          .form__item--min {
            width: 80px;
          }

          .form__group {
            padding-right: 15px;
            padding-bottom: 7px;
          }
        }
      }

      @media (max-width: 992px) {
        .form__line {
          padding-bottom: 15px;

          .form__item--btn {
            width: 260px;
          }

          h4 {
            font-size: 14px;
          }
        }

        .form__line--jc {
          h3 {
            font-size: 18px;
          }
        }

        .notes-block {
          justify-content: space-between;

          .notes-block__item {
            width: calc((100% / 2) - 10px);
            margin-right: 0;
            margin-left: 0;
            margin-bottom: 7px;
          }
        }

        .form-block-wrap {
          > h3 {
            font-size: 16px;
            margin-bottom: 17px;
          }
        }

        .form-block {
          .form__item--min {
            width: 70px;
          }

          .form-block__item {
            padding-bottom: 20px;

            h4 {
              font-size: 14px;
              margin-bottom: 10px;
            }
          }

          .form-block__positions {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            padding-bottom: 5px;

            .form__item {
              font-size: 13px;
              flex: 1;
              width: auto;
              margin-bottom: 10px;
            }

            .form__item-w {
              flex: 2;
              width: auto;
            }
          }
        }
      }

      @media (max-width: 767px) {
        .form__line {
          padding-bottom: 12px;

          .form__item {
            margin-right: 5px;
            margin-left: 5px;

            &:last-child {
              margin-right: 5px;
            }
          }

          .form__item--btn,
          .form__item-m {
            width: 100%;
          }

          .form-item--custom {
            flex: 1;
          }

          .notes-block {
            .notes-block__item {
              margin-right: 5px;
              margin-left: 5px;
            }
          }

          .form-block .form-block__positions {
            padding-bottom: 5px;
            margin-right: 5px;
            margin-left: 5px;
          }
        }

        .form__line.form__line--jc {
          padding-bottom: 13px;

          h3 {
            font-size: 17px;
          }

          .btn {
            font-size: 13px;
            width: 175px;
          }
        }

        .form-block .form-block__item {
          padding-bottom: 11px;
        }
      }

      @media (max-width: 576px) {
        .bootstrap-select .btn-light {
          padding-left: 13px;
          padding-right: 13px;
        }

        .form__line {
          .item {
            padding-bottom: 7px;
            padding-right: 13px;
          }

          .btn-modal-open {
            border: 1px solid rgba(174, 166, 157, 0.3);
            padding: 7px 13px;
          }
        }

        .form__line.form__line--pb {
          padding-bottom: 15px;
        }

        .form__line.form__line--jc {
          .btn {
            width: 100%;
            order: 0;
          }

          h3 {
            margin-top: 15px;
            order: 1;
            text-align: center;
            width: 100%;
          }
        }

        .form-block-wrap {
          > h3 {
            text-align: center;
          }
        }

        .form-block {
          .form__group {
            padding-left: 5px;
            padding-right: 5px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            label {
              width: 100%;
            }
          }

          .form__item--min {
            margin-right: 0;
            margin-left: 0;
            width: 48.8%;
          }

          .form-block__positions {
            .form__item {
              margin-right: 8px;
            }

            .form__item-w {
              flex: unset;
              width: 100%;
              margin-right: 0;
            }
          }
        }

        .btn-wrap {
          width: 100%;
          padding-top: 20px;

          .btn {
            width: 100%;
          }
        }
      }

      @media (max-width: 480px) {
        .btn-wrap {
          padding-top: 15px;
        }

        .notes-block {
          justify-content: space-between;

          .notes-block__item {
            width: 100%;
          }
        }
      }
    }

    .block-title {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 40px;

      .block-title__img {
        width: 227px;
        margin-right: 20px;
        padding: 5px 10px;
        box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);

        img {
          width: 100%;
        }
      }

      .block-title__content {
        width: calc(100% - 257px);

        .item {
          display: inline-block;
        }
      }

      .block-title__group {
        padding-top: 25px;
      }

      @media (max-width: 1366px) {
        padding-bottom: 30px;

        .block-title__group {
          padding-top: 20px;
        }
      }

      @media (max-width: 992px) {
        .block-title__group {
          padding-top: 17px;
        }

        .block-title__img {
          width: 180px;
        }

        .block-title__content {
          width: calc(100% - 200px);
        }
      }

      @media (max-width: 768px) {
        padding-bottom: 17px;

        .block-title__content {
          width: 100%;
        }

        .block-title__img {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }

    @media (max-width: 1659px) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: 992px) {
      padding: 25px 30px;
    }

    @media (max-width: 768px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (max-width: 768px) {
      padding: 20px 15px;
    }
  }

  .btn--back {
    margin-bottom: 20px;

    @media (max-width: 768px) {
      font-size: 13px;
    }
  }

  .mb-catalog {
    margin-bottom: 30px;
  }

  .categories-page__bl {
    padding-bottom: 22px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;

    .item {
      margin-right: 5px;
      margin-left: 5px;
      margin-bottom: 7px;
      flex: 1;

      .bootstrap-select.custom:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100%;
      }
    }

    .item--button {
      flex: unset;
      width: 210px;

      button {
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }

    @media (max-width: 1366px) {
      padding-bottom: 17px;
    }

    @media (max-width: 576px) {
      .item--button {
        width: 100%;

        button {
          padding-top: 6px;
          padding-bottom: 6px;
        }
      }
    }
  }

  .categories-page__bl-n {
    padding-top: 12px;

    @media (max-width: 1200px) {
      padding-top: 4px;
    }
  }

  .categories-page__line--head {
    .btn--wide {
      width: 220px;

      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  @media (max-width: 992px) {
    .mb-catalog {
      margin-bottom: 25px;
      font-size: 18px;
    }
  }

  @media (max-width: 768px) {
    h3.title.title-z {
      font-size: 16px;
    }
  }

  @media (max-width: 576px) {
    .mb-catalog {
      margin-bottom: 16px;
      font-size: 16px;
    }
  }
}

.item-el {
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  padding: 25px;
  position: relative;

  h3.title {
    line-height: normal;
  }

  .group {
    display: block;

    button {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media (max-width: 1659px) {
    padding-left: 20px;
    padding-right: 20px;

    h3.title {
      font-size: 18px;
    }

    button {
      font-size: 15px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  @media (max-width: 992px) {
    padding: 18px 15px;

    h3.title {
      font-size: 17px;
    }
  }

  @media (max-width: 800px) {
    button {
      font-size: 14px;
      padding: 6px;
    }
  }

  @media (max-width: 768px) {
    h3.title {
      font-size: 18px;
    }
  }
}

.element-wrap {
  display: flex;
  flex-wrap: wrap;

  .item-el,
  .catalog {
    flex: 0 0 32.12%;
    max-width: 32.12%;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;

    @media (max-width: 1659px) {
      flex: 0 0 31.6%;
      max-width: 31.6%;
    }

    @media (max-width: 800px) {
      margin-right: 5px;
      margin-left: 5px;
    }
  }

  .item-el {
    @media screen and (min-width: 768px) {
      &:first-child {
        margin-left: 0;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-child(3n + 1) {
        margin-left: 0;
      }
    }

    @media (max-width: 767px) {
      flex: 0 0 48%;
      max-width: 48%;
    }

    @media (max-width: 540px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .catalog {
    @media screen and (min-width: 700px) {
      &:first-child {
        margin-left: 0;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-child(3n + 1) {
        margin-left: 0;
      }
    }

    @media (max-width: 767px) {
      flex: 0 0 31.9%;
      max-width: 31.9%;
      margin-left: 5px;
      margin-right: 5px;

      button {
        display: block;
        font-size: 13px;
      }
    }

    @media (max-width: 699px) {
      padding: 10px 5px;
      flex: 0 0 48%;
      max-width: 48%;

      &:first-child {
        margin-left: 0;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-child(2n + 1) {
        margin-left: 0;
      }

      button {
        font-size: 10px;
        line-height: normal;
      }
    }
  }
}

.category-edit {
  min-height: 420px;
  text-align: center;
  background-color: #fff;

  &__img {
    width: 260px;
    height: 230px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    img {
      width: 100%;
    }
  }

  .category-edit__form {
    display: none;

    form {
      padding-top: 20px;
      padding-bottom: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    textarea {
      width: 100%;
      border: 1px solid rgba(174, 166, 157, 0.3);
      background: rgba(255, 255, 255, 0.3);
      color: #fff;
      font-family: $bold;
      font-size: 20px;
      min-height: 80px;
      max-height: 100px;
      line-height: normal;
      padding: 7px 15px;

      &:focus {
        outline: none;
      }
    }

    .icon {
      width: 50px;

      img {
        width: 100%;
      }
    }

    .group {
      button.btn--light {
        background: #ffff;

        &:hover {
          color: #000;
        }
      }
    }
  }

  .category-edit__view {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    > a:first-child {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100% - 80px);
    }

    h3 {
      text-align: left;
    }
  }

  @media (max-width: 1659px) {
    &__img {
      width: 15.25rem;
    }

    .category-edit__form {
      textarea {
        font-size: 17px;
      }
    }
  }

  @media (max-width: 1200px) {
    min-height: 350px;

    h3 {
      margin-bottom: 15px;
      font-size: 18px;
    }

    .category-edit__view {
      > a:first-child {
        justify-content: unset;
        height: calc(100% - 45px);
      }
    }
  }

  @media (max-width: 992px) {
    &__img {
      width: 195px;
    }
  }

  @media (max-width: 576px) {
    .category-edit__form {
      textarea {
        font-size: 14px;
        font-family: "Montserrat-Medium", sans-serif;
      }
    }
  }

  @media (max-width: 576px) {
    min-height: auto;

    &__img {
      width: 195px;
    }
  }

  @media (max-width: 468px) {
    h3 {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }
}

.plus-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  min-height: 420px;

  h3 {
    text-align: center;
  }

  @media (max-width: 1659px) {
    h3 {
      font-size: 20px;
    }
  }

  @media (max-width: 1200px) {
    min-height: 350px;
  }

  @media (max-width: 992px) {
    img {
      width: 85px;
    }
  }

  @media (max-width: 540px) {
    min-height: 100%;
    height: 260px;

    img {
      width: 50px;
    }
  }
}

.view-edit {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .category-edit__form {
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 17px;
    padding-right: 17px;
    width: 100%;
    height: 100%;

    form {
      height: 100%;
    }
  }

  .category-edit__view {
    .title,
    .edit-open {
      opacity: 0;
    }
  }
}

.item-technique {
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  padding: 25px 25px 25px 30px;
  margin-bottom: 10px;

  .btn--light {
    font-size: 15px;
    width: 220px;
  }

  ul {
    li {
      text-align: right;
      font-size: 15px;

      @media (max-width: 992px) {
        font-size: 14px;
      }

      @media (max-width: 840px) {
        text-align: left;
      }
    }
  }

  .item-technique__group--width {
    width: 100%;
  }

  .item-technique__name--width {
    max-width: 350px;
  }

  .item-technique__options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 74%;
    align-items: center;

    @media (max-width: 1659px) {
      width: calc(100% - 180px);
    }

    @media (max-width: 576px) {
      width: 100%;
    }
  }

  form.active {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    input {
      @media (max-width: 1365px) {
        padding: 8px 15px;
      }

      @media (max-width: 992px) {
        font-size: 14px;
        padding: 7px 12px;
      }

      @media (max-width: 768px) {
        font-size: 13px;
        padding: 6px 10px;
      }
    }

    button {
      align-self: center;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 240px;
      margin-top: 15px;

      @media (max-width: 1365px) {
        font-size: 15px;
        width: 200px;
      }

      @media (max-width: 992px) {
        width: 165px;
      }

      @media (max-width: 768px) {
        font-size: 13px;
        padding: 7px 12px;
      }

      @media (max-width: 576px) {
        width: 100%;
      }
    }
  }

  @media (max-width: 1659px) {
    .btn--light {
      font-size: 14px;
      width: auto;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  @media (max-width: 1365px) {
    padding: 20px 15px 20px 15px;
  }

  @media (max-width: 992px) {
    .item-technique__name {
      font-size: 15px;
    }
  }

  @media (max-width: 840px) {
    .item-technique__name--width {
      max-width: 100%;
      width: 100%;
      padding-bottom: 7px;
    }
  }

  @media (max-width: 576px) {
    .btn--light {
      margin-top: 10px;
      width: 100%;
      font-size: 13px;
    }

    .item-technique__name {
      font-size: 14px;
      padding-bottom: 5px;
    }
  }
}

.item-technique.item-technique--template {
  .item-technique__group {
    width: 100%;
  }
}

// у элементов с checkox
.item-technique-el {
  position: relative;
  margin-bottom: 15px;

  .item-technique {
    margin-bottom: 0;
  }

  .item-check {
    display: inline-block;
    margin-right: 23px;
    vertical-align: middle;
    position: absolute;
    left: -70px;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: 1201px) {
      left: 0;
      position: relative;
      margin-right: 0;
      top: unset;
      transform: none;
    }
  }

  @media (max-width: 1201px) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    .item-technique {
      width: calc(100% - 50px);
    }
  }

  @media (max-width: 576px) {
    .item-technique {
      width: 100%;
    }

    .item-check {
      margin-bottom: 15px;
    }
  }
}

.page-dop {
  h3 {
    margin-bottom: 20px;

    @media (max-width: 768px) {
      margin-bottom: 15px;
    }
  }

  .page-dop__line {
    padding-bottom: 25px;

    .btn {
      width: 260px;
    }

    @media (max-width: 1659px) {
      .btn {
        font-size: 15px;
        width: 220px;
        padding: 5px 10px;
      }
    }

    @media (max-width: 768px) {
      .btn {
        font-size: 14px;
      }
    }

    @media (max-width: 576px) {
      .btn {
        width: 100%;
        font-size: 13px;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .search-block {
    padding-bottom: 23px;
  }
}

// дле элементов group в которых содержиться два блока
.wrapp-item-technique {
  .item-technique {
    .item-technique__group--flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .item-technique__group {
      width: calc(100% - 240px);

      @media (max-width: 1659px) {
        width: calc(100% - 220px);
      }

      @media (max-width: 576px) {
        width: 100%;
      }

      .item-technique__name {
        width: 240px;
        max-width: 100%;
        font-size: 15px;

        @media (max-width: 1659px) {
          width: 190px;
        }

        @media (max-width: 992px) {
          width: 100%;
        }
      }
    }
  }

  .item-technique__flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-left: 25px;

    .item-technique__char {
      padding-right: 20px;
      //

      .item {
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 12px;

        a {
          color: $accent;
        }

        &:last-child {
          padding-bottom: 0;
        }

        @media (max-width: 1659px) {
          font-size: 13px;
          padding-bottom: 7px;
        }
      }

      &:last-child {
        padding-right: 0;
      }

      @media (max-width: 768px) {
        padding-bottom: 6px;
      }
    }
  }

  @media (max-width: 1659px) {
    .item-technique__flex {
      padding-left: 10px;
    }

    .item-technique {
      .btn--light {
        padding-left: 8px;
        padding-right: 8px;
      }

      .item-technique__group {
        width: calc(100% - 195px);
      }
    }
  }

  @media (max-width: 992px) {
    .item-technique__flex {
      padding-top: 15px;
      padding-left: 0;
    }
  }

  @media (max-width: 768px) {
    .item-technique__flex {
      padding-top: 10px;
    }
  }

  @media (max-width: 576px) {
    .item-technique .item-technique__group {
      width: 100%;
    }
  }
}

.item-technique .item-technique__group.hidden {
  display: none;
}

.file-upload {
  position: relative;
  cursor: pointer;

  .file-one {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
  }
}

.categories-page__head {
  h3 {
    margin-bottom: 30px;

    @media (max-width: 1200px) {
      font-size: 19px;
      margin-bottom: 20px;
    }

    @media (max-width: 768px) {
      font-size: 17px;
      margin-bottom: 15px;
    }
  }
}

.title-mt {
  margin-top: 20px;
}

.del-m {
  background: transparent;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid $accent;
}

.categories-item-block {
  border: 1px solid rgba(174, 166, 157, 0.3);

  label {
    color: #000;
    line-height: 21px;

    @media (max-width: 992px) {
      margin-bottom: 5px;
    }
  }

  legend {
    font-size: 14px;
    font-family: $bold;
    margin-bottom: 7px;
    position: relative;

    > input {
      display: inline-block;
    }

    label {
      display: inline-block;
    }
  }

  .form__item {
    width: 45%;
    display: inline-block;
    margin-bottom: 20px;
  }

  .form__item--pl {
    margin-right: 15px;
  }

  .form-block {
    width: 190px;

    input {
      border: 0;
      border-bottom: 1px solid rgba(174, 166, 157, 0.3);
      padding: 0 5px 5px 5px;
      text-align: right;
    }

    @media (max-width: 576px) {
      width: 100%;

      input {
        text-align: left;
      }
    }
  }
}

.list-tovar {
  li {
    padding: 7px 10px;
    color: #fff;
    position: relative;
    margin-bottom: 12px;
    font-size: 15px;

    &:hover,
    &.active {
      background: rgba(244, 240, 233, 0.5);
    }

    > input {
      width: 24px;
      height: 24px;
    }

    .radio-label {
      padding-left: 50px;
    }

    .title-equipment {
      width: calc(100% - 360px);

      @media (max-width: 1659px) {
        width: calc(100% - 280px);
      }

      @media (max-width: 768px) {
        width: 100%;
        padding-bottom: 10px;
        font-size: 14px;
      }
    }
  }

  .custom-label {
    display: inline-block;
    margin-bottom: 0;
  }

  .custom-label.visually-hidden {
    width: 24px;
    height: 24px;

    @media (max-width: 768px) {
      padding-left: 30px;
    }
  }

  span {
    color: #000;
    cursor: pointer;
  }

  .list-item {
    padding: 3px 30px;
    margin-bottom: 5px;

    &__group {
      width: auto;

      .list-tiem {
        width: 116px;
        margin-right: 74px;

        &:last-child {
          margin-right: 0;
        }
      }

      @media (max-width: 1659px) {
        .list-tiem {
          margin-right: 20px;
        }
      }

      @media (max-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 10px;

        .list-tiem {
          flex: 1;
          margin-right: 15px;

          .hidden {
            display: block;
            font-size: 12px;
            color: #000;
            margin-bottom: 5px;
          }
        }
      }
    }

    @media (max-width: 992px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (max-width: 768px) {
      margin-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .list-input {
      height: 35px;
      padding: 8px 10px;
      display: inline-block;
      background: #fff;
      border: 1px solid rgba(174, 166, 157, 0.3);

      @media (max-width: 992px) {
        height: 30px;
        padding: 5px;
        font-size: 12px;
      }

      @media (max-width: 768px) {
        height: auto;
      }
    }
  }

  @media (max-width: 1659px) {
    li {
      font-size: 14px;
    }
  }

  @media (max-width: 768px) {
    li {
      font-size: 13px;
    }
  }
}

.add-equipment {
  &__line {
    margin-bottom: 20px;

    h3 {
      width: calc(100% - 370px);
    }

    .add-equipment__group {
      .add-equipment__title {
        padding-right: 74px;
        display: inline-block;

        &:last-child {
          padding-right: 0;
        }
      }
    }

    @media (max-width: 1659px) {
      h3 {
        width: calc(100% - 330px);
      }

      .add-equipment__group {
        .add-equipment__title {
          font-size: 15px;
          padding-right: 30px;

          &:first-child {
            padding-left: 20px;
          }
        }
      }
    }

    @media (max-width: 992px) {
      .add-equipment__group {
        .add-equipment__title {
          font-size: 14px;

          &:first-child {
            padding-left: 35px;
          }
        }
      }
    }

    @media (max-width: 768px) {
      margin-bottom: 10px;

      h3 {
        width: 100%;
      }

      .add-equipment__group {
        display: none;
      }
    }
  }

  @media (max-width: 768px) {
    .mCSB_inside > .mCSB_container {
      margin-right: 20px;
    }
  }
}

.form-block-wrap {
  .block-pos {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    .block-pos__item:first-child {
      flex: 0 0 33.1%;
      max-width: 33.1%;
    }

    .block-pos__item:nth-child(2) {
      flex: 0 0 27%;
      max-width: 27%;
      margin-left: 15px;
      margin-right: 70px;
    }

    .block-pos__item:last-child {
      flex: 0 0 24.8%;
      max-width: 24.8%;
    }

    .form__item {
      margin-right: 0;
      display: block;
      margin-bottom: 20px;
    }

    .block-pos__item {
      .form__item:last-child {
        margin-bottom: 0;
      }
    }

    .btn--new-el {
      width: 321px;
      margin-bottom: 40px;
    }
  }

  .filter-block-item {
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;

    .filter-block {
      width: 200px;

      .filter-block__name {
        font-size: 16px;
        padding-bottom: 10px;
      }
    }

    .del-m {
      margin-left: 17px;
      padding: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.icon-choose {
  position: relative;
  cursor: pointer;

  .input-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    height: 100%;
  }

  label {
    cursor: pointer;
    z-index: 100;
    height: 50px;
    width: 50px;
    margin-bottom: 0;

    img {
      margin-bottom: 0;
      width: 100%;
      padding: 0;
    }

    @media (max-width: 992px) {
      width: 40px;
      height: 40px;
    }
  }
}

// commodity-position
.categories-item-wrap {
  justify-content: space-between;

  .categories-item-block-wrapper {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .categories-item-block {
    padding: 30px 25px;
    position: relative;

    &__line {
      justify-content: space-between;
      align-items: center;
      padding-bottom: 24px;
      padding-right: 27px;
    }

    @media (max-width: 1659px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (max-width: 992px) {
      padding: 25px 17px;
    }

    @media (max-width: 576px) {
      &__line {
        padding-right: 0;
        padding-bottom: 10px;
      }
    }

    @media (max-width: 480px) {
      padding: 20px 10px;
    }
  }

  ul.list-tovar {
    height: 402px;

    @media (max-width: 992px) {
      height: 300px;
    }
  }

  .categories-item-block-wrapper--width {
    .form__item {
      width: 225px;
      margin-right: 25px;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: 992px) {
        margin-right: 15px;
      }

      @media (max-width: 768px) {
        width: 48%;
      }

      @media (max-width: 768px) {
        width: 100%;
        margin-right: 0;

        &:last-child {
          margin-top: 10px;
        }
      }
    }

    h3 {
      margin-bottom: 20px;

      @media (max-width: 992px) {
        margin-bottom: 15px;
      }

      @media (max-width: 480px) {
        margin-bottom: 10px;
      }
    }
  }

  .categories-item-block-wrapper--middle {
    flex-basis: 57%;

    @media (max-width: 992px) {
      flex-basis: 100%;
    }

    @media (max-width: 576px) {
      .form-block {
        padding-bottom: 20px;
      }

      h3 {
        order: 1;
      }
    }
  }

  .categories-item-block-wrapper--small {
    flex-basis: 42%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      margin-bottom: 16px;
    }

    .form__item {
      margin-bottom: 15px;
      width: 47%;
    }

    .categories-item-block {
      height: 100%;
    }

    .categories-item-block:last-child {
      height: 46px;
      display: flex;
      align-items: center;
      margin-top: 9px;

      .item {
        display: inline-block;
      }

      label {
        font-size: 14px;
        font-family: $bold;
        margin-bottom: 0;
      }
    }

    @media (max-width: 1365px) and (min-width: 1201px) {
      .form__item {
        width: 100%;
        margin-right: 0;
      }
    }

    @media (max-width: 992px) {
      flex-basis: 70%;

      legend {
        padding-top: 15px;

        &:first-child {
          padding-top: 0;
        }
      }
    }

    @media (max-width: 576px) {
      flex-basis: 100%;

      .form__item {
        margin-bottom: 10px;
        width: 100%;
      }
    }
  }
}

.categories-page-n {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 35px;

  .input-head {
    width: 290px;
  }

  button {
    padding: 7px 40px;
  }

  @media (max-width: 1200px) {
    padding-bottom: 25px;
  }

  @media (max-width: 768px) {
    padding-bottom: 20px;

    .input-head {
      width: 100%;
    }

    button {
      width: 70%;
      margin: 15px auto 0 auto;
    }
  }

  @media (max-width: 576px) {
    button {
      width: 100%;
      margin-top: 10px;
      padding: 6px;
    }
  }
}

.search-block {
  max-width: 280px;

  .icon {
    width: 16px;
    height: 16px;
    bottom: 15px;

    svg {
      width: 100%;
    }
  }

  input {
    padding-bottom: 9px;
    padding-left: 28px;
  }
}

.manager-page {
  .block-mn--inline {
    align-items: flex-start;
  }

  .page-balance__group {
    padding-top: 0;

    a.btn {
      max-width: 200px;
      display: block;
      margin-top: 48px;
    }
  }

  &__head {
    padding-bottom: 17px;

    @media (max-width: 992px) {
      padding-bottom: 5px;
    }
  }

  // другие страницы
  .inner-content__line {
    padding-top: 13px;
  }

  .search-p {
    input {
      text-align: right;
      padding-right: 50px;
      padding-left: 15px;
    }
  }

  .box-item {
    .box-rate-on {
      padding-top: 2px;
      padding-bottom: 2px;
    }

    p {
      line-height: 17px;
      margin-bottom: 7px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .box-rate {
    width: 100%;
    margin-bottom: 10px;
  }

  .nav-tabs--pt {
    padding-top: 40px;

    @media (max-width: 768px) {
      padding-top: 20px;
    }
  }

  .bk-info {
    margin-bottom: 40px;
  }

  .a-block {
    .city {
      font-size: 13px;
    }

    .a-block__item .a-block__text {
      padding-top: 0;
    }

    .raiting-block {
      padding-bottom: 9px;
    }
  }

  &__top {
    margin-bottom: 20px;

    .btn {
      width: 160px;
    }

    @media (max-width: 768px) {
      margin-bottom: 17px;

      .btn {
        width: auto;
        padding-left: 35px;
        padding-right: 35px;
      }
    }
  }

  .manager-group {
    padding-top: 20px;

    @media (max-width: 1200px) {
      padding-top: 10px;
    }
  }

  .manager-page__bottom {
    h3 {
      margin-bottom: 17px;
      font-size: 18px;

      @media (max-width: 992px) {
        font-size: 16px;
      }
    }

    .filter-order {
      padding-bottom: 20px;
    }

    .a-block {
      padding-bottom: 25px;

      &__item {
        display: inline-flex;
        background: transparent;
        box-shadow: none;
        align-items: center;
        padding: 0;

        .a-block__img {
          width: 143px;
          background: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 25px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);

          img {
            width: 95px;
          }
        }
      }

      .all-rating {
        color: #000;
      }

      @media (max-width: 1365px) {
        .a-block__name {
          padding-bottom: 0;
        }

        .raiting-block {
          padding-bottom: 6px;
        }
      }

      @media (max-width: 992px) {
        padding-bottom: 15px;

        &__item {
          .a-block__img {
            width: 110px;
            margin-right: 17px;
          }
        }

        .raiting-block {
          padding-bottom: 0;
        }
      }

      @media (max-width: 576px) {
        padding-bottom: 10px;

        .a-block__name {
          font-family: "Montserrat-Bold", sans-serif;
        }

        &__item {
          .a-block__img {
            width: 80px;

            img {
              width: 70px;
            }
          }
        }
      }
    }
  }

  .nav-tabs--primary {
    .nav-link {
      font-size: 16px;
    }
  }
}

.manager-page--home {
  .form {
    > .form__line {
      justify-content: space-between;
      align-items: flex-start;
      padding-bottom: 25px;

      .form__group {
        width: calc(100% - 240px);
      }

      .filter-basis {
        margin-bottom: 15px;
      }

      .btn {
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
      }

      @media (max-width: 1659px) {
        padding-bottom: 10px;

        .filter-basis {
          margin-bottom: 10px;
        }
      }

      @media (max-width: 1365px) {
        .form__group {
          order: 1;
          width: 100%;
          padding-top: 15px;
        }
      }

      @media (max-width: 768px) {
        .btn {
          font-size: 13px;
        }
      }

      @media (max-width: 576px) {
        padding-bottom: 5px;

        .btn {
          width: 100%;
        }
      }
    }

    .filter-basis.filter-basis--small {
      margin-bottom: 10px;

      li:first-child {
        margin-left: 0;
      }

      @media (max-width: 992px) {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        margin-bottom: 15px;
      }
    }

    .form__item {
      margin-right: 15px;
      width: 200px;
    }

    .btn-search {
      width: 200px;
      padding: 8px;
      color: $accent;

      &:hover {
        color: #fff;
      }

      @media (max-width: 992px) {
        padding: 6px;
      }
    }

    .filter-block {
      display: inline-block;
      width: 200px;

      .filter-block__name {
        padding-bottom: 8px;
      }
    }

    .form__layout {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      padding-bottom: 16px;

      .item-map {
        width: calc(100% - 227px);
        margin-right: 27px;

        .input-button {
          width: calc(100% - 158px);
        }

        .btn--light {
          padding-top: 6px;
          padding-bottom: 6px;
          width: 148px;
          border-width: 2px;
          margin-left: 8.4px;
          vertical-align: top;
        }

        @media (max-width: 992px) {
          width: 100%;
          margin-right: 0;
          margin-bottom: 12px;
        }
      }

      @media (max-width: 992px) {
        justify-content: space-between;

        .form__item {
          margin-right: 0;
          width: 49%;
        }

        .btn-search {
          width: 100%;
          margin-top: 15px;
        }
      }

      @media (max-width: 576px) {
        padding-bottom: 12px;

        .filter-block {
          width: 100%;
        }

        .item-map {
          .input-button,
          .btn--light {
            width: 100%;
          }

          .btn--light {
            margin-left: 0;
            margin-top: 6px;
          }
        }
      }
    }

    .form__layout--pt {
      padding-top: 20px;

      @media (max-width: 992px) {
        padding-top: 0;
      }
    }

    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
      width: 100%;
    }

    label {
      margin-bottom: 10px;
    }

    // с дизайна пропал - не удалять
    // .form-search-inner {
    // 	position: relative;
    // 	display: inline-block;
    // 	width: 57.70%;

    // 	input {
    // 		width: 75.2%;
    // 		display: inline-block;
    // 		padding-top: 12px;
    // 	}

    // 	button {
    // 		position: relative;
    // 		width: 148px;
    // 		display: inline-block;
    // 		border-width: 2px;
    // 		padding-top: 11px;
    // 		padding-bottom: 11px;
    // 		margin-left: 8.4px;
    // 	}
    // }
  }

  .controls {
    margin-bottom: 30px;

    @media (max-width: 576px) {
      margin-bottom: 17px;
    }
  }

  @media (max-width: 768px) {
    .filter-icon {
      display: block;
    }
  }
}

.more-block {
  justify-content: space-between;

  .date-registration {
    font-size: 13px;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  &__name {
    font-size: 17px;
    color: #000;
    font-family: $bold;
    width: 57%;
    line-height: 1.3;
    padding-bottom: 10px;
  }

  &__img {
    width: 99px;
  }

  .city {
    font-size: 13px;
    color: #000;
  }

  .more-block__group {
    padding-top: 15px;
    padding-bottom: 40px;

    .more-block__info {
      width: calc(100% - 120px);
      padding-left: 16px;
    }

    .counter {
      display: inline-block;
      padding-left: 60px;
    }

    .raiting-block {
      display: inline-flex;

      .raiting li img {
        width: 20px;
      }
    }

    .city {
      display: block;
    }
  }

  .more-block__link {
    width: 220px;

    .btn {
      margin-bottom: 10px;
    }

    .btn--save {
      margin-top: 85px;
    }

    .btn--block {
      margin-top: 63px;
    }
  }

  .more-block__content {
    width: calc(100% - 240px);
  }

  @media (max-width: 1659px) {
    .more-block__link {
      width: 180px;

      .btn {
        font-size: 14px;
      }
    }

    .more-block__content {
      width: calc(100% - 200px);
    }

    .more-block__group .counter {
      padding-left: 30px;
    }
  }

  @media (max-width: 1365px) {
    .more-block__link {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .btn {
        width: 32%;
      }

      .btn--block {
        margin-top: 0;
      }

      .btn--save {
        margin-top: 6px;
        margin-left: auto;
      }

      .button-form {
        width: 32%;

        .btn {
          width: 100%;
        }
      }
    }

    .more-block__content {
      width: 100%;
    }

    .more-block__group {
      padding-bottom: 27px;
    }
  }

  @media (max-width: 992px) {
    &__name,
    .raiting-block {
      width: 100%;
    }

    .more-block__group .counter {
      padding-top: 10px;
      padding-left: 0;
      display: inline-flex;
      align-items: center;
    }

    ul.basis li {
      font-size: 13px;
      margin-bottom: 5px;
    }

    .more-block__link {
      padding-top: 15px;
    }
  }

  @media (max-width: 768px) {
    .more-block__link {
      .btn {
        width: 49%;
        font-size: 12px;
        padding-left: 4px;
        padding-right: 4px;
      }

      .btn--save {
        width: 100%;
        margin-top: 0;
      }

      .button-form {
        width: 49%;
      }
    }
  }

  @media (max-width: 576px) {
    .more-block__group {
      justify-content: center;

      .more-block__info {
        width: 100%;
        padding-left: 0;
        text-align: center;
      }

      .raiting-block {
        justify-content: center;

        .raiting li img {
          width: 16px;
        }

        .all-rating {
          margin-left: 5px;
        }

        .reviews-el {
          font-size: 11px;
          padding-left: 7px;
        }
      }
    }

    .more-block__name {
      font-size: 15px;
      padding-bottom: 15px;
    }

    ul.basis li {
      font-size: 12px;
    }
  }

  .more-block__item {
    padding-bottom: 35px;

    .flex-element {
      align-items: flex-start;
    }

    &:last-child {
      padding-bottom: 0;
    }

    h3 {
      margin-bottom: 10px;
    }

    span {
      font-size: 15px;
    }

    @media (max-width: 992px) {
      padding-bottom: 20px;

      span {
        font-size: 13px;
      }

      h3 {
        margin-bottom: 3px;
      }
    }

    @media (max-width: 576px) {
      padding-bottom: 15px;

      span {
        font-size: 12px;
      }
    }
  }

  .item {
    &__title {
      font-family: $bold;
      margin-bottom: 8px;

      @media (max-width: 992px) {
        font-size: 14px;
      }

      @media (max-width: 768px) {
        font-size: 13px;
        font-family: "Montserrat-Medium", sans-serif;
      }
    }
  }

  .item-list {
    .item {
      margin-left: 58px;

      .item__title {
        width: 100%;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    .item--different {
      margin-left: 42px;
    }

    @media (max-width: 768px) {
      .item {
        margin-left: 0;
        width: 100%;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .item--different {
        margin-top: 5px;
      }
    }

    @media (max-width: 480px) {
      .item--different {
        width: 100%;
        margin-left: 19px;
      }
    }
  }

  ul.basis {
    li {
      line-height: 21px;
    }
  }

  .counter {
    position: relative;
    font-size: 13px;

    .title {
      font-size: 13px;
      color: #000;
      line-height: 17px;
      padding-bottom: 15px;
      position: absolute;
      top: -27px;

      @media (max-width: 992px) {
        position: relative;
        top: unset;
        padding-bottom: 8px;
      }
    }

    @media (max-width: 992px) {
      .title {
        padding-right: 15px;
      }
    }
  }
}

.bk-info {
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  position: relative;
  padding: 25px 40px;
  display: flex;
  flex-wrap: wrap;

  &::before {
    content: '';
    position: absolute;
    bottom: -14px;
    left: 0;
    background: url(../img/people.png);
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
  }

  .item {
    margin-right: 66px;

    i {
      color: $color-text;
      font-style: normal;
      padding-bottom: 10px;
      display: block;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.tab-content--inner {
  .head {
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
    padding: 20px 60px 18px 33px;
    font-size: 15px;

    p {
      margin-bottom: 14px;
    }

    @media (max-width: 992px) {
      padding: 15px 20px;
      font-size: 14px;

      p {
        margin-bottom: 8px;
      }
    }

    @media (max-width: 576px) {
      font-size: 13px;
    }
  }

  ul.column {
    display: inline-block;
    column-count: 2;
    column-width: 230px;
    column-gap: 20px;

    li {
      font-size: 14px;
    }

    @media (max-width: 992px) {
      column-count: 1;
      column-width: auto;
      column-gap: 0;

      li {
        font-size: 13px;
        padding-bottom: 5px;
      }
    }

    @media (max-width: 576px) {
      li {
        font-size: 12px;
        padding-bottom: 2px;
      }
    }
  }

  .modal-bottom {
    margin-top: 14px;
  }

  .subspecies-technology {
    padding-top: 30px;

    @media (max-width: 992px) {
      padding-top: 20px;
    }
  }
}

ul.basis {
  margin-left: 18px;

  li {
    color: $color-p;
    position: relative;
    margin-bottom: 10px;
    font-size: 15px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -14px;
      width: 8px;
      height: 1px;
      background: $color-p;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.a-block-open {
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  padding: 30px;

  @media (max-width: 1659px) {
    padding: 25px 20px;
  }

  @media (max-width: 768px) {
    padding: 15px 10px;
  }
}

.deals-wrap {
  max-width: 500px;
  justify-content: space-between;

  .deal {
    max-width: 240px;
    margin-bottom: 25px;
    line-height: 21px;
    font-size: 14px;
  }

  @media (max-width: 992px) {
    max-width: 100%;
    flex-direction: column;

    .deal {
      font-size: 13px;
      max-width: 100%;
      margin-bottom: 4px;
    }
  }

  @media (max-width: 768px) {
    .deal {
      font-size: 12px;
    }
  }

  @media (max-width: 480px) {
    .deal {
      font-size: 11px;
      line-height: 1.5;
    }
  }
}

.column {
  column-count: 2;

  li {
    color: $color-p;
    padding-bottom: 10px;
    line-height: 21px;
  }
}

.nav-tabs--width {
  .nav-link {
    width: 250px;
    padding-top: 11px;
    padding-bottom: 11px;

    @media (max-width: 1200px) {
      padding: 8px;
    }

    @media (max-width: 768px) {
      width: 100%;
    }

    @media (max-width: 576px) {
      width: 100%;
      font-size: 12px;
    }
  }

  @media (max-width: 768px) {
    justify-content: space-between;

    .nav-item {
      width: 49%;
    }
  }

  @media (max-width: 480px) {
    justify-content: space-between;

    .nav-item {
      width: 100%;
      padding-bottom: 10px;
      padding-left: 0;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.box-aplication {
  padding: 25px;

  .box-info-date {
    color: $color-text;
    padding-bottom: 2px;
  }

  .box-item__name {
    padding-top: 7px;
    padding-right: 0;
  }

  .box-item__sub-name {
    font-size: 15px;
    padding-top: 10px;
  }

  .box-date {
    padding-top: 13px;
    padding-right: 0;
  }

  .box-item__group--width {
    width: 410px;

    .badge {
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 7px 10px;

      &:nth-child(3) {
        margin-bottom: 0;
      }
    }

    .btn-more {
      background: $accent;
      color: #fff;
    }
  }

  .box-item__group--right {
    p {
      line-height: 17px;
      margin-bottom: 5px;
      font-size: 12px;
    }

    .box-rate {
      margin-top: 13px;
    }

    .btn--light.btn--w {
      padding: 5px;
    }
  }

  @media (max-width: 1659px) {
    padding: 20px 15px;

    .box-item__group--width {
      width: 300px;
    }
  }
}

.manager-page-detail {
  .box-aplication {
    padding: 25px 30px 35px 30px;

    .box-rate {
      margin-bottom: 0;
      height: 40px;

      .box-rate-wrapper,
      .box-rate-on {
        height: 40px;
      }

      .box-rate-on {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
  }

  .aplication-content {
    width: 820px;
  }

  .manager-page-detail__body {
    padding-top: 20px;

    > .filter-order {
      padding-bottom: 20px;

      li {
        width: auto;

        a {
          padding-right: 21px;
          padding-left: 21px;
        }
      }
    }
  }
}

.document-wrap-content {
  display: flex;
  flex-wrap: wrap;

  > .form__item {
    flex: 0 0 26.333333%;
    max-width: 0 0 26.333333%;
    margin-right: 100px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

/* .manager-page-order */
.manager-page--order {
  .manager-page__bottom > h3.title {
    margin-bottom: 25px;
  }

  .order-block {
    padding-top: 40px;
  }
}

.manager-page--equipment {
  .manager-page__bottom {
    .filter-order--min {
      padding-bottom: 31px;
    }

    h3 {
      margin-bottom: 29px;
    }

    .filter-block {
      width: 200px;
    }
  }

  .manager-page__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .btn--wide {
    width: 256px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 0;
  }

  .manager-page__group {
    .filter-block,
    .item {
      display: inline-block;
      margin-right: 20px;
    }
  }

  .techique .techique__bottom {
    padding-top: 17px;
  }

  h3.mb {
    margin-bottom: 29px;
  }

  .techique .techique__block {
    .item-map {
      padding-left: 0;
    }

    .filter-block {
      position: relative;
      margin-left: 30px;

      .filter-block__name {
        position: absolute;
        top: -29px;
      }

      input {
        padding-right: 25px;
        padding-left: 25px;
      }
    }
  }
}

.item-map--w {
  width: 61%;
}

.manager-page--acts {
  .input-files .input-file-trigger {
    font-size: 13px;
  }

  .input-file-wrap {
    .input-files-link {
      order: 0;
    }

    .input-files,
    .input-files-del {
      order: 1;
    }

    .input-files {
      width: calc(100% - 59px);
    }

    .input-files-del {
      margin-left: 5px;
    }
  }

  .reports {
    .reports__file {
      margin-left: 20px;
    }

    @media (max-width: 1659px) {
      padding: 30px 25px;

      .reports__name {
        margin-right: 15px;
      }

      .btn--size {
        width: auto;
        padding: 5px 10px;

        span.name {
          display: none;
        }

        span.arrow {
          display: block;
        }
      }

      .reports__group {
        width: calc(100% - 45px);
      }
    }

    @media (max-width: 1365px) {
      .reports__name {
        width: 280px;
      }

      .reports__file {
        width: 190px;
      }
    }

    @media (max-width: 992px) {
      padding: 25px 15px;

      .reports__file {
        margin-left: 25px;
      }

      .reports__name {
        width: 230px;
      }
    }

    @media (max-width: 768px) {
      .reports__item {
        align-items: flex-start;
      }

      .reports__group {
        align-items: flex-start;
      }

      .reports__file {
        width: 70%;
        margin-left: 0;
        margin-top: 10px;
      }

      .reports__name {
        width: 70%;
        margin-right: 10px;
      }
    }

    @media (max-width: 768px) {
      .input-files .input-file-trigger {
        font-size: 11px;
      }
    }

    @media (max-width: 576px) {
      .reports__file {
        width: 100%;
      }
    }
  }

  .nav-tabs {
    justify-content: space-between;

    .nav-item {
      width: calc((100% / 4) - 10px);
      padding: 0;

      @media (max-width: 1365px) {
        padding-bottom: 10px;
        width: calc((100% / 3) - 10px);
      }

      @media (max-width: 768px) {
        width: calc((100% / 2) - 5px);
      }

      @media (max-width: 480px) {
        width: 100%;
      }
    }

    .nav-link {
      font-size: 14px;
      width: 100%;
      padding: 8px 5px;

      @media (max-width: 1200px) {
        font-size: 13px;
      }

      @media (max-width: 576px) {
        font-size: 11px;
      }
    }
  }

  .form-acts__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  textarea {
    width: 100%;
    height: 260px;
    border: 1px solid rgba(174, 166, 157, 0.3);
  }

  h3.title--min {
    margin-bottom: 12px;
  }

  .block {
    padding-top: 10px;
    margin-bottom: 10px;

    h4 {
      font-size: 15px;
      font-family: "Montserrat-Medium", sans-serif;
      margin-bottom: 10px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .input-file-wrap {
      width: 300px;
    }

    @media (max-width: 992px) {
      padding-top: 5px;

      textarea {
        height: 180px;
      }

      h4 {
        font-size: 14px;
        margin-bottom: 8px;
      }
    }

    @media (max-width: 480px) {
      h4 {
        font-size: 13px;
      }
    }
  }

  @media (max-width: 768px) {
    h3.title--min {
      margin-bottom: 10px;
    }
  }

  @media (max-width: 576px) {
    h3 {
      text-align: center;
    }
  }
}

.manager-page--acts .form-documents {
  max-width: 770px;

  h3 {
    width: 100%;
    margin-bottom: 30px;
  }

  h4 {
    font-size: 15px;
    margin-bottom: 10px;
    font-family: "Montserrat-Medium", sans-serif;
  }

  .input-file-wrap {
    .input-files {
      width: calc(100% - 38px);
    }
  }

  .form-documents__block {
    padding-bottom: 30px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .form-documents__group {
    display: flex;
    flex-wrap: wrap;

    .item {
      width: 370px;
      margin-right: 30px;
      padding-top: 0;
      padding-bottom: 17px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .btn-group {
    .btn {
      width: 210px;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 1659px) {
    h3 {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 1200px) {
    .form-documents__block {
      padding-bottom: 20px;
    }
  }

  @media (max-width: 992px) {
    h3 {
      margin-bottom: 15px;
    }

    h4 {
      font-size: 14px;
      margin-bottom: 9px;
    }

    .form-documents__group {
      .item {
        width: 48%;
        margin-right: 15px;
      }
    }
  }

  @media (max-width: 576px) {
    .btn-group {
      width: 100%;

      .btn {
        width: 100%;
        margin-right: 8px;
      }
    }
  }

  @media (max-width: 480px) {
    h4 {
      font-size: 13px;
    }

    .form-documents__group {
      .item {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}

.card-block {
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  padding: 30px;
  display: inline-block;

  h3,
  legend {
    margin-bottom: 23px;
  }

  legend {
    font-size: 17px;
    font-family: Montserrat-Bold, sans-serif;
  }

  .form {
    .card-block__name,
    label {
      color: $color-p;
      font-size: 13px;

      span {
        color: $color-text;
      }
    }

    .card-block__date {
      font-size: 15px;
    }

    label {
      margin-bottom: 7px;
    }

    input[type="number"] {
      font-size: 13px;
      padding: 8px 13px;
    }

    .card-block__name {
      padding-bottom: 20px;
      width: 100%;
    }

    .item {
      width: 110px;
    }

    .control-block .item {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-right: 0;

      p {
        font-size: 15px;
        margin-left: 15px;
      }

      label {
        width: 100%;
      }

      input {
        width: 120px;
      }
    }
  }

  .card-block__item {
    padding-bottom: 17px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &:nth-last-child(-n+2) {
      padding-bottom: 30px;
    }

    .card-block__group {
      max-width: 175px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-right: 40px;

      &:last-child {
        max-width: 270px;
        padding-right: 0;
      }

      .item:first-child {
        margin-right: 10px;
      }
    }

    .card-block__group--custom {
      max-width: 100%;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    padding: 20px 15px;

    h3 {
      margin-bottom: 0;
    }

    .form {
      .card-block__name {
        padding-bottom: 5px;
      }

      .card-block__date {
        padding-right: 15px;

        &:last-child {
          padding-right: 0;
        }
      }
    }

    .card-block__item {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 15px;
      padding-top: 15px;

      &:first-child {
        padding-top: 0;
      }

      .card-block__group {
        width: 100%;
        max-width: 100%;
        padding-right: 0;
        padding-bottom: 10px;
        justify-content: flex-start;

        &:last-child {
          max-width: 100%;
          padding-bottom: 0;
          justify-content: space-between;
        }

        .item {
          flex: 1;
        }
      }

      &:nth-last-child(-n+2) {
        padding-bottom: 15px;
      }
    }

    .card-block__item-group {
      padding-top: 15px;
    }

    .btn {
      font-size: 13px;
    }

    legend,
    h3 {
      margin-bottom: 0;
      font-size: 15px;
    }
  }

  @media (max-width: 576px) {
    .card-block__item:nth-last-child(-n+2) {
      padding-bottom: 20px;
    }

    .form {
      .card-block__date {
        font-size: 13px;
      }

      input[type="number"] {
        padding: 7px 10px;
      }
    }
  }
}

.data-block {
  background: #fff;
  border: 1px solid rgba(174, 166, 157, 0.1);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  padding: 50px;

  h3 {
    margin-bottom: 35px;
  }

  .form {
    display: flex;
    flex-wrap: wrap;

    label {
      margin-bottom: 10px;
    }

    .form__item {
      margin-bottom: 25px;
      margin-right: 20px;
      width: 280px;
    }

    .form__btn {
      width: 100%;
      padding-top: 15px;

      button {
        width: 280px;
      }
    }
  }

  @media (max-width: 1659px) {
    padding: 35px;

    .form {
      label {
        margin-bottom: 7px;
      }

      .form__item {
        width: 230px;
      }

      .form__btn {
        button {
          width: 230px;
        }
      }
    }
  }

  @media (max-width: 1360px) {
    padding: 30px;

    .form {
      .form__item {
        width: 215px;
        margin-bottom: 20px;
      }
    }
  }

  @media (max-width: 992px) {
    padding: 25px;

    .form {
      align-items: flex-end;

      .form__item {
        width: 48.5%;
        margin-right: 15px;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }

      .form__btn {
        padding-top: 0;

        button {
          width: 48.5%;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .form {
      .form__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
      }

      .form__btn {
        button {
          width: 100%;
        }
      }
    }
  }
}

.ctm-block {
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  padding: 40px 20px 40px 30px;

  h3 {
    margin-bottom: 0;
  }

  .form-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    .filter-sec {
      width: 65%;
    }
  }

  .mCSB_inside > .mCSB_container {
    margin-right: 25px;

    @media (max-width: 768px) {
      margin-right: 17px;
    }
  }

  .ctm-block__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
  }

  @media (max-width: 1659px) {
    padding: 25px 17px;

    h3 {
      font-size: 16px;
    }

    .ctm-block__line {
      margin-bottom: 17px;
    }
  }

  @media (max-width: 576px) {
    h3 {
      font-size: 15px;
    }

    .ctm-block__line {
      margin-bottom: 10px;
    }
  }

  @media (max-width: 480px) {
    padding: 20px 10px;
  }

  .mCS-custom-el.mCSB_scrollTools .mCSB_draggerContainer {
    height: 100%;
  }
}

.block-or {
  background: #fff;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  padding: 18px 25px 18px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;

  &__title {
    font-family: $bold;
    margin-bottom: 9px;
    line-height: 20px;
    color: #000;
  }

  &__text {
    color: rgba(66, 66, 66, 0.7);
    font-size: 13px;
  }

  .count {
    width: 29px;
    height: 29px;
    line-height: 29px;
  }

  .block-or__group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .block-or__block {
      margin-left: 15px;
    }
  }

  .block-or__img {
    width: 53px;

    img {
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    margin-bottom: 15px;
  }
}

.a-block--flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.page-city {
  .container-city {
    background: #fff;
    border: 1px solid rgba(174, 166, 157, 0.3);
    padding: 50px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .city-template__line {
      padding-bottom: 25px;

      h3 {
        margin-bottom: 0;
      }

      @media (max-width: 992px) {
        padding-bottom: 20px;
      }

      @media (max-width: 576px) {
        padding-bottom: 10px;
      }
    }

    @media (max-width: 1365px) {
      padding: 30px 20px;
    }

    @media (max-width: 576px) {
      padding: 20px 10px;
    }
  }

  .city-template {
    width: 70.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .city-template__block {
      width: 46%;
      margin-right: 50px;

      &:nth-child(2) {
        margin-right: 0;
      }
    }

    .city-template__block--all {
      width: 100%;
      margin-right: 0;
      margin-top: 35px;
    }

    @media (max-width: 1659px) {
      .city-template__block {
        margin-right: 35px;
      }
    }

    @media (max-width: 992px) {
      width: 100%;
      order: 1;

      .city-template__block {
        margin-right: 30px;
      }
    }

    @media (max-width: 768px) {
      .city-template__block {
        margin-right: 20px;
      }
    }

    @media (max-width: 576px) {
      .city-template__block {
        width: 100%;
        margin-bottom: 20px;
      }

      .city-template__block--all {
        margin-top: 15px;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }

  .sub {
    padding-bottom: 15px;
    line-height: 21px;
    font-size: 15px;

    @media (max-width: 576px) {
      font-size: 13px;
      padding-bottom: 10px;
    }
  }

  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 425px;

    @media (max-width: 576px) {
      width: 100%;
    }
  }

  h3 {
    color: #000;

    @media (max-width: 1659px) {
      font-size: 16px;
    }

    @media (max-width: 576px) {
      font-size: 15px;
    }
  }

  h3.pb {
    line-height: 22px;
    margin-bottom: 10px;
  }

  .btn-n {
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    color: $accent;
    font-size: 13px;
    border: 0;

    &:focus {
      outline: none;
    }
  }

  .list-tovar {
    height: 220px;

    .geo-region,
    .geo-city {
      padding-bottom: 10px;
      font-size: 15px;

      &:last-child {
        padding-bottom: 0;
      }

      @media (max-width: 1659px) {
        font-size: 14px;
      }

      @media (max-width: 576px) {
        font-size: 13px;
      }
    }
  }

  .city-select {
    .item {
      cursor: pointer;
    }

    .item.active {
      input {
        background: #f4f0e9;
      }

      .geo-city {
        color: $accent;
      }
    }
  }

  .search-b {
    width: 200px;

    .select2-container {
      width: 100% !important;
    }

    .select2-container--default .select2-selection--single {
      border: none;
      border-bottom: 1px solid rgba(174, 166, 157, 0.3);
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
      font-size: 14px;
      color: $color-p;
    }

    @media (max-width: 992px) {
      width: 400px;
      padding-bottom: 20px;
      order: 0;

      .select2-container--default .select2-selection--single {
        border: 1px solid rgba(174, 166, 157, 0.3);
      }
    }
  }

  .template-save {
    width: 250px;
    margin-top: 25px;

    @media (max-width: 576px) {
      margin-top: 0;
      width: 100%;
    }
  }
}

.page-reports {
  .nav-tabs {
    .nav-item {
      max-width: 300px;
      width: 100%;
      margin-bottom: 10px;

      a {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 20px;
      }

      &:nth-child(4) {
        padding-left: 0;
      }
    }
  }

  .tab-content {
    .btn {
      max-width: 280px;
      width: 100%;
    }
  }

  h3 {
    margin-bottom: 28px;
  }

  form {
    .item:first-child {
      width: 460px;
      margin-right: 40px;
    }

    .item {
      display: inline-block;
      margin-right: 20px;
      width: 190px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .page-reports__block {
    padding-bottom: 30px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.techique .techique__block .techique__group.techique__group--line-c {
  width: 100%;
  align-items: flex-end;
  padding-bottom: 5px;

  .block-timeline {
    padding-bottom: 0;
    padding-top: 0;
  }

  .btn-none {
    margin-left: 80px;
  }
}

.view-block-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 980px;

  @media (max-width: 1659px) and (min-width: 1201px) {
    max-width: 100%;
    width: 100%;
  }

  .view-block-element {
    flex: 1;

    &:first-child {
      margin-right: 20px;
    }

    h3.title {
      font-size: 19px;
      margin-bottom: 20px;
    }

    @media (max-width: 768px) {
      h3.title {
        font-size: 16px;
        margin-bottom: 15px;
      }

      flex: none;
      width: 100%;
      margin-bottom: 20px;

      &:first-child {
        margin-right: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.view-block {
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  padding: 25px;
  display: flex;
  flex-wrap: wrap;

  &__name {
    font-size: 17px;
    font-family: $bold;
    padding-bottom: 5px;
  }

  &__img {
    margin-right: 30px;
    width: 94px;

    img {
      width: 100%;
    }
  }

  .city {
    font-size: 13px;
    padding-top: 8px;
  }

  @media (max-width: 992px) {
    padding: 20px 15px;

    &__name {
      font-size: 16px;
    }

    &__img {
      width: 75px;
      margin-right: 20px;
    }

    .raiting-block {
      li {
        width: 20px;
      }
    }
  }

  @media (max-width: 768px) {
    &__name {
      font-size: 14px;
      padding-bottom: 0;
    }

    &__img {
      margin-right: 10px;
      width: 45px;
    }

    .city {
      font-size: 12px;
      padding-top: 0;
    }

    .raiting-block {
      li {
        width: 15px;
      }
    }
  }
}

.categories-item-block.categories-item-list {
  padding: 25px 85px 25px 60px;

  ul {
    .list-item__group {
      input {
        width: 116px;
        margin-right: 74px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  @media (max-width: 1659px) {
    padding-right: 80px;

    ul {
      .list-item__group {
        input {
          margin-right: 20px;
        }
      }
    }

    input {
      padding: 6px 10px;
    }
  }

  @media (max-width: 1366px) {
    padding: 20px 30px 20px 30px;

    ul li.list-item {
      .title {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 992px) {
    padding: 20px 18px 20px 18px;

    input {
      padding: 5px;
    }
  }

  @media (max-width: 576px) {
    padding: 15px 10px;

    ul {
      .list-item__group {
        padding-top: 10px;
        width: 100%;

        input {
          margin-right: 20px;
        }
      }
    }
  }
}

.techique {
  .techique__body {
    .techique__group {
      width: 100%;
    }
  }
}
