@import "../var";

.moderation-option {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 33px;

  .btn {
    width: 180px;
    margin-right: 13px;
  }

  .btn-group {
    .btn:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: 992px) {
    .btn {
      font-size: 13px;
    }
  }

  @media (max-width: 800px) {
    padding-bottom: 20px;

    .btn {
      width: 120px;
      margin-right: 0;
      padding-left: 5px;
      padding-right: 5px;
    }

    .btn-group {
      padding-top: 15px;
      width: 100%;
      flex-wrap: wrap;

      .btn {
        flex: 1;
        flex-basis: 150px;
        margin-bottom: 7px;

        &:last-child {
          margin-right: 0;
        }

        .count--pl {
          margin-left: 7px;
        }
      }
    }

    .count {
      width: 17px;
      height: 17px;
      font-size: 9px;
      line-height: 17px;
    }
  }
}

.moderation-block {
  padding: 40px;
}

.moderation-item {
  background: #fff;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  padding: 20px 30px;
  margin-bottom: 20px;

  h3 {
    margin-bottom: 16px;
  }

  .form {
    .form__item {
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }
    }

    .title-label {
      padding-bottom: 10px;
    }

    .form__item--width {
      width: 180px;
    }

    .input-file-wraps {
      .input-file__name {
        padding-bottom: 11px;
      }

      .input-files {
        display: block;
      }
    }
  }

  @media (max-width: 1200px) {
    padding: 15px;
  }

  @media (max-width: 768px) {
    .form {
      .form__item--file {
        padding-top: 10px;
        width: 100%;

        .view-file {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 633px) {
    .form {
      .input-file-wraps {
        padding-top: 10px;

        .input-file__name {
          padding-bottom: 8px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    h3 {
      font-size: 15px;
      margin-bottom: 10px;
    }

    .form {
      .form__item {
        margin-right: 0;
        margin-bottom: 9px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .form__item--width,
      .form__item {
        width: 100%;
      }
    }
  }
}

.feedback-block {
  box-shadow: 0 0.0625rem 0.75rem rgba(0, 0, 0, 0.06);
  background: #fff;
  padding: 30px;

  .block-moderation {
    background: transparent;
    box-shadow: none;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
    justify-content: flex-start;

    .block-moderation__section {
      max-width: 45%;

      &:last-child {
        margin-right: 0;
      }
    }

    span.next {
      margin-right: 40px;
      margin-left: 40px;
    }
  }

  .feedback-block__info {
    > span {
      display: block;
      font-size: 14px;
      line-height: 1.5;
      padding-bottom: 8px;
    }
  }

  .feedback-block__text {
    padding-top: 30px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
  }

  @media (max-width: 1200px) {
    padding: 20px;

    ul.raiting li img {
      width: 20px;
    }
  }

  @media (max-width: 992px) {
    .block-moderation {
      .block-moderation__section {
        width: 100%;
        max-width: 100%;
      }
    }

    .next {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10%;
    }
  }

  @media (max-width: 576px) {
    padding-left: 13px;
    padding-right: 13px;

    .feedback-block__text {
      font-size: 13px;
      padding-top: 20px;
    }

    .feedback-block__info > span {
      font-size: 13px;
    }

    ul.raiting li {
      margin-right: 3px;

      img {
        width: 15px;
      }
    }
  }
}

.moderation-inner {
  h3 {
    margin-bottom: 20px;
    font-size: 17px;

    @media (max-width: 768px) {
      font-size: 15px;
      margin-bottom: 15px;
    }

    @media (max-width: 480px) {
      font-size: 14px;
    }
  }
}

.moderataion-block-viewing {
  background: #fff;
  box-shadow: 0 0.0625rem 0.75rem rgba(0, 0, 0, 0.06);
  padding: 30px;

  .moderataion-block-viewing__line {
    padding-bottom: 23px;

    .viewing-block {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .moderataion-block-viewing__img {
    padding-top: 22px;

    .item-img {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .item-img {
    position: relative;
    width: 160px;
    margin-bottom: 5px;

    .delete {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
      background: transparent;
      border: none;
    }
  }

  .moderataion-block-viewing__text {
    padding-top: 70px;
    font-size: 13px;

    div {
      padding-bottom: 15px;

      p {
        margin-bottom: 4px;
        font-weight: bold;
      }
    }
  }

  @media (max-width: 1365px) {
    padding: 20px;
  }

  @media (max-width: 992px) {
    .moderataion-block-viewing__text {
      padding-top: 40px;
    }
  }

  @media (max-width: 768px) {
    .item-img {
      width: 120px;

      .delete {
        top: 3px;
        right: 3px;

        svg {
          width: 13px;
        }
      }
    }

    .moderataion-block-viewing__line {
      padding-bottom: 15px;

      .viewing-block {
        margin-right: 10px;
      }
    }

    .moderataion-block-viewing__img {
      padding-top: 15px;
    }
  }

  @media (max-width: 576px) {
    padding-left: 13px;
    padding-right: 13px;

    .moderataion-block-viewing__line {
      .viewing-block {
        margin-right: 0;
      }
    }

    .moderataion-block-viewing__img {
      justify-content: space-between;

      .item-img {
        width: 49%;
        margin-right: 0;
      }
    }

    .moderataion-block-viewing__text {
      padding-top: 15px;
    }
  }
}

.viewing-block {
  width: 250px;
  max-width: 300px;

  &__name {
    font-size: 13px;
    margin-bottom: 8px;
  }

  &__mean {
    width: 100%;
    border: 1px solid rgba(174, 166, 157, 0.3);
    padding: 9px;
    font-size: 13px;
    color: $color-p;
    display: flex;
    align-items: center;
  }

  @media (max-width: 1200px) {
    &__mean {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  @media (max-width: 768px) {
    width: 49%;
    max-width: 100%;

    &__mean {
      font-size: 12px;
    }

    &__name {
      font-size: 12px;
    }
  }

  @media (max-width: 576px) {
    width: 100%;
  }
}

.viewing-block--large {
  display: inline-block;
  width: auto;
  max-width: none;

  @media (max-width: 576px) {
    width: 100%;
  }
}

.techique.techique--view.moderation-page-block {
  .techique__head .item-wrap {
    max-width: 300px;
  }

  .techique__group--line {
    padding-bottom: 25px;
  }

  .techique__body .techique__group {
    width: 100%;
  }

  .techique__body .techique__group--min {
    padding-top: 25px;
  }

  .techique__group--min {
    p {
      color: $accent;
    }
  }

  .form {
    .form__input {
      width: 170px;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 992px) {
    .techique__head {
      .item-wrap {
        max-width: 100%;
      }

      .filter-block {
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;

        .filter-block__name {
          padding-bottom: 0;
          padding-right: 7px;
        }

        .filter-block__group {
          width: auto;
        }
      }
    }

    .form {
      .techique__group.techique__group--line {
        .form__item {
          margin-bottom: 15px;
        }
      }
    }

    .form h3 {
      margin-top: 12px;
    }

    .techique__group--line {
      padding-bottom: 0;
    }
  }

  @media (max-width: 768px) {
    .form h3.pb {
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .techique__body {
      .techique__group--min {
        padding-top: 17px;
      }
    }

    .form {
      .form__input {
        width: 49%;
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }

  @media (max-width: 576px) {
    .techique__body .techique__group--min {
      padding-top: 10px;
    }

    .form h3 {
      text-align: center;
    }
  }

  @media (max-width: 480px) {
    .form {
      .techique__group.techique__group--line {
        .form__item {
          margin-bottom: 10px;
        }
      }
    }
  }
}

//блоки

.block-moderation {
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  padding: 20px 15px;
  font-size: 13px;
  margin: 5px 5px 10px 5px;

  &__title {
    font-family: "Montserrat-Medium", sans-serif;
    line-height: 17px;
    margin-bottom: 3px;
  }

  &__img {
    width: 50px;
  }

  &__info {
    width: calc(100% - 185px);
    justify-content: space-between;
  }

  &__group {
    align-items: center;
  }

  &__section {
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    margin-left: 13px;
  }

  ul li {
    display: block;
    color: $color-p;
  }

  ul.raiting {
    display: flex;

    li {
      margin-right: 6px;

      img {
        width: 24px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .btn.btn--min {
    font-size: 12px;
    width: 153px;
    padding: 6px 4px;
  }

  .status {
    line-height: 1.3;

    span {
      padding-top: 4px;
      display: block;
      color: $color-p;
    }
  }

  @media (max-width: 992px) {
    padding: 17px 10px;
  }

  @media (max-width: 768px) {
    font-size: 12px;
    padding: 17px 10px;

    &__img {
      width: 40px;
    }

    &__text {
      margin-left: 7px;
    }

    .btn.btn--min {
      font-size: 11px;
      width: 140px;
    }

    &__info {
      width: calc(100% - 150px);
    }
  }

  @media (max-width: 576px) {
    .btn.btn--min {
      width: 100%;
      margin-top: 7px;
    }

    .block-moderation__info {
      width: 100%;
    }

    &__text {
      width: calc(100% - 47px);
    }
  }
}

.block-moderation--row {
  .btn {
    svg {
      display: none;
    }
  }

  .block-moderation__info {
    justify-content: flex-start;
    align-items: center;
  }

  .block-moderation__section {
    margin-left: 40px;
    width: calc(100% - 440px);

    .block-moderation__text {
      width: calc(100% - 63px);
    }

    .block-moderation__group--width {
      width: 100%;
    }
  }

  .block-moderation__section--width {
    width: 400px;
    margin-left: 0;

    .block-moderation__title {
      width: 130px;
    }
  }

  .block-moderation__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  @media (max-width: 1659px) {
    .status {
      width: 120px;
    }

    .block-moderation__section {
      width: calc(100% - 360px);
    }

    .block-moderation__section--width {
      width: 320px;
    }
  }

  @media (max-width: 1365px) and (min-width: 1201px) {
    .block-moderation__info {
      width: calc(100% - 50px);
    }

    .btn.btn--min {
      width: 30px;
      border: none;

      svg {
        display: block;
      }

      span {
        display: none;
      }
    }
  }

  @media (max-width: 992px) {
    .btn.btn--min {
      width: 30px;
      border: none;

      svg {
        display: block;
      }

      span {
        display: none;
      }
    }

    .block-moderation__info {
      width: calc(100% - 50px);
    }
  }

  @media (max-width: 768px) {
    .status {
      width: 100%;
      font-size: 11px;
      line-height: 1.3;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-left: 45px;
      padding-top: 5px;

      span {
        padding-top: 0;
        padding-right: 3px;
      }

      span:last-child {
        padding-right: 0;
      }
    }

    .block-moderation__section--width {
      width: 100%;
      margin-bottom: 13px;
    }

    .block-moderation__section {
      margin-left: 0;
      width: 100%;
    }

    .block-moderation__info {
      width: 100%;
    }

    .btn.btn--min {
      width: 100%;
      border: 1px solid $accent;
      margin-top: 10px;

      svg {
        display: none;
      }

      span {
        display: block;
      }
    }
  }
}

.block-moderation--element {
  .block-moderation__section {
    width: 100%;
    justify-content: flex-start;
  }

  .block-moderation__group {
    width: 280px;
  }

  .ml {
    padding-left: 15px;

    .block-or__title {
      font-family: "Montserrat-Medium", sans-serif;
      margin-bottom: 4px;
    }
  }

  @media (max-width: 992px) {
    .block-moderation__group {
      width: 250px;
    }
  }

  @media (max-width: 768px) {
    .block-moderation__group {
      width: 100%;
    }

    .ml {
      padding-top: 8px;
      padding-left: 50px;

      .block-or__title,
      span {
        line-height: 1.3;
      }
    }
  }
}

.block-moderation--raiting {
  .block-moderation__info {
    align-items: center;
    justify-content: flex-start;
  }

  .block-moderation__section--width {
    width: 280px;
  }

  span.next {
    margin-left: 20px;
    margin-right: 45px;
  }

  .block-moderation__section--raiting {
    width: calc(100% - 355px);
    align-items: center;
  }

  @media (max-width: 1659px) {
    .block-moderation__section--width {
      width: 220px;
    }

    .block-moderation__section--raiting {
      width: calc(100% - 280px);
    }

    span.next {
      margin-right: 20px;
    }

    ul.raiting li img {
      width: 18px;
    }
  }

  @media (max-width: 1364px) and (min-width: 1201px) {
    .block-moderation__section--width,
    .block-moderation__section--raiting {
      width: 100%;
    }

    .block-moderation__section--raiting {
      justify-content: flex-start;

      .block-moderation__group {
        width: 100%;
      }

      ul.raiting {
        margin-left: 50px;
      }
    }
  }

  @media (max-width: 992px) {
    .block-moderation__section--width,
    .block-moderation__section--raiting {
      width: 100%;
    }

    .block-moderation__section--raiting {
      justify-content: flex-start;

      .block-moderation__group {
        width: 100%;
      }

      ul.raiting {
        margin-left: 50px;
      }
    }
  }
}

.block-or--raiting {
  .raiting {
    margin-left: 30px;
  }

  .block-or__section {
    width: auto;
  }
}

.block-or--row {
  @media (max-width: 1659px) and (min-width: 1201px) {
    .block-or__section {
      .block-or__title {
        width: 110px;
      }
    }

    .block-or__section--more {
      margin-left: 10px;

      .block-or__title {
        width: 120px;
      }
    }

    .block-or__group .block-or__block {
      margin-left: 10px;

      span {
        font-size: 11px;
      }
    }

    .block-or__img {
      width: 40px;
    }
  }

  @media (max-width: 1659px) {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;

    .block-or__section {
      width: 37%;
    }

    .block-or__section--more {
      width: 40%;
    }

    .btn.btn--min {
      margin-left: 10px;
      width: 140px;
      font-size: 11px;
    }
  }

  @media (max-width: 1320px) and (min-width: 1201px) {
    padding-left: 15px;
    padding-right: 15px;

    span.next {
      display: block;
      padding-left: 20px;
    }

    .block-or__section {
      width: 100%;
      justify-content: flex-start;

      &--more {
        margin-left: 0;
      }
    }

    .block-or__section:first-child .block-or__wrap {
      width: auto;
    }

    .block-or__group {
      width: 50%;
    }

    .btn.btn--min {
      margin-top: 20px;
      margin-left: 0;
      width: 160px;
      font-size: 12px;
    }
  }
}
