@import "../var";

.page-order {
  .manager-page__bottom > h3.title {
    margin-bottom: 25px;
  }

  .filter-primary {
    padding-bottom: 13px;
    border-bottom: 1px solid rgba(174, 166, 157, 0.1);
  }

  .object-wrapp {
    margin-top: 30px;
  }

  .order-block {
    padding-top: 40px;

    @media (max-width: 1659px) {
      padding-top: 30px;
    }

    @media (max-width: 992px) {
      padding-top: 20px;
    }
  }

  // order-box-item
  .box-item {
    padding-right: 15px;

    &__wrap {
      width: calc(100% - 290px);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }

    .box-date {
      padding-right: 0;
    }

    .box-item__group--flex {
      max-width: 540px;
      flex-basis: auto;
    }

    .box-dh {
      display: block;
      padding-left: 0;
      line-height: normal;
      padding-top: 5px;
    }

    .box-item__name {
      padding-right: 0;
      padding-bottom: 5px;

      span {
        text-transform: uppercase;
      }
    }

    .box-item__group {
      p:last-child {
        margin-bottom: 0;
      }
    }

    p {
      font-size: 13px;
      margin-bottom: 4px;
    }

    p.dark {
      opacity: 0.7;
    }

    .box-rate {
      margin-bottom: 10px;
    }

    @media (max-width: 1659px) {
      .box-item__group--flex {
        max-width: 100%;
        flex-basis: 100%;
      }

      &__wrap {
        width: calc(100% - 230px);

        .box-item__group:nth-child(2) {
          padding-left: 140px;
          line-height: 12px;
          padding-top: 15px;
          display: flex;
          flex-wrap: wrap;
          width: 100%;

          p {
            margin-right: 15px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      p {
        margin-bottom: 8px;
      }
    }

    @media (max-width: 1366px) {
      &__wrap {
        .box-item__group:nth-child(2) {
          padding-left: 110px;
        }
      }
    }

    @media (max-width: 810px) {
      .box-item__group--right {
        padding-left: 0;

        .box-rate {
          padding-bottom: 0;
          margin-bottom: 0;
        }

        .btn {
          margin-top: 8px;
        }
      }
    }

    @media (max-width: 767px) {
      .box-info-date {
        font-size: 10px;
      }

      .btn {
        margin-top: 0;
      }

      &__wrap {
        width: 100%;
      }

      .box-item__name {
        padding-bottom: 0;
      }
    }

    @media (max-width: 576px) {
      padding-left: 5px;
      padding-right: 5px;

      .box-item__group--flex {
        align-items: center;
      }

      .box-date,
      .box-dh {
        line-height: 12px;
      }

      .box-item__group:nth-child(2) {
        padding-top: 10px;

        p {
          font-size: 11px;
        }
      }
    }

    @media (max-width: 480px) {
      .box-item__wrap {
        .box-item__group:nth-child(2) {
          padding-left: 80px;
        }
      }
    }
  }

  &__head {
    padding-bottom: 30px;

    .controls {
      padding-top: 35px;
    }

    .filter-primary {
      padding-bottom: 25px;

      li a.active {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }

    @media (max-width: 1200px) {
      padding-bottom: 20px;

      .filter-primary {
        padding-bottom: 20px;
      }

      .controls {
        padding-top: 30px;
      }
    }

    @media (max-width: 768px) {
      .filter-primary {
        padding-bottom: 15px;
      }

      .controls {
        padding-top: 18px;
      }
    }
  }
}

.order-block {
  .order-block__line {
    align-items: center;
    justify-content: space-between;
    padding-bottom: 19px;

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
      width: 200px;
    }

    h3 {
      @media (max-width: 576px) {
        font-size: 15px;
      }
    }

    .btn-view {
      margin-left: 20px;
    }
  }

  .controls {
    padding-bottom: 20px;
  }

  @media (max-width: 1659px) {
    .order-block__line {
      .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 180px;
      }
    }
  }

  @media (max-width: 992px) {
    .order-block__group {
      width: 100%;
      padding-top: 20px;
    }
  }

  @media (max-width: 576px) {
    .order-block__group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 49%;
      }

      .btn-view {
        width: 49%;
        margin-left: 0;
      }
    }
  }

  @media (max-width: 480px) {
    .order-block__group {
      padding-top: 15px;

      .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 100%;
      }

      .btn-view {
        width: 100%;
        margin-top: 8px;
      }
    }
  }
}

.order-detail {
  .back {
    color: $accent;
    display: inline-block;

    span {
      margin-right: 13px;
    }

    @media (max-width: 992px) {
      font-size: 14px;

      span {
        margin-right: 7px;
      }
    }
  }

  .btn {
    @media (max-width: 1659px) {
      font-size: 15px;
    }

    @media (max-width: 1365px) {
      font-size: 14px;
    }

    @media (max-width: 992px) {
      font-size: 13px;
    }

    @media (max-width: 576px) {
      width: 100%;
    }
  }

  .order-detail__head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;

    .order-detail__group {
      .btn {
        width: 250px;
        padding: 7px;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    @media (max-width: 1365px) {
      .order-detail__group {
        .btn {
          width: auto;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }

    @media (max-width: 992px) {
      .order-detail__group {
        .btn {
          margin-right: 10px;
        }
      }
    }

    @media (max-width: 767px) {
      .order-detail__group {
        width: 100%;
        padding-top: 15px;

        .btn {
          padding: 6px 13px;
        }
      }
    }

    @media (max-width: 480px) {
      .order-detail__group {
        .btn {
          width: 100%;
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .box-item {
    padding-right: 15px;

    .accent {
      display: block;
    }

    .box-date {
      padding-right: 0;
    }

    .box-item__group--flex {
      flex-basis: calc(100% - 310px);

      @media (max-width: 992px) {
        flex-basis: calc(100% - 280px);
      }

      @media (max-width: 810px) {
        flex-basis: 100%;
      }
    }

    .box-item__option {
      padding-top: 12px;

      .item {
        display: inline-block;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }

      @media (max-width: 576px) {
        padding-top: 7px;
      }
    }

    span.accent {
      @media (max-width: 576px) {
        font-size: 10px;
        line-height: normal;
        padding-top: 3px;
      }
    }

    @media (max-width: 576px) {
      padding-right: 10px;
    }
  }

  .notes-block {
    margin-left: -5px;
    margin-right: -5px;

    .notes-block__item {
      margin: 0 5px;
      width: calc(25% - 10px);
    }

    @media (max-width: 992px) {
      .notes-block__item {
        width: calc(33.33% - 10px);
      }
    }

    @media (max-width: 700px) {
      .notes-block__item {
        width: calc(50% - 10px);
      }
    }

    @media (max-width: 480px) {
      .notes-block__item {
        width: calc(100%);
      }
    }
  }

  .order-detail__block {
    padding-top: 40px;

    .table-document {
      padding-top: 40px;
    }

    .table-document--pt {
      padding-top: 30px;
    }

    .chat-block {
      padding-top: 16px;

      .chat-block__left {
        width: 100%;
        max-width: 100%;
      }
    }

    h3.title {
      font-size: 19px;
      margin-bottom: 10px;
    }

    p,
    .sub {
      margin-bottom: 0;
      font-size: 14px;
    }

    @media (max-width: 1200px) {
      h3.title {
        margin-bottom: 8px;
      }

      .table-document {
        padding-top: 30px;
      }
    }

    @media (max-width: 768px) {
      padding-top: 30px;

      h3.title {
        font-size: 17px;
        margin-bottom: 7px;
      }

      p {
        max-width: 290px;
      }

      p,
      .sub {
        line-height: normal;
        font-size: 12px;
      }
    }

    @media (max-width: 576px) {
      p {
        max-width: 100%;
        margin-bottom: 13px;
      }

      .table-document {
        padding-top: 20px;
      }
    }

    @media (max-width: 480px) {
      h3.title {
        font-size: 16px;
      }
    }
  }

  .order-detail__block--line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .order-detail__block--calendar {
    .order-detail__block__group {
      width: 100%;
    }
  }

  .chat-block {
    width: 100%;
  }

  .order-detail__block--min {
    padding-top: 40px;
  }

  .view-block-wrap--pt {
    padding-top: 40px;

    @media (max-width: 1659px) {
      padding-top: 35px;
    }

    @media (max-width: 768px) {
      padding-top: 10px;
    }
  }
}

.table-document {
  &__item {
    color: $color-p;
    border-bottom: 1px solid rgba(174, 166, 157, 0.3);
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    &:first-child {
      padding-top: 0;
    }

    .table-document__link {
      display: block;
      color: $color-text;

      span {
        padding-left: 13px;
      }
    }

    .table-document__user {
      padding-right: 50px;
    }

    .table-document__date {
      padding-right: 75px;
    }

    .tablet-document__group {
      display: flex;
      flex-wrap: wrap;
    }

    .table-document__name {
      max-width: 400px;
    }
  }

  button.del {
    margin-left: 45px;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  @media (max-width: 1366px) {
    font-size: 15px;

    .table-document__user {
      padding-right: 30px;
    }

    .table-document__date {
      padding-right: 50px;
    }
  }

  @media (max-width: 992px) {
    font-size: 14px;

    .table-document__link {
      span {
        display: none;
      }
    }

    .table-document__date {
      padding-right: 30px;
    }

    button.del {
      margin-left: 30px;
    }
  }

  @media (max-width: 767px) {
    padding-top: 15px;
    padding-bottom: 15px;

    .table-document__name {
      max-width: 100%;
      width: 100%;
      padding-bottom: 6px;
      padding-right: 30px;
    }

    button.del {
      margin-left: 0;
      position: absolute;
      top: 10px;
      right: 0;
    }
  }

  @media (max-width: 480px) {
    font-size: 13px;

    .table-document__user,
    .table-document__date {
      padding-right: 20px;
    }
  }
}
