@import "../var";

.page-balance {
	.title--min {
		margin-bottom: 15px;
	}

	.block-mn--inline {
		h3.title--min {
			margin-bottom: 20px;
		}
	}

	.bootstrap-select .btn-light {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	.block-mn {
		.btn {
			font-size: 14px;
		}

		.btn--min {
			padding: 7px;

			@media (max-width: 1200px) {
				font-size: 15px;
			}
		}
	}

	.page-balance__group {
		padding-top: 30px;
	}

	.table {
		tbody {
			.mob-block {
				display: none;
			}

			button {
				.icon {
					display: none;
				}

				.text {
					color: $color-text;
				}

				&:hover {
					.text {
						color: #fff;
					}
				}
			}
		}
	}

	@media (max-width: 992px) {
		.page-balance__group {
			padding-top: 25px;
		}

		.block-mn {
			> h3.title--min {
				font-family: "Montserrat-Medium", sans-serif;
			}
		}

		.table {
			tbody {
				button {
					padding: 0;
					border: none;

					.icon {
						display: block;
					}

					.text {
						display: none;
					}

					&:hover {
						background: transparent;
					}
				}
			}
		}
	}

	@media (max-width: 767px) {
		.bootstrap-select .btn-light {
			padding-top: 0;
			padding-bottom: 0;
		}

		.page-balance__group {
			width: 100%;
			padding-bottom: 20px;
		}

		.filter-sec {
			li {
				flex: 1;

				a {
					padding: 8px 3px;
				}
			}
		}

		.block-mn {
			> h3.title--min {
				font-size: 14px;
			}

			.btn.btn--width {
				width: 150px;
				font-size: 13px;
				padding: 5px 10px;
			}

			.btn--min {
				font-size: 13px;
			}
		}

		.table {
			thead tr {
				display: none;
			}

			tbody {
				tr {
					td {
						&:nth-child(3) {
							display: none;
						}

						&:nth-child(4) {
							display: none;
						}

						&:nth-child(6) {
							display: none;
						}
					}

					span {
						display: inline-block;
					}
				}
			}
		}
	}

	@media (max-width: 576px) {
		.table {
			tbody {
				.mob-block {
					display: block;
				}

				tr {
					td {
						&:nth-child(2) {
							display: none;
						}
					}
				}
			}
		}
	}

	@media (max-width: 480px) {
		.page-balance__group {
			padding-top: 20px;
		}

		.filter-sec {
			li {
				a {
					font-size: 10px;
				}
			}
		}
	}
}

.block-mn--inline {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
	padding-bottom: 20px;

	.nav-tabs {
		padding-bottom: 0;
	}

	@media (max-width: 767px) {
		.nav-tabs {
			width: 100%;
			margin-bottom: 20px;

			.nav-item {
				flex: 1;
			}

			.nav-item:first-child {
				flex-grow: 2;
			}
		}

		.bootstrap-select {
			margin-left: auto;
		}
	}
}
