@import "../var";

.page-technique {
  .block-mn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: flex-end;

    .btn.dropdown-toggle {
      padding: 9px 10px;
      font-size: 13px;
    }

    .group {
      display: flex;
      flex-wrap: wrap;

      .filter-block {
        margin-right: 20px;

        .filter-block__name {
          position: absolute;
          top: -30px;
        }
      }
    }
  }

  .block-mn .btn-group {
    .btn {
      margin-right: 20px;
      width: 250px;
      padding: 7px 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .custon-accordion .card-header {
    margin-bottom: 15px;
  }

  .block-mn-select {
    width: 230px;

    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
      width: 100%;
    }
  }

  @media (max-width: 1659px) {
    .block-mn .btn-group .btn {
      width: 190px;
      font-size: 13px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .block-mn-select,
    .filter-block {
      width: 190px;
    }

    .block-mn .group .filter-block {
      margin-right: 15px;
    }
  }

  @media (max-width: 940px) {
    .block-mn .btn-group .btn {
      width: 180px;
    }

    .block-mn-select,
    .filter-block {
      width: 180px;
    }
  }

  @media (max-width: 830px) {
    .btn-group,
    .group {
      width: 100%;
    }

    .block-mn {
      .btn-group .btn {
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 15px;
      }

      .group {
        padding-top: 10px;
        align-items: flex-end;

        .filter-block {
          flex: 1;

          .filter-block__name {
            position: relative;
            top: 0;
          }
        }

        .block-mn-select {
          padding-bottom: 3px;
          flex: 1;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .block-mn {
      .btn-group .btn {
        margin-right: 8px;
        font-size: 11px;
      }

      .group .filter-block {
        margin-right: 8px;
      }

      .btn.dropdown-toggle,
      .filter-block input {
        font-size: 11px;
      }
    }

    .filter-block {
      .filter-block__wrap {
        height: 36px;
      }

      .filter-block__name {
        font-size: 11px;
        padding-bottom: 2px;
      }
    }

    .filter-block input {
      height: 34px;
      line-height: 34px;
    }
  }
}

.item-box {
  font-size: 13px;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  padding: 15px 20px;
  margin-bottom: 20px;

  .btn {
    padding: 6px 20px;
    font-size: 15px;
  }

  .item-box__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .item-box__group {
      padding-left: 25px;
      width: 190px;
    }
  }

  .item-box__img {
    width: 60px;

    img {
      width: 100%;
    }
  }

  .item-box__name {
    line-height: normal;
  }

  .item-box__el {
    color: $color-p;
    line-height: normal;
  }

  .item-box__el--upper {
    padding-top: 5px;
    text-transform: uppercase;
  }

  .item-box__item {
    display: flex;
    align-items: center;
  }

  .item-box__label {
    color: #000;
  }

  .item-box__group {
    width: 200px;
    padding-left: 40px;

    .item-box__item {
      padding-top: 5px;
    }
  }

  .item-box__group--size {
    width: 35%;
    padding-left: 45px;

    .item-box__el {
      padding-bottom: 5px;
      line-height: 17px;

      @media screen and (min-width: 1660px) {
        &:nth-child(2n) {
          padding-right: 0;
        }
      }
    }
  }

  .item-box__block {
    width: calc(100% - 280px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  @media (max-width: 1659px) and (min-width: 1201px) {
    font-size: 12px;

    .item-box__wrapper {
      .item-box__group {
        padding-left: 10px;
        width: 180px;
      }
    }

    .item-box__group {
      width: 170px;
      padding-left: 25px;
    }

    .item-box__group--size {
      padding-left: 25px;
      width: 33%;

      .item-box__el {
        font-size: 12px;
      }
    }

    .item-box__img {
      width: 45px;
    }

    .btn {
      font-size: 12px;
      width: 160px;
      padding: 6px;
    }
  }

  @media (max-width: 1659px) {
    .item-box__block {
      width: calc(100% - 180px);
    }
  }

  @media (max-width: 1299px) and (min-width: 1201px) {
    .item-box__wrapper .item-box__group {
      width: 170px;
    }

    .item-box__group--size {
      width: 33%;
    }
  }

  @media (max-width: 1200px) {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;

    .btn {
      font-size: 13px;
      padding: 5px 10px;
    }

    .item-box__block {
      width: calc(100% - 197px);
    }

    .item-box__group,
    .item-box__group--size {
      padding-left: 30px;
    }

    .item-box__group--size {
      width: 40%;
    }
  }

  @media (max-width: 992px) {
    .item-box__block {
      justify-content: flex-start;
    }

    .item-box__group--size {
      padding-left: 0;
      width: 100%;
      padding-top: 5px;
      display: flex;
      flex-wrap: wrap;

      .item-box__el {
        padding-left: 12px;

        &:first-child {
          padding-left: 0;
        }
      }
    }

    .item-box__wrapper {
      .item-box__group {
        padding-left: 10px;
        width: auto;
        max-width: 230px;
      }
    }
  }

  @media (max-width: 767px) {
    .item-box__block {
      width: 100%;
    }

    .btn {
      width: 100%;
      margin-top: 5px;
      background: $accent;
      color: #fff;
    }
  }

  @media (max-width: 576px) {
    .item-box__wrapper {
      width: 100%;
      padding-bottom: 3px;

      .item-box__group {
        width: calc(100% - 60px);
        max-width: 100%;
      }
    }

    .item-box__img {
      width: 50px;
    }

    .item-box__group {
      padding-left: 0;
    }
  }

  @media (max-width: 480px) {
    font-size: 11px;

    .item-box__group--size {
      padding-top: 3px;

      .item-box__el {
        font-size: 11px;
        padding-left: 7px;
      }
    }

    .item-box__el--upper {
      padding-top: 3px;
    }

    .item-box__group {
      .item-box__item {
        padding-top: 3px;
      }
    }
  }
}

.inside-techique {
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  padding: 60px 60px 40px 60px;

  @media (max-width: 1659px) {
    padding: 40px;
  }

  @media (max-width: 1300px) {
    padding: 35px 25px;
  }

  @media (max-width: 768px) {
    padding: 20px 15px;
  }
}

.techique {
  .techique__head {
    padding-bottom: 30px;

    h3 {
      margin-bottom: 19px;
    }

    .item-wrap {
      padding-top: 0;
      width: calc(100% - 240px);

      .item-map {
        width: 100%;
      }

      .sub {
        padding-top: 7px;
        padding-bottom: 0;
      }

      @media (max-width: 992px) {
        width: 100%;
      }
    }

    .filter-block {
      width: 200px;
      margin-left: 30px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .filter-block__wrap {
        height: 40px;

        input {
          height: 35px;
        }
      }

      .filter-block__group {
        width: 100px;
      }

      .item-wrap {
        margin-top: 0;
      }

      @media (max-width: 800px) {
        margin-left: 0;
        margin-top: 15px;
      }

      @media (max-width: 992px) {
        margin-left: 0;
        margin-top: 15px;
      }

      @media (max-width: 650px) {
        margin-top: 10px;
        width: 100%;

        .filter-block__group {
          width: 100%;
        }
      }
    }

    .techique__block {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    @media (max-width: 1200px) {
      padding-bottom: 25px;
    }

    @media (max-width: 480px) {
      padding-bottom: 18px;
    }
  }

  .techique__body {
    h3.pb {
      margin-bottom: 32px;
    }

    .techique__block--pb {
      padding-bottom: 28px;

      @media (max-width: 1200px) {
        padding-bottom: 17px;
      }

      @media (max-width: 768px) {
        padding-bottom: 10px;
      }

      @media (max-width: 576px) {
        padding-bottom: 15px;
      }
    }

    .techique__block {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .techique__group--line {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 16px;

        .form__item:last-child {
          margin-right: 0;
          align-self: center;
          margin-bottom: 0;
        }

        @media (max-width: 650px) {
          .form__item {
            margin-right: 0;
            width: 100%;

            .bootstrap-select.custom-wide:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
              width: 100%;
            }
          }

          .form__group {
            .form__item {
              margin-right: 10px;

              &:nth-child(2) {
                margin-right: 0;
              }
            }
          }
        }
      }

      .form__group {
        display: inline-flex;
        flex-wrap: wrap;
        width: 530px;

        .form__item:nth-child(2) {
          margin-right: 0;
          margin-bottom: 15px;
        }

        @media (max-width: 1659px) {
          width: 440px;
        }

        @media (max-width: 768px) {
          width: 390px;
        }

        @media (max-width: 650px) {
          width: 100%;
          padding-bottom: 18px;

          .form__item {
            flex: 1;
          }
        }
      }

      .form__text {
        width: 100%;
        text-align: left;
        line-height: normal;

        @media (max-width: 480px) {
          button {
            text-align: left;
            font-size: 12px;
          }
        }
      }

      .form__item {
        margin-right: 20px;
        margin-bottom: 15px;

        .bootstrap-select.custom-wide:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
          width: 240px;

          @media (max-width: 1659px) {
            width: 200px;
          }

          @media (max-width: 768px) {
            width: 180px;
          }

          @media (max-width: 576px) {
            width: 100%;
          }
        }

        @media (max-width: 768px) {
          margin-right: 15px;
        }

        @media (max-width: 576px) {
          margin-right: 0;
          margin-bottom: 10px;
          width: 100%;

          label {
            font-size: 11px;
            margin-bottom: 8px;
          }
        }
      }

      .form__item--width {
        width: 240px;

        .bootstrap-select.custom-wide:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
          width: 100%;
        }

        @media (max-width: 1659px) {
          width: 200px;
        }

        @media (max-width: 768px) {
          width: 180px;
        }

        @media (max-width: 650px) {
          width: 48%;
          margin-right: 10px;

          &:nth-child(2n) {
            margin-right: 0;
          }
        }

        @media (max-width: 650px) {
          width: 100%;
          margin-right: 0;
        }
      }

      .custom-label {
        font-size: 14px;
        margin-bottom: 0;

        @media (max-width: 576px) {
          font-size: 13px;
        }

        @media (max-width: 480px) {
          font-size: 11px;
        }
      }

      .form__item input {
        padding: 8px 10px;

        @media (max-width: 576px) {
          padding: 6px;
        }
      }

      .form__item--pt {
        padding-top: 15px;
      }

      @media (max-width: 650px) {
        justify-content: space-between;
      }
    }

    .techique__group--min {
      padding-top: 25px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .text-info {
        max-width: 730px;
        margin-top: 30px;
      }

      @media (max-width: 1659px) {
        .text-info {
          max-width: 585px;
        }
      }

      @media (max-width: 1300px) {
        padding-top: 15px;

        .form__item {
          width: 100%;

          .bootstrap-select.custom-wide:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 280px;
          }
        }

        .text-info {
          max-width: 100%;
          width: 100%;
          margin-top: 0;
        }
      }

      @media (max-width: 768px) {
        padding-top: 10px;
      }

      @media (max-width: 650px) {
        padding-top: 3px;

        .form__item .bootstrap-select.custom-wide:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
          width: 100%;
        }
      }
    }
  }

  .techique__block.techique-character {
    .form__item {
      margin-right: 30px;
      width: 300px;
      margin-bottom: 18px;
    }
  }

  .techique__block--pt {
    padding-top: 25px;
    padding-bottom: 28px;
  }

  label {
    display: block;
  }

  .sub {
    font-size: 13px;
    color: rgba(36, 36, 36, 0.7);
    line-height: 17px;
    padding-bottom: 8px;

    a {
      color: $accent;
    }

    @media (max-width: 768px) {
      font-size: 12px;
    }

    @media (max-width: 480px) {
      font-size: 10px;
    }
  }

  .block-timeline {
    padding-top: 7px;
    padding-bottom: 20px;
  }

  &__name {
    font-size: 24px;
    font-family: $bold;
    padding-bottom: 30px;
  }

  // правильно
  h3 {
    @media (max-width: 480px) {
      font-size: 14px;
    }
  }

  p {
    color: rgba(36, 36, 36, 0.7);
    line-height: 21px;

    @media (max-width: 992px) {
      font-size: 14px;
    }

    @media (max-width: 768px) {
      font-size: 13px;
      line-height: 17px;
    }

    @media (max-width: 480px) {
      font-size: 10px;
    }
  }

  p.txt {
    margin-bottom: 0;
    margin-top: 17px;

    @media (max-width: 1200px) {
      margin-top: 5px;
    }
  }

  .techique__bottom {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    button {
      width: 260px;
    }

    > .techique__bottom-group {
      button {
        margin-left: 20px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    @media (max-width: 992px) {
      padding-top: 20px;

      button {
        width: 200px;
      }
    }

    @media (max-width: 576px) {
      padding-top: 15px;

      button {
        width: 180px;
      }
    }

    @media (max-width: 480px) {
      padding-top: 10px;

      button {
        width: 100%;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  // конец
  &__img {
    width: 140px;

    img {
      width: 100%;
    }
  }

  .item-wrap {
    padding-top: 9px;

    .item-map {
      width: 656px;
    }
  }

  .techique__block--group {
    width: 70%;
  }

  .techique__block--start {
    align-items: flex-start;
  }

  .form__item {
    input {
      padding-top: 9px;
      padding-bottom: 9px;
    }
  }
}

.techique--view {
  padding: 40px;

  .form {
    label {
      color: $color-p;
      font-size: 15px;
      margin-bottom: 8px;
    }

    h3 {
      margin-top: 20px;
    }

    p {
      color: $color-text;
      margin-bottom: 0;
      font-size: 13px;
    }

    .techique__head {
      padding-bottom: 17px;
    }

    .item-map {
      font-size: 14px;
    }

    .sub {
      font-size: 12px;

      @media (max-width: 992px) {
        font-size: 11px;
      }

      @media (max-width: 480px) {
        font-size: 10px;
        line-height: normal;
      }
    }

    .techique__body .techique__group {
      width: auto;

      .form__item {
        margin-bottom: 0;
      }
    }

    .techique__group.techique__group--line {
      width: 100%;

      .form__item,
      .form__item.form__item--width {
        width: 130px;
        margin-right: 18px;
        margin-bottom: 0;
      }
    }

    .techique__block.techique__block--pb.techique__block--pb--more {
      .form__item,
      .form__item.form__item--width {
        width: 130px;
        margin-right: 15px;
        margin-bottom: 0;

        &:nth-child(2) {
          width: 170px;
        }
      }
    }

    @media (max-width: 767px) {
      label {
        font-size: 14px;
      }

      .item-map {
        font-size: 14px;
      }

      h3 {
        margin-top: 15px;
      }
    }

    @media (max-width: 576px) {
      .techique__block.techique__block--pb.techique__block--pb--more {
        .form__item,
        .form__item.form__item--width {
          width: auto;
          flex: 1;
          margin-right: 20px;
          margin-bottom: 8px;

          &:last-child {
            margin-right: 0;
          }

          &:nth-child(2) {
            width: auto;
            flex: 1;
          }
        }
      }
    }

    @media (max-width: 480px) {
      .item-map {
        font-size: 12px;
      }

      label {
        margin-bottom: 6px;
        font-size: 13px;
      }

      h3 {
        margin-top: 10px;
      }

      .techique__group.techique__group--line {
        .form__item,
        .form__item.form__item--width {
          width: auto;
          margin-right: 20px;
          margin-bottom: 8px;
        }

        .form__group {
          .form__item.form__item--width {
            flex: 1;
            width: auto;
            margin-right: 20px;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .form__item {
          label {
            margin-bottom: 6px;
            font-size: 13px;
          }
        }
      }

      .techique__block.techique__block--pb.techique__block--pb--more {
        .form__item {
          label {
            margin-bottom: 6px;
            font-size: 13px;
          }
        }
      }
    }
  }

  .techique__body {
    .techique__block .form__group {
      width: auto;
    }

    .techique__group--min {
      padding-top: 20px;

      @media (max-width: 576px) {
        padding-top: 7px;
      }
    }

    .techique__block--pb {
      padding-bottom: 0;
      padding-top: 0;
    }

    .techique__block .techique__group--line {
      padding-bottom: 19px;

      @media (max-width: 576px) {
        padding-bottom: 15px;
      }

      @media (max-width: 480px) {
        padding-bottom: 10px;
      }

      .form__group {
        padding-bottom: 0;
      }
    }

    .techique__block.techique__block--pb.techique__block--pb--more {
      border-bottom: none;
      padding-top: 18px;
      padding-bottom: 10px;
    }
  }

  @media (max-width: 992px) {
    padding: 25px;
  }

  @media (max-width: 768px) {
    padding: 20px 15px;
  }
}

.block-badge {
  padding-top: 5px;

  .badge {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;

    @media (max-width: 992px) {
      font-size: 12px;
    }

    @media (max-width: 768px) {
      flex: 1;
    }

    @media (max-width: 480px) {
      font-size: 11px;
    }
  }

  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.inside-techique.techique {
  .techique__body {
    h3.pb {
      margin-bottom: 27px;

      @media (max-width: 1200px) {
        margin-bottom: 20px;
      }

      @media (max-width: 768px) {
        margin-bottom: 15px;
        font-size: 16px;
      }
    }
  }
}

.input-file-wrap--height {
  .input-files {
    height: 55px;
  }

  .input-trigger {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.result-search {
  width: 250px;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  background: #fff;
  position: absolute;
  z-index: 200;

  ul {
    li {
      font-size: 13px;

      a {
        color: #000;
        padding: 10px 20px;
        display: block;
        transition: $transition;

        &:hover {
          background: #f4f0e9;
        }
      }
    }
  }

  .btn {
    padding-left: 8px;
    padding-right: 8px;
  }
}
