@import "../var";

.btn--sub {
  width: 140px;
  padding: 7px;
  margin-bottom: 2px;
  border: 2px solid $accent;
  color: $accent;

  &:hover {
    background: transparent;
    color: #000;
  }
}

.page-landlord {
  .nav-tabs {
    padding-bottom: 25px;

    a {
      width: 200px;
      padding: 9px 5px;

      @media (max-width: 992px) {
        width: auto;
      }

      @media (max-width: 576px) {
        font-size: 10px;
        padding: 8px 4px;
      }
    }

    .nav-item {
      padding-right: 17px;

      @media (max-width: 1200px) {
        padding-right: 13px;
      }

      @media (max-width: 992px) {
        padding-right: 10px;
        flex: 1;
      }

      @media (max-width: 768px) {
        padding-right: 2px;
      }

      @media (max-width: 480px) {
        &:nth-child(2) {
          flex-grow: 2;
        }
      }
    }

    @media (max-width: 768px) {
      padding-bottom: 22px;
    }

    @media (max-width: 480px) {
      padding-bottom: 15px;
    }
  }

  .controls {
    padding-bottom: 30px;
  }

  .form--inner {
    padding-bottom: 30px;

    .form__item--pt {
      margin-right: 40px;
    }

    .form__item--width {
      width: 59%;
    }

    .form__layout {
      padding-top: 20px;
      align-items: flex-end;
      position: relative;
      width: 100%;

      .filter-block {
        width: 200px;
        margin-right: 40px;
      }

      .form__item.form__item--map {
        width: 46%;
        margin-right: 40px;
      }
    }

    @media (max-width: 1659px) {
      .form__item--width {
        width: 69%;
      }
    }

    @media (max-width: 992px) {

      .form__item--width {
        width: 100%;
      }

      .form__item--pt {
        margin-right: 20px;
      }

      .form__layout {
        padding-top: 20px;

        .form__item.form__item--map {
          width: 100%;
          margin-right: 0;
          margin-bottom: 10px;
        }

        .filter-block {
          margin-right: 20px;
        }
      }
    }

    @media (max-width: 768px) {
      .form__line {
        padding-top: 15px;

        .form__item {
          width: 48%;
          margin-right: 0;

          &:first-child {
            margin-right: 10px;
          }
        }

        .form__item.form__item--pt {
          margin-right: 0;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .form__layout {
        padding-top: 15px;
      }

      .form__item--pt {
        margin-top: 15px;
      }
    }

    @media (max-width: 576px) {
      .form__item--width {
        input {
          font-size: 12px;
        }
      }
    }

    @media (max-width: 480px) {
      padding-bottom: 25px;

      .form__line {
        padding-top: 10px;

        .form__item {
          width: 100%;
          margin-top: 0;
          margin-bottom: 12px;

          &:last-child {
            margin-bottom: 0;
          }

          &:first-child {
            margin-right: 0;
          }
        }
      }

      .form__layout {
        padding-top: 15px;

        .filter-block {
          margin-right: 0;
          width: 100%;
        }
      }

      .btn--sub {
        width: 100%;
        padding: 5px;
        margin: 20px 15px 0 15px;
      }
    }
  }

  @media (max-width: 992px) {
    .controls {
      padding-bottom: 20px;
    }

    .nav-tabs {
      padding-bottom: 20px;
    }
  }

  @media (max-width: 480px) {
    .controls {
      padding-bottom: 15px;
    }
  }
}

.a-block {
  &__item {
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .a-block__img {
    width: 94px;
    margin-right: 30px;
    align-self: center;
    text-align: center;
  }

  .raiting-block {
    flex-wrap: wrap;
  }

  .btn {
    width: 100%;
    margin-bottom: 9px;
    text-align: center;
    align-items: center;
  }

  .a-block__comments {
    font-size: 13px;

    a {
      color: #aea69d;
      text-decoration: underline;
    }
  }

  .a-block__name {
    color: #000;
    font-family: $bold;
    padding-bottom: 3px;
  }

  .a-block__city,
  .a-block__text {
    font-size: 13px;
  }

  .a-block__city {
    color: #aea69d;
  }

  .badge {
    margin-right: 8px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .a-block__group--inline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .a-block__group {
      width: 390px;
    }
  }

  .a-block__group--width {
    width: 44%;
  }

  .a-block__group.a-block__group--btn {
    width: 240px;

    .btn:last-child {
      margin-bottom: 0;
    }
  }

  .a-block__group {
    .a-block__text {
      padding-top: 7px;
    }

    .a-block__city {
      padding-top: 9px;
    }
  }

  @media (max-width: 1659px) and (min-width: 1365px) {
    .a-block__group--inline {
      .a-block__group {
        width: 320px;
      }
    }

    .a-block__group--width {
      width: 37%;
    }
  }

  @media (max-width: 1659px) {
    .btn {
      padding-left: 7px;
      padding-right: 7px;
      font-size: 13px;
    }

    .a-block__group.a-block__group--btn {
      width: 200px;
    }
  }

  @media (max-width: 1364px) and (min-width: 1201px) {
    .a-block__group--width {
      width: 25%;
    }

    .a-block__group--inline {
      .a-block__group {
        width: 400px;
      }
    }
  }

  @media (max-width: 1365px) {
    .a-block__img {
      width: 80px;
      margin-right: 20px;
    }

    .raiting-block {
      li {
        width: 20px;
        margin-right: 2px;
      }

      .all-rating {
        margin-left: 5px;
      }
    }
  }

  @media (max-width: 1201px) {
    .a-block__name {
      font-size: 15px;
    }

    .a-block__img {
      width: 60px;
      margin-right: 15px;
    }

    .raiting-block {
      li {
        width: 15px;
      }
    }

    .a-block__group--inline {
      width: calc(100% - 240px);

      .a-block__group {
        width: calc(100% - 75px);
      }
    }

    .a-block__group--width {
      width: 100%;
      padding-left: 74px;
      order: 1;
      padding-top: 10px;
    }
  }

  @media (max-width: 992px) {
    .btn {
      font-size: 13px;
    }
  }

  @media (max-width: 768px) {
    .a-block__group--inline {
      width: 100%;
    }

    .a-block__group--width {
      padding-left: 0;
      order: 0;
      display: flex;
      flex-wrap: wrap;

      .badge {
        flex: 1;
      }
    }

    .a-block__group.a-block__group--btn {
      padding-top: 10px;
      width: 100%;
    }

    .a-block__city,
    .a-block__text,
    .all-rating,
    .reviews-el {
      font-size: 11px;
      line-height: normal;
    }

    .a-block__group {
      .a-block__city {
        padding-top: 5px;
      }
    }

    .badge {
      font-size: 11px;
      margin-bottom: 5px;
    }

    button.btn-more {
      font-size: 11px;
      margin-bottom: 5px;
    }
  }

  @media (max-width: 576px) {
    &__item {
      padding: 20px 10px;
    }

    .a-block__name {
      font-family: "Montserrat-Medium", sans-serif;
      font-size: 13px;
      padding-bottom: 0;
    }

    .a-block__img {
      width: 35px;
      margin-right: 8px;
    }

    .a-block__group--inline .a-block__group {
      width: calc(100% - 43px);
    }

    .btn {
      font-size: 11px;
    }
  }

  @media (max-width: 480px) {
    .reviews-el {
      padding-left: 0;
      width: 100%;
      padding-top: 4px;
    }
  }
}

.tab-pane-adress {
  padding-left: 40px;
  padding-right: 60px;
}

