@import "../var";

.form-bg {
  background: #fff;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  padding: 40px;
  margin-bottom: 30px;

  .btn {
    width: 100%;
    margin-top: 20px;
  }

  .form__item {
    padding-bottom: 20px;
    position: relative;
  }

  .form__item-line {
    padding-bottom: 0;
  }
}

.inner-content__line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .btn-group {
    display: block;

    .btn {
      margin-right: 20px;
      padding: 6px 15px;
    }

    .btn:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: 1659px) {
    .btn {
      font-size: 15px;
      padding: 8px 10px;
    }
  }

  @media (max-width: 992px) {
    .btn-group {
      .btn {
        margin-right: 10px;
      }
    }

    .btn {
      font-size: 14px;
    }
  }

  @media (max-width: 992px) {
    .btn-group {
      padding-top: 15px;
      width: 100%;
    }

    .btn {
      padding: 6px 5px;
    }
  }

  @media (max-width: 576px) {
    .btn-group {
      .btn {
        margin-bottom: 10px;
        margin-right: 0;
      }

      .btn:last-child {
        margin-bottom: 0;
        margin-right: 0;
      }
    }

    .btn {
      width: 100%;
      font-size: 13px;
    }
  }
}

.list-members {
  padding-top: 20px;

  &__title {
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
  }

  button.delite {
    background: #f4f0e9;
    border: none;
    height: 50px;
    width: 50px;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  input {
    height: 50px;
  }
}

.list-members-row {
  justify-content: space-between;

  &__item {
    position: relative;
    width: 48%;
    margin-bottom: 10px;
  }
}

.personal-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  p {
    margin-bottom: 0;
    font-size: 13px;
    line-height: 1.5;

    @media (max-width: 480px) {
      font-size: 12px;
    }
  }

  .form-bg--more {
    flex-basis: 740px;
  }

  .form-bg--small {
    flex-basis: 360px;
  }

  .form-bg--custom {
    width: 100%;
  }

  .form-bg {
    padding: 35px 30px;

    @media (max-width: 1659px) {
      padding: 35px 25px;
    }

    @media (max-width: 768px) {
      padding: 20px;

      .form__item {
        padding-bottom: 15px;
      }
    }
  }

  .form {
    .bootstrap-select .btn-light {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    input {
      padding-top: 7px;
      padding-bottom: 7px;
    }

    label {
      font-size: 15px;
      margin-bottom: 9px;
    }

    span.dark {
      padding-bottom: 16px;
      font-size: 15px;
      display: block;
    }

    .btn--submit {
      width: 80%;
      margin-top: 15px;
      margin-right: auto;
      margin-left: auto;
      display: block;

      @media (max-width: 1400px) and (min-width: 1201px) {
        margin-top: 0;
      }

      @media (max-width: 576px) {
        margin-top: 0;
        font-size: 14px;
        width: 100%;
      }
    }

    @media (max-width: 992px) {
      label,
      span.dark {
        font-size: 13px;
        margin-bottom: 5px;
      }

      input {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    @media (max-width: 576px) {
      input {
        padding: 6px 7px;
      }
    }
  }

  .file-upload {
    width: 155px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .form--basis .form__title {
    width: 100%;
    margin-bottom: 25px;
  }

  @media (max-width: 1659px) {
    .form-bg--more {
      flex-basis: calc(100% - 370px);
    }
  }

  @media (max-width: 992px) {
    justify-content: center;

    .form-bg--more {
      flex-basis: 100%;
    }

    .form-bg--small {
      flex-basis: 80%;
    }

    .form--basis .form__title {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 768px) {
    .form-bg--small {
      flex-basis: 100%;
    }
  }

  @media (max-width: 576px) {
    .form--basis .form__title {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
}

.personal-wrap--custom {
  .form-bg--small {
    flex-basis: calc((100% - 40px) / 3);

    .form-bg {
      padding: 28px 17px;
    }

    @media (max-width: 992px) {
      flex-basis: 80%;
    }

    @media (max-width: 768px) {
      flex-basis: 100%;
    }
  }
}

.personal-wrap .form-bg .form--personal--cutom {
  .form__wrapp {
    display: flex;
    flex-wrap: wrap;

    .form__group {
      flex: 1;
    }

    @media (max-width: 1400px) and (min-width: 1201px) {
      .form__group {
        flex: none;
        width: 100%;
      }
    }

    @media (max-width: 576px) {
      .form__group {
        flex: none;
        width: 100%;
      }
    }
  }

  .form__group:last-child {
    padding-left: 75px;
    padding-bottom: 0;

    .form__item {
      padding-bottom: 19px;
    }

    @media (max-width: 1659px) {
      padding-left: 30px;
    }

    @media (max-width: 1400px) and (min-width: 1201px) {
      margin-top: 15px;
      padding-left: 0;
      padding-top: 15px;
      border-top: 1px solid rgba(0, 0, 0, 0.08);
    }

    @media (max-width: 576px) {
      margin-top: 25px;
      padding-left: 0;
      padding-top: 15px;
      border-top: 1px solid rgba(0, 0, 0, 0.08);

      .form__item {
        padding-bottom: 16px;
      }
    }
  }
}

.personal-wrap .form-bg.document-wrap {
  padding-bottom: 10px;
}

.document-wrap {
  width: 100%;

  .form--document {
    margin-left: -10px;
    margin-right: -10px;
  }

  .form__item {
    padding-bottom: 25px;
    flex: 0 0 calc((100% / 3) - 20px);
    max-width: calc((100% / 3) - 20px);
    margin-right: 10px;
    margin-left: 10px;
  }

  .btn {
    margin-top: 0;
  }

  @media (max-width: 992px) {
    .form--document {
      margin-left: -5px;
      margin-right: -5px;
    }

    .form__item {
      margin-right: 5px;
      margin-left: 5px;
      flex: 0 0 calc((100% / 3) - 10px);
      max-width: calc((100% / 3) - 10px);
    }
  }

  @media (max-width: 800px) {
    .form__item {
      flex: 0 0 calc((100% / 2) - 10px);
      max-width: calc((100% / 2) - 10px);
    }
  }

  @media (max-width: 576px) {
    .form__item {
      flex: 0 0 100%;
      max-width: 100%;
      margin-right: 0;
    }
  }
}

.form-bg--custom {
  h3 {
    margin-bottom: 15px;
  }

  .subtitle {
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
  }

  h4 {
    font-size: 18px;
    color: #000;
    font-family: $bold;
    margin-bottom: 20px;
  }
}

.personal-wrap--pt {
  padding-top: 20px;

  @media (max-width: 768px) {
    padding-top: 5px;
  }
}

.natifications-wrap {
  .form {
    .form__inline {
      .form__group {
        width: 50%;

        @media (max-width: 1659px) {
          width: 45%;
        }

        @media (max-width: 1365px) {
          width: 51%;
        }
      }

      .form__group:nth-child(2) {
        width: 40%;
        margin-left: 70px;

        @media (max-width: 1659px) {
          margin-left: 70px;
          width: 40%;
        }

        @media (max-width: 1365px) {
          margin-left: 50px;
        }
      }
    }

    @media (max-width: 1365px) {
      .custom-label {
        font-size: 15px;
      }
    }
  }
}

.wrapp-personal {
  padding: 0;
  width: auto;
  display: inline-block;

  h3 {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 25px;

    @media (max-width: 1365px) {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  .btn {
    width: 280px;
    margin: 0 auto 25px auto;
    display: block;
  }
}

.notification-table {
  margin-bottom: 30px;
  width: auto;

  td,
  th {
    border: none;
  }

  tbody td,
  thead th {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: normal;
  }

  thead th {
    border-bottom: 1px solid #e3ebf2;
    font-size: 17px;

    &:first-child {
      padding-left: 18px;
    }

    &.name {
      min-width: 320px;
    }

    &.type {
      min-width: 160px;
    }
  }

  thead tr {
    background: #eef2f7;
  }

  tbody {
    label {
      margin-bottom: 0;
    }

    .custom-label {
      padding-left: 27px;
      display: flex;
      align-items: center;

      &::before {
        width: 19px;
        height: 19px;
      }

      &::after {
        width: 13px;
        height: 13px;
        top: 3px;
        left: 3px;
        right: 3px;
      }

      span {
        line-height: 20px;
        vertical-align: unset;
      }
    }

    tr:first-child {
      td {
        padding-top: 17px;
      }
    }

    td {
      padding: 12px 18px;
      vertical-align: middle;
    }
  }
}

.template-notify-page {
  width: 100%;
  padding: 25px;
  box-shadow: 0 0.0625rem 0.75rem rgba(0, 0, 0, 0.06);
}

.template-notify {
  &__item {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border: none;
    }
  }

  ul li {
    font-size: 13px;
    padding-right: 15px;
  }

  .template-notify-form {
    label {
      width: 100%;
    }

    textarea {
      width: 460px;
      height: 120px;
    }

    .template-notify-form__foot {
      background: #edeef0;
      padding: 10px 15px;
      height: 120px;
      margin-left: 25px;
      max-width: 360px;
    }

    .template-notify-form__button {
      margin-top: 15px;
      width: 100%;
    }
  }
}
