@import "../var";

.step {
  position: relative;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    top: 40px;
    width: 50%;
    height: 1px;
    background: #f4f0e9;
    right: -30%;

    @media (max-width: 1400px) {
      top: 35px;
    }

    @media (max-width: 992px) {
      top: 30px;
    }

    @media (max-width: 767px) {
      content: none;
    }
  }

  h3 {
    font-family: $bold;
    font-size: 19px;

    @media (max-width: 1200px) {
      font-size: 17px;
      margin-bottom: 4px;
    }

    @media (max-width: 992px) {
      font-size: 15px;
    }
  }

  p {
    color: #aea69d;
    font-size: 15px;
    margin-bottom: 0;

    @media (max-width: 1600px) {
      font-size: 14px;
    }

    @media (max-width: 992px) {
      font-size: 13px;
    }
  }

  h3,
  p {
    line-height: 21px;
  }

  &__icon {
    border: 1px solid $accent;
    border-radius: 50%;
    text-align: center;
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

    span {
      font-size: 34px;
      font-family: $bold;
    }

    i {
      position: absolute;
      right: -25px;
      top: 18px;
    }

    @media (max-width: 1600px) {
      width: 65px;
      height: 65px;
    }

    @media (max-width: 1400px) {
      width: 60px;
      height: 60px;

      span {
        font-size: 29px;
      }

      i {
        width: 35px;
        right: -20px;
      }
    }

    @media (max-width: 1200px) {
      width: 52px;
      height: 52px;
      margin-bottom: 7px;

      span {
        font-size: 25px;
      }

      i {
        width: 27px;
        right: -15px;
      }
    }

    @media (max-width: 992px) {
      i {
        width: 24px;
        right: -9px;
      }
    }

    @media (max-width: 767px) {
      width: 70px;
      height: 70px;

      i {
        width: 33px;
        right: -22px;
      }
    }
  }

  @media (max-width: 1200px) {
    p {
      line-height: 17px;
    }
  }
}

.section-step {
  padding: 35px 0 40px 0;
  border-bottom: 1px solid #f1efed;

  .col-xl-3:last-child {
    .step::before {
      display: none;
    }
  }

  .slick-slide:focus {
    outline: none;
  }

  .slick-dots {
    margin-top: 30px;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 5px;

      button {
        border: none;
        background: rgba(174, 166, 157, 0.3);
        text-indent: -9999px;
        width: 40px;
        height: 5px;

        &:focus {
          outline: none;
        }
      }
    }

    li.slick-active {
      button {
        background: $accent;
      }
    }
  }

  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 15px;
  }
}
