extends ../_template

block variables
  - var title = '404';
  - var selected = '404'

block content
  include ../common/_header
  main
    .error-hero
      .error-header
        .error-text
          h1.error-title 404 - Page Not Found
      .error-main
        p We're sorry, but the page that you requested could not be found.
        a(href="#") Return to our home page
