extends ../_template

block variables
	- var title = 'Личный кабинет';
	- var selected = 'Техника'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная'], 'Личный кабинет')
				h1.page-heading Оборудование
				.rights Менеджер
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Заявки')
								+aside-personal('aplications.html', 'plan.png', 'Заказы')
								+aside-personal('aplications.html', 'documents.png', 'Техника')
								+aside-personal('aplications.html', 'user.png', 'Пользователи')
								+aside-personal('aplications.html', 'notification.png', 'Контент')
					.inner-content
						.page-dop
							.page-dop__line.flex-element.flex-element--option
								button.btn.btn--primary.btn--wide Добавить оборудование
								button.btn.btn--light.btn--wide Удалить
							.search-block
								form.form-search
									.form-input
										.icon
											svg(width='18', height='18', viewBox='0 0 18 18', fill='none', xmlns='http://www.w3.org/2000/svg')
												path(opacity='0.3', d='M12.5 7C12.5 10.0376 10.0376 12.5 7 12.5V13.5C10.5899 13.5 13.5 10.5899 13.5 7H12.5ZM7 12.5C3.96243 12.5 1.5 10.0376 1.5 7H0.5C0.5 10.5899 3.41015 13.5 7 13.5V12.5ZM1.5 7C1.5 3.96243 3.96243 1.5 7 1.5V0.5C3.41015 0.5 0.5 3.41015 0.5 7H1.5ZM7 1.5C10.0376 1.5 12.5 3.96243 12.5 7H13.5C13.5 3.41015 10.5899 0.5 7 0.5V1.5ZM11.6464 12.3536L16.6464 17.3536L17.3536 16.6464L12.3536 11.6464L11.6464 12.3536Z', fill='#AEA69D')
										input(class="search-element" type='text', placeholder='Найти технику')

							.wrapp-dop.content-search
								- for (let c = 0; c < 5; c++)
									.item-technique-el
										.item-check
											input(class="input-checkbox" type="checkbox" id="catalog1")
											label(class="label-checkbox label-checkbox--dark" for="catalog1")
										.item-technique.flex-element.flex-element--option
											.item-technique__group.flex-element.flex-element--option.item-technique__group--width
												.item-technique__options
													.item-technique__name.item-technique__name--width Название доп оборудования #[= c]
													ul
														li Стандартная цена: #[span 1654 Р]
														li От 20 смен: #[span 1200 Р]
												button.btn.btn--light.btn-edit-form Редактировать
											form.form.hidden.item-technique-form
												input(placeholder="Редактирование наименования")
													//- .form__inline
													//- 	.form__group
													//- 		input(placeholder="Стандарт")
													//- 		input(placeholder="От 20 смен")
												button.btn.btn--primary Сохранить
						


	include ../common/_footer