extends ../_template

block variables
  - var title = 'Личный кабинет';
  - var selected = 'Техника'

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb
        +breadcrumbs(['Главная'], 'Личный кабинет')
        h1.page-heading Личный кабинет
        .rights Менеджер
        .inner-page
          include ../common/elements/aside-personal
          aside
            nav.menu.menu--personal
              ul
                +aside-personal('aplications.html', 'checklist.png', 'Заявки')
                +aside-personal('aplications.html', 'plan.png', 'Заказы')
                +aside-personal('aplications.html', 'documents.png', 'Техника')
                +aside-personal('aplications.html', 'user.png', 'Пользователи')
                +aside-personal('aplications.html', 'notification.png', 'Контент')
          .inner-content.inner-content--min
            .categories-page
              .categories-page__block.categories-page__block--custom
                h3.title.title-pb Техника
                .categories-page__line
                  .btn-group
                    a(href="#").btn.btn--light Редактировать БД
                    a(href="#").btn.btn--light Каталог техники в БД
                  a(href="#").btn.btn--light Запросы на редактирование
                    span.count 2
              .categories-page__block
                h3 Вся техника на платформе
                .categories-page__bl.categories-page__bl-n
                  .item
                    select.selectpicker.custom.bright(title="Выберите категорию")
                      option 1
                      option 2
                      option 3
                  .item
                    select.selectpicker.custom.bright(title="Выберите вид")
                      option 1
                      option 2
                      option 3
                  .item
                    select.selectpicker.custom.bright(title="Выберите подвид")
                      option 1
                      option 2
                      option 3
                  .item
                    select.selectpicker.custom.bright(title="Выберите товарную позицию")
                      option 1
                      option 2
                      option 3
                  .item.item--button
                    button.btn.btn--primary.btn--w Применить

              .wrapp-item-technique
                - for (var item = 0; item < 5; item++)
                .item-technique.flex-element.flex-element--option
                  .item-technique__group.item-technique__group--flex
                    .item-technique__name JCB – 243
                    .item-technique__flex
                      .item-technique__char
                        .item Характеристика 1: 231
                        .item Характеристика 2: 231
                      .item-technique__char
                        .item Количество на платформе: 34142
                  a(href="#").btn.btn--light Открыть подробности


  include ../common/_footer