extends ../_template

block variables
	- var title = 'Личный кабинет';
	- var selected = 'Заявки'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная'], 'Личный кабинет')
				h1.page-heading Личный кабинет
				.rights Менеджер
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Заявки')
								+aside-personal('aplications.html', 'plan.png', 'Заказы')
								+aside-personal('aplications.html', 'documents.png', 'Техника')
								+aside-personal('aplications.html', 'user.png', 'Пользователи')
								+aside-personal('aplications.html', 'car.png', 'Отчеты')
								+aside-personal('aplications.html', 'mod.png', 'Модерация')
								+aside-personal('aplications.html', 'content.png', 'Контент')
								+aside-personal('aplications.html', 'city.png', 'Города')
								+aside-personal('aplications.html', 'patterns.png', 'Шаблоны')
								+aside-personal('aplications.html', 'extra.png', 'Доп. оборудование')
								+aside-personal('aplications.html', 'settings.png', 'Настройки платформы')
					.inner-content
						.starting-block
							form.form
								.form__line.flex-element
									.item.item--w
										label.label-size Подвид техники
										input(type="search")
									.item.item--select
										label.label-size Подвид техники
										select.selectpicker.bright.stand
											option 1
											option 2
									.item.item--select
										label.label-size Тип техники
										select.selectpicker.bright.stand
											option Самоходная
											option Самоходная 2
									.item.item--stan
										label.label-size Имя подавшего заявку
										input(type="text")
									.item.item--stan
										label.label-size Имя разместившего предложение
										input(type="text")
									.item
										label.label-size ID заявки
										input(type="text")
									.item.item--btn
										button.btn.btn--primary Применить
									.item__group
										.item
											input(class="custom-input"  type="checkbox" id="type-1")
											label(class="custom-label label-size" for="type-1")
												span Самовывоз
										.item
											input(class="custom-input"  type="checkbox" id="type-2")
											label(class="custom-label label-size" for="type-2")
												span Без машиниста
							form
								ul(class="filter-basis")
										li
											a(class="active" href="#") Исполнители
										li
											a(href="#") Заказчики
										li
											a(href="#") Совмещенные
							form
								.controls
									.controls-b #[span Сортировать по:]
										ul
											li
												a(href="#").active Начальная дата в заявке
											li
												a(href="#") Начальная дата в заявке
											li
												a(href="#") Стоимость
						.starting-content
							#accordion.custom-accordion
								.card
									.card-header
										button(data-toggle='collapse', data-target='#open-1' aria-expanded="false" class="collapsed")
											.information-block
												.information-block__left
													.information-block__date Дата заявки: 12.01.19 (13:16)
													h3.title Заявка №133522
													.information-block__adress +7(937) 111-11-11 / Россия, Республика Башкортостан, Уфимский район, Кирилловский сельсовет
												.information-block__right
													.information-block__group
														.number
															| Количество техники: 
															span 32
														.result
															| Итог: 
															span 132 235 ₽
											span.open
												svg(width="27" height="15" viewBox="0 0 27 15" fill="none" xmlns="http://www.w3.org/2000/svg")
													path(d="M1 1.16211L13.5 13.1621L26 1.16211" stroke="#AEA69D" stroke-opacity="0.3" stroke-width="2")
									#open-1(data-parent='#accordion').collapse
										.box-item.flex-element
											.box-item__group.box-item__group--flex
												button.delete(aria-label="Удалить")
													img(src="assets/img/delite.png", alt="")
												.box-item__img
													img(src="assets/img/Rectangle2.png" alt="")
												.box-item__info
													.box-item__line
														.box-item__name Товарная позиция 1
														.box-item-l 3 из 4 шт
													.box-item__block.box-item__block--height
														.box-date
															.box-date__item
																span 18.02.19 
																| (
																span.time 14:50 
																| )   
															| -   
															.box-date__item
																span     19.02.19 
																| (
																span.time 11:00
																| )
														.box-dh
															span 8 дней 
															span.line /
															span  48 часов
													.box-item__block.box-item__block--flex.box-item__block--text.flex-element
														.box-item__text Время до окончания подачи предложений: 
															span.accent 00:14:52
														.box-item__text Оценочная стоимость:
															span.accent 135 290 ₽
											.box-item__group.box-item__group--right
												.box-item__block.box-item__block--flex.box-item__block--text.box-item__block--text--phone
													.box-item__text Время до окончания подачи предложений: 
														span.accent 00:14:52
													.box-item__text Оценочная стоимость:
														span.accent 135 290 ₽
												.box-item__applications
													| Новых предложений:
													.count 8 
													|  из 
													span 42
												a(href="#").btn.btn--light Редактировать
	include ../common/_footer