extends ../_template

block variables
	- var title = 'Личный кабинет';
	- var selected = 'Заявки'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная'], 'Личный кабинет')
				h1.page-heading Личный кабинет
				.rights Менеджер
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Заявки')
								+aside-personal('aplications.html', 'plan.png', 'Заказы')
								+aside-personal('aplications.html', 'documents.png', 'Техника')
								+aside-personal('aplications.html', 'user.png', 'Пользователи')
								+aside-personal('aplications.html', 'notification.png', 'Контент')
					.inner-content
						.aplication-obj
							.aplication-obj__wrap
								.aplication-obj__box.flex-element
									.aplication-obj__group.aplication-obj__group--line
										.aplication-obj__img
											img(src="assets/img/test3.jpg")
										.aplication-obj__group-block
											.aplication-obj__name Автокран 15 тн. #[span КАМАЗ 6520]
											.inf Дополнительное оборудование
											.box-date
												.box-date__item
													span 18.02.19 
													| (
													span.time 14:50 
													| ) 
												| -
												.box-date__item
													span 19.02.19 
													| (
													span.time 11:00
													| )
									.aplication-obj__group
										.item
											input(type="checkbox" id="pickup" class="custom-input")
											label(for="pickup" class="custom-label custom-label--color custom-label--size") #[span Самовывоз]
										.item
											input(type="checkbox" id="no-operator" class="custom-input")
											label(for="no-operator" class="custom-label custom-label--color custom-label--size") #[span Без оператора]
								.aplication-content
									.aplication-details.flex-element
										.aplication-details__block
											.aplication-details__line
												h3 Детали завки
												span Заказ №123417
											.aplication-details__obj
												h4 Объект
												ul
													li
														.map
															img(src="assets/img/map.png" alt="" aria-hidden="true")
														span г.Уфа, ул Советская, 73
													li #[span Расстояние до объекта: 25 км]
													li Рабочих дней в неделе: 6
													li Продолжительность смены: 8ч
											h4.flex Стоимость
												span.accent 17 290 ₽
											ul.block
												li Тариф р/час #[span 9 300 ₽]
												li Срок аренды #[span 5 дней / 8 часов]
												li Стоимость  дороги #[span 1 479 ₽]
												li Доставка #[span 1 479 ₽]
										.aplication-details__block
											h3 Выбранная техника
											ul.block
												li Количество #[span 12 из 25]
												li Param1 #[span 9 300 ₽]
											h4.flex.pt Итого
												span.accent 17 290 ₽
										//- табы для телефонов
										.aplication-details__block-container
											ul.nav.nav-tabs(role="tablist")
												li.nav-item
													a(data-toggle="tab" href="#selected-appliances").nav-link.active Выбранная техника
												li.nav-item
													a(data-toggle="tab" href="#application-details").nav-link Детали заявки
											.tab-content
												.tab-pane.fade.active.show(id="selected-appliances" role="tabpanel")
													.aplication-details__block
														h3 Выбранная техника
														ul.block
															li Количество #[span 12 из 25]
															li Param1 #[span 9 300 ₽]
														h4.flex.pt Итого
															span.accent 17 290 ₽
												.tab-pane.fade(id="application-details" role="tabpanel")
													.aplication-details__block
														.aplication-details__line
															h3 Детали завки
															span Заказ №123417
														.aplication-details__obj
															h4 Объект
															ul
																li
																	.map
																		img(src="assets/img/map.png")
																	span г.Уфа, ул Советская, 73
																li #[span Расстояние до объекта: 25 км]
																li Рабочих дней в неделе: 6
																li Продолжительность смены: 8ч
														h4.flex Стоимость
															span.accent 17 290 ₽
														ul.block
															li Тариф р/час #[span 9 300 ₽]
															li Срок аренды #[span 5 дней / 8 часов]
															li Стоимость  дороги #[span 1 479 ₽]
															li Доставка #[span 1 479 ₽]
									#accordion.obj-accordion
										.card
											.card-header
												button(data-toggle='collapse', data-target='#open-1' aria-expanded="false" class="collapsed custom-btn")
													.card-obj
														.card-obj__img
															img(src="assets/img/icon/icon-obj.png", alt="")
														.card-obj__block
															.card-obj__name Наименование профиля
															.raiting-block
																ul.raiting
																	- for (let r = 0; r < 3; r++)
																		li
																			img(src="assets/img/rating/Star.png", alt="")
																	li
																		img(src="assets/img/rating/Star-2.png", alt="")
																	li
																		img(src="assets/img/rating/Star-1.png", alt="")
																.all-rating 3.9
												.card-header-btn
													button(data-toggle="modal" data-target="#deflect" title="Отклонить" aria-label="Отклонить").btn.btn--light
														span Отклонить
														svg(width="22" height="22" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
															path(d="M15 1L8 8M1 15L8 8M8 8L15 15L1 1" stroke="#7F7B77")

													button(data-toggle="modal" data-target="#modal-message" title="Отправить сообщение" aria-label="Отправить сообщение").btn.btn--primary
														span Отправить сообщение													
														svg(height="25px" width="25px" version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 31.012 31.012', style='enable-background:new 0 0 31.012 31.012;', xml:space='preserve')
															g
																path(d='M28.512,26.529H2.5c-1.378,0-2.5-1.121-2.5-2.5V6.982c0-1.379,1.122-2.5,2.5-2.5h26.012c1.378,0,2.5,1.121,2.5,2.5v17.047\
																C31.012,25.408,29.89,26.529,28.512,26.529z M2.5,5.482c-0.827,0-1.5,0.673-1.5,1.5v17.047c0,0.827,0.673,1.5,1.5,1.5h26.012\
																c0.827,0,1.5-0.673,1.5-1.5V6.982c0-0.827-0.673-1.5-1.5-1.5H2.5z')
																path(d='M15.506,18.018c-0.665,0-1.33-0.221-1.836-0.662L0.891,6.219c-0.208-0.182-0.23-0.497-0.048-0.705\
																c0.182-0.21,0.498-0.23,0.706-0.049l12.778,11.137c0.64,0.557,1.72,0.556,2.358,0L29.46,5.466c0.207-0.183,0.522-0.162,0.706,0.049\
																c0.182,0.208,0.16,0.523-0.048,0.705L17.342,17.355C16.836,17.797,16.171,18.018,15.506,18.018z')


											#open-1(data-parent='#accordion').collapse
												.card-body
													.box-m
														button.del(aria-label='Удалить')
															svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
																path(opacity="0.3" d="M0.292893 1.70711L8.29289 9.70711L9.70711 8.29289L1.70711 0.292893L0.292893 1.70711ZM8.29289 9.70711L16.2929 17.7071L17.7071 16.2929L9.70711 8.29289L8.29289 9.70711ZM9.70711 9.70711L17.7071 1.70711L16.2929 0.292893L8.29289 8.29289L9.70711 9.70711ZM8.29289 8.29289L0.292893 16.2929L1.70711 17.7071L9.70711 9.70711L8.29289 8.29289Z" fill="black")
														.box-m__block.flex-element.box-m__block--left
															.box-m__img
																img(src="assets/img/min2.png", alt="")
															.box-m__group
																.box-m__group__line.flex-element
																	.box-m__title JCB – 243
																	span.dark Год выпуска: 2011
																.box-m__group__line.flex-element
																	p.price 2 740 ₽ / час
																	button(class="btn-tool" type="button" data-toggle="tooltip" data-placement="top" title="Текст" aria-hidden="true")
																		img(src="assets/img/icon/tooltip.png" alt="")
																		span.accent Характеристики
																p.dark 14 920 ₽ / день
														.box-m__block.flex-element
															.box-m__group.box-m__group--right
																.box-m__prise
																	h3.title--min Цена: 
																		span.accent 7 243 ₽
																	p.dark в том числе НДС 1 207 Р
															.item
																input(type="checkbox" id="choose" class="input-checkbox")
																label(for="choose" class="label-checkbox")
														.box-m__block.flex-element.box-m__block--phone
															.block-group
																button(class="btn-tool" rel="tooltip" type="button" aria-hidden="true")
																	img(src="assets/img/icon/tooltip.png" alt="")
																	span.accent Характеристики
																p.dark в том числе НДС 1 207 Р
															.block-group
																p.price 2 740 ₽ / час
																h3.title--min Цена: 
																	span.accent 7 243 ₽
							.aplication-obj__link
								button.btn.btn--light Изменить заявку
								button(class="btn btn--light" data-toggle="modal" data-target="#modal-message") Написать сообщение
								button(class="btn btn--light" data-toggle="modal" data-target="#delete-obj") Удалить заявку
								button(class="btn btn--light" data-toggle="modal" data-target="#application-sent") Назначить исполнителей
		.modal.fade#delete-obj(tabindex="-1" role="dialog")
			.modal-dialog.modal-dialog-centered.modal-white(role="document")
				.modal-content
					h3 Вы уверены, что хотите удалить данную заявку?
					.btn-group
						button.btn.btn--primary Удалить
						button(data-dismiss="modal").btn.btn--light Отмена

		.modal.fade#application-sent(tabindex="-1" role="dialog")
			.modal-dialog.modal-dialog-centered.modal-white(role="document")
				.modal-content
					h3 Заявка отправлена
					.modal-text Вы назначили исполнителя на вашу заявку. Дальнейшее взаимодействие будет проходить в разделе “
						span.accent Заказы
						| ” личного кабинета.

					.btn-group
						button.btn.btn--primary Удалить
						button(data-dismiss="modal").btn.btn--light Отмена

		.modal.fade#modal-message(tabindex="-1" role="dialog")
			.modal-dialog.modal-dialog-centered.modal-white(role="document")
				.modal-content
					h3 Отправить сообщение
					form
						.message-head
							.message-head__info
								.message-head__avatar
									img(src="assets/img/ellipse.png", alt="")
								.message-head__name Имя адресата
							.media-block
								label
									img(src="assets/img/choose.png")
								input(type="file" multiple="multiple" accept="image/*, .doc, .docx, .pdf" class="select-choose")
						.message-body
							textarea(placeholder="Введите сообщение")
						button.btn.btn--primary.btn--w Отправить