extends ../_template

block variables
  - var title = 'Мои заявки';
  - var selected = 'Мои заявки'

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb
        +breadcrumbs(['Главная', 'Категория'], 'Вид')
        h1.page-heading Мои заявки
        .switch
          span Заказчик
            input(type="checkbox" id="switch").switch__input
            label(for="switch").switch__label
          span Арендодатель
        .inner-page
          include ../common/elements/aside-personal
          aside
            nav.menu.menu--personal
              ul
                +aside-personal('aplications.html', 'checklist.png', 'Мои заявки')
                +aside-personal('#', 'floor-plan.png', 'Мои заказы')
                +aside-personal('message.html', 'message.png', 'Сообщения')
                +aside-personal('acts.html', 'documents.png', 'Акты и отчеты')
                +aside-personal('#', 'notification.png', 'Уведомления')
                +aside-personal('#', 'personal-data.png', 'Личные данные')
                +aside-personal('balance.html', 'menu-male.png', 'Баланс и платежи')
          .inner-content
            .page-aplication
              .object-wrapp
                button(data-toggle="modal" data-target="#" class="btn-object") Создать объект
                .object.object--slider
                  .object__box.active
                    h4 Все объекты
                    .object__date
                      span 17.12.19. 
                      | -
                      span 4.05.20
                    .object__all Всего техники: 
                      span 66
                  - for(i = 0; i < 10; i++)
                    .object__box
                      h4 Все объекты
                      .object__date
                        span 17.12.19. 
                        | -
                        span 4.05.20
                      .object__all Всего техники: 
                        span 66
              ul.nav.nav-tabs.nav-tabs--small(role="tablist")
                li.nav-item
                  a(class="nav-link active" data-toggle="tab" href="#current") Текущие
                li.nav-item
                  a(class="nav-link" data-toggle="tab" href="#current") Истекшие
              //- ul.filter-primary
              //-   li
              //-     a(href="#").active Текущие
              //-   li
              //-     a(href="#") Истекшие
                    span.count 8
              .tab-content
                .tab-pane.fade.show.active(id="current" role="tabpanel")
                  .controls.controls--d.controls--flex
                    .controls-b
                      button.filter-button(aria-label='Сортировать')
                        svg(xmlns="http://www.w3.org/2000/svg" width="15" height="13" viewBox="0 0 15 13" fill="none")
                          path(d="M0 1.5H7.5M15 1.5H7.5M7.5 1.5V0V3" stroke="black")
                          path(d="M0 11.5H3.44595M15 11.5H3.44595M3.44595 11.5V10M3.44595 11.5V13" stroke="black")
                          path(d="M15 6.5H11.5541M1.19209e-07 6.5H11.5541M11.5541 6.5V5M11.5541 6.5V8" stroke="black")
                        span Сортировать по:
                      span Сортировать по:
                      ul
                        li
                          a(class="active" href="#") Время до начала
                            span
                              svg(width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M1 1L7 7L13 1" stroke="black")
                        li
                          a(href="#") Стоимость
                    //- select.selectpicker.custom-size.color-n.custom-center.select-trn.stand
                    select.selectpicker.custom-center.select-trn.stand
                      option 1
                      option 2
                      option 3
              .content
                - for (let i = 0; i < 5; i++)
                  .box-item.flex-element
                    .box-item__group.box-item__group--flex
                      button.delete(aria-label="Удалить")
                        img(src="assets/img/delite.png", alt="Удалить")
                      .box-item__img
                        img(src="assets/img/Rectangle2.png" alt="Товарная позиция 1")
                      .box-item__info
                        .box-item__line.flex-element
                          .box-item__name Товарная позиция 1
                          .box-item-l 3 из 4 шт
                        .box-item__block.box-item__block--height
                          .box-date
                            .box-date__item
                              span 18.02.2019 
                              | (
                              span.time 14:50
                              | )   
                            | -   
                            .box-date__item
                              span     19.02.2019 
                              | (
                              span.time 11:00
                              | )
                          .box-dh
                            span 8 дней 
                            span.line /
                            span  48 часов
                        .box-item__block.box-item__block--flex.box-item__block--text.flex-element
                          .box-item__text Время до окончания подачи предложений: 
                            span.accent 00:14:52
                          .box-item__text Оценочная стоимость:
                            span.accent 135 290 ₽
                    .box-item__group.box-item__group--right
                      .box-item__block.box-item__block--flex.box-item__block--text.box-item__block--text--phone
                        .box-item__text Время до окончания подачи предложений: 
                          span.accent 00:14:52
                        .box-item__text Оценочная стоимость:
                          span.accent 135 290 ₽
                      .box-item__applications
                        | Новых предложений:
                        .count 8 
                        |  из 
                        span 42
                      a(href="applications-inside.html").btn.btn--light Смотреть предложения
                ul.pagination
                  li.page-item
                    a(href="#" class="page-link")
                      svg(width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M7 1L1 7L7 13" stroke="#7F7B77")
                  li.page-item.active
                    a(href="#" class="page-link")= 1
                  - for (let i = 2; i < 8 ;i++)
                      li.page-item
                        a(href="#" class="page-link")= i
                  li.page-item
                    a(href="#" class="page-link")
                      svg(width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M1 1L7 7L1 13" stroke="#7F7B77")
              
  include ../common/_footer