extends ../_template

block variables
	- var title = 'Баланс';
	- var selected = 'Баланс и платежи'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная', 'Категория'], 'Вид')
				h1.page-heading Баланс
				.switch
					span Заказчик
						input(type="checkbox" id="switch").switch__input
						label(for="switch").switch__label
					span Арендодатель
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Мои заявки')
								+aside-personal('#', 'floor-plan.png', 'Мои заказы')
								+aside-personal('message.html', 'message.png', 'Сообщения')
								+aside-personal('acts.html', 'documents.png', 'Акты и отчеты')
								+aside-personal('#', 'notification.png', 'Уведомления')
								+aside-personal('#', 'personal-data.png', 'Личные данные')
								+aside-personal('balance.html', 'menu-male.png', 'Баланс и платежи')
					.inner-content
						.page-balance
							.block-mn
								h3.title--min Баланс: 
									span.accent 18021 ₽
								button(class="btn btn--primary btn--width" data-toggle="modal" data-target="#balance-modal") Пополнить
							.block-mn.block-mn--inline
								.page-balance__group
									h3.title--min История платежей
									ul.filter-sec
										li
											a.active(href="#") Все операции
										li
											a(href="#") Платежи
										li
											a(href="#") Пополнения
								select.selectpicker.custom.custom-center.stand.select-trn
									option 2019
									option 2018
									option 2017
							.content
								#accordion.custon-accordion
									.card
										.card-header
											button(data-toggle='collapse', data-target='#open-1' aria-expanded="true") Январь
												span.open-arrow
													svg(width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg")
														path(d="M1 1L11 11L21 1" stroke="#242424" stroke-width="2")
										#open-1.show
											table.table.table--basis
												thead
													tr
														th № платежа
														th Дата
														th Операция
														th Способ оплаты
														th Сумма
														th Статус
														th
												tbody
													- for (let i = 0; i < 4; i++)
														tr
															td #142512
																.mob-block 12.02.16 #[span (13:35)]
															td 12.02.16 #[span (13:35)]
															td Р/С
															td Р/С
															td + 23 348 ₽
															td Обрабатывается
															td
																button.btn.btn--light(aria-label="Повторить")
																	span.text Повторить
																	span.icon
																		svg(width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg")
																			path(d="M12 8.53003C12 9.61189 11.6774 10.6694 11.0731 11.569C10.4687 12.4685 9.60975 13.1696 8.60476 13.5836C7.59977 13.9976 6.4939 14.106 5.427 13.8949C4.36011 13.6838 3.3801 13.1629 2.61091 12.3979C1.84173 11.6329 1.3179 10.6582 1.10568 9.59717C0.893465 8.5361 1.00238 7.43627 1.41866 6.43677C1.83495 5.43726 2.5399 4.58297 3.44437 3.98192C5.27778 2.60423 6.97513 3.82332 6.97513 2L8.60476 3.41814L6.97513 4.9781C6.97513 3.41814 5.27778 3.54534 3.74993 4.43673C2.93591 4.97768 2.30145 5.74654 1.9268 6.64609C1.55215 7.54565 1.45412 8.53549 1.64512 9.49045C1.83611 10.4454 2.30755 11.3226 2.99982 12.0111C3.69209 12.6996 4.5741 13.1685 5.5343 13.3584C6.49451 13.5484 7.48979 13.4509 8.39428 13.0783C9.29878 12.7057 10.0719 12.0747 10.6158 11.2651C11.1597 10.4555 11.45 9.5037 11.45 8.53003H12Z" fill="white")
																			path(d="M6.97513 2C6.97513 3.82332 5.27778 2.60423 3.44437 3.98192C2.5399 4.58297 1.83495 5.43726 1.41866 6.43677C1.00238 7.43627 0.893465 8.5361 1.10568 9.59717C1.3179 10.6582 1.84173 11.6329 2.61091 12.3979C3.3801 13.1629 4.36011 13.6838 5.427 13.8949C6.4939 14.106 7.59977 13.9976 8.60476 13.5836C9.60975 13.1696 10.4687 12.4685 11.0731 11.569C11.6774 10.6694 12 9.61189 12 8.53003H11.45C11.45 9.5037 11.1597 10.4555 10.6158 11.2651C10.0719 12.0747 9.29878 12.7057 8.39428 13.0783C7.48979 13.4509 6.49451 13.5484 5.5343 13.3584C4.5741 13.1685 3.69209 12.6996 2.99982 12.0111C2.30755 11.3226 1.83611 10.4454 1.64512 9.49045C1.45412 8.53549 1.55215 7.54565 1.9268 6.64609C2.30145 5.74654 2.93591 4.97768 3.74993 4.43673C5.27778 3.54534 6.97513 3.41814 6.97513 4.9781M6.97513 2L8.60476 3.41814L6.97513 4.9781M6.97513 2L7.66379 3.41814L7.66043 3.42575M6.97513 4.9781L7.66043 3.42575M7.66043 3.42575H6.5" stroke="#FC7327")
									.card
										.card-header
											button(data-toggle='collapse', data-target='#open-2' aria-expanded="false" class="collapsed") Январь
												span.open-arrow
													svg(width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg")
														path(d="M1 1L11 11L21 1" stroke="#242424" stroke-width="2")
										#open-2.collapse
											table.table.table--basis
												thead
													tr
														th № платежа
														th Дата
														th Операция
														th Способ оплаты
														th Сумма
														th Статус
														th
												tbody
													- for (let i = 0; i < 4; i++)
														tr
															td #142512
															td 12.02.16 #[span (13:35)]
															td Р/С
															td Р/С
															td + 23 348 ₽
															td Обрабатывается
															td
																button.btn.btn--light
																	span.text Повторить
																	span.icon
																		svg(width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg")
																			path(d="M12 8.53003C12 9.61189 11.6774 10.6694 11.0731 11.569C10.4687 12.4685 9.60975 13.1696 8.60476 13.5836C7.59977 13.9976 6.4939 14.106 5.427 13.8949C4.36011 13.6838 3.3801 13.1629 2.61091 12.3979C1.84173 11.6329 1.3179 10.6582 1.10568 9.59717C0.893465 8.5361 1.00238 7.43627 1.41866 6.43677C1.83495 5.43726 2.5399 4.58297 3.44437 3.98192C5.27778 2.60423 6.97513 3.82332 6.97513 2L8.60476 3.41814L6.97513 4.9781C6.97513 3.41814 5.27778 3.54534 3.74993 4.43673C2.93591 4.97768 2.30145 5.74654 1.9268 6.64609C1.55215 7.54565 1.45412 8.53549 1.64512 9.49045C1.83611 10.4454 2.30755 11.3226 2.99982 12.0111C3.69209 12.6996 4.5741 13.1685 5.5343 13.3584C6.49451 13.5484 7.48979 13.4509 8.39428 13.0783C9.29878 12.7057 10.0719 12.0747 10.6158 11.2651C11.1597 10.4555 11.45 9.5037 11.45 8.53003H12Z" fill="white")
																			path(d="M6.97513 2C6.97513 3.82332 5.27778 2.60423 3.44437 3.98192C2.5399 4.58297 1.83495 5.43726 1.41866 6.43677C1.00238 7.43627 0.893465 8.5361 1.10568 9.59717C1.3179 10.6582 1.84173 11.6329 2.61091 12.3979C3.3801 13.1629 4.36011 13.6838 5.427 13.8949C6.4939 14.106 7.59977 13.9976 8.60476 13.5836C9.60975 13.1696 10.4687 12.4685 11.0731 11.569C11.6774 10.6694 12 9.61189 12 8.53003H11.45C11.45 9.5037 11.1597 10.4555 10.6158 11.2651C10.0719 12.0747 9.29878 12.7057 8.39428 13.0783C7.48979 13.4509 6.49451 13.5484 5.5343 13.3584C4.5741 13.1685 3.69209 12.6996 2.99982 12.0111C2.30755 11.3226 1.83611 10.4454 1.64512 9.49045C1.45412 8.53549 1.55215 7.54565 1.9268 6.64609C2.30145 5.74654 2.93591 4.97768 3.74993 4.43673C5.27778 3.54534 6.97513 3.41814 6.97513 4.9781M6.97513 2L8.60476 3.41814L6.97513 4.9781M6.97513 2L7.66379 3.41814L7.66043 3.42575M6.97513 4.9781L7.66043 3.42575M7.66043 3.42575H6.5" stroke="#FC7327")
							.tab-pane.fade.show#tab-2(role="tabpanel")
								#accordion2.custon-accordion
									.card
										.card-header
											button(data-toggle='collapse', data-target='#open-3' aria-expanded="false" class="collapsed") Январь
												span.open-arrow
													svg(width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg")
														path(d="M1 1L11 11L21 1" stroke="#242424" stroke-width="2")
										#open-3.collapse
											table.table.table--basis
												thead
													tr
														th № платежа
														th Дата
														th Операция
														th Способ оплаты
														th Сумма
														th Статус
														th
												tbody
													- for (let i = 0; i < 4; i++)
														tr
															td #142512
															td 12.02.16 #[span (13:35)]
															td Р/С
															td Р/С
															td + 23 348 ₽
															td Обрабатывается
															td
																button.btn.btn--light(aria-label="Повторить")
																	span.text Повторить
																	span.icon
																		svg(width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg")
																			path(d="M12 8.53003C12 9.61189 11.6774 10.6694 11.0731 11.569C10.4687 12.4685 9.60975 13.1696 8.60476 13.5836C7.59977 13.9976 6.4939 14.106 5.427 13.8949C4.36011 13.6838 3.3801 13.1629 2.61091 12.3979C1.84173 11.6329 1.3179 10.6582 1.10568 9.59717C0.893465 8.5361 1.00238 7.43627 1.41866 6.43677C1.83495 5.43726 2.5399 4.58297 3.44437 3.98192C5.27778 2.60423 6.97513 3.82332 6.97513 2L8.60476 3.41814L6.97513 4.9781C6.97513 3.41814 5.27778 3.54534 3.74993 4.43673C2.93591 4.97768 2.30145 5.74654 1.9268 6.64609C1.55215 7.54565 1.45412 8.53549 1.64512 9.49045C1.83611 10.4454 2.30755 11.3226 2.99982 12.0111C3.69209 12.6996 4.5741 13.1685 5.5343 13.3584C6.49451 13.5484 7.48979 13.4509 8.39428 13.0783C9.29878 12.7057 10.0719 12.0747 10.6158 11.2651C11.1597 10.4555 11.45 9.5037 11.45 8.53003H12Z" fill="white")
																			path(d="M6.97513 2C6.97513 3.82332 5.27778 2.60423 3.44437 3.98192C2.5399 4.58297 1.83495 5.43726 1.41866 6.43677C1.00238 7.43627 0.893465 8.5361 1.10568 9.59717C1.3179 10.6582 1.84173 11.6329 2.61091 12.3979C3.3801 13.1629 4.36011 13.6838 5.427 13.8949C6.4939 14.106 7.59977 13.9976 8.60476 13.5836C9.60975 13.1696 10.4687 12.4685 11.0731 11.569C11.6774 10.6694 12 9.61189 12 8.53003H11.45C11.45 9.5037 11.1597 10.4555 10.6158 11.2651C10.0719 12.0747 9.29878 12.7057 8.39428 13.0783C7.48979 13.4509 6.49451 13.5484 5.5343 13.3584C4.5741 13.1685 3.69209 12.6996 2.99982 12.0111C2.30755 11.3226 1.83611 10.4454 1.64512 9.49045C1.45412 8.53549 1.55215 7.54565 1.9268 6.64609C2.30145 5.74654 2.93591 4.97768 3.74993 4.43673C5.27778 3.54534 6.97513 3.41814 6.97513 4.9781M6.97513 2L8.60476 3.41814L6.97513 4.9781M6.97513 2L7.66379 3.41814L7.66043 3.42575M6.97513 4.9781L7.66043 3.42575M7.66043 3.42575H6.5" stroke="#FC7327")

	div(class="modal fade" id="balance-modal" tabindex="-1" role="dialog")
		div(class="modal-dialog modal-dialog-centered balance-box" role="document")
			div(class="modal-content")
				.head-balance
					h3.title--min Баланс: 
					span.accent 18021 ₽
				.head-body

					form.form.form--basis
						.form__head
							select.selectpicker.width-all.color-n.insert-option(title="Выберите способ")
								option(data-name="Cпособ 1") Cпособ 1
								option(data-name="Cпособ 2") Cпособ 2
								option(data-name="Cпособ 3") Cпособ 2
								option(data-name="Visa 1") Visa 1
								option(data-name="Visa 2") Visa 2
								option(data-name="Visa 3") Visa 3
								option(data-name="Visa 4") Visa 4
							.popular-choose.flex-element
								.popular-choose__item(data-name="Visa 1")
									img(src="assets/img/visa.png", alt="")
								.popular-choose__item(data-name="Visa 2")
									img(src="assets/img/visa.png", alt="")
								.popular-choose__item(data-name="Visa 3")
									img(src="assets/img/visa.png", alt="")
								.popular-choose__item(data-name="Visa 4")
									img(src="assets/img/visa.png", alt="")
						//- при выборе пунка отображается эту штука
						.form-conent
							form.form.form--basis
								.form__item
									input(placeholder="Введите данные")
								.form__item
									input(placeholder="Введите данные")
								.form__item
									input(placeholder="Введите данные")
								.form__btn
									button.btn.btn--primary.btn--w  Пополнить

						
	include ../common/_footer