extends ../_template

block variables
	- var title = 'Личный кабинет';
	- var selected = 'Техника'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная'], 'Личный кабинет')
				h1.page-heading Личный кабинет
				.rights Менеджер
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Заявки')
								+aside-personal('aplications.html', 'plan.png', 'Заказы')
								+aside-personal('aplications.html', 'documents.png', 'Техника')
								+aside-personal('aplications.html', 'user.png', 'Пользователи')
								+aside-personal('aplications.html', 'notification.png', 'Контент')
					.inner-content
						.manager-page
							.manager-page__top
								a(href="#").btn.btn--light.btn--wide Назад
							.manager-page__bottom
								.a-block
									.a-block__item
										.a-block__img
											img(src="assets/img/rectangle1.png").responsiv-img
										.a-block__group
											.a-block__name Наименование
											.raiting-block
												ul.raiting
													- for (let r = 0; r < 3; r++)
														li
															img(src="assets/img/rating/Star.png", alt="")
													li
														img(src="assets/img/rating/Star-2.png", alt="")
													li
														img(src="assets/img/rating/Star-1.png", alt="")
												.all-rating 4.8
											.city г.Набережные Челны
								ul.nav.nav-tabs.tabs--info(role='tablist')
									li.nav-item
										a.nav-link.active(data-toggle='tab', href='#physical-person', role='tab')
											span.block
												.square
											span.title Физлицо
									li.nav-item
										a.nav-link(data-toggle='tab', href='#entity-tab', role='tab')
											span.block
												.square
											span.title Юрлицо
								.tab-content
									.tab-pane.fade.show.active(id="physical-person")
										.data-block
											h3 Основные данные
											form.form
												.form__item
													label.custom-label--size(for="surname") Фамилия
													input(for="surname" type="text")
												.form__item
													label.custom-label--size(for="name") Имя
													input(for="name" type="text")
												.form__item
													label.custom-label--size(for="password") Пароль
													input(for="password" type="password")
												.form__item
													label.custom-label--size(for="patronym") Отчество
													input(for="patronym" type="text")
												.form__item
													label.custom-label--size(for="birth") Дата рождения
													input(for="birth" type="text")
												.form__item
													label.custom-label--size(for="e-mail") E-mail
													input(for="e-mail" type="text")
												.form__item
													label.custom-label--size(for="phone") Телефон
													input(for="phone" type="text")
												.form__btn
													button.btn.btn--primary Сохранить
									.tab-pane.fade(id="entity-tab")
										.data-block
											h3 Основные данные
											form.form
												.form__item
													label.custom-label--size(for="surname") Фамилия
													input(for="surname" type="text")
												.form__item
													label.custom-label--size(for="name") Имя
													input(for="name" type="text")
												.form__item
													label.custom-label--size(for="e-mail") E-mail
													input(for="e-mail" type="text")
												.form__item
													label.custom-label--size(for="legal-address") Юридический адрес
													input(for="legal-address" type="text")
												.form__item
													label.custom-label--size(for="phone") Телефон
													input(for="phone" type="text")
												.form__item
													label.custom-label--size(for="organization") Организация
													input(for="organization" type="text")
												.form__item
													label.custom-label--size(for="legal-form") Организационно-правовая форма
													input(for="legal-form" type="text")
												.form__item
													label.custom-label--size(for="inn") ИНН
													input(for="inn" type="text")
												.form__item
													label.custom-label--size(for="bank-details") Банковские реквизиты
													input(for="bank-details" type="text")
												.form__item
													label.custom-label--size(for="bank-details-2") Банковские реквизиты
													input(for="bank-details-2" type="text")
												.form__item
													label.custom-label--size(for="bank-details-3") Банковские реквизиты
													input(for="bank-details-3" type="text")
												.form__item
													label.custom-label--size(for="bank-details-4") Банковские реквизиты
													input(for="bank-details-4" type="text")
												.form__item
													label.custom-label--size(for="password") Пароль
													input(for="password" type="password")
												.form__btn
													button.btn.btn--primary Сохранить

	
	include ../common/_footer