extends ../_template
include ../common/elements/aside

block variables
  - var title = 'Главная';
  - var selected = 'Главная'

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb
        +breadcrumbs(['Главная'], 'Корзина')
        h1.heading Корзина
        .inner-page
          .page-other
            #accordion.custon-accordion
              .card
                .card-header
                  button(data-toggle='collapse', data-target='#open-1' aria-expanded="false" class="collapsed")
                    .information-block
                      .information-block__left
                        h3.title Заявка №133522
                        .information-block__adress г. Уфа, ул Ленина, 132
                      .information-block__right
                        .information-block__group
                          .number
                            | Количество техники:
                            span 32
                          .result
                            | Итог:
                            span 132 235 ₽
                    span.open
                      svg(width="27" height="15" viewBox="0 0 27 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M1 1.16211L13.5 13.1621L26 1.16211" stroke="#AEA69D" stroke-opacity="0.3" stroke-width="2")
                #open-1(data-parent='#accordion').collapse
                  - for (let i = 0; i < 4; i++)
                  .b-catalog.flex-element
                    .b-catalog__group.b-catalog__group--left.flex-element
                      .b-batalog__img
                        img(src="assets/img/min2.png" alt="").responsiv-img
                      .b-catalog__block
                        .b-catalog__title 1-4 м Модель техники
                        .b-catalog__date.date
                          .date-start
                            span 13.02.19
                            span.time (13:30)
                          | -
                          .date-finish
                            span  28.02.19
                            span.time  (12:00)
                        .b-catalog__radio
                          .group
                            input(type="radio" name="type" id="radio-1")
                            label(class="radio-label label-size" for="radio-1") #[span Без машиниста]
                          .group
                            input(type="radio" name="type" id="radio-2")
                            label(class="radio-label label-size" for="radio-2") #[span Самовывоз]
                    .counter-text Количество техники: 1
                    .b-catalog__group.b-catalog__group--right
                      .counter-text.counter-text--phone Количество техники: 1
                      .b-catalog__block
                        //- .result
                        //-   | Итог:
                        //-   span 21 409 ₽
                        button.btn.btn--light.btn--prim(data-toggle="modal" data-target="#modal-catalog") Детали заявки
                    button.delite(aria-label="Удалить элемент")
                      svg(width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M1 1L11 11M21 21L11 11M11 11L21 1L1 21" stroke="#AEA69D" stroke-opacity="0.5")


          .result-block-wrapp
            .result-block.result-block--width
              .result-block__information
                .result-block__head
                  h3.title Итог:
                  span 135 290 ₽
                .result-block__body
                  .address-b.collapse-elements
                    .address-b__item.collapse-element
                      i.open-min
                      .address-b__title.link-open
                        span.address-inf.small-size Россия, Московская облась, Красногорск, Муждународная улица, 20
                        span.small-size 1 032 235 ₽
                      .address-b__group.collapse-element-body
                        .address-b__item
                          .address-b__title.small-size 3-6 м колесный экскаватор
                            span 17 290 ₽
                        .address-b__item
                          .address-b__title.small-size 1-4 м Модель техники
                            span 17 290 ₽
            button.btn.btn--dark Оформить заявку
            a(href="#").btn.btn--light Добавить еще технику
            button(data-toggle="modal" data-target="#call-manager").btn.btn--light Модалка
  #call-manager.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-md-width
      .modal-content.box-call-modal
        button(type="button" class="close close-modal" data-dismiss="modal")
          img(src="assets/img/close.png" alt="" aria-hidden="true")
        .modal-content-width
          h3.title Заказать через менеджера
          p Введите номер телефона, и вам перезвонит наш менеджер для оформление заказа
          form.form
            input
            button.btn.btn--primary.btn--wide Оформить заказ


  #modal-catalog.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-catalog(role='document')
      .modal-content
        .catalog-inner
          .catalog-inner__line.flex-element
            .catalog-inner__img
              img(src="assets/img/catalog.png")
            .catalog-inner__block
              .catalog-inner__group
                .catalog-inner__title Место подачи техники
                div.item-map
                  button(class="input-button btn-open-address" type="button" data-toggle="modal" data-target=".adress-choose")
                  button(class="btn-open-map btn btn--light" type="button" data-toggle="modal" data-target=".adress-choose" aria-label="Открыть карту")
                    span Карта
                    svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve")
                      g
                        path(fill="#FC7327" d="M256,0C167.641,0,96,71.625,96,160c0,24.75,5.625,48.219,15.672,69.125C112.234,230.313,256,512,256,512l142.594-279.375   C409.719,210.844,416,186.156,416,160C416,71.625,344.375,0,256,0z M256,256c-53.016,0-96-43-96-96s42.984-96,96-96   c53,0,96,43,96,96S309,256,256,256z")
              .group.flex-element
                .check-item
                  input(type="checkbox" id="type-1" class="custom-input")
                  label(for="type-1" class="custom-label label-size") Без машиниста
                  button(class="btn-tool" data-placement="top" data-original-title="Какой то текс")
                    img(src="assets/img/icon/tooltip.png", alt="")
                .check-item
                  input(type="checkbox" id="type-2" class="custom-input")
                  label(for="type-2" class="custom-label label-size") Самовывоз
                  button(class="btn-tool" data-placement="top" data-original-title="Какой-то текс")
                    img(src="assets/img/icon/tooltip.png", alt="")
              button.open-result.btn.btn--primary Результаты заявки

          .catalog-inner__information.flex-element
            .catalog-inner__group.catalog-inner__group--custom.catalog-inner__group--date.catalog-inner__group--date--pr
              .catalog-inner__head
                .catalog-inner__title Начало аренды
                .flex-element.catalog-block-group
                  input.form-control(id="test1")
                  input.form-control(id="test-timepicker")
                  input(class="start-date date-phone input-custom")
                  input(class="start-time date-phone input-custom")
            .catalog-inner__group.catalog-inner__group--custom.catalog-inner__group--date
              .catalog-inner__head
                .catalog-inner__title Окончание аренды
                .flex-element.catalog-block-group
                  input.form-control
                  input.form-control
                  input(class="finish-date date-phone input-custom")
                  input(class="finish-time date-phone input-custom")
            .catalog-inner__group
              .catalog-inner__head
                .catalog-inner__title Рабочие дни
                .wrap-tool
                  button.btn-tool(data-placement="top" title="Текст")
                    img(src="assets/img/icon/tooltip.png")
              select(class="selectpicker cutsom-min" data-selected-text-format="count")
                option 5
                option 4
                option 6

            .catalog-inner__group
              .catalog-inner__head
                .catalog-inner__title Смена
                .wrap-tool
                  button.btn-tool(data-placement="top" title="Текст")
                    img(src="assets/img/icon/tooltip.png")
              select(class="selectpicker select-size cutsom-min")
                option 8 ч
                option 9
                option 10
            .catalog-inner__group.catalog-inner__group--custom
              .catalog-inner__head
                .catalog-inner__title Масса / объем груза
              .flex-element.catalog-block-group
                input.form-control(value="5")
                select(class="selectpicker select-size cutsom-min" data-selected-text-format="count")
                  option м^3
                  option м^3
                  option м^3
          .catalog-inner__block.catalog-inner__block--line
            .catalog-inner__group.catalog-inner__group--flex
              .catalog-inner__wrapp
                .catalog-inner__title.catalog-inner__title--custm Дополнительное оборудование
                select(class="selectpicker select-width bright" multiple data-selected-text-format="count")
                  option Позиция 1
                  option Позиция 2
                  option Позиция 3
                  option Позиция 4
                  option Позиция 5
                  option Позиция 6
              .check-item
                input(type="checkbox" id="landrover" class="custom-input")
                label(for="landrover" class="custom-label custom-label label-size") Вездеход
          .catalog-inner__block
            .catalog-inner__title Примечания
            .notes-block
              -for(let n = 0; n < 4; n++)
                .notes-block__item
                  .notes-block__title
                    span Описание примечания
                    button.btn-tool(data-placement="top" title="Техника является несамоходной и для неё требуется услуга по доставке")
                      img(src="assets/img/icon/tooltip.png")
                  textarea.notes-block__body Примечание
          .catalog-inner__block
            .catalog-chars
              .catalog-char
                .catalog-inner__title Характеристики:
                ul
                  li Характеристика витрины: #[span 4281 мм]
                  li Характеристика витрины 2: #[span 4,6 - 5,2 км/ч ]
                  li Характеристика описания 1: #[span 3500-4820 мм]
                  li Характеристика описания 2: #[span дизель]
                  li Характеристика описания 3: #[span 28 - 341 квт]
              .catalog-char
                .catalog-inner__title Габариты:
                ul
                  li Ширина: #[span 1980 - 2000 мм]
                  li Высота: #[span 2359 - 2790 мм ]
                  li Длина: #[span 5420 - 5680 мм]
                  li Вес: #[span 6025 - 6790 кг]
        .result-wrapper.block-fixed
          .result-block
            .result-block__item
              h4 Тарифы
              ul
                li
                  span Стандартный
                  span 4 281 ₽/час
                li
                  span От 20 смен
                  span 3 780 ₽/час
            .result-block__item
              .result-block__line
                h4 Итог
                span.accent 17 290 ₽
              ul
                li
                  span Тариф ₽/час
                  span 4 281 ₽
                li
                  span Срок аренды
                  span 5 дней / 40 часов
                li
                  span
                    | Стоимость дороги
                    button.btn-tool(data-placement='top', data-original-title='Какой то текс')
                      img(src='assets/img/icon/tooltip.png', alt='')
                  span 1 479 ₽
                li
                  span
                    | Доставка тралом
                    button.btn-tool(data-placement='top', data-original-title='Какой то текс')
                      img(src='assets/img/icon/tooltip.png', alt='')
                li
                  span Количество
                  .counter.counter--other
                    button.counter-action.counter-action--minus -
                    input.counte-number(value='1')
                    button.counter-action.counter-action--plus +
            .result-block__text
              | Итоговая стоимость заявки приблизительная, точный расчёт будет произведен при выборе предложений арендодателей.
          .btn-group
            button.btn.btn--primary Сохранить изменения
            button.btn.btn--light(data-dismiss="modal") Закрыть

  .modal.fade.adress-choose(tabindex='-1', role='dialog')
    .modal-dialog.modal-sm.modal-adress
      .modal-content
        .modal-head
          ul.nav.nav-tabs(role='tablist')
            li.nav-item
              a.nav-link.nav-link-address.active(data-toggle='tab', href='#select-address') Выбрать адрес
            li.nav-item
              a.nav-link.nav-new-address(data-toggle='tab', href='#new-address') Добавить новый
        .tab-content
          #select-address.tab-pane.fade.active.show(role='tabpanel')
            .tab-pane-adress
              .address-list-wrap
                ul.address-list
                  li
                    a(href='#')
                      .name Название объекта
                      .address
                        .icon
                          img(src='assets/img/map.png', alt='')
                        span г.Уфа, ул.Ленина, 2
                  li
                    a(href='#')
                      .name Название объекта
                      .address
                        .icon
                          img(src='assets/img/map.png', alt='')
                        span г.Уфа, ул.Ленина, 2
                  li
                    a(href='#')
                      .name Название объекта
                      .address
                        .icon
                          img(src='assets/img/map.png', alt='')
                        span г.Уфа, ул.Ленина, 2
                  li
                    a(href='#')
                      .name Название объекта
                      .address
                        .icon
                          img(src='assets/img/map.png', alt='')
                        span г.Уфа, ул.Ленина, 2
                  li
                    a(href='#')
                      .name Название объекта
                      .address
                        .icon
                          img(src='assets/img/map.png', alt='')
                        span г.Уфа, ул.Ленина, 2
                  li
                    a(href='#')
                      .name Название объекта
                      .address
                        .icon
                          img(src='assets/img/map.png', alt='')
                        span г.Уфа, ул.Ленина, 2
                  li
                    a(href='#')
                      .name Название объекта
                      .address
                        .icon
                          img(src='assets/img/map.png', alt='')
                        span г.Уфа, ул.Ленина, 2
                  li
                    a(href='#')
                      .name Название объекта
                      .address
                        .icon
                          img(src='assets/img/map.png', alt='')
                        span г.Уфа, ул.Ленина, 2
                  li
                    a(href='#')
                      .name Название объекта
                      .address
                        .icon
                          img(src='assets/img/map.png', alt='')
                        span г.Уфа, ул.Ленина, 2
                  li
                    a(href='#')
                      .name Название объекта
                      .address
                        .icon
                          img(src='assets/img/map.png', alt='')
                        span г.Уфа, ул.Ленина, 2
          #new-address.tab-pane.fade(role='tabpanel')
            .tab-pane-map
              .map-tab
                // место для карты(картинка -  для примера)
                img(src='assets/img/map-examle.png')
              form
                .form__item
                  input(placeholder='Введите адрес')
                  button
                    svg(width='15', height='15', viewBox='0 0 15 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                      path(d='M1 8.09091L6.73529 14L14 1', stroke='white')
  include ../common/_footer