extends ../_template

block variables
	- var title = 'Личный кабинет';
	- var selected = 'Техника'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная'], 'Личный кабинет')
				h1.page-heading Настройки
				.rights Менеджер
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Заявки')
								+aside-personal('aplications.html', 'plan.png', 'Заказы')
								+aside-personal('aplications.html', 'documents.png', 'Техника')
								+aside-personal('aplications.html', 'user.png', 'Пользователи')
								+aside-personal('aplications.html', 'notification.png', 'Контент')
					.inner-content
						.manager-page
							.card-block
								h3 Время поиска на платформе
								form.form
									.card-block__item
										.card-block__group
											.card-block__name Срок заказа
											.card-block__date От 
												span 0ч 
											.card-block__date До 
												span 24ч 
										.card-block__group
											.item
												label Время поиска
												select.selectpicker.width-all
													option 15 минут
													option 15 минут
											.item
												label Время поиска
												input(type="number")
									.card-block__item
										.card-block__group
											.card-block__name Срок заказа
											.card-block__date От 
												span 1д
											.card-block__date До 
												span 3д 
										.card-block__group
											.item
												label Время поиска
												select.selectpicker.width-all
													option 15 минут
													option 15 минут
											.item
												label Время поиска
												input(type="number")
									.card-block__item
										.card-block__group
											.card-block__name Срок заказа
											.card-block__date От 
												span 4д
											.card-block__date До 
												span ∞
										.card-block__group
											.item
												label Время поиска
												select.selectpicker.width-all
													option 15 минут
													option 15 минут
											.item
												label Время поиска
												input(type="number")
									button.btn.btn--primary.btn--w Сохранить
								hr
								button.btn.btn--primary.btn--w.btn--mt Тест
	include ../common/_footer