extends ../_template

include ../common/elements/catalog-item
include ../common/elements/aside

block variables
	- var title = 'Главная';
	- var selected = 'Главная'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				nav
					ol.breadcrumb
						li
							a(href="#") Главная
						li.active
							a(href="#") Категория
				.inner-page-wraper__line
					h1.heading-catalog Все категории
					button.filter-controls(aria-expanded="false")
						svg(width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg")
							path(d="M0 1.5H7.5M15 1.5H7.5M7.5 1.5V0V3" stroke="black")
							path(d="M0 11.5H3.44595M15 11.5H3.44595M3.44595 11.5V10M3.44595 11.5V13" stroke="black")
							path(d="M15 6.5H11.5541M1.19209e-07 6.5H11.5541M11.5541 6.5V5M11.5541 6.5V8" stroke="black")
						span Фильтры (2)
				.inner-page
					aside
						nav.menu
							+menuAside('Категория', 'Вид техники 1')
					.inner-content
						.catalog-wrap
							.catalog
								a(href="#").catalog__head.catalog__head--custom
									h3 3т - 6т колесный экскаватор
									.catalog__img
										img(src="assets/img/catalog.png", alt="")
								a(href="#").btn.btn--primary Перейти по ссылке
								
							+catalog-item('catalog.png')
							+catalog-item('test1.jpg')
							+catalog-item('test2.jpg')
							+catalog-item('ekscavator.jpg')

						h2.title Популярные товары
						.catalog-wrap
							+catalog-item('catalog.png')
							+catalog-item('test1.jpg')
							+catalog-item('test2.jpg')
							+catalog-item('ekscavator.jpg')
		.filter-aside(aria-hidden="true")
			button.close(aria-label="Закрыть меню")
				svg(width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg")
					path(d="M2.01372 0.142925L21.1562 19.5247L20.0302 20.6649L0.887695 1.28303L2.01372 0.142925Z" fill="#242424")
					path(d="M0.887816 19.5246L20.0303 0.142822L21.1563 1.28293L2.01384 20.6648L0.887816 19.5246Z" fill="#242424")
			nav.menu
				+menuAside('Категория', 'Вид техники 1')
		include ../common/modal/catalogModalBasket
	include ../common/_footer