extends ../_template

block variables
    - var title = 'Список чатов';
    - var selected = 'Сообщение'

block content
    include ../common/_header
    main
        .container
            .inner-page-wraper
                include ../common/elements/breadcrumb
                +breadcrumbs(['Главная'], 'Личный кабинет')
                h1.page-heading Оборудование
                .rights Менеджер
                .inner-page
                    include ../common/elements/aside-personal
                    aside
                        nav.menu.menu--personal
                            ul
                                +aside-personal('aplications.html', 'checklist.png', 'Заявки')
                                +aside-personal('aplications.html', 'plan.png', 'Заказы')
                                +aside-personal('aplications.html', 'documents.png', 'Техника')
                                +aside-personal('aplications.html', 'user.png', 'Пользователи')
                                +aside-personal('aplications.html', 'notification.png', 'Контент')
                    .inner-content
                        .page-message
                            .head-block
                                form.form-search-block
                                    label.label-size Поиск
                                    input
                                    button.btn.btn--light Найти
                                ul.filter-primary.filter-primary--border
                                    li
                                        a(href="#").active Открытые
                                        span.count 8
                                    li
                                        a(href="#") Мои
                                        span.count 3
                                    li
                                        a(href="#") Закрытые
                            .message-wrapper
                                - for (var x = 0; x < 3; x++)
                                    a(href="#").message
                                        .message__icon
                                            img(src="assets/img/icon/icon-message.png")
                                        .message__content
                                            .message__left
                                                .message__name Арендодатель #[span |] 365
                                                .message__preview Тема сообщения
                                            .message__right.message__right--block
                                                .icon
                                                    svg(width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M23.9321 3.51569L13.0539 14.258H0C0.00513054 11.5184 0.806709 8.83804 2.30918 6.53645C3.81165 4.23487 5.95162 2.40916 8.474 1.27695C10.9964 0.144739 13.7948 -0.246199 16.5355 0.150738C19.2763 0.547675 21.8438 1.71574 23.9321 3.51569Z" fill="#1C1C23")
                                                        path(d="M27.4131 21.5084L25.7396 19.8532L22.2418 23.3126L20.2502 21.376L23.748 17.9332L22.0744 16.1952L18.5934 19.6546L16.5851 17.7511L20.0829 14.2917L18.4093 12.5703L14.8279 16.0297L13.0539 14.2586H7.11213e-06C-0.0027425 16.9979 0.791833 19.68 2.28883 21.9846C3.78582 24.2892 5.92195 26.119 8.44205 27.2552C10.9622 28.3915 13.7597 28.7863 16.5006 28.3924C19.2414 27.9985 21.8097 26.8326 23.8986 25.034L27.4131 21.5084Z" fill="#FB7327")
                                                .message__name Ильнар Муртазин
                                                .message__count 12
                                        .message__right.message__right--block--phone
                                            .icon
                                                svg(width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M23.9321 3.51569L13.0539 14.258H0C0.00513054 11.5184 0.806709 8.83804 2.30918 6.53645C3.81165 4.23487 5.95162 2.40916 8.474 1.27695C10.9964 0.144739 13.7948 -0.246199 16.5355 0.150738C19.2763 0.547675 21.8438 1.71574 23.9321 3.51569Z" fill="#1C1C23")
                                                    path(d="M27.4131 21.5084L25.7396 19.8532L22.2418 23.3126L20.2502 21.376L23.748 17.9332L22.0744 16.1952L18.5934 19.6546L16.5851 17.7511L20.0829 14.2917L18.4093 12.5703L14.8279 16.0297L13.0539 14.2586H7.11213e-06C-0.0027425 16.9979 0.791833 19.68 2.28883 21.9846C3.78582 24.2892 5.92195 26.119 8.44205 27.2552C10.9622 28.3915 13.7597 28.7863 16.5006 28.3924C19.2414 27.9985 21.8097 26.8326 23.8986 25.034L27.4131 21.5084Z" fill="#FB7327")
                                            .message__name Ильнар Муртазин
    include ../common/_footer