extends ../_template

block variables
  - var title = 'Личный кабинет';
  - var selected = 'Техника'

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb
        +breadcrumbs(['Главная'], 'Личный кабинет')
        h1.page-heading Личный кабинет
        .rights Менеджер
        .inner-page
          include ../common/elements/aside-personal
          aside
            nav.menu.menu--personal
              ul
                +aside-personal('aplications.html', 'checklist.png', 'Заявки')
                +aside-personal('aplications.html', 'plan.png', 'Заказы')
                +aside-personal('aplications.html', 'documents.png', 'Техника')
                +aside-personal('aplications.html', 'user.png', 'Пользователи')
                +aside-personal('aplications.html', 'notification.png', 'Контент')
          .inner-content
            .categories-page
              //- .categories-page__block.categories-page__block--custom
                h3.title.title-pb Категории техники
                .categories-page__line
                  .btn-group
                    a(href="#").btn.btn--light Редактировать БД
                    a(href="#").btn.btn--light Вся техника на площадке
                  a(href="#").btn.btn--light Запросы на редактирование
                    span.count 2
              .categories-page__block
                form.form
                  .categories-page__head
                    h3.title Редактировать шаблон
                    .categories-page-n.flex-element
                      input(placeholder="Название шаблона").input-head
                      button.btn.btn--primary Сохранить

                  .categories-item-wrap.flex-element
                    .categories-item-block-wrapper
                      .categories-item-block.categories-item-block-wrapper--width
                        h3 Тарифы
                        .form__item
                          label(for="price-delivery" class="label-size") Цена за доставку тралом
                          input(id="price-delivery")
                        .form__item
                          label(for="distance-range" class="label-size") Дальность расстояния
                          input(id="distance-range")
                    .categories-item-block-wrapper.categories-item-block-wrapper--middle
                      .categories-item-block
                        .categories-item-block__line.flex-element
                          h3 Товарная позиция
                          .form-block
                            label(for="search").visually-hidden Поиск по названию
                            input(id="search" placeholder="Поиск по названию")
                        ul.list-tovar
                          -for (let x = 0; x < 10; x++)
                          li
                            input(type="checkbox" name="type" id=x)
                            label(class="custom-label visually-hidden" for=x) #[span Название]
                            span.title Название
                    .categories-item-block-wrapper.categories-item-block-wrapper--small
                      .categories-item-block
                        h3 Тарифы
                        fieldset
                          legend С оператором
                          .form__item.form__item--pl
                            label.label-size Стандартный
                            input(placeholder="Стандартный")
                          .form__item
                            label.label-size Стандартный
                            input(placeholder="От 20 смен")
                          legend Без оператора
                          .form__item.form__item--pl
                            label.label-size Стандартный
                            input(placeholder="Стандартный")
                          .form__item
                            label.label-size Стандартный
                            input(placeholder="От 20 смен")
                          legend Без оператора
                          .form__item.form__item--pl
                            label.label-size Стандартный
                            input(placeholder="Стандартный")
                          .form__item
                            label.label-size Стандартный
                            input(placeholder="От 20 смен")
                        //- a(class="btn btn--primary btn--w pattern-save") Сохранить
                      .categories-item-block
                        .item
                          input(class="custom-input" type="checkbox" id="popular")
                          label(class="custom-label " for="popular")
                            span Вывод в популярных
                    .categories-item-block-wrapper
                      .categories-item-block
                        .add-equipment
                          .add-equipment__line.flex-element
                            h3 Доп. оборудование
                            .add-equipment__group
                              .add-equipment__title Стандартный
                              .add-equipment__title От 20 смен
                          ul.list-tovar
                            - for (var x = 0; x < 15; x++)
                            li.list-item.flex-element.flex-element--option
                              span.title.title-equipment Название
                              .list-item__group.flex-element
                                .list-tiem
                                  .title.hidden Стандартный
                                  input.list-input
                                .list-tiem
                                  .title.hidden  От 20 смен
                                  input.list-input
                    .categories-item-block-wrapper
                      .categories-item-block.categories-item-list
                        ul
                          li.list-item.flex-element.flex-element--option
                            span.title Вездеход
                            .list-item__group.flex-element
                              input.list-input
                              input.list-input

              .gnr-tree-wrapp
                h3 Выбранная структура
                .gnr-tree
                  .gnr-tree__item
                    .gnr-tree__name
                      .open-min
                      span Название вида
                    .gnr-tree__group
                      .gnr-tree__item
                        .gnr-tree__name
                          .open-min
                          span Название подвида
                        .gnr-tree__group.gnr-tree__group-sub
                          ul.tree
                            li
                              .sub-name Название товарной позиции
                            li
                              .sub-name Название товарной позиции
                      .gnr-tree__item
                        .gnr-tree__name
                          .open-min
                          span Название подвида
                        .gnr-tree__group.gnr-tree__group-sub
                          ul.tree
                            li
                              .sub-name Название товарной позиции
                            li
                              .sub-name Название товарной позиции
                  .gnr-tree__item
                    .gnr-tree__name
                      .open-min
                      span Название вида
                    .gnr-tree__group
                      .gnr-tree__item
                        .gnr-tree__name
                          .open-min
                          span Название подвида
                        .gnr-tree__group.gnr-tree__group-sub
                          ul.tree
                            li
                              .sub-name Название товарной позиции
                            li
                              .sub-name Название товарной позиции
                      .gnr-tree__item
                        .gnr-tree__name
                          .open-min
                          span Название подвида
                        .gnr-tree__group.gnr-tree__group-sub
                          ul.tree
                            li
                              .sub-name Название товарной позиции
                            li
                              .sub-name Название товарной позиции



  include ../common/_footer