extends ../_template

block variables
	- var title = 'Личный кабинет';
	- var selected = 'Техника'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная'], 'Личный кабинет')
				h1.page-heading Личный кабинет
				.rights Менеджер
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Заявки')
								+aside-personal('aplications.html', 'plan.png', 'Заказы')
								+aside-personal('aplications.html', 'documents.png', 'Техника')
								+aside-personal('aplications.html', 'user.png', 'Пользователи')
								+aside-personal('aplications.html', 'notification.png', 'Контент')
					.inner-content
						.categories-page
							a(href="#").btn.btn--light.btn--back Назад к списку техники
							.categories-page__bl
								.item
									select.selectpicker.custom.bright(title="Выберите категорию")
										option 1
										option 2
										option 3
								.item
									select.selectpicker.custom.bright(title="Выберите вид")
										option 1
										option 2
										option 3
								.item
									select.selectpicker.custom.bright(title="Выберите подвид")
										option 1
										option 2
										option 3
								.item
									select.selectpicker.custom.bright(title="Выберите товарную позицию")
										option 1
										option 2
										option 3
							h3.title.title-pb.title-z Название товарной позиции
							.categories-page__line.categories-page__line--head
								button.btn.btn--primary.btn--wide Добавить технику
								button.btn.btn--light.btn--wide Удалить технику
						.wrapp-item-technique
							- for (let c = 0; c < 5; c++)
								.item-technique-el.item-technique-el--check
									.item-check
										input(class="input-checkbox" type="checkbox" id="catalog1")
										label(class="label-checkbox" for="catalog1")
									.item-technique.flex-element.flex-element--option
										.item-technique__group.item-technique__group--flex
											.item-technique__name JCB – 243
											.item-technique__flex
												.item-technique__char
													.item Характеристика 1: 231
													.item Характеристика 2: 231
												.item-technique__char
													.item Количество на платформе: 34142
										a(href="#").btn.btn--light Редактировать
						


	include ../common/_footer