extends ../_template

block variables
	- var title = 'Личный кабинет';
	- var selected = 'Техника'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная'], 'Личный кабинет')
				h1.page-heading Личный кабинет
				.rights Менеджер
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Заявки')
								+aside-personal('aplications.html', 'plan.png', 'Заказы')
								+aside-personal('aplications.html', 'documents.png', 'Техника')
								+aside-personal('aplications.html', 'user.png', 'Пользователи')
								+aside-personal('aplications.html', 'notification.png', 'Контент')
					.inner-content
						.categories-page
							a(href="#").btn.btn--light.btn--wide.btn--back К списку моделей
							h3.title.mb-catalog Редактирование техники
							.categories-page__bg
								form.form
									.form__line.form__line--jc
										h3.title Товарная позиция
										button.btn.btn--light.btn--wide Удалить технику
									.block-title
										.block-title__img.file-upload
											img(src="assets/img/catalog-min.png" class="image")
											input.file-one(type="file")
										.block-title__content
											input(placeholder="Название товарной позиции")
											.block-title__group
												.item
													input(class="custom-input" type="checkbox" id="off-road" name="off_road" value="1")
													label(class="custom-label custom-label--color" for="off-road")
														span Вездеход
												//- .form__item.form__item--pl
												//- 	label Мин. время заказа
												//- 	input(value="40" class="input-width")
												//- .form__item.form__item--pl
												//- 	label Ед. изм
												//- 	select(class="selectpicker cutsom-min" title="Часы")
												//- 		option 1 ч
												//- 		option 2 ч
												//- 		option 3 ч
									
									.form__line.form__line--pb
										h4 Вид тарифа*
										.item
											input(type="radio" name="type" id="type-1")
											label(for="type-1" class="radio-label")
												span Стандартный тип
										.item
											input(type="radio" name="type" id="type-2")
											label(for="type-2" class="radio-label")
												span КМУ
										.item
											input(type="radio" name="type" id="type-3")
											label(for="type-3" class="radio-label")
												span Самосвал
										.item
											input(type="radio" name="type" id="type-4")
											label(for="type-4" class="radio-label")
												span Ямобур
									.form__line
										.form__item.form__item--btn
											label(for="list-equipment").label-size Список доп оборудования
											button(class="btn btn-modal-open" type="button" data-toggle="modal" data-target="#add-equipment") Название
										.form__item.form__item-m
											label(for="type-equipment").label-size Тип техники
											select(class="selectpicker bright" id="type-equipment")
												option Тихоходная
												option Тихоходная 2
												option Тихоходная 3
										.form__item.form__item-m
											label(for="list-equipment").label-size Доставка своим ходом
											input(value="Input КМ" class="inpit-light")
										.form__item.form__item-m
											label(for="rent").label-size Аренда без оператора
											select(class="selectpicker bright" id="rent")
												option Нет
												option Да
									.form__line
										.notes-block
											- for (let i = 0; i < 4;i++)
												.notes-block__item
													.notes-block__body Примечание 
									.form__line
										.form__item.form__item-x
											select(class="selectpicker bright" title="Выберите категорию")
												option 1
												option 2
										.form__item.form__item-x
											select(class="selectpicker bright" title="Выберите вид")
												option 1
												option 2
										.form__item.form__item-x
											select(class="selectpicker bright" title="Выберите подвид")
												option 1
												option 2
									.form-block-wrap
										h3.title Характеристики:
										.form-block
											.form-block__item
												h4 Габариты
												.form__group
													label Ширина
													.form__item.form__item--min
														input(value="5")
													.form__item.form__item--min
														input(value="15")
												.form__group
													label Длина
													.form__item.form__item--min
														input(value="5")
													.form__item.form__item--min
														input(value="15")
												.form__group
													label Вес
													.form__item.form__item--min
														input(value="5")
													.form__item.form__item--min
														input(value="15")
												.form__group
													label Высота
													.form__item.form__item--min
														input(value="5")
													.form__item.form__item--min
														input(value="15")
											.form-block__item
												h4 Ключевая хар-ка
												.form-block__positions
													.form__item.form__item-w
														label Название
														input(value="Такое длинное название")
													.form__item
														input(value="5" type="number")
													.form__item
														input(value="15" type="number")
													.form__item
														select.selectpicker(title="Ед. изм")
															option 1
															option 2
															option 3
												.form-block__positions
													.form__item.form__item-w
														label Название
														input
													.form__item
														input(value="5")
													.form__item
														input(value="15")
													.form__item
														select.selectpicker(title="Ед. изм")
															option 1
															option 2
															option 3
												.form-block__positions
													.form__item.form__item-w
														label Название
														input
													.form__item
														input(value="5")
													.form__item
														input(value="15")
													.form__item
														select.selectpicker(title="Ед. изм")
															option 1
															option 2
															option 3
											.form-block__item
												h4 Хар-ка описания
												.form-block__positions
													.form__item.form__item-w
														label Название
														input
													.form__item
														input(value="5")
													.form__item
														input(value="15")
													.form__item
														select.selectpicker(title="Ед. изм")
															option 1
															option 2
															option 3
												.form-block__positions
													.form__item.form__item-w
														label Название
														input
													.form__item
														input(value="5")
													.form__item
														input(value="15")
													.form__item
														select.selectpicker(title="Ед. изм")
															option 1
															option 2
															option 3
												.form-block__positions
													.form__item.form__item-w
														label Название
														input
													.form__item
														input(value="5")
													.form__item
														input(value="15")
													.form__item
														select.selectpicker(title="Ед. изм")
															option 1
															option 2
															option 3



									.btn-wrap
										button.btn.btn--primary.btn--wide Сохранить
	.modal.fade#add-equipment(tabindex="-1" role="dialog")
		.modal-dialog.modal-dialog-centered.modal-add(role="document")
			.modal-content
				form
					.modal-choose Выбрано: 2
					.modal-form
					button.btn.btn--primary.btn--w.btn-new-el Добавить оборудование