extends ../_template

block variables
	- var title = 'Личный кабинет';
	- var selected = 'Техника'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная'], 'Личный кабинет')
				h1.page-heading Личный кабинет
				.rights Менеджер
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Заявки')
								+aside-personal('aplications.html', 'plan.png', 'Заказы')
								+aside-personal('aplications.html', 'documents.png', 'Техника')
								+aside-personal('aplications.html', 'user.png', 'Пользователи')
								+aside-personal('aplications.html', 'notification.png', 'Контент')
					.inner-content
						.categories-page
							a(href="#").btn.btn--light.btn--back К списку моделей
							h3.title.mb-catalog Редактирование техники

							.categories-page__bg
								form.form
									.form__line.form__line--jc
										h3.title Товарная позиция
										button.btn.btn--light.btn--wide Удалить технику
									.form__line
										.form__item.form-item--custom
											label(for="mark") Марка
											input(id="mark")
										.form__item.form-item--custom
											label(for="model") Модель
											input(id="model")
									.form-block-wrap.form-block-wrap--not
										h3.title Характеристики:
										.form-block.form-block--wide
											.form-block__item
												h4 Габариты
												.form__group
													label.label-bright Ширина
													.form__item.form__item--min
														input(value="5")
												.form__group
													label.label-bright Длина
													.form__item.form__item--min
														input(value="5")
												.form__group
													label.label-bright Вес
													.form__item.form__item--min
														input(value="5")
												.form__group
													label.label-bright Высота
													.form__item.form__item--min
														input(value="5")
											.form-block__item
												h4 Ключевая хар-ка
												- for (var x = 0; x < 5; x++)
													.form-block__positions.form-block__positions-custom
														.form__item.form__item-w
															input(placeholder="Название")
														.form__item
															input(placeholder="м")
														.form__item
															select.selectpicker.color-n(title="Ед. изм")
																option 1
																option 2
																option 3
													.form-block__positions.form-block__positions-custom
														.form__item.form__item-w
															input(placeholder="Название")
														.form__item
															input(placeholder="м")
														.form__item
															select.selectpicker.color-n(title="Ед. изм")
																option 1
																option 2
																option 3
										.btn-wrap
											button.btn.btn--primary.btn--wide Сохранить
	include ../common/_footer
