extends ../_template

block variables
  - var title = 'Главная';
  - var selected = 'Главная'

block content
  include ../common/_header
  include ../common/intro
  section.intro-section
    .container
      h2 Как сделать заказ
      .box-element-wrapper.flex-element
        .box-element.flex-element
          .box-element__icon
            svg(xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" width="22px" height="100%" viewBox="0 0 528.899 528.899" style="enable-background:new 0 0 528.899 528.899;")
              g
                path(d="M328.883,89.125l107.59,107.589l-272.34,272.34L56.604,361.465L328.883,89.125z M518.113,63.177l-47.981-47.981   c-18.543-18.543-48.653-18.543-67.259,0l-45.961,45.961l107.59,107.59l53.611-53.611   C532.495,100.753,532.495,77.559,518.113,63.177z M0.3,512.69c-1.958,8.812,5.998,16.708,14.811,14.565l119.891-29.069   L27.473,390.597L0.3,512.69z" fill="#fc7327")
          .box-element__info
            h3 Оставить заявку на сайте
            .box-element__text Выберите технику из
              a(href="#") каталога
              | , укажите детали заявки, и наш менеджер свяжется с вами вами в течение 5 МИНУТ
        .box-element.flex-element
          .box-element__icon
            svg(xmlns="http://www.w3.org/2000/svg" version="1.1" width="22px" height="100%" viewBox="0 0 348.077 348.077")
              g
                path(xmlns="http://www.w3.org/2000/svg" d="M340.273,275.083l-53.755-53.761c-10.707-10.664-28.438-10.34-39.518,0.744l-27.082,27.076     c-1.711-0.943-3.482-1.928-5.344-2.973c-17.102-9.476-40.509-22.464-65.14-47.113c-24.704-24.701-37.704-48.144-47.209-65.257     c-1.003-1.813-1.964-3.561-2.913-5.221l18.176-18.149l8.936-8.947c11.097-11.1,11.403-28.826,0.721-39.521L73.39,8.194     C62.708-2.486,44.969-2.162,33.872,8.938l-15.15,15.237l0.414,0.411c-5.08,6.482-9.325,13.958-12.484,22.02     C3.74,54.28,1.927,61.603,1.098,68.941C-6,127.785,20.89,181.564,93.866,254.541c100.875,100.868,182.167,93.248,185.674,92.876     c7.638-0.913,14.958-2.738,22.397-5.627c7.992-3.122,15.463-7.361,21.941-12.43l0.331,0.294l15.348-15.029     C350.631,303.527,350.95,285.795,340.273,275.083z" fill="#fc7327")
          .box-element__info
            h3 Позвонить и сделать заказ через менеджера
            .box-element__text Позвоните нам и оформите заказ по телефону
              span
                a(href="#") 8 843 203-34-00
        .box-element.flex-element
          .box-element__icon
            svg(xmlns="http://www.w3.org/2000/svg" version="1.1" width="22px" height="100%" viewBox="0 0 348.077 348.077")
              g
                path(xmlns="http://www.w3.org/2000/svg" d="M340.273,275.083l-53.755-53.761c-10.707-10.664-28.438-10.34-39.518,0.744l-27.082,27.076     c-1.711-0.943-3.482-1.928-5.344-2.973c-17.102-9.476-40.509-22.464-65.14-47.113c-24.704-24.701-37.704-48.144-47.209-65.257     c-1.003-1.813-1.964-3.561-2.913-5.221l18.176-18.149l8.936-8.947c11.097-11.1,11.403-28.826,0.721-39.521L73.39,8.194     C62.708-2.486,44.969-2.162,33.872,8.938l-15.15,15.237l0.414,0.411c-5.08,6.482-9.325,13.958-12.484,22.02     C3.74,54.28,1.927,61.603,1.098,68.941C-6,127.785,20.89,181.564,93.866,254.541c100.875,100.868,182.167,93.248,185.674,92.876     c7.638-0.913,14.958-2.738,22.397-5.627c7.992-3.122,15.463-7.361,21.941-12.43l0.331,0.294l15.348-15.029     C350.631,303.527,350.95,285.795,340.273,275.083z" fill="#fc7327")
          .box-element__info
            h3 Оформить заказ по whatsapp
            .box-element__text Напишите нам на
                a(href="#") +7 939 730 3100
        .box-element.flex-element
          .box-element__icon
            svg(xmlns="http://www.w3.org/2000/svg" version="1.1" width="22px" height="100%" viewBox="0 0 512.303 512.303")
              path(d="M256.014,0.134C114.629,0.164,0.038,114.804,0.068,256.189c0.01,48.957,14.059,96.884,40.479,138.1  L0.718,497.628c-2.121,5.496,0.615,11.671,6.111,13.792c1.229,0.474,2.534,0.717,3.851,0.715c1.222,0.006,2.435-0.203,3.584-0.619  l106.667-38.08c120.012,74.745,277.894,38.048,352.638-81.965s38.048-277.894-81.965-352.638  C350.922,13.495,303.943,0.087,256.014,0.134z" fill="#4CAF50")
              path(fill="#FAFAFA" d="M378.062,299.889c0,0-26.133-12.8-42.496-21.333c-18.517-9.536-40.277,8.32-50.517,18.475  c-15.937-6.122-30.493-15.362-42.816-27.179c-11.819-12.321-21.059-26.877-27.179-42.816c10.155-10.261,27.968-32,18.475-50.517  c-8.427-16.384-21.333-42.496-21.333-42.517c-1.811-3.594-5.49-5.863-9.515-5.867h-21.333c-31.068,5.366-53.657,32.474-53.333,64  c0,33.493,40.085,97.835,67.115,124.885s91.371,67.115,124.885,67.115c31.526,0.324,58.634-22.266,64-53.333v-21.333  C384.018,305.401,381.71,301.686,378.062,299.889z")

          .box-element__info
            h3 Отправить заявку на email
            .box-element__text Отправьте ваш запрос на
              a(href="#") info@specsharing.ru
  include ../common/elements/catalog-item
  main
    include ../common/step
    section.catalog-section
      .container
        h2 Популярные товары
        .catalog-wrap
          +catalog-item('catalog.png')
          +catalog-item('test1.jpg')
          +catalog-item('test2.jpg')
          +catalog-item('ekscavator.jpg')
      .btn-wrap
        a(href="#").btn.btn--primary Перейти в каталог
   
    .menu-bottom
      .menu-bottom__wrap
        nav
          ul.flex-menu
            li
              a(href="#")
                img(src="assets/img/icon/checklist.png", alt="")
                span Заявки
            li
              a(href="#")
                img(src="assets/img/icon/floor-plan.png", alt="")
                span Заказы
            li
              a(href="#")
                img(src="assets/img/icon/message.png", alt="")
                span Сообщения
            li
              a(href="#")
                img(src="assets/img/icon/menu-male.png", alt="")
                span Баланс
            li
              a(href="#")
                img(src="assets/img/icon/notification.png", alt="")
                span Уведомления
            li
              a(href="#")
                img(src="assets/img/icon/user.png", alt="")
                span Профиль
            li
              a(href="#")
                img(src="assets/img/icon/documents.png", alt="")
                span Акты
    button.scroll-up(aria-label="Наверх")
      svg(viewBox="0 0 12 40" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(opacity="0.9" d="M11 18.4932L1 4V40" stroke="white" stroke-width="2")

  .modal.fade(id="catalogBasket" tabindex="-1" role="dialog")
    .modal-dialog.modal-dialog-centered.modal-lg-width(role="document")
      .modal-content.box-catalog.box-catalog--custom
        button(type="button" class="close" data-dismiss="modal")
          img(src="assets/img/close.png" alt="" aria-hidden="true")
        .box-catalog__title Техника добавлена в корзину
        .box-catalog__tovar.catalog-preview
          .catalog-preview__left
            .catalog-preview__img
              img(src="assets/img/catalog-min.png" alt="3t – 6t  колесный экскаватор")
            .catalog-preview__title 3t – 6t  колесный экскаватор
          .catalog-preview__right
            .counter
              button.counter-action.counter-action--minus - 
              input.counte-number(value="1")
              button.counter-action.counter-action--plus + 
            .catalog-preview__price 17 290 ₽
        .box-catalog__bottom
          .box-catalog__info В корзине #[span 22] товара на сумму #[span 69 878] ₽
          .box-catalog__btn
            a(href="#").btn.btn--light Продолжить заказы
            a(href="#").btn.btn--primary Перейти в корзину
  include ../common/_footer
  