extends ../_template

block variables
	- var title = 'Личный кабинет';
	- var selected = 'Техника'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная'], 'Личный кабинет')
				h1.page-heading Личный кабинет
				.rights Менеджер
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Заявки')
								+aside-personal('aplications.html', 'plan.png', 'Заказы')
								+aside-personal('aplications.html', 'documents.png', 'Техника')
								+aside-personal('aplications.html', 'user.png', 'Пользователи')
								+aside-personal('aplications.html', 'notification.png', 'Контент')
					.inner-content
						form.form.seach-item.flex-element
							label.visually-hidden(for="search") Поиск
							input(type="text" id="search" placeholder="Найти")
							button.btn.btn--light Найти
						.a-block
							- for (let x = 0; x < 2; x++)
								.a-block__item
									.a-block__group.a-block__group--inline
										.a-block__img
											img(src="assets/img/manager1.png" alt="").responsiv-img
										.a-block__group
											.a-block__name Наименование
											.a-block__comments
												.raiting-block
													ul.raiting
														- for (let r = 0; r < 3; r++)
															li
																img(src="assets/img/rating/Star.png", alt="")
														li
															img(src="assets/img/rating/Star-2.png", alt="")
														li
															img(src="assets/img/rating/Star-1.png", alt="")
													.all-rating 3.9
													a(href="#").reviews-el Отзывов: #[span 54]
											.a-block__text.dark Исполнитель
									.a-block__group.a-block__group--btn
										a(href="#" class="btn btn--primary") Открыть профиль