extends ../_template

block variables
  - var title = 'Главная';
  - var selected = 'Главная'

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb				
        +breadcrumbs(['Главная', 'Категория', 'Подкатегория'], 'Товар')
        h1.heading Найти арендодателя
        .inner-page.inner-page--block
          .page-landlord
            ul.nav.nav-tabs
              li.nav-item
                a(class="nav-link active" href="#") Поиск
              li.nav-item
                a(class="nav-link" href="#") Мои арендодатели
              li.nav-item
                a(class="nav-link" href="#") Избранные
            .tab-content-wrap
              .tab-content
                form.form.form--inner
                  .form__item.form__item--width
                    input(placeholder="Найти арендодателя")
                  .form__line
                    .form__item
                      label(for="number").label-size Количество техники
                      select.selectpicker.width-all#number
                        option 100 - 150
                        option 100 - 150
                        option 100 - 150
                    .form__item
                      label(for="subspecies-technology").label-size Подвид техники
                      select.selectpicker.width-all#subspecies-technology
                        option 1
                        option 2
                        option 3
                    .form__item.form__item--pt
                      input(type="checkbox" id="type-1" class="custom-input")
                      label(for="type-1" class="custom-label label-size") #[span Только высокий рейтинг]
                    .form__item.form__item--pt
                      input(type="checkbox" id="type-2" class="custom-input")
                      label(for="type-2" class="custom-label label-size") #[span Плательщик НДС]
                  .form__layout.flex-element
                    .form__item.form__item--map
                      label.label-size Местоположение
                      .item-map
                        button(class="input-button btn-open-address" type="button" data-toggle="modal" data-target=".adress-choose" title="Адрес") hjkhg fdgjh ghfdjgh dfjkg hhgfjdkgh fdjkghdjfghjdf ghdjkfgh dkjfg fg
                        button(class="btn-open-map btn btn--light" type="button" data-toggle="modal" data-target=".adress-choose")
                          span Карта
                          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 512 512"  xml:space="preserve")
                            g
                              path(fill="#FC7327" d="M256,0C167.641,0,96,71.625,96,160c0,24.75,5.625,48.219,15.672,69.125C112.234,230.313,256,512,256,512l142.594-279.375   C409.719,210.844,416,186.156,416,160C416,71.625,344.375,0,256,0z M256,256c-53.016,0-96-43-96-96s42.984-96,96-96   c53,0,96,43,96,96S309,256,256,256z")
                    .filter-block.filter-min
                      .filter-block__name Радиус поиска
                      .filter-block__wrap
                        .filter-block__input
                          input.amount-all(type="text" name="filter2-all")
                      .slider-range-min
                    button.btn.btn--light.btn--sub Найти
                .controls
                  .controls-b
                    button.filter-button(aria-label='Сортировать')
                      svg(xmlns="http://www.w3.org/2000/svg" width="15" height="13" viewBox="0 0 15 13" fill="none")
                        path(d="M0 1.5H7.5M15 1.5H7.5M7.5 1.5V0V3" stroke="black")
                        path(d="M0 11.5H3.44595M15 11.5H3.44595M3.44595 11.5V10M3.44595 11.5V13" stroke="black")
                        path(d="M15 6.5H11.5541M1.19209e-07 6.5H11.5541M11.5541 6.5V5M11.5541 6.5V8" stroke="black")
                      span Сортировать по:
                    span Сортировать по:
                    ul
                      li
                        a(href="#").active Рейтингу
                      li
                        a(href="#") Размеру парка
                      li
                        a(href="#") Отдаленности от адреса
                .a-block
                  - for (let x = 0; x < 5; x++)
                    .a-block__item
                      .a-block__group.a-block__group--inline
                        .a-block__img
                          img(src="assets/img/rectangle1.png" alt="").responsiv-img
                        .a-block__group
                          .a-block__name Наименование
                          .a-block__comments
                            .raiting-block
                              ul.raiting
                                - for (let r = 0; r < 3; r++)
                                  li
                                    img(src="assets/img/rating/Star.png", alt="")
                                li
                                  img(src="assets/img/rating/Star-2.png", alt="")
                                li
                                  img(src="assets/img/rating/Star-1.png", alt="")
                              .all-rating 3.9
                              a(href="#").reviews-el Отзывов: #[span 54]
                          .a-block__city Респ Татарстан, г Набережные Челны, Автозаводский пр-кт, д 2, оф 516 (+ 0 км)
                          .a-block__text Количество техники в парке: #[span 35]
                      .a-block__group.a-block__group--width
                        span.badge Колесный экскаватор (#[span 8])
                        span.badge Колесный экскаватор (#[span 8])
                        span.badge Колесный экскаватор (#[span 8])
                        button.btn-more.red-tooltip(type="button" data-toggle="tooltip" data-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>") + 8
                      
                      .a-block__group.a-block__group--btn
                        button(type="button" class="btn btn--primary" data-toggle="modal" data-target="#view-profile") Открыть профиль
                        a(href="#").btn.btn--light Добавить в избранное
  include ../common/_footer
  .modal.fade.adress-choose(tabindex="-1" role="dialog")
    .modal-dialog.modal-sm.modal-adress
      .modal-content
        .modal-head
          ul.nav.nav-tabs(role="tablist")
            li.nav-item
              a(class="nav-link nav-link-address active" data-toggle="tab" href="#select-address") Выбрать адрес
            li.nav-item
              a(class="nav-link nav-new-address" data-toggle="tab" href="#new-address") Добавить новый
        .tab-content
          .tab-pane.fade.active.show(id="select-address" role="tabpanel")
            .tab-pane-adress
              .address-list-wrap
                ul.address-list
                  -for(let l = 0; l < 10; l++)
                    li
                      a(href="#")
                        .name Название объекта
                        .address
                          .icon
                            img(src="assets/img/map.png", alt="")
                          span г.Уфа, ул.Ленина, 2
          .tab-pane.fade(id="new-address" role="tabpanel")
            .tab-pane-map
              .map-tab
                //место для карты(картинка -  для примера)
              form 
                .form__item
                  input(placeholder="Введите адрес")
                  button
                    svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(d="M1 8.09091L6.73529 14L14 1" stroke="white")
  .modal.fade#view-profile(tabindex="-1" role="dialog")
    .modal-dialog.modal-sm.modal-dialog-centered.modal-profile
      .modal-content.m-profile
        .btn-group
          button.btn(type="button" data-toggle="modal" data-target="#submit-application") Отправить заявку
          button.btn Добавить в избранное
          //- button.btn Поделиться
        .modal-head
          .m-profile__img
            img(src="assets/img/icon-max.png" alt="").responsiv-img
          .modal-head__text
            .m-profile__name Наименование
            .raiting-block
              ul.raiting
                - for (let r = 0; r < 3; r++)
                  li
                    img(src="assets/img/rating/Star.png", alt="")
                li
                  img(src="assets/img/rating/Star-2.png", alt="")
                li
                  img(src="assets/img/rating/Star-1.png", alt="")
              .all-rating 3.9
              .reviews-el Отзывов: #[span 54]
            .m-profile__text г.Набережные Челны
            .m-profile__text Согласен на заказы в радиусе 200км
            .m-profile__block
              ul
                li
                  span Техники в парке: 29
                li
                  span Закрытых заказов: 32
                li
                  span Компаний-клиентов: 13
                li Плательщик НДС/Без НДС 
        .modal-body
          .subspecies-technology.flex-element
            .subspecies-technology__item
              .subspecies-technology__head
                h3 Подвид техники
                img(src="assets/img/subspecies-technology.png" alt="").responsiv-img
              .subspecies-technology__sub 124 ед

            .subspecies-technology__item
              .subspecies-technology__head
                h3 Подвид техники
                img(src="assets/img/subspecies-technology.png" alt="").responsiv-img
                .subspecies-technology__sub 124 ед

            .subspecies-technology__item
              .subspecies-technology__head
                  h3 Подвид техники
                  img(src="assets/img/subspecies-technology.png" alt="").responsiv-img
              .subspecies-technology__sub 124 ед

            .subspecies-technology__item
              .subspecies-technology__head
                h3 Подвид техники
                img(src="assets/img/subspecies-technology.png" alt="").responsiv-img
              .subspecies-technology__sub 124 ед

            .subspecies-technology__item
              .subspecies-technology__head
                h3 Подвид техники
                img(src="assets/img/Rectangle2.png" alt="").responsiv-img
              .subspecies-technology__sub 124 ед
            .subspecies-technology__item
              .subspecies-technology__head
                h3 Подвид техники
                img(src="assets/img/ekscavator.jpg" alt="").responsiv-img
              .subspecies-technology__sub 124 ед
        .modal-bottom.modal-bottom-filter
          .modal-bottom__head.flex-element
            h3 Выполненные заказы и отзывы
            ul.filter
              li
                a(href="#") Новизна
                  .border-arrow
              li
                a(href="#") Рейтинг
                  .border-arrow
              li
                a(href="#") Строк аренты
                  .border-arrow
          .modal-bottom__body
            .feedback
              .feedback__item
                .feedback__head.flex-element
                  .feedback__group
                    .feedback__img
                      img(src="assets/img/icon-diffrents.png" alt="название комрании")
                    .feedback__information
                      .feedback__company Газпром
                      ul
                        li Количество отзывов: 15
                        li Общее время работ: 42 дня

                  button.btn.btn--light.hide-button Скрыть отзывы
                .feedback__body
                  .feedback__message.comment
                    .comment__head
                      .comment__head-block
                        .comment__name Название объекта
                        .comment__rating
                          .raiting-block
                            ul.raiting
                              - for (let r = 0; r < 3; r++)
                                li
                                  img(src="assets/img/rating/Star.png", alt="")
                              li
                                img(src="assets/img/rating/Star-2.png", alt="")
                              li
                                img(src="assets/img/rating/Star-1.png", alt="")
                            .all-rating 3.9
                      .comment__head-block
                        .comment__date Февраль 2019
                        .comment__info Время работ: #[span 83 часа]
                    textarea(disabled) Отзыв заказчика. Текст сообщения
                  .feedback__message.comment
                    .comment__head
                      .comment__head-block
                        .comment__name Название объекта
                        .comment__rating
                          .raiting-block
                            ul.raiting
                              - for (let r = 0; r < 3; r++)
                                li
                                  img(src="assets/img/rating/Star.png", alt="")
                              li
                                img(src="assets/img/rating/Star-2.png", alt="")
                              li
                                img(src="assets/img/rating/Star-1.png", alt="")
                            .all-rating 3.9
                      .comment__head-block
                        .comment__date Февраль 2019
                        .comment__info Время работ: #[span 83 часа]
                    textarea Отзыв заказчика. Текст сообщения
              .feedback__item
                .feedback__head.flex-element
                  .feedback__group
                    .feedback__img
                      img(src="assets/img/icon-diffrents.png" alt="").responsiv-img
                    .feedback__information
                      .feedback__company Газпром
                      ul
                        li Количество отзывов: 15
                        li Общее время работ: 42 дня

                  button.btn.btn--light.hide-button.active-hide Показать отзывы
                .feedback__body.hide
                  .feedback__message.comment
                    .comment__head
                      .comment__head-block
                        .comment__name Название объекта
                        .comment__rating
                          .raiting-block
                            ul.raiting
                              - for (let r = 0; r < 3; r++)
                                li
                                  img(src="assets/img/rating/Star.png", alt="")
                              li
                                img(src="assets/img/rating/Star-2.png", alt="")
                              li
                                img(src="assets/img/rating/Star-1.png", alt="")
                            .all-rating 3.9
                      .comment__head-block
                        .comment__date Февраль 2019
                        .comment__info Время работ: #[span 83 часа]
                    textarea Отзыв заказчика. Текст сообщения
                  .feedback__message.comment
                    .comment__head
                      .comment__head-block
                        .comment__name Название объекта
                        .comment__rating
                          .raiting-block
                            ul.raiting
                              - for (let r = 0; r < 3; r++)
                                li
                                  img(src="assets/img/rating/Star.png", alt="")
                              li
                                img(src="assets/img/rating/Star-2.png", alt="")
                              li
                                img(src="assets/img/rating/Star-1.png", alt="")
                            .all-rating 3.9
                      .comment__head-block
                        .comment__date Февраль 2019
                        .comment__info Время работ: #[span 83 часа]
                    textarea Отзыв заказчика. Текст сообщения

  .modal.fade#submit-application(tabindex="-1" role="dialog")
    .modal-dialog.modal-dialog-centered.modal-information
      .modal-content
        h3 Выберите заявку
        button(type="button" class="close" data-dismiss="modal" aria-label="Закрыть модальное окно")
          svg(width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M1 1L13.885 13M13.885 13L26.7701 25M13.885 13L26.7701 1M13.885 13L1 25" stroke="#303855" stroke-width="2")
        .scroll-default
          - for (let ap = 0; ap < 5; ap++)
            .box-item.flex-element
              .box-item__group.box-item__group--flex
                .box-item__img
                  img(src="assets/img/Rectangle2.png" alt="")
                .box-item__info
                  .box-item__line.flex-element
                    .box-item__name Товарная позиция 1
                    .box-item-l 3 из 4 шт
                  .box-item__block
                    .box-date
                      .box-date__item
                        span 18.02.19 
                        | (
                        span.time 14:50 
                        | )   
                      | -   
                      .box-date__item
                        span     19.02.19 
                        | (
                        span.time 11:00
                        | )
                    .box-dh
                      span 8 дней 
                      span.line /
                      span  48 часов
                  .box-item__block.box-item__block--flex.flex-element
                    .box-item__text Время до окончания подачи предложений: 
                      span.accent 00:14:52
                    .box-item__text Оценочная стоимость:
                      span.accent 135 290 ₽
              .box-item__group
                button.btn.btn--light.btn--info Отправить
