extends ../_template

block variables
	- var title = 'Мой автопарк';
	- var selected = 'Мой автопарк'

block content
	include ../common/_header
	main
		.container
			.login-page
				.login-page__info
					h1 Спецшеринг
					.block-text
						span Сервис аренды спецтехники для организаций
						p Подбор техники, сопровождение аренды, документооборот и расчёты - всё в одном сервисе!
							a(href="#").link Подробнее о сервисе
					h3 Вход в личный кабинет владельца техники
					form#login-form.form.form--basis
						.form__item.phone_item_s
							label(for='id_username').visually-hidden Телефон
							input#id_username(type='text')
						.form__item
							label(for='id_password').visually-hidden Пароль
							input#id_password(type='password' name='password' required='')
						button.btn.btn--primary(type='submit') Войти

				.login-page__bg
					img(src="assets/img/shutterstock.jpg" alt='Сервис аренды спецтехники для организаций')

	include ../common/_footer