extends ../_template

block variables
	- var title = 'Личный кабинет';
	- var selected = 'Техника'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная'], 'Личный кабинет')
				h1.page-heading Личный кабинет
				.rights Менеджер
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Заявки')
								+aside-personal('aplications.html', 'plan.png', 'Заказы')
								+aside-personal('aplications.html', 'documents.png', 'Техника')
								+aside-personal('aplications.html', 'user.png', 'Пользователи')
								+aside-personal('aplications.html', 'notification.png', 'Контент')
					.inner-content
						.manager-page
							.manager-page__top
								a(href="#").btn.btn--light.btn--wide Назад
							.manager-page__bottom
								.a-block
									.a-block__item
										.a-block__img
											img(src="assets/img/rectangle1.png").responsiv-img
										.a-block__group
											.a-block__name Наименование
											.raiting-block
												ul.raiting
													- for (let r = 0; r < 3; r++)
														li
															img(src="assets/img/rating/Star.png", alt="")
													li
														img(src="assets/img/rating/Star-2.png", alt="")
													li
														img(src="assets/img/rating/Star-1.png", alt="")
												.all-rating 4.8
											.city г.Набережные Челны
								.manager-group
									h3.title Заявки пользователя
									ul.filter-order
										li
											a(href="#").active Открытые
										li
											a(href="#") Отмененные
										li
											a(href="#") Закрытые
								.content
									- for (let i = 0; i < 5; i++)
										.box-item.box-aplication.flex-element
											.box-item__info
												.box-info-date Дата заявки: #[span 12.01.19 / 14:39]
												.box-item__name Заявка №#########
												.box-item__sub-name Название объекта
												.box-date
													.box-date__item
														span 18.02.19 
														| (
														span.time 14:50 
														| )
													| - 
													.box-date__item
														span   19.02.19 
														| (
														span.time 11:00
														| )
											.box-item__group.box-item__group--width
												span.badge
													| Колесный экскаватор (
													span 8
													| )
												span.badge
													| Колесный экскаватор (
													span 8
													| )
												span.badge
													| Колесный экскаватор (
													span 8
													| )
												button.btn-more.red-tooltip(rel='tooltip', type='button', data-toggle='tooltip', data-html='true', title='', data-original-title="<span сlass='badge'>Колесный экскаватор (<span>8</span>)</span><span сlass='badge'>Колесный экскаватор (<span>8</span>)</span><span сlass='badge'>Колесный экскаватор (<span>8</span>)</span><span сlass='badge'>Колесный экскаватор (<span>8</span>)</span><span сlass='badge'>Колесный экскаватор (<span>8</span>)</span>") + 8
											.box-item__group.box-item__group--right
												p Новых предложений: 8 из 42
												p Оценочная стоимость: 135 290 р
												.box-rate
													.box-rate-wrapper(style='width: 70%;')
													.box-rate-on Закрыто
														span 7/10
												a(href="#").btn.btn--light.btn--w Подробнее
									.tab-pane.fade#canceled(role="tabpanel")
										p 21
									.tab-pane.fade#close(role="tabpanel")
										p 3
	include ../common/_footer
