extends ../_template

block variables
	- var title = 'Личный кабинет';
	- var selected = 'Техника'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная'], 'Личный кабинет')
				h1.page-heading Личный кабинет
				.rights Менеджер
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Заявки')
								+aside-personal('aplications.html', 'plan.png', 'Заказы')
								+aside-personal('aplications.html', 'documents.png', 'Техника')
								+aside-personal('aplications.html', 'user.png', 'Пользователи')
								+aside-personal('aplications.html', 'notification.png', 'Контент')
					.inner-content
						.manager-page.manager-page--equipment
							.manager-page__top
								a(href="#").btn.btn--light.btn--wide Назад
							.manager-page__bottom
								.a-block
									.a-block__item
										.a-block__img
											img(src="assets/img/rectangle1.png").responsiv-img
										.a-block__group
											.a-block__name Наименование
											.raiting-block
												ul.raiting
													- for (let r = 0; r < 3; r++)
														li
															img(src="assets/img/rating/Star.png", alt="")
													li
														img(src="assets/img/rating/Star-2.png", alt="")
													li
														img(src="assets/img/rating/Star-1.png", alt="")
												.all-rating 4.8
											.city г.Набережные Челны
								form
									ul.filter-order.filter-order--min
										li
											a(href="#").active Активная
										li
											a(href="#") На подтверждении
										li
											a(href="#") Заблокированная

									h3.title Техника пользователя
									.manager-page__line
										a(href="#").btn.btn--primary.btn--wide Добавить технику
										.manager-page__group
											.filter-block.filter-slider-options.filter-block--size.filter-block--absolutely
												.filter-block__name Радиус выезда техники
												.filter-block__wrap
													.filter-block__input
														input.amount-all(name='radius-1')
												.slider-range2
											.item
												select.selectpicker.custom-center.custom-size(title="Подвид техники")
													option 1
													option 2
													option 3
											button.btn.btn--light.btn--wide Календарь загруженности

								#accordion.custon-accordion.custon-accordion--light
									.card
										.card-header
											button(data-toggle='collapse', data-target='#open-1' aria-expanded="true") Автокран
												.open
										#open-1.show(data-parent='#accordion' )
											- for (let x = 0; x < 3; x++)
												.item-box.flex-element.flex-element--option
													.item-box__block
														.item-box__img
															img(src="assets/img/gf.png")
														.item-box__group
															.item-box__name JCB – 243
															.item-box__el.item-box__el--upper А224ОС
														.item-box__group
															.item-box__label Статус:
															.item-box__el ожидает подтверждения
														.item-box__group.item-box__group--size
															.item-box__el Характеристика 1: 231
															.item-box__el Характеристика 2: 231
															.item-box__el Год выпуска: 2013
													a(href="technique-more.html").btn.btn--light Открыть подробности
									.card
										.card-header
											button(data-toggle='collapse', data-target='#open-2' aria-expanded="false" class="collapsed") Экскаватор
												.open
										#open-2(data-parent='#accordion').collapse
											- for (let x = 0; x < 3; x++)
												.item-box
													.item-box__block
														.item-box__img
															img(src="assets/img/gf.png")
														.item-box__group
															.item-box__name JCB – 243
															.item-box__el.item-box__el--upper А224ОС
														.item-box__group
															.item-box__label Статус:
															.item-box__el ожидает подтверждения
														.item-box__group.item-box__group--size
															.item-box__el Характеристика 1: 231
															.item-box__el Характеристика 2: 231
															.item-box__el Год выпуска: 2013
													a(href="technique-more.html").btn.btn--light Открыть подробности
	include ../common/_footer