extends ../_template

block variables
  - var title = 'Личный кабинет';
  - var selected = 'Техника'

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb
        +breadcrumbs(['Главная'], 'Личный кабинет')
        h1.page-heading Личный кабинет
        .rights Менеджер
        .inner-page
          include ../common/elements/aside-personal
          aside
            nav.menu.menu--personal
              ul
                +aside-personal('aplications.html', 'checklist.png', 'Заявки')
                +aside-personal('aplications.html', 'plan.png', 'Заказы')
                +aside-personal('aplications.html', 'documents.png', 'Техника')
                +aside-personal('aplications.html', 'user.png', 'Пользователи')
                +aside-personal('aplications.html', 'notification.png', 'Контент')
          .inner-content
            .manager-page.manager-page--acts
              .manager-page__top
                a(href="#").btn.btn--light.btn--wide Назад
              .manager-page__bottom
                .a-block
                  .a-block__item
                    .a-block__img
                      img(src="assets/img/rectangle1.png").responsiv-img
                    .a-block__group
                      .a-block__name Наименование
                      .raiting-block
                        ul.raiting
                          - for (let r = 0; r < 3; r++)
                            li
                              img(src="assets/img/rating/Star.png", alt="")
                          li
                            img(src="assets/img/rating/Star-2.png", alt="")
                          li
                            img(src="assets/img/rating/Star-1.png", alt="")
                        .all-rating 4.8
                      .city г.Набережные Челны
                //- form
                //-   ul.filter-order.filter-order--min
                //-     li
                //-       a(href="#").active Закрывающие документы
                //-     li
                //-       a(href="#") Отчеты
                //-     li
                //-       a(href="#") Загруженные документы
                //-     li
                //-       a(href="#") Договор
                ul.nav.nav-tabs.nav-tabs--primary(role='tablist')
                  li.nav-item
                    a.nav-link.active(data-toggle='tab', href='#documents') Закрывающие документы
                  li.nav-item
                    a.nav-link(data-toggle='tab', href='#reports') Отчеты
                  li.nav-item
                    a.nav-link(data-toggle='tab', href='#uploaded-documents') Загруженные документы
                  li.nav-item
                    a.nav-link(data-toggle='tab', href='#agreement') Договор
                .tab-content.tab-content--wrapp
                  .tab-pane.fade.active.show(id="documents" role="tabpanel")
                    #accordion.custon-accordion
                      .card
                        .card-header
                          button(data-toggle='collapse', data-target='#open-1' aria-expanded="true").collapsed Январь
                            .open
                              svg(width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M1 1L11 11L21 1" stroke="#242424" stroke-width="2")
                        #open-1.collapse(data-parent='#accordion' )
                          .wrap-report
                            .reports
                              .reports__item
                                .reports__group
                                  .reports__name Акт выполненных работ
                                    .reports__date.reports__date--min 15.02.19
                                  .reports__date 15.02.19
                                  .reports__sub #[span 2 000 ₽]
                                  .reports__file
                                    .input-file-wrap.input-file-wrap--line
                                      .input-files
                                        label(class="input-file-trigger")
                                          span Загрузить
                                          input(class="input-file" type="file")
                                      .input-files-link
                                        a(href="#")
                                          img(src="assets/img/icon/arrowDown.png")
                                      button.input-files-del
                                        svg(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                          path(d="M1 1L7 7M7 7L13 13M7 7L13 1M7 7L1 13" stroke="#7F7B77")
                                a(href="#" aria-label="Скачать").btn.btn--primary.btn--min.btn--size
                                  span.name Скачать
                                  span.arrow
                                    svg(width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                                      path(d="M4.5 0V11M4.5 11L1 8.13043M4.5 11L8 8.13043" stroke="white")

                              .reports__item
                                .reports__group
                                  .reports__name Акт выполненных работ
                                    .reports__date.reports__date--min 15.02.19
                                  .reports__date 15.02.19
                                  .reports__sub #[span 2 000 ₽]
                                  .reports__file
                                    .input-file-wrap.input-file-wrap--line
                                      .input-files
                                        label(class="input-file-trigger")
                                          span Загрузить
                                          input(class="input-file" type="file")
                                      .input-files-link
                                        a(href="#")
                                          img(src="assets/img/icon/arrowDown.png")
                                      button.input-files-del
                                        svg(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                                          path(d="M1 1L7 7M7 7L13 13M7 7L13 1M7 7L1 13" stroke="#7F7B77")
                                a(href="#").btn.btn--primary.btn--min.btn--size
                                  span.name Скачать
                                  span.arrow
                                    svg(width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                                      path(d="M4.5 0V11M4.5 11L1 8.13043M4.5 11L8 8.13043" stroke="white")
                  .tab-pane.fade(id="reports" role="tabpanel")
                    form.form-acts
                      .object.object--slider
                        .object__box.active
                            h4 Россия, Республика Башкортостан, Уфимский район, Кирилловский сельсовет
                            .object__date
                              span 17.12.19. 
                              | -
                              span 4.05.20
                            .object__all Всего техники: 
                              span 66
                        - for(i = 0; i < 10; i++)
                          .object__box
                            h4 Все объекты
                            .object__date
                              span 17.12.19. 
                              | -
                              span 4.05.20
                            .object__all Всего техники: 
                              span 66
                      ul.filter-primary
                        li
                          a(href="#").active День
                        li
                          a(href="#") Неделя
                        li
                          a(href="#") Месяц
                        li
                          a(href="#") Год
                      .form-acts__line
                        .form-acts__group
                          .item-sel
                            select.selectpicker.custom-max.select-size.color-n.custom-center(title="Тип отчета")
                              option Тип отчета 1
                              option Тип отчета 2
                              option Тип отчета 3
                          .item
                            .item__calendar
                              label.label-size(for="date-input") От - до
                              input(class="date input-custom" id="date-input")
                            .item__calendar.item__calendar--phone
                              label.label-size(for="calendar-start") От
                              input(class="date input-custom" id="calendar-start")
                            span - 
                            .item__calendar.item__calendar--phone
                              label.label-size(for="calendar-finish") До
                              input(class="date input-custom" id="calendar-finish")
                          .item-sel
                            select.selectpicker.custom-max.select-size.color-n.custom-center(title="Подвид техники")
                              option Подвид техники 1
                              option Подвид техники 2
                              option Подвид техники 3
                        a(href="#").btn.btn--primary.btn--width Скачать  отчет
                    .table-responsive.table-acts
                      table.table.table--option
                        thead
                          tr
                            th Подвид
                            th Марка
                            th Параметр
                            th Владелец
                            th Объект
                            th Тариф
                            th Часы
                            th Аренда
                            th Доставка
                            th Итого
                        tbody
                          - for (var x = 0; x < 4; x++)
                            tr
                              td КОЛЕСНЫЙ ЭКСКАВАТОР
                              td JCB-412
                              td 13 м
                              td Transbuilding
                              td г.Уфа, ул.Ленина, 23
                              td 3 205 ₽/ч.
                              td 42 ч
                              td 134 610 ₽
                              td 5 320 ₽

                              td
                                buttin.tool-btn(class="tooltip-primary" rel='tooltip' data-original-title="<ul><li>Аренда: 12312</li><li>Доставка: 12 321</li><li>Комиссия:23 912</li></ul>")
                                  img(src="assets/img/icon/tooltip.png", alt="")
                                span 139 930 ₽
                  .tab-pane.fade(id="uploaded-documents" role="tabpanel")
                    form.form-documents
                      .form-documents__block
                        h3.title.title--min Документация пользователя
                        .form-documents__group
                          -for (var x = 0; x < 4; x++)
                            .item
                              h4 Заголовок документа
                              .input-file-wrap.input-file-wrap--line
                                .input-files
                                  label(class="input-file-trigger")
                                    span
                                    input(class="input-file" type="file")
                                .input-files-link
                                  a(href="#")
                                    img(src="assets/img/icon/arrowDown.png")
                      .form-documents__block
                        h3.title.title--min Документация пользователя
                        .form-documents__group
                          -for (var x = 0; x < 4; x++)
                            .item
                              h4 Заголовок документа
                              .input-file-wrap.input-file-wrap--line
                                .input-files
                                  label(class="input-file-trigger")
                                    span
                                    input(class="input-file" type="file")
                                .input-files-link
                                  a(href="#")
                                    img(src="assets/img/icon/arrowDown.png")
                      .btn-group
                        button.btn.btn--primary Одобрить
                        button.btn.btn--light Отклонить
                  .tab-pane.fade(id="agreement" role="tabpanel")
                    h3.title.title--min Документация пользователя
                    .block
                      h4 Заявка на индивидуальный договор
                      textarea
                    .block
                      h4 Заключенный договор
                      .input-file-wrap.input-file-wrap--line
                        .input-files
                          label.input-file-trigger #[span Загрузить]
                            input.input-file(type='file')
                        .input-files-link
                          a(href="#")
                            img(src="assets/img/icon/arrowDown.png")

  include ../common/_footer