extends ../_template

block variables
  - var title = 'Личный кабинет';
  - var selected = 'Техника'

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb
        +breadcrumbs(['Главная'], 'Личный кабинет')
        h1.page-heading Личный кабинет
        .rights Менеджер
        .inner-page
          include ../common/elements/aside-personal
          aside
            nav.menu.menu--personal
              ul
                +aside-personal('aplications.html', 'checklist.png', 'Заявки')
                +aside-personal('aplications.html', 'plan.png', 'Заказы')
                +aside-personal('aplications.html', 'documents.png', 'Техника')
                +aside-personal('aplications.html', 'user.png', 'Пользователи')
                +aside-personal('aplications.html', 'notification.png', 'Контент')
          .inner-content
            .manager-page
              .a-block-open.more-block.flex-element
                .more-block__content
                  span.dark.date-registration Дата регистрации: 12.01.19 (11:11)
                  .more-block__group.flex-element
                    .more-block__img
                      img(src="assets/img/rectangle1.png").responsiv-img
                    .more-block__info
                      .more-block__name Наименование
                      .raiting-block
                        ul.raiting
                          - for (let r = 0; r < 3; r++)
                          li
                            img(src="assets/img/rating/Star.png", alt="")
                          li
                            img(src="assets/img/rating/Star-2.png", alt="")
                          li
                            img(src="assets/img/rating/Star-1.png", alt="")
                        .all-rating.all-rating--border 4.8
                        a(href="#").reviews-el Отзывов: #[span 54]
                      .counter.counter--bigger
                        .title Баланс
                        button.counter-action.counter-action--minus -
                        input.counte-number(value="122345")
                        button.counter-action.counter-action--plus +
                      //- span.city г.Набережные Челны
                  .more-block__item
                    h3 Статистика
                    span Закрываемость заявок: 98%
                  .more-block__item
                    .item-list.flex-element
                      .item
                        .item__title Заявок: 321
                        ul.basis
                          li Отменено: 5
                          li Закрыто: 321
                          li Текущие: 3
                      .item.flex-element
                        .item__title Заявок: 321
                        ul.basis
                          li Закрыто: 321
                          li Текущие: 3
                        ul.basis.item--different
                          li Отменено заказчиком : 5
                          li Отменено: исполнителем 5
                  .more-block__item
                    .deals-wrap.flex-element
                      .deal Объём сделок всего по закрытым заказам:
                        span.accent 34141 Р
                      .deal Объём текущих сделок по плановой стоимости:
                        span.accent 34141 Р
                      .deal Комиссия по закрытым заказам:
                        span.accent 34141 Р
                      .deal Доход владельца по закрытым заказам:
                        span.accent 34141 Р
                .more-block__link
                  a(href="#").btn.btn--light.btn--w Список заявок
                  a(href="#").btn.btn--light.btn--w Список заказов
                  a(href="#").btn.btn--light.btn--w Список техники
                  a(href="#").btn.btn--light.btn--w Документы
                  a(href="#").btn.btn--light.btn--w История операций

                  button.btn.btn--light.btn--w.btn--block Заблокировать
                  button.btn.btn--primary.btn--w.btn--save Сохранить

              ul.nav.nav-tabs.nav-tabs--pt.nav-tabs--width(role="tablist")
                li.nav-item
                  a(class="nav-link active" data-toggle="tab" href="#public-profile") Публичный профиль
                li.nav-item
                  a(class="nav-link" data-toggle="tab" href="#personal-data") Личные данные
              .tab-content.tab-content--inner
                .tab-pane.fade.show.active#public-profile(role="tabpanel")
                  .head
                    p Согласен на заказы в радиусе 200км
                    ul.column
                      li Техники в парке: #[span 29]
                      li Закрытых заказов: #[span 32]
                      li Компаний-клиентов: #[span 13]
                      li Плательщик НДС/Без НДС
                    .subspecies-technology.flex-element
                      .subspecies-technology__item
                        .subspecies-technology__head
                          h3 Подвид техники
                          img(src="assets/img/subspecies-technology.png" alt="").responsiv-img
                        .subspecies-technology__sub 124 ед

                      .subspecies-technology__item
                        .subspecies-technology__head
                          h3 Подвид техники
                          img(src="assets/img/subspecies-technology.png" alt="").responsiv-img
                        .subspecies-technology__sub 124 ед
                      .subspecies-technology__item
                        .subspecies-technology__head
                          h3 Подвид техники
                          img(src="assets/img/subspecies-technology.png" alt="").responsiv-img
                        .subspecies-technology__sub 124 ед
                      .subspecies-technology__item
                        .subspecies-technology__head
                          h3 Подвид техники
                          img(src="assets/img/subspecies-technology.png" alt="").responsiv-img
                        .subspecies-technology__sub 124 ед
                      .subspecies-technology__item
                        .subspecies-technology__head
                          h3 Подвид техники
                          img(src="assets/img/subspecies-technology.png" alt="").responsiv-img
                        .subspecies-technology__sub 124 ед
                  .modal-bottom.modal-bottom-filter
                    .modal-bottom__head.flex-element
                      h3 Выполненные заказы и отзывы
                      ul.filter
                        li
                          a(href="#") Новизна
                            .border-arrow
                        li
                          a(href="#") Рейтинг
                            .border-arrow
                        li
                          a(href="#") Строк аренты
                            .border-arrow
                    .modal-bottom__body
                      .feedback
                        .feedback__item
                          .feedback__head.flex-element
                            .feedback__group
                              .feedback__img
                                img(src="assets/img/icon-diffrents.png" alt="название комрании")
                              .feedback__information
                                .feedback__company Газпром
                                ul
                                  li Количество отзывов: 15
                                  li Общее время работ: 42 дня

                            button.btn.btn--light.hide-button Скрыть отзывы
                          .feedback__body
                            .feedback__message.comment
                              .comment__head
                                .comment__head-block
                                  .comment__name Название объекта
                                  .comment__rating
                                    .raiting-block
                                      ul.raiting
                                        - for (let r = 0; r < 3; r++)
                                        li
                                          img(src="assets/img/rating/Star.png", alt="")
                                        li
                                          img(src="assets/img/rating/Star-2.png", alt="")
                                        li
                                          img(src="assets/img/rating/Star-1.png", alt="")
                                      .all-rating 3.9
                                .comment__head-block
                                  .comment__date Февраль 2019
                                  .comment__info Время работ: #[span 83 часа]
                              textarea Отзыв заказчика. Текст сообщения
                            .feedback__message.comment
                              .comment__head
                                .comment__head-block
                                  .comment__name Название объекта
                                  .comment__rating
                                    .raiting-block
                                      ul.raiting
                                        - for (let r = 0; r < 3; r++)
                                        li
                                          img(src="assets/img/rating/Star.png", alt="")
                                        li
                                          img(src="assets/img/rating/Star-2.png", alt="")
                                        li
                                          img(src="assets/img/rating/Star-1.png", alt="")
                                      .all-rating 3.9
                                .comment__head-block
                                  .comment__date Февраль 2019
                                  .comment__info Время работ: #[span 83 часа]
                              textarea Отзыв заказчика. Текст сообщения
                        .feedback__item
                          .feedback__head.flex-element
                            .feedback__group
                              .feedback__img
                                img(src="assets/img/icon-diffrents.png" alt="").responsiv-img
                              .feedback__information
                                .feedback__company Газпром
                                ul
                                  li Количество отзывов: 15
                                  li Общее время работ: 42 дня

                            button.btn.btn--light.hide-button.active-hide Показать отзывы
                          .feedback__body.hide
                            .feedback__message.comment
                              .comment__head
                                .comment__head-block
                                  .comment__name Название объекта
                                  .comment__rating
                                    .raiting-block
                                      ul.raiting
                                        - for (let r = 0; r < 3; r++)
                                        li
                                          img(src="assets/img/rating/Star.png", alt="")
                                        li
                                          img(src="assets/img/rating/Star-2.png", alt="")
                                        li
                                          img(src="assets/img/rating/Star-1.png", alt="")
                                      .all-rating 3.9
                                .comment__head-block
                                  .comment__date Февраль 2019
                                  .comment__info Время работ: #[span 83 часа]
                              textarea Отзыв заказчика. Текст сообщения
                            .feedback__message.comment
                              .comment__head
                                .comment__head-block
                                  .comment__name Название объекта
                                  .comment__rating
                                    .raiting-block
                                      ul.raiting
                                        - for (let r = 0; r < 3; r++)
                                        li
                                          img(src="assets/img/rating/Star.png", alt="")
                                        li
                                          img(src="assets/img/rating/Star-2.png", alt="")
                                        li
                                          img(src="assets/img/rating/Star-1.png", alt="")
                                      .all-rating 3.9
                                .comment__head-block
                                  .comment__date Февраль 2019
                                  .comment__info Время работ: #[span 83 часа]
                              textarea Отзыв заказчика. Текст сообщения
                .tab-pane.fade#personal-data(role="tabpanel")
                  .inner-content__line
                    h3.title Основные данные
                    .btn-group
                      button.btn.btn--light(type="button" data-toggle="modal" data-target="#modal-change") Изменить пароль
                      button.btn.btn--light(type="button" data-toggle="modal" data-target="#modal-individual") Запросить индивидуальный договор
                  .personal-wrap.personal-wrap--pt.personal-wrap--custom
                    .form-bg.form-bg--small
                      form.form.form--basis.form--personal
                        .form__title Персональные данные
                        .form__item
                          span.dark Загрузить логотип
                          .block-title__img.file-upload
                            img(class="image" src="assets/img/rectangle1.png")
                            input(class="file-one" type="file")
                        .form__item
                          label(for="name") Имя
                          input(type="text" id="name")
                        .form__item
                          label(for="surname") Фамилия
                          input(type="text" id="surname ")
                        .form__item
                          label(for="phone") Телефон
                          input(type="text" id="phone")
                        .form__item
                          label(for="mail") E-mail
                          input(type="text" id="mail")
                    .form-bg.form-bg--small
                      form.form.form.form--basis.form--personal
                        .form__title Данные организации
                        .form__item
                          label(for="organization") Организация
                          input(type="text" id="organization")
                        .form__item
                          label(for="OPF") ОПФ
                          select.selectpicker.width-all
                            option 1
                            option 2
                            option 3
                        .form__item
                          label(for="legal-address") Юридический адрес
                          input(type="text" id="legal-address")
                        .form__item
                          label(for="inn") ИНН
                          input(type="text" id="inn")
                    .form-bg.form-bg--small
                      form.form.form.form--basis.form--personal
                        .form__title Реквизиты
                        .form__item
                          label(for="bank-details") Банковские реквизиты
                          input(type="text" id="bank-details")
                        .form__item
                          label(for="bank-details-2") Банковские реквизиты
                          input(type="text" id="bank-details-2")
                        .form__item
                          label(for="bank-details-3") Банковские реквизиты
                          input(type="text" id="bank-details-3")
                        .form__item
                          label(for="bank-details-4") Банковские реквизиты
                          p Межрегиональное операционное управление Федерального казначейства
                    .form-bg.form-bg--custom.document-wrap
                      h4 Документы
                      form.form.form--basis.flex-element.form--document
                        - for(let d = 0; d < 4; d++)
                          .form__item
                            .input-file-item
                              .input-file__name Учредительные документы 1
                              .input-file-wrap.input-file-wrap--line
                                .input-files.flex-element
                                  label(class="input-file-trigger")
                                    span
                                    input(class="input-file" type="file")
                                  a(href="#").input-files-link
                                    img(src="assets/img/icon/arrowDown.png")