extends ../_template

block variables
	- var title = 'Личный кабинет';
	- var selected = 'Техника'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная'], 'Личный кабинет')
				h1.page-heading Личный кабинет
				.rights Менеджер
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Заявки')
								+aside-personal('aplications.html', 'plan.png', 'Заказы')
								+aside-personal('aplications.html', 'documents.png', 'Техника')
								+aside-personal('aplications.html', 'user.png', 'Пользователи')
								+aside-personal('aplications.html', 'notification.png', 'Контент')
					.inner-content
						.page-order.manager-page.manager-page--order
							.manager-page__top
								a(href="#").btn.btn--light.btn--wide Назад
							.manager-page__bottom
								.a-block
									.a-block__item
										.a-block__img
											img(src="assets/img/rectangle1.png").responsiv-img
										.a-block__group
											.a-block__name Наименование
											.raiting-block
												ul.raiting
													- for (let r = 0; r < 3; r++)
														li
															img(src="assets/img/rating/Star.png", alt="")
													li
														img(src="assets/img/rating/Star-2.png", alt="")
													li
														img(src="assets/img/rating/Star-1.png", alt="")
												.all-rating 4.8
											.city г.Набережные Челны
								
								h3.title Заказы пользователя
								ul.filter-primary
									li
										a(href="#").active В работе
									li
										a(href="#") На подтверждении
										span.count 8
									li
										a(href="#") В споре
											span.count 8
									li
										a(href="#") Будущие
									li
										a(href="#") Завершенные
							.object-wrapp
								button(data-toggle="modal" data-target="#" class="btn-object") Создать объект
								.object.object--slider
									.object__box.active
											h4 Все объекты
											.object__date
												span 17.12.19. 
												| -
												span 4.05.20
											.object__all Всего техники: 
												span 66
									- for(i = 0; i < 10; i++)
										.object__box
											h4 Все объекты
											.object__date
												span 17.12.19. 
												| -
												span 4.05.20
											.object__all Всего техники: 
												span 66
							.order-block
								.order-block__line
									h3.title Техники на данном объекте: 
										span.accent 22
									.order-block__group
										select.selectpicker.bright.custom-center.custom-size(title="Подвид техники")
											option 1
											option 2
											option 3 
								- for (let i = 0; i < 6; i++)
									.box-item
										.box-item__group.box-item__group--flex
											.box-item__img
												img(src="assets/img/123.png")
											.box-item__info
												.box-info-date Дата заказа: #[span 12.01.19]
												.box-item__name Автокран 15 тн. #[span КАМАЗ 6520]
												.box-date
													.box-date__item
														span 18.02.19 
														| (
														span.time 14:50 
														| ) 
													| -   
													.box-date__item
														span   19.02.19 
														| (
														span.time 11:00
														| )
												.box-dh
													span 8 дней 
													span.line /
													span  48 часов
										.box-item__group
											p Фактическая стоимость: 
												span.accent 12 382 ₽
											p.dark Оценочная стоимость: #[span 14 224 ₽]
										.box-item__group.box-item__group--right
											.box-rate
												.box-rate-wrapper(style="width: 78%")
												.box-rate-on
													button(class="btn-tool" data-placement="top" data-original-title="Какой то текс")
														img(src="assets/img/icon/tooltip.png", alt="")
													span 78%
											a(href="applications-inside.html").btn.btn--light Открыть подробности				
	include ../common/_footer
