extends ../_template

block variables
	- var title = 'Личный кабинет';
	- var selected = 'Техника'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная'], 'Личный кабинет')
				h1.page-heading Личный кабинет
				.rights Менеджер
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Заявки')
								+aside-personal('aplications.html', 'plan.png', 'Заказы')
								+aside-personal('aplications.html', 'documents.png', 'Техника')
								+aside-personal('aplications.html', 'user.png', 'Пользователи')
								+aside-personal('aplications.html', 'notification.png', 'Контент')
					.inner-content
						.manager-page.manager-page--equipment
							.manager-page__top
								a(href="#").btn.btn--light.btn--wide Назад
							.manager-page__bottom
								.a-block
									.a-block__item
										.a-block__img
											img(src="assets/img/rectangle1.png").responsiv-img
										.a-block__group
											.a-block__name Наименование
											.raiting-block
												ul.raiting
													- for (let r = 0; r < 3; r++)
														li
															img(src="assets/img/rating/Star.png", alt="")
													li
														img(src="assets/img/rating/Star-2.png", alt="")
													li
														img(src="assets/img/rating/Star-1.png", alt="")
												.all-rating 4.8
											.city г.Набережные Челны

								h3.title.mb Техника пользователя
								.inside-techique.techique

									form.form.form--basis.form--custom
										.techique__head
											h3 Адрес базирования
											.techique__block
												.item-map
													button(class="input-button btn-open-address" type="button" data-toggle="modal" data-target=".adress-choose") Машиностроительная улица, 111, Набережные Челны, Республика Татарстан
													button(class="btn-open-map btn btn--light" type="button" data-toggle="modal" data-target=".adress-choose") Карта
												.filter-block.filter-slider-options
													.filter-block__name Инд. радиус выезда техники
													.filter-block__wrap
														.filter-block__input
															input.amount-all(name='radius-1')
													.slider-range2

										.techique__body
											h3.pb Данные по технике
											.techique__block.techique__block--pb.techique__block--start
												.techique__group.techique__group--line
													.form__item.form__item--width
														label.label-size Марка
														input(type="text")
														// появляеться при поиске 
														// .result-search
														//  ul
														//    li
														//      a(href="#") JCB-243
														//    li
														//      a(href="#") JCB-243
														//    li
														//      a(href="#") JCB-243
														//    li
														//      a(href="#") JCB-243
														//  button(class="btn btn--primary" type="button" data-toggle="modal" data-target="#thank-con") Моей техники нет в списке
															// после отправки нужно вызывать форму с таким id #thank-con
													.form__item.form__item--width
														label.label-size Модель
														input(type="text" id="model")
													.form__item
														label.label-size Дополнительное оборудование
														select.selectpicker.custom-wide(multiple data-selected-text-format="count")
															option 1
															option 2
															option 3
															option 4
															option 5
															option 6
												.techique__group.techique__group--line.techique__group--line-c
													.block-timeline
														.block-timeline__item
															.block-timeline__name Подвид
															.block-timeline__body Колесный экскаватор
														.block-timeline__item
															.block-timeline__name Товарная позиция
															.block-timeline__body 3-6 т колесный экскаватор
													button(class="btn-none" type="button" data-toggle="modal" data-target="#match") Данные не соответствуют?
											.techique__block.techique__block--group.techique-character 
												.form__item
													label.label-size Высота вылета:
													input(type="text") 
												.form__item
													label.label-size Высота вылета:
													input(type="text") 
												.form__item
													label.label-size Высота вылета:
													input(type="text") 
												.form__item
													label.label-size Высота вылета:
													input(type="text") 
											.techique__block.techique__block--pb.techique__block--pt
												.form__item.form__item--width
													label.label-size Год выпуска:
													input(type="text")
												.form__item.form__item--width
													label.label-size VIN
													input(type="text") 
												.form__item.form__item--width
													label.label-size Номер
													input(type="text")
											h3 Свидетельство о регистрации ТС
											p Для добавления транспорта в парк требуется документ, подтверждающий его пригодность к использованию
											.input-file-wrap.input-file-wrap--height
												.input-files
													label(class="input-trigger")
														span Выбрать файл для загрузки
														span.sub Размер файла не должен превышать 20 мб.
													input(class="input-file input-file-tr" type="file")
										.techique__bottom
											.techique__bottom-group
												button.btn.btn--light(type="button" data-toggle="modal" data-target="#delete-obj" ) Удалить технику
												button.btn.btn--light(type="button" data-toggle="modal" data-target="#delete-obj" ) Одобрить/Заблокировать
											button.btn.btn--primary Сохранить

	.modal.fade#match(tabindex="-1" role="dialog")
		.modal-dialog.modal-sm.modal-dialog-centered.modal-dialog-median
			.modal-content
				form.form.form--basis.form--custom
					h3 Запрос на редактирование
					.form__item
						label Марка
						input(type="Марка")
					.form__item
						label Марка
						input(type="Модель")
					.form__item
						label Опишете несоответствие
						textarea
					button.btn.btn--primary Отправить запрос

	include ../common/_footer