extends ../_template

block variables
	- var title = 'Личный кабинет';
	- var selected = 'Техника'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная'], 'Личный кабинет')
				h1.page-heading Личный кабинет
				.rights Менеджер
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Заявки')
								+aside-personal('aplications.html', 'plan.png', 'Заказы')
								+aside-personal('aplications.html', 'documents.png', 'Техника')
								+aside-personal('aplications.html', 'user.png', 'Пользователи')
								+aside-personal('aplications.html', 'notification.png', 'Контент')
					.inner-content
						.manager-page.manager-page-detail
							.manager-page__top
								a(href="#").btn.btn--light.btn--wide Назад
							.manager-page__bottom
								.box-item.box-aplication
									.box-item__info
										.box-info-date Дата заявки: #[span 12.01.19 / 14:39]
										.box-item__name Заявка №#########
										.box-item__sub-name Название объекта
										.box-date
											.box-date__item
												span 18.02.19 
												| (
												span.time 14:50 
												| )
											| - 
											.box-date__item
												span   19.02.19 
												| (
												span.time 11:00
												| )
									.box-item__group.box-item__group--width
										span.badge
											| Колесный экскаватор (
											span 8
											| )
										span.badge
											| Колесный экскаватор (
											span 8
											| )
										span.badge
											| Колесный экскаватор (
											span 8
											| )
										button.btn-more.red-tooltip(rel='tooltip', type='button', data-toggle='tooltip', data-html='true', title='', data-original-title="<span сlass='badge'>Колесный экскаватор (<span>8</span>)</span><span сlass='badge'>Колесный экскаватор (<span>8</span>)</span><span сlass='badge'>Колесный экскаватор (<span>8</span>)</span><span сlass='badge'>Колесный экскаватор (<span>8</span>)</span><span сlass='badge'>Колесный экскаватор (<span>8</span>)</span>") + 8
									.box-item__group.box-item__group--right
										p Новых предложений: 8 из 42
										p Оценочная стоимость: 135 290 р
										.box-rate
											.box-rate-wrapper(style='width: 70%;')
											.box-rate-on Закрыто
												span 7/10
							.manager-page-detail__body
								ul.filter-order
									li
										a(href="#").active Подвид техники
									li
										a(href="#") Подвид техники
									li
										a(href="#") Подвид техники
								.content
									- for (let i = 0; i < 2; i++)
										.box-item.flex-element
											.box-item__group.box-item__group--flex
												button.delete(aria-label="Удалить")
													img(src="assets/img/delite.png", alt="")
												.box-item__img
													img(src="assets/img/Rectangle2.png")
												.box-item__info
													.box-item__line.flex-element
														.box-item__name Товарная позиция 1
														.box-item-l 3 из 4 шт
													.box-item__block
														.box-date
															.box-date__item
																span 18.02.19 
																| (
																span.time 14:50 
																| )   
															| -   
															.box-date__item
																span     19.02.19 
																| (
																span.time 11:00
																| )
														.box-dh
															span 8 дней 
															span.line /
															span  48 часов
													.box-item__block.box-item__block--flex.flex-element
														.box-item__text Время до окончания подачи предложений: 
															span.accent 00:14:52
														.box-item__text Оценочная стоимость:
															span.accent 135 290 ₽
											.box-item__group.box-item__group--right
												.box-item__block.box-item__block--flex.box-item__block--text.box-item__block--text--phone
													.box-item__text Время до окончания подачи предложений: 
														span.accent 00:14:52
													.box-item__text Оценочная стоимость:
														span.accent 135 290 ₽
												.box-item__applications
													| Новых предложений:
													.count 8 
													|  из 
													span 42
												a(href="#").btn.btn--primary Открыть подробности

	include ../common/_footer
