extends ../_template

block variables
  - var title = 'Личный кабинет';
  - var selected = 'Техника'

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb
        +breadcrumbs(['Главная'], 'Личный кабинет')
        h1.page-heading Личный кабинет
        .rights Менеджер
        .inner-page
          include ../common/elements/aside-personal
          aside
            nav.menu.menu--personal
              ul
                +aside-personal('aplications.html', 'checklist.png', 'Заявки')
                +aside-personal('aplications.html', 'plan.png', 'Заказы')
                +aside-personal('aplications.html', 'documents.png', 'Техника')
                +aside-personal('aplications.html', 'user.png', 'Пользователи')
                +aside-personal('aplications.html', 'notification.png', 'Контент')
          .inner-content
            .manager-page.manager-page--home
              .manager-page__head
                form.form
                  .form__line.flex-element
                    .form__group
                      ul.filter-basis
                        li
                          a(href="#").active Исполнители
                        li
                          a(href="#") Заказчики
                        li
                          a(href="#") Совмещенные
                      ul.list.list-view
                        span Исполнителей: 1000
                        li Активных: #[span 832]
                        li Неактивных: #[span 398]
                        li Совмещающих 2 роли: #[span 100]
                    button.btn.btn--light Добавить пользователя
                  ul.filter-basis.filter-basis--small
                    li
                      a(href="#").active Активные
                    li
                      a(href="#") Неактивные
                  .form__layout.form__layout--pt
                    .item-map
                      label.custom-label--size Адрес базирования техники
                      button.input-button.btn-open-address(type='button', data-toggle='modal', data-target='.adress-choose') Машиностроительная улица, 111, Набережные Челны, Республика Татарстан
                      button.btn-open-map.btn.btn--light(type='button', data-toggle='modal', data-target='.adress-choose') Карта
                    .filter-block.filter-slider-options.filter-block--size
                      .filter-block__name Радиус выезда исполнителя
                      .filter-block__wrap
                        .filter-block__input
                          input.amount-all(name='radius-1')
                      .slider-range2
                  .form__layout
                    .form__item
                      label(for="subspecies").custom-label--size Подвид техники
                      select.selectpicker(id="subspecies")
                        option 1
                        option 2
                        option 3
                    .form__item
                      label(for="park-size").custom-label--size Размер парка
                      select.selectpicker(id="park-size")
                        option 1
                        option 2
                        option 3
                    .form__item
                      label(for="organization-name").custom-label--size Имя
                      input(id="organization-name")
                  .form__layout
                    .form__item
                      label(for="organization-name").custom-label--size Имя
                      input(id="organization-name")
                    button.btn.btn--light.btn-search Найти

              .controls
                .controls-b
                  button.filter-button(aria-label='Сортировать')
                    svg(xmlns="http://www.w3.org/2000/svg" width="15" height="13" viewBox="0 0 15 13" fill="none")
                      path(d="M0 1.5H7.5M15 1.5H7.5M7.5 1.5V0V3" stroke="black")
                      path(d="M0 11.5H3.44595M15 11.5H3.44595M3.44595 11.5V10M3.44595 11.5V13" stroke="black")
                      path(d="M15 6.5H11.5541M1.19209e-07 6.5H11.5541M11.5541 6.5V5M11.5541 6.5V8" stroke="black")
                    span Сортировать по:
                  span Сортировать по:
                  ul
                    li
                      a(href="#") Дата регистрации
                    li
                      a(href="#") Активность
                    li
                      a(href="#") Оборот
                    li
                      a(href="#") Рейтинг
                    li
                      a(href="#") Размер парка
              .a-block
                - for (let x = 0; x < 5; x++)
                .a-block__item
                  .a-block__group.a-block__group--inline
                    .a-block__img
                      img(src="assets/img/manager1.png" alt="")
                    .a-block__group
                      .a-block__name Наименование
                      .a-block__comments
                        .raiting-block
                          ul.raiting
                            - for (let r = 0; r < 3; r++)
                            li
                              img(src="assets/img/rating/Star.png", alt="")
                            li
                              img(src="assets/img/rating/Star-2.png", alt="")
                            li
                              img(src="assets/img/rating/Star-1.png", alt="")
                          .all-rating 3.9
                          a(href="#").reviews-el Отзывов: #[span 54]
                      .a-block__text.dark Исполнитель
                  .a-block__group.a-block__group--btn
                    a(href="#" class="btn btn--primary") Открыть профиль


              ul.pagination
                li.page-item
                  a(href="#" class="page-link")
                    svg(width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(d="M7 1L1 7L7 13" stroke="#7F7B77")
                li.page-item.active
                  a(href="#" class="page-link")= 1
                - for (let i = 2; i < 8 ;i++)
                li.page-item
                  a(href="#" class="page-link")= i
                li.page-item
                  a(href="#" class="page-link")
                    svg(width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(d="M1 1L7 7L1 13" stroke="#7F7B77")

  .modal.fade.adress-choose(tabindex='-1', role='dialog')
    .modal-dialog.modal-sm.modal-adress
      .modal-content
        .modal-head
          ul.nav.nav-tabs(role='tablist')
            li.nav-item
              a.nav-link.nav-link-address.active(data-toggle='tab', href='#select-address') Выбрать адрес
            li.nav-item
              a.nav-link.nav-new-address(data-toggle='tab', href='#new-address') Добавить новый
        .tab-content
          #select-address.tab-pane.fade.active.show(role='tabpanel')
            .tab-pane-adress
              .address-list-wrap
                ul.address-list
                  li
                    a(href='#')
                      .name Название объекта
                      .address
                        .icon
                          img(src='assets/img/map.png', alt='')
                        span г.Уфа, ул.Ленина, 2
                  li
                    a(href='#')
                      .name Название объекта
                      .address
                        .icon
                          img(src='assets/img/map.png', alt='')
                        span г.Уфа, ул.Ленина, 2
                  li
                    a(href='#')
                      .name Название объекта
                      .address
                        .icon
                          img(src='assets/img/map.png', alt='')
                        span г.Уфа, ул.Ленина, 2
                  li
                    a(href='#')
                      .name Название объекта
                      .address
                        .icon
                          img(src='assets/img/map.png', alt='')
                        span г.Уфа, ул.Ленина, 2
                  li
                    a(href='#')
                      .name Название объекта
                      .address
                        .icon
                          img(src='assets/img/map.png', alt='')
                        span г.Уфа, ул.Ленина, 2
                  li
                    a(href='#')
                      .name Название объекта
                      .address
                        .icon
                          img(src='assets/img/map.png', alt='')
                        span г.Уфа, ул.Ленина, 2
                  li
                    a(href='#')
                      .name Название объекта
                      .address
                        .icon
                          img(src='assets/img/map.png', alt='')
                        span г.Уфа, ул.Ленина, 2
                  li
                    a(href='#')
                      .name Название объекта
                      .address
                        .icon
                          img(src='assets/img/map.png', alt='')
                        span г.Уфа, ул.Ленина, 2
                  li
                    a(href='#')
                      .name Название объекта
                      .address
                        .icon
                          img(src='assets/img/map.png', alt='')
                        span г.Уфа, ул.Ленина, 2
                  li
                    a(href='#')
                      .name Название объекта
                      .address
                        .icon
                          img(src='assets/img/map.png', alt='')
                        span г.Уфа, ул.Ленина, 2
          #new-address.tab-pane.fade(role='tabpanel')
            .tab-pane-map
              .map-tab
                // место для карты(картинка -  для примера)
                img(src='assets/img/map-examle.png')
              form
                .form__item
                  input(placeholder='Введите адрес')
                  button
                    svg(width='15', height='15', viewBox='0 0 15 15', fill='none', xmlns='http://www.w3.org/2000/svg')
                      path(d='M1 8.09091L6.73529 14L14 1', stroke='white')

  include ../common/_footer