extends ../_template

block variables
	- var title = 'Личный кабинет';
	- var selected = 'Техника'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная'], 'Личный кабинет')
				h1.page-heading Личный кабинет
				.rights Менеджер
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Заявки')
								+aside-personal('aplications.html', 'plan.png', 'Заказы')
								+aside-personal('aplications.html', 'documents.png', 'Техника')
								+aside-personal('aplications.html', 'user.png', 'Пользователи')
								+aside-personal('aplications.html', 'notification.png', 'Контент')
					.inner-content
						.manager-page.page-balance
							.manager-page__top
								a(href="#").btn.btn--light.btn--wide Назад
							.manager-page__bottom
								.a-block.a-block--flex
									.a-block__item
										.a-block__img
											img(src="assets/img/rectangle1.png").responsiv-img
										.a-block__group
											.a-block__name Наименование
											.raiting-block
												ul.raiting
													- for (let r = 0; r < 3; r++)
														li
															img(src="assets/img/rating/Star.png", alt="")
													li
														img(src="assets/img/rating/Star-2.png", alt="")
													li
														img(src="assets/img/rating/Star-1.png", alt="")
												.all-rating 4.8
											.city г.Набережные Челны
									form.search-p
										input(placeholder="Найти пользователя")
										button
											svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
												path(opacity="0.3" d="M12.5 7C12.5 10.0376 10.0376 12.5 7 12.5V13.5C10.5899 13.5 13.5 10.5899 13.5 7H12.5ZM7 12.5C3.96243 12.5 1.5 10.0376 1.5 7H0.5C0.5 10.5899 3.41015 13.5 7 13.5V12.5ZM1.5 7C1.5 3.96243 3.96243 1.5 7 1.5V0.5C3.41015 0.5 0.5 3.41015 0.5 7H1.5ZM7 1.5C10.0376 1.5 12.5 3.96243 12.5 7H13.5C13.5 3.41015 10.5899 0.5 7 0.5V1.5ZM11.6464 12.3536L16.6464 17.3536L17.3536 16.6464L12.3536 11.6464L11.6464 12.3536Z" fill="#AEA69D")
								.block-mn.block-mn--inline
									.page-balance__group
										h3.title--min История платежей
										ul.filter-sec
											li
												a(href="#").active Все операции
											li
												a(href="#") Платежи
											li
												a(href="#") Пополнения
									.page-balance__group
										select.selectpicker
											option 2019
											option 2018
											option 2017
										a(href="#").btn.btn--primary Выгрузить
								.tab-content
									.tab-pane.fade.show.active#tab-1(role="tabpanel")
										#accordion.custon-accordion
											.card
												.card-header
													button(data-toggle='collapse', data-target='#open-1' aria-expanded="true") Январь
														.open
												#open-1.show(data-parent='#accordion' )
													table.table.table--basis
														thead
															tr
																th № платежа
																th Дата
																th Операция
																th Способ оплаты
																th Сумма
																th Статус
																th
														tbody
															- for (let i = 0; i < 4; i++)
																tr
																	td #142512
																	td 12.02.16 #[span (13:35)]
																	td Р/С
																	td Р/С
																	td + 23 348 ₽
																	td Обрабатывается
																	td
																		button.btn.btn--light Повторить
											.card
												.card-header
													button(data-toggle='collapse', data-target='#open-2' aria-expanded="false" class="collapsed") Январь
														.open
												#open-2(data-parent='#accordion').collapse
													table.table.table--basis
														thead
															tr
																th № платежа
																th Дата
																th Операция
																th Способ оплаты
																th Сумма
																th Статус
																th
														tbody
															- for (let i = 0; i < 4; i++)
																tr
																	td #142512
																	td 12.02.16 #[span (13:35)]
																	td Р/С
																	td Р/С
																	td + 23 348 ₽
																	td Обрабатывается
																	td
																		button.btn.btn--light Повторить
									.tab-pane.fade.show#tab-2(role="tabpanel")
										#accordion2.custon-accordion
											.card
												.card-header
													button(data-toggle='collapse', data-target='#open-3' aria-expanded="false" class="collapsed") Январь
														.open
												#open-3(data-parent='#accordion2' ).collapse
													table.table.table--basis
														thead
															tr
																th № платежа
																th Дата
																th Операция
																th Способ оплаты
																th Сумма
																th Статус
																th
														tbody
															- for (let i = 0; i < 4; i++)
																tr
																	td #142512
																	td 12.02.16 #[span (13:35)]
																	td Р/С
																	td Р/С
																	td + 23 348 ₽
																	td Обрабатывается
																	td
																		button.btn.btn--light Повторить
	include ../common/_footer