extends ../_template

block variables
	- var title = 'Сообщения';
	- var selected = 'Сообщения'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная', 'Категория'], 'Вид')
				h1.page-heading Сообщения
				.switch
					span Заказчик
						input(type="checkbox" id="switch").switch__input
						label(for="switch").switch__label
					span Арендодатель
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Мои заявки')
								+aside-personal('#', 'floor-plan.png', 'Мои заказы')
								+aside-personal('message.html', 'message.png', 'Сообщения')
								+aside-personal('acts.html', 'documents.png', 'Акты и отчеты')
								+aside-personal('#', 'notification.png', 'Уведомления')
								+aside-personal('#', 'personal-data.png', 'Личные данные')
								+aside-personal('balance.html', 'menu-male.png', 'Баланс и платежи')
					.inner-content
						.page-message
							.head-block
								a(href="#").btn-prev
									svg(width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg")
										path(opacity="0.3" d="M8.63636 1L1 7.26087L8.63636 13" stroke="black")
									span Назад к чатам								
							.message-block
								h3 Выберите причину обращения
								form.form
									.form__item
										select.selectpicker.width-all(title="Наличие")
											option 1
											option 2
											option 3
									.form__item
										textarea(placeholder="Опишите причину")
									.form__item
										.input-files
											label.input-trigger
												span Загрузить файл
												input.input-file.input-file-tr(type="file")
									button.btn.btn--primary.btn--w Отправить

								
	include ../common/_footer