extends ../_template

block variables
	- var title = 'Сообщения';
	- var selected = 'Сообщения'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная', 'Категория'], 'Вид')
				h1.page-heading Сообщения
				.switch
					span Заказчик
						input(type="checkbox" id="switch").switch__input
						label(for="switch").switch__label
					span Арендодатель
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Мои заявки')
								+aside-personal('#', 'floor-plan.png', 'Мои заказы')
								+aside-personal('message.html', 'message.png', 'Сообщения')
								+aside-personal('acts.html', 'documents.png', 'Акты и отчеты')
								+aside-personal('#', 'notification.png', 'Уведомления')
								+aside-personal('#', 'personal-data.png', 'Личные данные')
								+aside-personal('balance.html', 'menu-male.png', 'Баланс и платежи')
					.inner-content
						.page-message
							.head-block.head-block--right
								button.btn.btn--light.btn.btn--width Обратиться в сервис
							form
								.object.object--slider
									.object__box.active
											h4 Россия, Республика Башкортостан, Уфимский район, Кирилловский сельсовет
											.object__date
												span 17.12.19. 
												| -
												span 4.05.20
											.object__all Всего техники: 
												span 66
									- for(i = 0; i < 3; i++)
										.object__box
											h4 Все объекты
											.object__date
												span 17.12.19. 
												| -
												span 4.05.20
											.object__all Всего техники: 
												span 66
							.message-wrapper
								- for (var x = 0; x < 3; x++)
										a(href="#").message
											.message__icon
												img(src="assets/img/icon/icon-message.png")
												.message__count 12
											.message__content
												.message__left
													.message__name Арендодатель
													.message__preview Превью последнего сообщения
													span.dark 99
												.message__right
													.message__block Техники в обсуждении:
														span 5
													.message__count 12
													.message__preview.message__preview--phone Превью последнего сообщения
								a(href="#").message.message--lead
									.message__icon
										img(src="assets/img/icon/icon-message.png")
										.message__count 12
									.message__content
										.message__left
											.message__name Ильнар Муртазин 
												span | 
												| #365
											.message__preview Превью последнего сообщения
										.message__right
											.message__count 12
											.message__preview.message__preview--phone Превью последнего сообщения
										
	include ../common/_footer