extends ../_template

block variables
	- var title = 'Сообщения';
	- var selected = 'Сообщения'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная', 'Категория'], 'Вид')
				h1.page-heading Сообщения
				.switch
					span Заказчик
						input(type="checkbox" id="switch").switch__input
						label(for="switch").switch__label
					span Арендодатель
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('#', 'checklist.png', 'Мои заявки')
								+aside-personal('#', 'floor-plan.png', 'Мои заказы')
								+aside-personal('#', 'message.png', 'Сообщения')
								+aside-personal('#', 'user-menu-male.png', 'Мой автопарк')
								+aside-personal('#', 'documents.png', 'Акты и отчеты')
								+aside-personal('#', 'notification.png', 'Уведомления')
								+aside-personal('#', 'personal-data.png', 'Личные данные')
								+aside-personal('#', 'menu-male.png', 'Баланс и платежи')
					.inner-content
						.message-inner
							.head-block
								a(href="#").btn-prev
									svg(width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg")
										path(opacity="0.3" d="M8.63636 1L1 7.26087L8.63636 13" stroke="black")
									span Вернуться назад
							//- .object
							//- 	- for(var n = 0; n < 4; n++)
							//- 		.object__box
							//- 			h4 Все объекты
							//- 			.object__date
							//- 				span 17.12.19. 
							//- 				| -
							//- 				span 4.05.20
							//- 			.object__all Всего техники: 
							//- 				span 66

							.chat-block
								.chat-block__left
									.chat-block__head Уведомлений по этой технике:
										span.count 2
									.chat-block__body
										.chat-block__message
											.chat.sent
												.chat__item
													.photo
														img(src="assets/img/photo.png")
													.chat-content
														.chat-text Сэмпл более длинного  текста. Сэмпл более длинного текста. Сэмпл более длинного текста. Сэмпл более длинного текста. Сэмпл более длинного текста.
															|
															span.dark 10:28 | 25.07.2019
											.chat.replies
												.chat__item
													.photo
														img(src="assets/img/photo.png")
													.chat-content
														.chat-text ааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааа
															span.dark 10:28 | 25.07.2019
												.chat__item
													.photo
														img(src="assets/img/photo.png")
													.chat-content
														.chat-text Как дела ?
											.chat.sent
												.chat__item
													.photo
														img(src="assets/img/photo.png")
													.chat-content
														.chat-media
															a(href="assets/img/example.png" target="_blank")
																img(src="assets/img/example.png")
										.chat-view
									form
										.message-input
											.media-block-wrap
												.media-block
													label
														svg(width="20" height="20" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg")
															path(d="M4.07044 12.3845L14.2216 1.61507C16.0014 1.61507 16.885 3.70742 14.7493 5.92285C12.6135 8.13828 6.74014 14.2307 4.07044 17C1.994 16.4872 0.396857 14.0632 1.22121 11.9093C2.21188 9.32087 10.37 1.72729 11.0737 1" stroke="#242424")
														input(type="file" multiple="multiple" accept="image/*, .doc, .docx, .pdf" class="select-choose")
											.message-text(contenteditable="true")
						
											button
												svg(xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 448.011 448.011" xml:space="preserve")
													g
														path(fill="#FC7327" d="M438.731,209.463l-416-192c-6.624-3.008-14.528-1.216-19.136,4.48c-4.64,5.696-4.8,13.792-0.384,19.648l136.8,182.4l-136.8,182.4c-4.416,5.856-4.256,13.984,0.352,19.648c3.104,3.872,7.744,5.952,12.448,5.952c2.272,0,4.544-0.48,6.688-1.472l416-192c5.696-2.624,9.312-8.288,9.312-14.528S444.395,212.087,438.731,209.463z")


								.chat-block__right
									.chat-block__person
										img(src="assets/img/chat.png")
										span.name Transbuilding fdsfsdf Transbuilding
									ul.contact-list
										li.contact.active
											.wrap
												span JCB – 243
												span.dark А224ОС
											.count 3
										-for (let x = 0; x < 4; x++)
											li.contact
												.wrap
													span JCB – 243
													span.dark А224ОС
												.count 3
	include ../common/_footer