extends ../_template

block variables
  - var title = 'Акты и отчеты';
  - var selected = 'Акты и отчеты'

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb
        +breadcrumbs(['Главная', 'Категория'], 'Вид')
        h1.page-heading Акты и отчеты
        .switch
          span Заказчик
            input(type="checkbox" id="switch").switch__input
            label(for="switch").switch__label
          span Арендодатель
        .inner-page
          include ../common/elements/aside-personal
          aside
            nav.menu.menu--personal
              ul
                +aside-personal('aplications.html', 'checklist.png', 'Мои заявки')
                +aside-personal('#', 'floor-plan.png', 'Мои заказы')
                +aside-personal('message.html', 'message.png', 'Сообщения')
                +aside-personal('acts.html', 'documents.png', 'Акты и отчеты')
                +aside-personal('#', 'notification.png', 'Уведомления')
                +aside-personal('#', 'personal-data.png', 'Личные данные')
                +aside-personal('balance.html', 'menu-male.png', 'Баланс и платежи')
          .inner-content
            .block-mn.block-mn--inline
              ul.nav.nav-tabs(role="tablist")
                li.nav-item
                  a(class="nav-link active" data-toggle="tab" href="#documents") Закрывающие документы
                li.nav-item
                  a(class="nav-link" data-toggle="tab" href="#reports") Отчеты
              select.selectpicker.custom.custom-min.custom-center.stand.select-trn
                option 2019
                option 2018
                option 2017
            .tab-content.tab-content--wrapp
              .tab-pane.fade.show.active#documents(role="tabpanel")
                #accordion.custon-accordion
                  .card
                    .card-header
                      button(data-toggle='collapse', data-target='#open-1' aria-expanded="true").collapsed Январь
                        .open-arrow
                          svg(width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M1 1L11 11L21 1" stroke="#242424" stroke-width="2")
                    #open-1.collapse(data-parent='#accordion' )
                      .wrap-report
                        .reports
                          .reports__item
                            .reports__group
                              .reports__name Акт выполненных работ
                                .reports__date.reports__date--min 15.02.19
                              .reports__date 15.02.19
                              .reports__sub #[span 2 000 ₽]
                            a(href="#").btn.btn--primary.btn--min.btn--size
                              span.name Скачать
                              span.arrow
                                svg(width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                                  path(d="M4.5 0V11M4.5 11L1 8.13043M4.5 11L8 8.13043" stroke="white")
                          .reports__item
                            .reports__group
                              .reports__name Акт выполненных работ
                                .reports__date.reports__date--min 15.02.19
                              .reports__date 15.02.19
                              .reports__sub #[span 2 000 ₽]
                            a(href="#").btn.btn--primary.btn--min.btn--size
                              span.name Скачать
                              span.arrow
                                svg(width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                                  path(d="M4.5 0V11M4.5 11L1 8.13043M4.5 11L8 8.13043" stroke="white")
                          .reports__item
                            .reports__group
                              .reports__name Акт выполненных работ
                                .reports__date.reports__date--min 15.02.19
                              .reports__date 15.02.19
                              .reports__sub #[span 2 000 ₽]
                            a(href="#").btn.btn--primary.btn--min.btn--size
                              span.name Скачать
                              span.arrow
                                svg(width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                                  path(d="M4.5 0V11M4.5 11L1 8.13043M4.5 11L8 8.13043" stroke="white")
                  .card
                    .card-header
                      button(data-toggle='collapse', data-target='#open-2' aria-expanded="true").collapsed Январь
                        .open-arrow
                          svg(width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M1 1L11 11L21 1" stroke="#242424" stroke-width="2")
                    #open-2.collapse(data-parent='#accordion' )
                      .wrap-report
                        .reports
                          .reports__item
                            .reports__group
                              .reports__name Акт выполненных работ
                                .reports__date.reports__date--min 15.02.19
                              .reports__date 15.02.19
                              .reports__sub #[span 2 000 ₽]
                            a(href="#").btn.btn--primary.btn--min.btn--size
                              span.name Скачать
                              span.arrow
                                svg(width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                                  path(d="M4.5 0V11M4.5 11L1 8.13043M4.5 11L8 8.13043" stroke="white")
                          .reports__item
                            .reports__group
                              .reports__name Акт выполненных работ
                                .reports__date.reports__date--min 15.02.19
                              .reports__date 15.02.19
                              .reports__sub #[span 2 000 ₽]
                            a(href="#").btn.btn--primary.btn--min.btn--size
                              span.name Скачать
                              span.arrow
                                svg(width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                                  path(d="M4.5 0V11M4.5 11L1 8.13043M4.5 11L8 8.13043" stroke="white")
                          .reports__item
                            .reports__group
                              .reports__name Акт выполненных работ
                                .reports__date.reports__date--min 15.02.19
                              .reports__date 15.02.19
                              .reports__sub #[span 2 000 ₽]
                            a(href="#").btn.btn--primary.btn--min.btn--size
                              span.name Скачать
                              span.arrow
                                svg(width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                                  path(d="M4.5 0V11M4.5 11L1 8.13043M4.5 11L8 8.13043" stroke="white")
              .tab-pane.fade#reports(role="tabpanel")
                form.form-acts
                  .object.object--slider
                    .object__box.active
                        h4 Россия, Республика Башкортостан, Уфимский район, Кирилловский сельсовет
                        .object__date
                          span 17.12.19. 
                          | -
                          span 4.05.20
                        .object__all Всего техники: 
                          span 66
                    - for(i = 0; i < 10; i++)
                      .object__box
                        h4 Все объекты
                        .object__date
                          span 17.12.19. 
                          | -
                          span 4.05.20
                        .object__all Всего техники: 
                          span 66
                  ul.filter-primary
                    li
                      a(href="#").active День
                    li
                      a(href="#") Неделя
                    li
                      a(href="#") Месяц
                    li
                      a(href="#") Год
                  .form-acts__line
                    .form-acts__group
                      select.selectpicker.custom-max.select-size.color-n.custom-center(title="Тип отчета")
                        option Тип отчета 1
                        option Тип отчета 2
                        option Тип отчета 3
                      .item
                        .item__calendar
                          label.label-size(for="date-input") От - до
                          input(class="date input-custom" id="date-input")
                        .item__calendar.item__calendar--phone
                          label.label-size(for="calendar-start") От
                          input(class="date input-custom" id="calendar-start")
                        span - 
                        .item__calendar.item__calendar--phone
                          label.label-size(for="calendar-finish") До
                          input(class="date input-custom" id="calendar-finish")
                      select.selectpicker.custom-max.select-size.color-n.custom-center(title="Подвид техники")
                        option Подвид техники 1
                        option Подвид техники 2
                        option Подвид техники 3
                    a(href="#").btn.btn--primary.btn--width Скачать  отчет
                .table-responsive.table-acts
                  table.table.table--option
                    thead
                      tr
                        th Подвид
                        th Марка
                        th Параметр
                        th Владелец
                        th Объект
                        th Тариф
                        th Часы
                        th Аренда
                        th Доставка
                        th Итого
                    tbody
                      - for (var x = 0; x < 4; x++)
                        tr
                          td КОЛЕСНЫЙ ЭКСКАВАТОР
                          td JCB-412
                          td 13 м
                          td Transbuilding
                          td г.Уфа, ул.Ленина, 23
                          td 3 205 ₽/ч.
                          td 42 ч
                          td 134 610 ₽
                          td 5 320 ₽
                          
                          td
                            buttin.tool-btn(class="tooltip-primary" rel='tooltip' data-original-title="<ul><li>Аренда: 12312</li><li>Доставка: 12 321</li><li>Комиссия:23 912</li></ul>")
                              img(src="assets/img/icon/tooltip.png", alt="")
                            span 139 930 ₽
    .menu-bottom
      .menu-bottom__wrap
        nav
          ul.flex-menu
            li
              a(href="#")
                img(src="assets/img/icon/checklist.png", alt="")
                span Заявки
            li
              a(href="#")
                img(src="assets/img/icon/floor-plan.png", alt="")
                span Заказы
            li
              a(href="#")
                img(src="assets/img/icon/message.png", alt="")
                span Сообщения
            li
              a(href="#")
                img(src="assets/img/icon/menu-male.png", alt="")
                span Баланс
            li
              a(href="#")
                img(src="assets/img/icon/notification.png", alt="")
                span Уведомления
            li
              a(href="#")
                img(src="assets/img/icon/user.png", alt="")
                span Профиль
            li
              a(href="#")
                img(src="assets/img/icon/documents.png", alt="")
                span Акты
  include ../common/_footer

