extends ../_template

block variables
  - var title = 'Модерация';

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb
        +breadcrumbs(['Главная'], 'Личный кабинет')
        h1.page-heading Модерация
        .rights Менеджер
        .inner-page
          include ../common/elements/aside-personal
          aside
            nav.menu.menu--personal
              ul
                +aside-personal('aplications.html', 'checklist.png', 'Заявки')
                +aside-personal('aplications.html', 'plan.png', 'Заказы')
                +aside-personal('aplications.html', 'documents.png', 'Техника')
                +aside-personal('aplications.html', 'user.png', 'Пользователи')
                +aside-personal('aplications.html', 'notification.png', 'Контент')
          .inner-content
            .moderation-option
              a(href="#").btn.btn--light Назад
              .btn-group
                button(href="#").btn.btn--light К диалогу
                  span.count.count--pl 12
                button(href="#").btn.btn--light.btn--width Отклонить
                button(href="#").btn.btn--light.btn--primary Одобрить
            .moderation-item
              h3 Сервис
              form.form
                .form__inline
                  .form__item.form__item--width
                    label.dark.label-size(for="contract") № договора
                    input(id="contract")
                  .form__item.form__item--width
                    label.dark.label-size(for="value ") от
                    input(id="value")
                  .form__item.form__item--file
                    .label-size.title-label Шаблон договора
                    .view-file
                      a(href="#").link-file
                        svg(width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M1 11.5L7.5 18M7.5 18V0M7.5 18L13.5 11.5" stroke="#242424")
                        span Docs.doc

            .personal-wrap.personal-wrap--custom
                .form-bg.form-bg--small
                  form.form.form--basis.form--personal
                    .form__title Персональные данные
                    .form__item
                      span.dark Загрузить логотип
                      .block-title__img.file-upload
                        img(class="image" src="assets/img/rectangle1.png")
                        input(class="file-one" type="file")
                    .form__item
                      label(for="name") Имя
                      input(type="text" id="name")
                    .form__item
                      label(for="surname") Фамилия
                      input(type="text" id="surname ")
                    .form__item
                      label(for="phone") Телефон
                      input(type="text" id="phone")
                    .form__item
                      label(for="mail") E-mail
                      input(type="text" id="mail")
                .form-bg.form-bg--small
                  form.form.form.form--basis.form--personal
                    .form__title Данные организации
                    .form__item
                      label(for="organization") Организация
                      input(type="text" id="organization")
                    .form__item
                      label(for="OPF") ОПФ
                      select.selectpicker.width-all
                        option 1
                        option 2
                        option 3
                    .form__item
                      label(for="legal-address") Юридический адрес
                      input(type="text" id="legal-address")
                    .form__item
                      label(for="inn") ИНН
                      input(type="text" id="inn")
                    .form__item
                      input(type="checkbox" id="type-2" class="custom-input")
                      label(for="type-2" class="custom-label custom-label--color") #[span Плательщик НДС]
                .form-bg.form-bg--small
                  form.form.form.form--basis.form--personal
                    .form__title Реквизиты
                    .form__item
                      label(for="bank-details") Банковские реквизиты
                      input(type="text" id="bank-details")
                    .form__item
                      label(for="bank-details-2") Банковские реквизиты
                      input(type="text" id="bank-details-2")
                    .form__item
                      label(for="bank-details-3") Банковские реквизиты
                      input(type="text" id="bank-details-3")
                    .form__item
                      label(for="bank-details-4") Банковские реквизиты
                      input(type="text" id="bank-details-4")