extends ../_template

block variables
  - var title = 'Модерация';

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb
        +breadcrumbs(['Главная'], 'Личный кабинет')
        h1.page-heading Модерация
        .rights Менеджер
        .inner-page
          include ../common/elements/aside-personal
          aside
            nav.menu.menu--personal
              ul
                +aside-personal('aplications.html', 'checklist.png', 'Заявки')
                +aside-personal('aplications.html', 'plan.png', 'Заказы')
                +aside-personal('aplications.html', 'documents.png', 'Техника')
                +aside-personal('aplications.html', 'user.png', 'Пользователи')
                +aside-personal('aplications.html', 'notification.png', 'Контент')
          .inner-content
            .manager-page.manager-page--order
              .ctm-block
                .ctm-block__line
                  h3 Пользователи
                .content.scr-el
                  - for (let i = 0; i < 10; i++)
                    .block-moderation.flex-element.flex-element--option
                      .block-moderation__info.flex-element
                        .block-moderation__group.flex-element
                          .block-moderation__img
                            img(src="assets/img/rectangle1.png", alt="")
                          .block-moderation__text
                            .block-moderation__title Арендодатель
                            span +7 (927) 963 93 22
                      a(href="#").btn.btn--light.btn--min Отрыть подробности
  include ../common/_footer