extends ../_template

block variables
  - var title = 'Модерация';

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb
        +breadcrumbs(['Главная'], 'Личный кабинет')
        h1.page-heading Модерация
        .rights Менеджер
        .inner-page
          include ../common/elements/aside-personal
          aside
            nav.menu.menu--personal
              ul
                +aside-personal('aplications.html', 'checklist.png', 'Заявки')
                +aside-personal('aplications.html', 'plan.png', 'Заказы')
                +aside-personal('aplications.html', 'documents.png', 'Техника')
                +aside-personal('aplications.html', 'user.png', 'Пользователи')
                +aside-personal('aplications.html', 'notification.png', 'Контент')
          .inner-content
            .moderation-option
              a(href="#").btn.btn--light Назад
              .btn-group
                button(href="#").btn.btn--light.btn--width Отклонить
                button(href="#").btn.btn--light.btn--width Одобрить
            .attention-block
              p Внимание! Для данной техники нет шаблона.
              p Внимание! Для данной техники нет тарифа “Без машиниста”
            .inside-techique.techique.techique--view.moderation-page-block
              form.form.form--basis.form--custom
                .techique__head
                  .techique__block
                    .item-wrap
                      label.label-size Адрес базирования техники
                      .item-map Уфа, ул.Рандомная,д.4/7
                    .filter-block.filter-slider-options
                      .filter-block__name Радиус выезда техники
                      .filter-block__group 0
                .techique__body
                  h3.pb Данные вашей техники
                  .techique__block.techique__block--pb.techique__block--start
                    .techique__group.techique__group--line
                      .form__item
                        label.label-size Подвид
                        p 2019
                      .form__item.form__item--width
                        label.label-size Марка
                        p 2019
                      .form__item.form__item--width
                        label.label-size Модель
                        p Name №3
                      .form__item
                        input(class="custom-input" type="checkbox" id="type-2")
                        label(class="custom-label custom-label--color" for="type-2")
                          span Вездеход
                    .techique__group
                      .form__item
                        input(class="custom-input" type="checkbox" id="type-3")
                        label(class="custom-label custom-label--color" for="type-3")
                          span Буду сдавать эту технику без машиниста (холодная аренда)
                    .techique__group.techique__group--min
                      .form__item
                        label.label-size Дополнительное оборудование
                        p Тест
                        p Тест
                  .techique__block.techique__block--pb.techique__block--pb--more
                    .form__input
                      label.label-size Год выпуска:
                      input(type="text")
                    .form__input
                      label.label-size VIN
                      input(type="text")
                    .form__input
                      label.label-size Госномер
                      input(type="text")

                  h3 Свидетельство о регистрации ТС
                  p Для добавления транспорта в парк требуется документ, подтверждающий его пригодность к использованию
                  .input-file-wrap.input-file-wrap--height
                    .add-file-block
                      .add-file-block__icon
                        svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none")
                          path(d="M9.99999 0V20M0 10H20" stroke="black")
                    .wrapper-inside
  include ../common/_footer