extends ../_template

block variables
  - var title = 'Модерация';

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb
        +breadcrumbs(['Главная'], 'Личный кабинет')
        h1.page-heading Модерация
        .rights Менеджер
        .inner-page
          include ../common/elements/aside-personal
          aside
            nav.menu.menu--personal
              ul
                +aside-personal('aplications.html', 'checklist.png', 'Заявки')
                +aside-personal('aplications.html', 'plan.png', 'Заказы')
                +aside-personal('aplications.html', 'documents.png', 'Техника')
                +aside-personal('aplications.html', 'user.png', 'Пользователи')
                +aside-personal('aplications.html', 'notification.png', 'Контент')
          .inner-content
            .moderation-option
              a(href="#").btn.btn--light Назад
              .btn-group
                button(href="#").btn.btn--light.btn--width Отклонить
                button(href="#").btn.btn--light.btn--width Одобрить
            .moderation-inner
              h3 Модерация отзыва
              .feedback-block
                .block-moderation.flex-element.flex-element--option
                  .block-moderation__section.flex-element
                    .block-moderation__group.flex-element
                      .block-moderation__img
                        img(src="assets/img/rectangle1.png", alt="")
                      .block-moderation__text
                        .block-moderation__title Заказчик
                        span +7 (927) 963 93 22
                  span.next
                    svg(width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(d="M1 1L7 7L1 13" stroke="#7F7B77")
                  .block-moderation__section.flex-element
                    .block-moderation__group.flex-element
                      .block-moderation__img
                        img(src="assets/img/rectangle1.png", alt="")
                      .block-moderation__text
                        .block-moderation__title Арендодатель
                        span +7 (927) 963 93 22
                .feedback-block__info
                  span Оценка
                  ul.raiting
                    - for (let r = 0; r < 4; r++)
                    li
                      img(src="assets/img/rating/Star.png", alt="")
                    li
                      img(src="assets/img/rating/Star-1.png", alt="")
                  .feedback-block__text Текст отзыва
  include ../common/_footer