extends ../_template

block variables
  - var title = 'Модерация';

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb
        +breadcrumbs(['Главная'], 'Личный кабинет')
        h1.page-heading Модерация
        .rights Менеджер
        .inner-page
          include ../common/elements/aside-personal
          aside
            nav.menu.menu--personal
              ul
                +aside-personal('aplications.html', 'checklist.png', 'Заявки')
                +aside-personal('aplications.html', 'plan.png', 'Заказы')
                +aside-personal('aplications.html', 'documents.png', 'Техника')
                +aside-personal('aplications.html', 'user.png', 'Пользователи')
                +aside-personal('aplications.html', 'notification.png', 'Контент')
          .inner-content
            .manager-page
              ul.filter-btn
                li
                  a(href="#") #[span Заявки на одобрение техники]
                    span.count 12
                li
                  a(href="#") #[span Проверка документации]
                    span.count 12
                li
                  a(href="#") #[span Споры]
                    span.count 12
                li
                  a(href="#") #[span Редактирование БД техники]
                    span.count 12
                li
                  a(href="#").active #[span Индивидуальный договор]
                    span.count 12
                li
                  a(href="#") #[span Прямые сообщения]
                    span.count 12
              .ctm-block
                .ctm-block__line
                  h3 Отзывы на модерации
                .content.scr-el
                  - for (let i = 0; i < 10; i++)
                    .block-moderation.block-moderation--raiting.flex-element.flex-element--option
                      .block-moderation__info.flex-element
                        .block-moderation__section.flex-element.block-moderation__section--width
                          .block-moderation__group.flex-element
                            .block-moderation__img
                              img(src="assets/img/rectangle1.png", alt="")
                            .block-moderation__text
                              .block-moderation__title Заказчик
                              span +7 (927) 963 93 22
                        span.next
                          svg(width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M1 1L7 7L1 13" stroke="#7F7B77")
                        .block-moderation__section.flex-element.block-moderation__section--raiting
                          .block-moderation__group.flex-element
                            .block-moderation__img
                              img(src="assets/img/rectangle1.png", alt="")
                            .block-moderation__text
                              .block-moderation__title Заказчик
                              span +7 (927) 963 93 22
                          ul.raiting
                            - for (let r = 0; r < 4; r++)
                              li
                                img(src="assets/img/rating/Star.png", alt="")
                            li
                              img(src="assets/img/rating/Star-1.png", alt="")
                      a(href="#").btn.btn--light.btn--min Отрыть подробности