extends ../_template

block variables
  - var title = 'Модерация';

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb
        +breadcrumbs(['Главная'], 'Личный кабинет')
        h1.page-heading Модерация
        .rights Менеджер
        .inner-page
          include ../common/elements/aside-personal
          aside
            nav.menu.menu--personal
              ul
                +aside-personal('aplications.html', 'checklist.png', 'Заявки')
                +aside-personal('aplications.html', 'plan.png', 'Заказы')
                +aside-personal('aplications.html', 'documents.png', 'Техника')
                +aside-personal('aplications.html', 'user.png', 'Пользователи')
                +aside-personal('aplications.html', 'notification.png', 'Контент')
          .inner-content
            .manager-page.manager-page--order
              ul.filter-btn
                li
                  a(href="#") #[span Заявки на одобрение техники]
                    span.count 12
                li
                  a(href="#") #[span Проверка документации]
                    span.count 12
                li
                  a(href="#") #[span Споры]
                    span.count 12
                li
                  a(href="#") #[span Редактирование БД техники]
                    span.count 12
                li
                  a(href="#").active #[span Индивидуальный договор]
                    span.count 12
                li
                  a(href="#") #[span Прямые сообщения]
                    span.count 12
              .ctm-block
                .ctm-block__line
                  h3 Техника
                  .search-b
                    input(placeholder="Поиск")
                    button
                      svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(opacity="0.3" d="M12.5 7C12.5 10.0376 10.0376 12.5 7 12.5V13.5C10.5899 13.5 13.5 10.5899 13.5 7H12.5ZM7 12.5C3.96243 12.5 1.5 10.0376 1.5 7H0.5C0.5 10.5899 3.41015 13.5 7 13.5V12.5ZM1.5 7C1.5 3.96243 3.96243 1.5 7 1.5V0.5C3.41015 0.5 0.5 3.41015 0.5 7H1.5ZM7 1.5C10.0376 1.5 12.5 3.96243 12.5 7H13.5C13.5 3.41015 10.5899 0.5 7 0.5V1.5ZM11.6464 12.3536L16.6464 17.3536L17.3536 16.6464L12.3536 11.6464L11.6464 12.3536Z" fill="#AEA69D")

                .content.scr-el
                  .block-moderation.block-moderation--row.flex-element.flex-element--option
                    .block-moderation__info.flex-element
                      .block-moderation__section.block-moderation__section--width.flex-element
                        .block-moderation__group.flex-element
                          .block-moderation__img
                            img(src="assets/img/rectangle1.png", alt="")
                          .block-moderation__text
                            .block-moderation__title JCB – 243
                            span.dark А224ОС
                        .status.ml #[span Статус:] #[span ожидает подтверждения]
                      .block-moderation__section.flex-element
                        .block-moderation__group.flex-element.block-moderation__group--width
                          .block-moderation__img
                            img(src="assets/img/rectangle1.png", alt="")
                          .block-moderation__text
                            .block-moderation__title ИП Галишин Азат Рифгатович
                            span +7 (927) 963 93 22
                    a(href="#").btn.btn--light.btn--min
                      svg(aria-hidden="true" width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M1 1L7 7L1 13" stroke="#7F7B77")
                      span Отрыть подробности



  include ../common/_footer