extends ../_template

block variables
  - var title = 'Модерация';

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb
        +breadcrumbs(['Главная'], 'Личный кабинет')
        h1.page-heading Модерация
        .rights Менеджер
        .inner-page
          include ../common/elements/aside-personal
          aside
            nav.menu.menu--personal
              ul
                +aside-personal('aplications.html', 'checklist.png', 'Заявки')
                +aside-personal('aplications.html', 'plan.png', 'Заказы')
                +aside-personal('aplications.html', 'documents.png', 'Техника')
                +aside-personal('aplications.html', 'user.png', 'Пользователи')
                +aside-personal('aplications.html', 'notification.png', 'Контент')
          .inner-content
            .moderation-option
              a(href="#").btn.btn--light Назад
              .btn-group
                button(href="#").btn.btn--light К диалогу
                  span.count.count--pl 12
                button(href="#").btn.btn--primary Вопрос решен
            .moderation-inner
              h3 Запрос на редактирование / добавление техники
              .moderataion-block-viewing
                .moderataion-block-viewing__line.flex-element
                  .viewing-block
                    .viewing-block__name Марка
                    .viewing-block__mean
                  .viewing-block
                    .viewing-block__name Модель
                    .viewing-block__mean
                .viewing-block.viewing-block--large
                    .viewing-block__name Несоответствие
                    .viewing-block__mean Нет марки либо модели моей техники
                .moderataion-block-viewing__img.flex-element
                  .item-img
                    img(src="assets/img/result.png", alt="" class="responsiv-img")
                    button.delete
                      svg(aria-label="Удалить" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M0.808594 0.921875L7.94496 8.05824M15.0813 15.1946L7.94496 8.05824M7.94496 8.05824L15.0813 0.921875L0.808594 15.1946" stroke="white")
                .moderataion-block-viewing__text
                  div
                    p Если техника добавлена на платформу по запросу Арендодателя:
                    span Мы обработали ваш запрос и рады сообщить, что мы внесли в базу Спецшеринг модель и марку вашей техники. Теперь вы можете добавить вашу технику в личном кабинете ссылка на страницу добавления техники Если техника отредактирована на платформе по запросу Арендодателя: Мы обработали ваш запрос и рады сообщить, что мы исправили несоответствие в наименованиях модели и марки техники. Теперь вы можете добавить вашу технику в личном кабинете ссылка на страницу добавления техники
                  div
                    p Если техника отредактирована на платформе по запросу Арендодателя:
                    span Мы обработали ваш запрос и рады сообщить, что мы исправили несоответствие в наименованиях модели и марки техники. Теперь вы можете добавить вашу технику в личном кабинете ссылка на страницу добавления техники