extends ../_template

block variables
  - var title = 'Уведомления';
  - var selected = 'Уведомления'

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb
        +breadcrumbs(['Главная'], 'Личный кабинет')
        h1.page-heading Уведомления
        .inner-page
          include ../common/elements/aside-personal
          aside
            nav.menu.menu--personal
              ul
                +aside-personal('aplications.html', 'checklist.png', 'Мои заявки')
                +aside-personal('#', 'floor-plan.png', 'Мои заказы')
                +aside-personal('message.html', 'message.png', 'Сообщения')
                +aside-personal('acts.html', 'documents.png', 'Акты и отчеты')
                +aside-personal('#', 'notification.png', 'Уведомления')
                +aside-personal('#', 'personal-data.png', 'Личные данные')
                +aside-personal('balance.html', 'menu-male.png', 'Баланс и платежи')
          .inner-content
            .form-bg.wrapp-personal.natifications-wrap
              form.form
                table.table.notification-table
                  thead
                    tr
                      th.name Типы уведомлений
                      th.type SMS
                      th.type SMS 2
                  tbody
                    tr
                      td Тип 1
                      td
                        .item
                          input(type="checkbox" name="type" id="check-1" class="custom-input")
                          label(for="check-1" class="custom-label label-size") #[span Тип 1]
                      td
                        .item
                          input(type="checkbox" name="type" id="check-2")
                          label(for="check-2" class="custom-label label-size") #[span Тип 1]
                    tr
                      td Тип 2
                      td
                        .item
                          input(type="checkbox" name="type" id="check-3")
                          label(for="check-3" class="custom-label label-size") #[span Тип 1]
                      td
                        .item
                          input(type="checkbox" name="type" id="check-4")
                          label(for="check-4" class="custom-label label-size") #[span Тип 1]
            

                //- h3 Типы уведомлений
                //- 	.form__line.natification
                //- 		.natification__name Уведомление
                //- 		.natification__group
                //- 			.item
                //- .form__inline
                //- 	.form__group
                //- 		h3 Типы уведомлений
                //- 		fieldset
                //- 			.group-wrap
                //- 				.group
                //- 					legend Напоминания
                //- 					.form-check
                //- 						.dotted
                            //- input(type="radio" name="type" id="radio-1")
                            //- label(for="radio-1" class="radio-label") Тип 1
                //- 					.form-check
                //- 						.dotted
                //- 						input(type="radio" name="type" id="radio-2")
                //- 						label(for="radio-2" class="radio-label") Тип 2
                //- 					.form-check
                //- 						.dotted
                //- 						input(type="radio" name="type" id="radio-3")
                //- 						label(for="radio-3" class="radio-label") Тип 3
                //- 				.group
                //- 						legend Статус
                //- 						.form-check
                //- 							.dotted
                //- 							input(type="radio" name="status" id="status-1")
                //- 							label(for="status-1" class="radio-label") Тип 1
                //- 						.form-check
                //- 							.dotted
                //- 							input(type="radio" name="status" id="status-2")
                //- 							label(for="status-2" class="radio-label") Тип 2
                //- 				.group
                //- 					legend Отчеты
                //- 					.form-check.form-check-none
                //- 						input(type="radio" name="peport" id="peport")
                //- 						label(for="peport" class="radio-label")
                //- 	.form__group
                //- 		h3 Способы уведомления
                //- 		.item
                //- 			.item__group
                //- 				input(type="checkbox" id="mail" class="custom-input")
                //- 				label(for="mail" class="custom-label") E-mail
                //- 			input(type="text")
                //- 		.item
                //- 			.item__group
                //- 				input(type="checkbox" id="sms")
                //- 				label(for="sms" class="custom-label" ) СМС
                //- 			input(type="text")

                button.btn.btn--primary Сохранить





  include ../common/_footer