extends ../_template

block variables
  - var title = 'Уведомления';
  - var selected = 'Уведомления'

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb
        +breadcrumbs(['Главная'], 'Личный кабинет')
        h1.page-heading Уведомления
        .inner-page
          include ../common/elements/aside-personal
          aside
            nav.menu.menu--personal
              ul
                +aside-personal('aplications.html', 'checklist.png', 'Мои заявки')
                +aside-personal('#', 'floor-plan.png', 'Мои заказы')
                +aside-personal('message.html', 'message.png', 'Сообщения')
                +aside-personal('acts.html', 'documents.png', 'Акты и отчеты')
                +aside-personal('#', 'notification.png', 'Уведомления')
                +aside-personal('#', 'personal-data.png', 'Личные данные')
                +aside-personal('balance.html', 'menu-male.png', 'Баланс и платежи')
          .inner-content
            .template-notify-page
              .template-notify
                - for (let i = 0; i < 3; i++)
                  .template-notify__item
                    form.form.flex-element.template-notify-form
                      label(for="test" class="label-size") Название
                      textarea(id="test")
                      .template-notify-form__foot
                        ul.flex-element
                          li Хей
                          li Хей
                          li Хей
                          li Хей
                      .template-notify-form__button
                        button.btn.btn--primary.btn--width Сохранить







  include ../common/_footer