extends ../_template

block variables
	- var title = 'Уведомления';
	- var selected = 'Уведомления'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная'], 'Личный кабинет')
				h1.page-heading Уведомления
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Мои заявки')
								+aside-personal('#', 'floor-plan.png', 'Мои заказы')
								+aside-personal('message.html', 'message.png', 'Сообщения')
								+aside-personal('acts.html', 'documents.png', 'Акты и отчеты')
								+aside-personal('#', 'notification.png', 'Уведомления')
								+aside-personal('#', 'personal-data.png', 'Личные данные')
								+aside-personal('balance.html', 'menu-male.png', 'Баланс и платежи')
					.inner-content
						.page-block
							.page-block__header
								h3 Уведомления
								a(href="#").setting-link(aria-label="Настройки")
									svg(aria-hidden="true" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="100%" viewBox="0 0 54 54")
										g
											path(d="M27,13c-7.72,0-14,6.28-14,14s6.28,14,14,14s14-6.28,14-14S34.72,13,27,13z M27,39c-6.617,0-12-5.383-12-12s5.383-12,12-12   s12,5.383,12,12S33.617,39,27,39z")
											path(d="M51.22,21h-2.018c-0.515-1.912-1.272-3.742-2.26-5.457l1.426-1.426c0.525-0.525,0.814-1.224,0.814-1.966   c0-0.743-0.289-1.441-0.814-1.967l-4.553-4.553c-1.05-1.049-2.881-1.051-3.933,0l-1.426,1.426C36.74,6.07,34.911,5.313,33,4.798   V2.78C33,1.247,31.753,0,30.22,0H23.78C22.247,0,21,1.247,21,2.78v2.018c-1.911,0.515-3.74,1.272-5.457,2.26l-1.426-1.426   c-1.051-1.052-2.883-1.05-3.933,0l-4.553,4.553c-0.525,0.525-0.814,1.224-0.814,1.967c0,0.742,0.289,1.44,0.814,1.966l1.426,1.426   C6.07,17.258,5.312,19.088,4.798,21H2.78C1.247,21,0,22.247,0,23.78v6.439C0,31.753,1.247,33,2.78,33h2.018   c0.515,1.911,1.272,3.74,2.26,5.457l-1.426,1.426c-0.525,0.525-0.814,1.224-0.814,1.966c0,0.743,0.289,1.441,0.814,1.967   l4.553,4.553c1.05,1.051,2.882,1.052,3.933,0l1.426-1.426c1.717,0.987,3.546,1.745,5.457,2.26v2.018c0,1.533,1.247,2.78,2.78,2.78   h6.439c1.533,0,2.78-1.247,2.78-2.78v-2.018c1.911-0.515,3.74-1.272,5.457-2.26l1.426,1.426c1.052,1.052,2.882,1.05,3.933,0   l4.553-4.553c0.525-0.525,0.814-1.224,0.814-1.967c0-0.742-0.289-1.44-0.814-1.966l-1.426-1.426   c0.987-1.717,1.745-3.546,2.26-5.457h2.018c1.533,0,2.78-1.247,2.78-2.78V23.78C54,22.247,52.753,21,51.22,21z M52,30.22   C52,30.65,51.65,31,51.22,31h-3.592l-0.18,0.773c-0.521,2.237-1.399,4.36-2.613,6.311l-0.42,0.674l2.539,2.539   c0.305,0.305,0.305,0.8,0,1.104l-4.553,4.553c-0.304,0.304-0.799,0.306-1.104,0l-2.539-2.539l-0.674,0.42   c-1.95,1.214-4.073,2.093-6.311,2.613L31,47.628v3.592C31,51.65,30.65,52,30.22,52H23.78C23.35,52,23,51.65,23,51.22v-3.592   l-0.773-0.18c-2.237-0.521-4.36-1.399-6.311-2.613l-0.674-0.42l-2.539,2.539c-0.306,0.306-0.801,0.304-1.104,0l-4.553-4.553   c-0.305-0.305-0.305-0.8,0-1.104l2.539-2.539l-0.42-0.674c-1.214-1.95-2.093-4.073-2.613-6.311L6.372,31H2.78   C2.35,31,2,30.65,2,30.22V23.78C2,23.35,2.35,23,2.78,23h3.592l0.18-0.773c0.521-2.238,1.399-4.361,2.613-6.311l0.42-0.674   l-2.539-2.539c-0.305-0.305-0.305-0.8,0-1.104l4.553-4.553c0.304-0.304,0.799-0.306,1.104,0l2.539,2.539l0.674-0.42   c1.95-1.214,4.073-2.093,6.311-2.613L23,6.372V2.78C23,2.35,23.35,2,23.78,2h6.439C30.65,2,31,2.35,31,2.78v3.592l0.773,0.18   c2.237,0.521,4.36,1.399,6.311,2.613l0.674,0.42l2.539-2.539c0.306-0.306,0.801-0.304,1.104,0l4.553,4.553   c0.305,0.305,0.305,0.8,0,1.104l-2.539,2.539l0.42,0.674c1.214,1.949,2.093,4.072,2.613,6.311L47.628,23h3.592   C51.65,23,52,23.35,52,23.78V30.22z")
											path(d="M27,17c-5.514,0-10,4.486-10,10s4.486,10,10,10s10-4.486,10-10S32.514,17,27,17z M27,35c-4.411,0-8-3.589-8-8s3.589-8,8-8   s8,3.589,8,8S31.411,35,27,35z")
			
							.feed-row
								a(href="#").feed.flex-element
									img(src="assets/img/notifications/credit-card.png")
									.feed__content Сообщество Академия Яндекса опубликовало новую запись Четыре доклада для начинающего маркетолога
								a(href="#").feed.flex-element
									img(src="assets/img/notifications/notification.png")
									.feed__content Сообщество Академия Яндекса опубликовало новую запись Четыре доклада для начинающего маркетолога
								a(href="#").feed.flex-element
									img(src="assets/img/notifications/credit-card.png")
									.feed__content Сообщество Академия Яндекса опубликовало новую запись Четыре доклада для начинающего маркетолога
								a(href="#").feed.flex-element
									img(src="assets/img/notifications/credit-card.png")
									.feed__content Сообщество Академия Яндекса опубликовало новую запись Четыре доклада для начинающего маркетолога
						

	



	include ../common/_footer