extends ../_template

block variables
	- var title = 'Мои заявки';
	- var selected = 'Мои заявки'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная', 'Категория'], 'Вид')
				h1.page-heading Мои заявки
				.switch
					span Заказчик
						input(type="checkbox" id="switch").switch__input
						label(for="switch").switch__label
					span Арендодатель
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Мои заявки')
								+aside-personal('#', 'floor-plan.png', 'Мои заказы')
								+aside-personal('message.html', 'message.png', 'Сообщения')
								+aside-personal('acts.html', 'documents.png', 'Акты и отчеты')
								+aside-personal('#', 'notification.png', 'Уведомления')
								+aside-personal('#', 'personal-data.png', 'Личные данные')
								+aside-personal('balance.html', 'menu-male.png', 'Баланс и платежи')
					.inner-content
						.order-detail
							.order-detail__head
								a(href="#").back
									span 
										svg(width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M5 1L1 5.17391L5 9" stroke="#FC7327")
									| К списку заказов 
								.order-detail__group
									a(href="#").btn.btn--light Перейти к диалогу
									a(href="#").btn.btn--primary Перейти к подтверждению
							.box-item.flex-element
								.box-item__group.box-item__group--flex
									.box-item__img
										img(src="assets/img/123.png")
									.box-item__info
										.box-item__name Автокран 15 тн. #[span КАМАЗ 6520]
										.box-item__number
											b Номер: 
											span C322KA
										span.accent.size Дополнительное оборудование
										.box-date
											.box-date__item
												span 18.02.19 
												| (
												span.time 14:50 
												| ) 
											| -   
											.box-date__item
												span   19.02.19 
												| (
												span.time 11:00
												| )
								.box-item__group.box-item__group--right
									.box-rate
										.box-rate-wrapper(style="width: 78%")
										.box-rate-on
											button(class="btn-tool" data-placement="top" data-original-title="Какой то текс")
												img(src="assets/img/icon/tooltip.png", alt="")
											span 78%
									.box-item__option
										.item
											input(type="checkbox" id="pickup" class="custom-input")
											label(for="pickup" class="custom-label custom-label--color label-size") #[span Самовывоз]
										.item
											input(type="checkbox" id="no-operator" class="custom-input")
											label(for="no-operator" class="custom-label custom-label--color label-size") #[span Без оператора]
							.wrap-obj
								.aplication-details.aplication-details--custom
									.aplication-details__block
										.aplication-details__line
											h3 Детали завки
											span Заказ №123417
										.aplication-details__list
											.aplication-details__obj-item.aplication-details__obj
												h4 Исполнитель и объект
												span.size.dark Transbuilder
												ul
													li
														.map
															img(src='assets/img/map.png')
														span г.Уфа, ул Советская, 73
													li
														span Расстояние до объекта: 25 км
													li Рабочих дней в неделе: 6
													li Продолжительность смены: 8ч
												.order-date.order-date--bottom
													span.size.dark Дата заказа: 12.01.19
											.aplication-details__obj-item
												ul.block
													li Тариф р/час 
														span 9 300 ₽
													li Срок аренды 
														span 5 дней / 8 часов
													li Стоимость  дороги 
														span 1 479 ₽
													li Доставка 
														span 1 479 ₽
													li.block-result Итог 
														span 1 479 ₽
													li Комиссия сервиса 
														span 3 479 ₽


													h4.flex
														| Мой доход
														span.accent 17 290 ₽
								.aplication-details.aplication-details--custom
									h3 Фактические данные
									ul.block
										li Срок аренды #[span 5 дней / 8 часов]
										li Тариф р/час #[span 9 300 ₽]
										h4.flex Итого
											span.accent 17 290 ₽
									.text.dark Факт аренды за весь период рассчитан исходя из введённых исполнителем данных, а также оплаченных вами счетов
							.notes-block
								.notes-block__item
									textarea.notes-block__body Примечание
								.notes-block__item
									textarea.notes-block__body Примечание
								.notes-block__item
									textarea.notes-block__body Примечание
								.notes-block__item
									textarea.notes-block__body Примечание
							.order-detail__block.order-detail__block--line
								.order-detail__block__group
									h3.title Календарь аренды
									.calendar-rent
										ul.nav.nav-tabs.nav-tabs--small(role="tablist")
											li(class="nav-item")
												a(class="nav-link active" data-toggle="tab" href="#current") Неделя
											li(class="nav-item")
												a(class="nav-link" data-toggle="tab" href="#expired") Месяц
										.tab-content
											.tab-pane#current.fade.active.show
												.widget-day
													form
														table.table
															thead
																tr
																	th ПН
																		span
																			.day 12
																			.month янв
																	th ВТ
																		span
																			.day 12
																			.month янв
																	th.active СР
																		span
																			.day 12
																			.month янв
																	th ЧТ
																		span
																			.day 12 
																			.month янв
																	th ПТ
																		span
																			.day 12 
																			.month янв
																	th СБ
																		span
																			.day 12 
																			.month янв
																	th Часов
																	th Тариф
																	th Итог
															tbody
																tr
																	td
																		input(type="number" name="monday" step="0.5" min="0")
																	td
																		input(type="number" name="monday" step="0.5" min="0")
																	td.active
																		input(type="number" name="monday" step="0.5" min="0")
																	td
																		input(type="number" name="monday" step="0.5" min="0")
																	td
																		input(type="number" name="monday" step="0.5" min="0")
																	td
																		input(type="number" name="monday" step="0.5" min="0")
																	td.total 15,5
																	td.total 1 240₽/ч
																	td.total 12 328 ₽
														.btn-group
															button.btn-send.btn.btn--light Одобрить за заказчика
															button.btn-send.btn.btn--primary Ввести данные за исполнителя
												
											.tab-pane#expired.fade
												.widget-month
													form
														.widget-month-group
															button.button-action.prev
																svg(width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg")
																	path(d="M7 1L1 7L7 13" stroke="#7F7B77")
															.month-title Апрель
															button.button-action.next
																svg(width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg")
																	path(d="M1 1L7 7L1 13" stroke="#7F7B77")
														table.table
															thead
																tr
																	th
																	th
																	th
																	th
																	th
																	th
																	th
																	th Часов
																	th Тариф
																	th Итог
															tbody
																tr
																	td.status
																		.badge.badge-success
																			span Одобрен
																	td
																		span.dark 12 янв
																		| 7.5 ч
																	td
																		span.dark 12 янв
																		| 3,5 ч
																	td
																		span.dark 12 янв
																		| 3,5 ч
																	td
																		span.dark 12 янв
																		| -
																	td
																		span.dark 12 янв
																		| 3,5 ч
																	td
																		span.dark 12 янв
																		| 3,5 ч
																	td.total 15,5
																	td.total 1 240₽/ч
																	td.total 12 328 ₽
																tr
																	td.status
																		.badge.badge-info
																			span В споре
																		.item.item--check
																			input(type="checkbox" id="test1" class="custom-input")
																			label(for="test1" class="custom-label")


																	td
																		input(type="number" name="monday" step="0.5" min="0")
																	td
																		input(type="number" name="monday" step="0.5" min="0")
																	td
																		input(type="number" name="monday" step="0.5" min="0")
																	td
																		input(type="number" name="monday" step="0.5" min="0")
																	td
																		input(type="number" name="monday" step="0.5" min="0")
																	td
																		input(type="number" name="monday" step="0.5" min="0")
																	td.total 15,5
																	td.total 1 240₽/ч
																	td.total 12 328 ₽
													.btn-group
															button.btn-s.btn.btn--primary Отправить
							.order-detail__block
								.infm-block.flex-element.flex-element--option
									p Загрузите документы, подтверждающие факт аренды и заказчик увидит их при согласовании введённого вами времени
									button.btn.btn--primary.btn--width Загрузить
								.table-document.table-document--pt
									- for (var i = 0; i < 5; i++)
										.table-document__item
											.table-document__name Название документа.pdf
											.tablet-document__group
												.table-document__user [Менеджер]
												.table-document__date 01.03.19
												a(href="#" aria-label="Скачать").table-document__link
													svg(width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg")
														path(d="M5 0V15M5 15L1 11M5 15L9 11" stroke="#FC7327")
													span Скачать
												button.del(aria-label="Удалить")
													svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
														path(d="M1 1L10 10M19 19L10 10M10 10L19 1L1 19" stroke="#AEA69D" stroke-opacity="0.3")
							.view-block-wrap.view-block-wrap--pt
								.view-block-element
									h3.title Заказчик
									.view-block
										.view-block__img
											img(src="assets/img/rectangle1.png")
										.view-block__group
											.view-block__name Наименование
											.raiting-block
												ul.raiting
													li
														img(src='assets/img/rating/Star.png', alt='')
													li
														img(src='assets/img/rating/Star.png', alt='')
													li
														img(src='assets/img/rating/Star.png', alt='')
													li
														img(src='assets/img/rating/Star-2.png', alt='')
													li
														img(src='assets/img/rating/Star-1.png', alt='')
												.all-rating 3.9
											.city.dark г.Набережные Челны
								.view-block-element
									h3.title Исполнитель
									.view-block
										.view-block__img
											img(src="assets/img/rectangle1.png")
										.view-block__group
											.view-block__name Наименование
											.raiting-block
												ul.raiting
													li
														img(src='assets/img/rating/Star.png', alt='')
													li
														img(src='assets/img/rating/Star.png', alt='')
													li
														img(src='assets/img/rating/Star.png', alt='')
													li
														img(src='assets/img/rating/Star-2.png', alt='')
													li
														img(src='assets/img/rating/Star-1.png', alt='')
												.all-rating 3.9
											.city.dark г.Набережные Челны

							.order-detail__block.order-detail__block--line
								.order-detail__block__group
									h3.title Диалоговая область
									p Описание раздела, правила пользования и поряд действий
								button(href="#" type="button" data-toggle="modal" data-target="#order-modal").btn.btn--light Обратиться в сервис
								.chat-block
									.chat-block__left
										.chat-block__head Уведомлений по этой технике:
											span.count 2
										.chat-block__body
											.chat-block__message
												.chat.sent
													.chat__item
														.photo
															img(src="assets/img/photo.png" alt="Имя пользователя")
														.chat-content
															.chat-text Сэмпл более длинного  текста. Сэмпл более длинного текста. Сэмпл более длинного текста. Сэмпл более длинного текста. Сэмпл более длинного текста.
																|
																span.dark 10:28 | 25.07.2019
												.chat.replies
													.chat__item
														.photo
															img(src="assets/img/photo.png" alt="Имя пользователя")
														.chat-content
															.chat-text ааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааа
																span.dark 10:28 | 25.07.2019
													.chat__item
														.photo
															img(src="assets/img/photo.png" alt="Имя пользователя")
														.chat-content
															.chat-text Как дела ?
												.chat.sent
													.chat__item
														.photo
															img(src="assets/img/photo.png" alt="Имя пользователя")
														.chat-content
															.chat-media
																a(href="assets/img/example.png" target="_blank")
																	img(src="assets/img/example.png" alt="")
											.chat-view
										form
											.message-input
												.media-block-wrap
													.media-block
														label
															svg(width="20" height="20" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg")
																path(d="M4.07044 12.3845L14.2216 1.61507C16.0014 1.61507 16.885 3.70742 14.7493 5.92285C12.6135 8.13828 6.74014 14.2307 4.07044 17C1.994 16.4872 0.396857 14.0632 1.22121 11.9093C2.21188 9.32087 10.37 1.72729 11.0737 1" stroke="#242424")
															input(type="file" multiple="multiple" accept="image/*, .doc, .docx, .pdf" class="select-choose")
												.message-text(tabindex="0" role="textbox" aria-multiline="true"  contenteditable="true" aria-placeholder="Введите сообщение")
							
												button(aria-label="Отправить")
													svg(xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 448.011 448.011" xml:space="preserve")
														g
															path(fill="#FC7327" d="M438.731,209.463l-416-192c-6.624-3.008-14.528-1.216-19.136,4.48c-4.64,5.696-4.8,13.792-0.384,19.648l136.8,182.4l-136.8,182.4c-4.416,5.856-4.256,13.984,0.352,19.648c3.104,3.872,7.744,5.952,12.448,5.952c2.272,0,4.544-0.48,6.688-1.472l416-192c5.696-2.624,9.312-8.288,9.312-14.528S444.395,212.087,438.731,209.463z")
		.modal.fade#inconsistency (tabindex="-1" role="dialog")
			.modal-dialog.modal-dialog-centered.modal-inconsistency(role="document")
				.modal-content
					h3 Выберите причину обращения
					form.form
						.item
							select.selectpicker.width-all.bright
								option 1
								option 2
								option 3
						.item
							textarea(class="item-size" placeholder="Опишите причину")
						.input-file-wrap.input-file-wrap--height
							.input-files
								label.input-trigger
									span Выбрать файл для загрузки
								input(class="input-file input-file-tr" type="file")
						button.btn.btn--primary.btn--w Отправить
		.modal.fade#order-modal (tabindex="-1" role="dialog")
			.modal-dialog.modal-dialog-centered.modal-order(role="document")
				.modal-content
					h3 Параметры закрытия заказа
					p Выберите закрывающую сторону, с которой будет инициировано закрытие заказа.
					form.form
						.form__inline
							.item
								input(id="test4" name="test" type="radio")
								label(for="test4" class="form-check") Заказчик
							.item
								input(id="test2" name="test" type="radio")
								label(for="test2" class="form-check") Заказчик
						.btn-group
							button.btn.btn--primary Закрыть
							button.btn.btn--light(data-dismiss="modal") Отмена

	include ../common/_footer
