extends ../_template

block variables
  - var title = 'Мои заявки';
  - var selected = 'Мои заявки'

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb
        +breadcrumbs(['Главная', 'Категория'], 'Вид')
        h1.page-heading Мои заявки
        .switch
          span Заказчик
            input(type="checkbox" id="switch").switch__input
            label(for="switch").switch__label
          span Арендодатель
        .inner-page
          include ../common/elements/aside-personal
          aside
            nav.menu.menu--personal
              ul
                +aside-personal('aplications.html', 'checklist.png', 'Мои заявки')
                +aside-personal('#', 'floor-plan.png', 'Мои заказы')
                +aside-personal('message.html', 'message.png', 'Сообщения')
                +aside-personal('acts.html', 'documents.png', 'Акты и отчеты')
                +aside-personal('#', 'notification.png', 'Уведомления')
                +aside-personal('#', 'personal-data.png', 'Личные данные')
                +aside-personal('balance.html', 'menu-male.png', 'Баланс и платежи')
          .inner-content
            .page-order
              ul.filter-primary
                  li
                    a(href="#").active В работе
                  li
                    a(href="#") На подтверждении
                    span.count 8
                  li
                    a(href="#") В споре
                      span.count 8
                  li
                    a(href="#") Будущие
                  li
                    a(href="#") Завершенные

              .object-wrapp
                button(data-toggle="modal" data-target="#" class="btn-object") Создать объект
                .object.object--slider
                  .object__box.active
                      h4 Все объекты
                      .object__date
                        span 17.12.19. 
                        | -
                        span 4.05.20
                      .object__all Всего техники: 
                        span 66
                  - for(i = 0; i < 2; i++)
                    .object__box
                      h4 Все объекты
                      .object__date
                        span 17.12.19. 
                        | -
                        span 4.05.20
                      .object__all Всего техники: 
                        span 66
                .order-block
                  .order-block__line.flex-element
                    h3 Техники на данном объекте: 
                      span.accent 22
                    .order-block__group
                      select.selectpicker.color-n.select-size.custom-center(title="Подвид техники")
                        option 1
                        option 2
                        option 3 
                      button.btn-view Показать в календаре
                  .controls
                    .controls-b
                      button.filter-button(aria-label='Сортировать')
                        svg(xmlns="http://www.w3.org/2000/svg" width="15" height="13" viewBox="0 0 15 13" fill="none")
                          path(d="M0 1.5H7.5M15 1.5H7.5M7.5 1.5V0V3" stroke="black")
                          path(d="M0 11.5H3.44595M15 11.5H3.44595M3.44595 11.5V10M3.44595 11.5V13" stroke="black")
                          path(d="M15 6.5H11.5541M1.19209e-07 6.5H11.5541M11.5541 6.5V5M11.5541 6.5V8" stroke="black")
                        span Сортировать по:
                      span Сортировать по:
                      ul
                        li
                          a(href="#").active Время до начала
                        li
                          a(href="#") Стоимость
                  - for (let i = 0; i < 6; i++)
                    .box-item.flex-element
                      .box-item__wrap
                        .box-item__group.box-item__group--flex
                          .box-item__img
                            img(src="assets/img/123.png" alt="")
                          .box-item__info
                            .box-info-date Дата заказа: #[span 12.01.19]
                            .box-item__name Автокран 15 тн. #[span КАМАЗ 6520]
                            .box-date
                              .box-date__item
                                span 18.02.19 
                                | (
                                span.time 14:50 
                                | ) 
                              | -   
                              .box-date__item
                                span   19.02.19 
                                | (
                                span.time 11:00
                                | )
                            .box-dh
                              span 8 дней 
                              span.line /
                              span  48 часов
                        .box-item__group
                          p Фактическая стоимость: 
                            span.accent 12 382 ₽
                          p.dark Оценочная стоимость: #[span 14 224 ₽]
                      .box-item__group.box-item__group--right
                        .box-rate
                          .box-rate-wrapper(style="width: 78%")
                          .box-rate-on
                            button(class="btn-tool" data-placement="top" data-original-title="Какой то текс")
                              img(src="assets/img/icon/tooltip.png", alt="")
                            span 78%
                        a(href="applications-inside.html").btn.btn--light Открыть подробности
            
  include ../common/_footer