extends ../_template

block variables
  - var title = 'Найти заказчика';

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb 
        +breadcrumbs(['Главная', 'Категория', 'Подкатегория'], 'Товар')
        h1.title Найти заказчика
        .inner-page.inner-page--block
          .application-catalog
            .application-catalog__head
              a(href="#").back
                span 
                  svg(width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M5 1L1 5.17391L5 9" stroke="#FC7327")
                | К списку заказов
              .application-catalog__line
                h3.title.pl Заявка #123417
                h3.title г.Уфа
                .sub CustomerName
              .item-w
                label(for="subspecies-technology").label-size Подвид техники
                select.selectpicker#subspecies-technology.btn-height-min.custom-max.select-size
                  option 1
                  option 2
                  option 3
              .controls
                .controls-b
                  button.filter-button(aria-label='Сортировать')
                    svg(xmlns="http://www.w3.org/2000/svg" width="15" height="13" viewBox="0 0 15 13" fill="none")
                      path(d="M0 1.5H7.5M15 1.5H7.5M7.5 1.5V0V3" stroke="black")
                      path(d="M0 11.5H3.44595M15 11.5H3.44595M3.44595 11.5V10M3.44595 11.5V13" stroke="black")
                      path(d="M15 6.5H11.5541M1.19209e-07 6.5H11.5541M11.5541 6.5V5M11.5541 6.5V8" stroke="black")
                    span Сортировать по:
                  span Сортировать по:
                  ul
                    li
                      a(href="#").active Начало аренды
                    li
                      a(href="#") Оставшееся время
                    li
                      a(href="#") Сумма
            .content
              - for (let i = 0; i < 5; i++)
                .o-block
                  .o-block__line
                    .o-block__img
                      img(src="assets/img/2.png", alt="")
                    .o-block__group
                      .o-block__date Дата заявки: 12.01.19
                      .o-block__group-wrap
                        .o-block__name Погрузчик 1-5 т
                        .o-block__count 3 шт
                      .o-block__city г.Уфа
                      .box-block
                        .box-date
                          .box-date__item
                            span 18.02.19 
                            | (
                            span.time 14:50 
                            | )   
                          | -   
                          .box-date__item
                            span     19.02.19 
                            | (
                            span.time 11:00
                            | )
                        .box-dh
                          span 8 дней 
                          span.line /
                          span  48 часов
                      .o-block__text
                        .o-block__text-left Время до окончания подачи предложений: 
                        span.accent 00:14:52
                      .o-item-wrapp.o-item-wrapp--phone
                        .o-item
                          h3 Тариф ₽/час:
                          span.accent 3 015 ₽
                        .o-item
                          h3 Итог:
                          span.accent 1 000000 ₽
                  .o-item-wrapp
                    .o-item
                      h3 Тариф ₽/час:
                      span.accent 3 015 ₽
                    .o-item
                      h3 Итог:
                      span.accent 1 000000 ₽
                  .o-block__group.o-block__group--btn
                    button(data-toggle="modal" data-target="#modal-proposition").btn.btn--primary.btn--w Предложить
                    button.btn-share(data-toggle="modal" data-target="#share-modal")
                      img(src="assets/img/icon/share.png", alt="")
                      span Поделиться

  include ../common/_footer
  .modal.fade#share-modal(tabindex="-1" role="dialog")
    .modal-dialog.modal-share(role="document")
      .modal-content
        h3.title Поделиться
        ul.social
          li
            a(href="#").social__link
              svg(class="instagram" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M42.6758 0H7.32422C3.28598 0 0 3.28598 0 7.32422V42.6758C0 46.714 3.28598 50 7.32422 50H42.6758C46.714 50 50 46.714 50 42.6758V7.32422C50 3.28598 46.714 0 42.6758 0ZM25.0977 38.0859C17.828 38.0859 11.9141 32.172 11.9141 24.9023C11.9141 17.6327 17.828 11.7188 25.0977 11.7188C32.3673 11.7188 38.2812 17.6327 38.2812 24.9023C38.2812 32.172 32.3673 38.0859 25.0977 38.0859ZM39.7461 14.6484C37.323 14.6484 35.3516 12.677 35.3516 10.2539C35.3516 7.83081 37.323 5.85938 39.7461 5.85938C42.1692 5.85938 44.1406 7.83081 44.1406 10.2539C44.1406 12.677 42.1692 14.6484 39.7461 14.6484Z" fill="#242424")
                path(d="M39.7813 8.79999C38.9535 8.79999 38.2812 9.47225 38.2812 10.3C38.2812 11.1277 38.9535 11.8 39.7813 11.8C40.609 11.8 41.2813 11.1277 41.2813 10.3C41.2813 9.47225 40.609 8.79999 39.7813 8.79999Z" fill="#242424")
                path(d="M25.0977 15C19.4443 15 14.8438 19.6005 14.8438 25.2539C14.8438 30.9073 19.4443 35.5078 25.0977 35.5078C30.751 35.5078 35.3516 30.9073 35.3516 25.2539C35.3516 19.6005 30.751 15 25.0977 15Z" fill="#242424")
          li
            a(href="#").social__link
              svg(class="facebook" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M47.2379 0H2.75962C1.23656 0 0 1.23409 0 2.75962V47.2379C0 48.7634 1.23656 49.9992 2.75962 49.9992H26.7054V30.6366H20.19V23.0896H26.7054V17.5242C26.7054 11.0673 30.6481 7.54944 36.4094 7.54944C39.1715 7.54944 41.54 7.75608 42.2308 7.84582V14.595L38.2346 14.5967C35.102 14.5967 34.4977 16.086 34.4977 18.2701V23.0871H41.9714L40.9942 30.6333H34.4969V49.9967H47.2371C48.7618 49.9967 49.9992 48.7593 49.9992 47.2379V2.75797C49.9984 1.23409 48.7626 0 47.2379 0Z" fill="#242424")
          li
            a(href="#").social__link
              svg(class="vk" width="88" height="50" viewBox="0 0 88 50" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M87.1709 45.1555C87.0648 44.9268 86.9659 44.7371 86.874 44.5851C85.3535 41.8467 82.4479 38.4855 78.159 34.5005L78.0684 34.4093L78.023 34.3645L77.9771 34.3186H77.9311C75.9845 32.463 74.7519 31.2154 74.2357 30.5766C73.2912 29.3598 73.0796 28.1281 73.5958 26.8801C73.9605 25.9372 75.3304 23.9459 77.7024 20.9035C78.9501 19.2911 79.9382 17.9989 80.6679 17.0253C85.9308 10.0286 88.2124 5.55764 87.5124 3.61063L87.2406 3.15563C87.0579 2.88171 86.5865 2.63112 85.8269 2.40259C85.0655 2.17453 84.0924 2.13682 82.9058 2.2888L69.7652 2.37958C69.5523 2.30414 69.2484 2.31117 68.8523 2.40259C68.4568 2.494 68.259 2.53987 68.259 2.53987L68.0303 2.65414L67.8487 2.79142C67.6966 2.88219 67.5292 3.04185 67.3466 3.27006C67.1649 3.49748 67.0129 3.76437 66.8914 4.06849C65.4608 7.74918 63.8342 11.1713 62.0086 14.3347C60.883 16.2209 59.8494 17.8557 58.9053 19.2398C57.9626 20.6235 57.1717 21.643 56.5334 22.2964C55.8941 22.9506 55.3172 23.4746 54.7991 23.8705C54.2818 24.2665 53.8868 24.4338 53.6134 24.3726C53.3393 24.3114 53.0812 24.2507 52.8369 24.1899C52.4113 23.916 52.069 23.5435 51.8109 23.072C51.5516 22.6006 51.3771 22.0072 51.2859 21.2923C51.1951 20.577 51.1414 19.9617 51.1261 19.4444C51.1118 18.9277 51.1184 18.1969 51.1492 17.254C51.1809 16.3106 51.1951 15.6723 51.1951 15.3376C51.1951 14.1815 51.2176 12.9268 51.2629 11.5732C51.3089 10.2196 51.3461 9.14707 51.3773 8.35695C51.4083 7.56603 51.4227 6.72924 51.4227 5.84707C51.4227 4.96489 51.369 4.27306 51.2629 3.77092C51.158 3.26942 50.9971 2.78263 50.785 2.3107C50.5717 1.83924 50.2594 1.47455 49.8496 1.21565C49.4391 0.957068 48.9286 0.751866 48.3212 0.599403C46.7088 0.234547 44.6557 0.0371766 42.1608 0.00649227C36.5032 -0.0542372 32.8679 0.311098 31.2557 1.10202C30.6169 1.43619 30.0389 1.89278 29.522 2.47035C28.9743 3.13981 28.898 3.50515 29.2933 3.56524C31.1187 3.83868 32.411 4.4928 33.1716 5.52696L33.4456 6.07496C33.6588 6.47034 33.8717 7.17033 34.0847 8.17397C34.2974 9.1776 34.4347 10.2878 34.4951 11.504C34.647 13.725 34.647 15.6261 34.4951 17.2076C34.3428 18.7898 34.199 20.0215 34.0617 20.9037C33.9244 21.7858 33.7192 22.5007 33.4456 23.048C33.1716 23.5956 32.9892 23.9302 32.8978 24.0517C32.8065 24.1731 32.7305 24.2497 32.6701 24.2797C32.2747 24.4312 31.8635 24.5084 31.4379 24.5084C31.0117 24.5084 30.4948 24.2952 29.8866 23.8692C29.2785 23.4431 28.6474 22.8579 27.9932 22.1125C27.3391 21.367 26.6014 20.3251 25.7798 18.9868C24.9589 17.6486 24.107 16.0669 23.2249 14.2418L22.495 12.9182C22.0387 12.0667 21.4154 10.8269 20.6245 9.19981C19.8331 7.5721 19.1336 5.99761 18.5255 4.47666C18.2824 3.83788 17.9173 3.35157 17.4306 3.01692L17.2023 2.87963C17.0504 2.75818 16.8067 2.62921 16.4724 2.49176C16.1376 2.35448 15.7882 2.25604 15.4229 2.19547L2.92077 2.28624C1.64321 2.28624 0.776378 2.57567 0.319948 3.15372L0.137281 3.42716C0.0460265 3.57946 0 3.8227 0 4.15751C0 4.49216 0.091254 4.90288 0.273922 5.3892C2.099 9.67862 4.08374 13.8154 6.22813 17.8002C8.37252 21.785 10.236 24.9949 11.8173 27.427C13.399 29.8608 15.0112 32.1578 16.6539 34.3169C18.2967 36.4768 19.384 37.8609 19.9161 38.469C20.4487 39.0782 20.8671 39.5337 21.1712 39.8378L22.3122 40.9327C23.0422 41.6629 24.1142 42.5374 25.5287 43.5562C26.9436 44.5757 28.5099 45.5793 30.2286 46.5687C31.9475 47.5565 33.9473 48.3626 36.229 48.9861C38.5103 49.6102 40.7308 49.8606 42.8907 49.7398H48.138C49.2022 49.6479 50.0085 49.3132 50.5565 48.7357L50.738 48.507C50.8601 48.3254 50.9744 48.0433 51.0799 47.6638C51.1866 47.2836 51.2397 46.8647 51.2397 46.4091C51.2085 45.1013 51.3081 43.9227 51.5357 42.8733C51.7631 41.8243 52.0223 41.0334 52.3122 40.5007C52.6019 39.9686 52.9289 39.5195 53.2928 39.1554C53.6575 38.7906 53.9174 38.5695 54.0698 38.4935C54.2213 38.4169 54.3423 38.365 54.4336 38.3338C55.1636 38.0906 56.0228 38.3261 57.0123 39.0416C58.0011 39.7565 58.9285 40.6391 59.796 41.6882C60.663 42.7381 61.7046 43.9161 62.9212 45.2239C64.1385 46.5321 65.2028 47.5046 66.115 48.1443L67.0273 48.6919C67.6365 49.0572 68.4274 49.3919 69.401 49.696C70.3728 49.9999 71.2243 50.076 71.9555 49.924L83.6358 49.7418C84.7911 49.7418 85.6901 49.5505 86.3277 49.171C86.9667 48.7908 87.3462 48.3719 87.4686 47.9163C87.5907 47.4602 87.5973 46.9427 87.4918 46.3642C87.3836 45.7871 87.277 45.3835 87.1709 45.1555Z" fill="#242424")
          li
            a(href="#").social__link
              svg(class="copy-link" width="56" height="52" viewBox="0 0 56 52" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M28.6865 22.1195C27.9089 22.8971 27.9089 24.1476 28.6865 24.9252C30.8975 27.1362 30.8975 30.7312 28.6865 32.9422L16.0509 45.5778C13.8399 47.7888 10.2449 47.7888 8.03395 45.5778L6.13311 43.6769C3.92211 41.4659 3.92211 37.871 6.13311 35.66L18.7687 23.0244C19.5463 22.2468 19.5463 20.9962 18.7687 20.2186C17.9911 19.441 16.7406 19.441 15.963 20.2186L3.32739 32.8543C1.50907 34.6726 0.5 37.0959 0.5 39.6685C0.5 42.2393 1.49691 44.6634 3.32783 46.4831C3.32806 46.4833 3.32829 46.4835 3.32852 46.4838L5.22823 48.3835C7.10618 50.2614 9.57555 51.1999 12.0424 51.1999C14.5093 51.1999 16.9787 50.2614 18.8566 48.3835L31.4922 35.7479C35.2469 31.9932 35.2475 25.8765 31.4939 22.1212C30.7246 21.3389 29.4617 21.3443 28.6865 22.1195Z" fill="#242424" stroke="#242424")
                path(d="M51.7313 5.51735L49.8304 3.61652C46.0752 -0.138693 39.9572 -0.138693 36.202 3.61652L23.5664 16.2521C19.8112 20.0073 19.8112 26.1253 23.5664 29.8805C24.344 30.6581 25.5945 30.6581 26.3721 29.8805C27.1497 29.1029 27.1497 27.8524 26.3721 27.0748C24.1611 24.8638 24.1611 21.2689 26.3721 19.0579L39.0077 6.42224C41.2187 4.21124 44.8137 4.21124 47.0247 6.42224L48.9255 8.32307C51.1365 10.5341 51.1365 14.129 48.9255 16.34L36.2899 28.9757C35.5123 29.7533 35.5123 31.0038 36.2899 31.7814C36.6689 32.1603 37.1804 32.3673 37.6873 32.3673C38.1842 32.3673 38.7008 32.178 39.0877 31.7783L51.7203 19.1458C53.5386 17.3274 54.5477 14.9041 54.5477 12.3316C54.5477 9.7606 53.5507 7.33677 51.7313 5.51735Z" fill="#242424" stroke="#242424")
              span Ссылка 

  .modal.fade#modal-offer(tabindex="-1" role="dialog")
    .modal-dialog.modal-dialog-centered.modal-white(role="document")
      .modal-content
        h3 Заявка отправлена
        .modal-text Вы отправили предложение на заявку. Дальнейшее взаимодействие будет проходить в разделе 
          |
          a(href="#") Заявки - Мои предложения”
          |  личного кабинета.
        .btn-group
          button.btn.btn--primary Перейти в заявки
          button.btn.btn--light К каталогу заявок

  .modal.fade#modal-proposition(tabindex="-1" role="dialog")
    .modal-dialog.modal-proposition(role="document")
      .modal-content
        .modal-head
          .modal-head__content
            .modal-head__line.modal-head__line-s
              .title Заявка #123417
              .info До окончания подачи предложений: 
                span.accent 00:14:52
            span.accent.dop Дополнительное оборудование

            .modal-head__line.modal-head__line--end
              .modal-head__block
                .modal-head__group
                  h3 Погрузчик 1-5 т
                  span.sh 3 шт
                .item
                  input(type="checkbox" name="type" id="radio-1" disabled)
                  label(class="custom-label custom-label--choice" for="radio-1")
                    span Самовывоз
                .item.item-pl
                  input(type="checkbox" name="type" id="radio-2" disabled)
                  label(class="custom-label custom-label--not" for="radio-2")
                    span Без машиниста
              .city
                i.icon
                  img(src="assets/img/map.png" alt="" aria-hidden="true")
                span г.Уфа
                .sub CustomerName
              ul.list
                li Расстояние до объекта: #[span 25 км]
                li Время на дорогу: #[span 13 мин]
            ul.information-list
              li
                span.name Время работ
                .box-date
                  .box-date__item
                    span 18.02.19 
                    | (
                    span.time 14:50 
                    | )
                  | -
                  .box-date__item
                    span 19.02.19 
                    | (
                    span.time 11:00
                    | )
              li
                span.name Срок аренды
                span 8 дней / 64 часов
              li
                span.name Рабочих дней
                span 5
              li
                span.name Смена
                span 8ч
              li
                span.name Доставка:
                span.accent 3 015 ₽
              li
                span.name Тариф ₽/час
                  button(class="btn-tool" data-placement="top" title="" data-original-title="Текст" aria-hidden="true")
                    img(src="assets/img/icon/tooltip.png" alt="")
                span.accent 3 015 ₽
              li
                span.name Итог:
                span.accent 41 240 ₽


          .modal-head__button
            button.btn.btn--primary(type="button" class="openClose" data-toggle='modal' data-target="#modal-offer") Предложить
            button.btn.btn--light Отправить сообщение
            button(class="btn-share" data-toggle="modal" data-target="#share-modal")
              img(src="assets/img/icon/share.png" alt="")
              span Поделиться
        .modal-body
          .notes-block
            .notes-block__item
              textarea(class="notes-block__body") Примечание
            .notes-block__item
              textarea(class="notes-block__body") Примечание
            .notes-block__item
              textarea(class="notes-block__body") Примечание
            .notes-block__item
              textarea(class="notes-block__body") Примечание
          .block-position
            h3 Предложить технику
            .table-responsive
              table.table
                thead
                  tr
                    th Название
                    th Номер
                    th Год выпуска
                    th Тариф на час работы
                    th Стоимость
                tbody
                  tr
                    td 
                      span JCB – 123
                      button(class="btn-tool" data-placement="top" title="" data-original-title="Текст" aria-hidden="true")
                        img(src="assets/img/icon/tooltip.png" alt="")
                    td АС314О
                    td 2011
                    td
                      .counter.counter--other
                        button.counter-action.counter-action--minus -
                        input.counte-number(value='1240')
                        button.counter-action.counter-action--plus +
                    td
                      span.accent 13 233 ₽
                  - for (var x = 1; x < 5; x++)
                    tr
                      td 
                        .item
                          input(type='checkbox', name='type' id=x)
                          label.custom-label.label-size(for=x)
                            span JCB – 123
                              button(class="btn-tool" data-placement="top" title="" data-original-title="Текст" aria-hidden="true")
                                img(src="assets/img/icon/tooltip.png" alt="")
                      td АС314О
                      td 2011
                      td
                        .counter.counter--other
                          button.counter-action.counter-action--minus -
                          input.counte-number(value='1240')
                          button.counter-action.counter-action--plus +
                      td 0 ₽
            .block-position__info
              .number Количество позиций: 
                span.accent 6
              .total Итог: 
                span.accent 95 290 ₽
            .block-position__other
              .block-position__line
                .switch
                  span Своим ходом
                  input(class="switch__input" type="checkbox" id="switch")
                  label(class="switch__label" for="switch")
                  span Доставка траллом
                .block-position__group
                  .item
                    input(type="checkbox" name="type" id="include-cost")
                    label(class="custom-label" for="include-cost").label-size
                      span Включить в стоимость дорогу
                  .item.item--width
                    label.visually-hidden(for="rubles")
                    input(id="rubles" class="form-control")
                    //- select.selectpicker.custom-center.width-all.btn-height-min
                    //- 	option 1ч
                    //- 	option 2ч
                    //- 	option 3ч
              h3 Предложенные позиции
              .table-responsive
                table.table
                  thead
                    tr
                      th Название
                      th Номер
                      th Время доставки
                      th Тариф
                      th Стоимость
                  tbody
                    - for (var i = 0; i < 4; i++)
                      tr
                        td 
                          span JCB – 123
                          button(class="btn-tool" data-placement="top" title="" data-original-title="Текст" aria-hidden="true")
                            img(src="assets/img/icon/tooltip.png" alt="")
                        td АС314О
                        td 2 ч
                        td
                          span.accent 2 300 ₽
                        td
                          span.accent 4600 ₽
              .block-position__info
                .number Количество позиций: 
                  span 6
                .total Итог: 
                  span.accent 95 290 ₽
          .block-information-wrap
            .block-information
              .block-information__content
                .block-information__line
                  .item
                      span.p-size Время актуальности предложения:
                  select.selectpicker
                    option 1
                    option 2
                    option 3
                .block-information__text По истечении этого времени, если заказчик всё ещё не выберет исполнителя по заявке, ваше предложение аннулируется, и вы сможете принимать следующие заявки.
                .item
                  input(type="checkbox" name="type" id="notify")
                  label(class="custom-label" for="notify").label-size
                    span Уведомить меня, если исполнителем выберут другого 
            .block-information
              ul
                li Итог #[span 95 290 ₽]
                li Комиссия сервиса (10%): #[span 3 150 ₽]
                li Ваш доход: #[span 95 290 ₽]
              button.btn.btn--primary.btn--w  Предложить
          .chat-block-wrap
            h3 Диалоговая область
            p Описание раздела, правила пользования и поряд действий
            .chat-block
                .chat-block__left
                  .chat-block__head Уведомлений по этой технике:
                    span.count 2
                  .chat-block__body
                    .chat-block__message
                      .chat.sent
                        .chat__item
                          .photo
                            img(src="assets/img/photo.png" alt="Имя пользователя")
                          .chat-content
                            .chat-text Сэмпл более длинного  текста. Сэмпл более длинного текста. Сэмпл более длинного текста. Сэмпл более длинного текста. Сэмпл более длинного текста.
                              |
                              span.dark 10:28 | 25.07.2019
                      .chat.replies
                        .chat__item
                          .photo
                            img(src="assets/img/photo.png" alt="Имя пользователя")
                          .chat-content
                            .chat-text ааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааааа
                              span.dark 10:28 | 25.07.2019
                        .chat__item
                          .photo
                            img(src="assets/img/photo.png" alt="Имя пользователя")
                          .chat-content
                            .chat-text Как дела ?
                      .chat.sent
                        .chat__item
                          .photo
                            img(src="assets/img/photo.png" alt="Имя пользователя")
                          .chat-content
                            .chat-media
                              a(href="assets/img/example.png" target="_blank")
                                img(src="assets/img/example.png" alt="")
                    .chat-view
                  form
                    .message-input
                      .media-block-wrap
                        .media-block
                          label
                            svg(width="20" height="20" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                              path(d="M4.07044 12.3845L14.2216 1.61507C16.0014 1.61507 16.885 3.70742 14.7493 5.92285C12.6135 8.13828 6.74014 14.2307 4.07044 17C1.994 16.4872 0.396857 14.0632 1.22121 11.9093C2.21188 9.32087 10.37 1.72729 11.0737 1" stroke="#242424")
                            input(type="file" multiple="multiple" accept="image/*, .doc, .docx, .pdf" class="select-choose")
                      .message-text(tabindex="0" role="textbox" aria-multiline="true"  contenteditable="true" aria-placeholder="Введите сообщение")
            
                      button(aria-label="Отправить")
                        svg(xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 448.011 448.011" xml:space="preserve")
                          g
                            path(fill="#FC7327" d="M438.731,209.463l-416-192c-6.624-3.008-14.528-1.216-19.136,4.48c-4.64,5.696-4.8,13.792-0.384,19.648l136.8,182.4l-136.8,182.4c-4.416,5.856-4.256,13.984,0.352,19.648c3.104,3.872,7.744,5.952,12.448,5.952c2.272,0,4.544-0.48,6.688-1.472l416-192c5.696-2.624,9.312-8.288,9.312-14.528S444.395,212.087,438.731,209.463z")