extends ../_template

block variables
  - var title = 'Главная';
  - var selected = 'Главная'

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb	
        +breadcrumbs(['Главная', 'Категория', 'Подкатегория'], 'Товар')
        h1.page-heading Найти заявку на аренду техники
        .inner-page.inner-page--block
          .application-catalog
            form.form.form--inner
              .form__layout.flex-element
                .form__item.form__item--map
                  label.label-size Город или регион
                  div.item-map
                    button(class="input-button btn-open-address" type="button" data-toggle="modal" data-target=".adress-choose")
                    button(class="btn-open-map btn btn--light" type="button" data-toggle="modal" data-target=".adress-choose" aria-label="Открыть карту")
                      span Карта
                      svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve")
                        g
                          path(fill="#FC7327" d="M256,0C167.641,0,96,71.625,96,160c0,24.75,5.625,48.219,15.672,69.125C112.234,230.313,256,512,256,512l142.594-279.375   C409.719,210.844,416,186.156,416,160C416,71.625,344.375,0,256,0z M256,256c-53.016,0-96-43-96-96s42.984-96,96-96   c53,0,96,43,96,96S309,256,256,256z")
                .filter-block.filter-min
                  .filter-block__name Радиус поиска
                  .filter-block__wrap
                    .filter-block__input
                      input.amount-all(type="text" name="filter2-all")
                  .slider-range-min
                .form__item.form__item--select
                  label(for="number").label-size Подвид техники
                  select.selectpicker.stand#number
                    option 1
                    option 2
                    option 3
                .form__item.form__item--btn
                  button.btn.btn--light.btn--sub Найти
                .form__item.form__item--chec
                  .gr-check
                    input(type="checkbox" id="type-2" class="custom-input")
                    label(for="type-2" class="custom-label label-size") #[span Соответствующие моему парку]
              .controls
                .controls-b
                  button.filter-button(aria-label='Сортировать')
                    svg(xmlns="http://www.w3.org/2000/svg" width="15" height="13" viewBox="0 0 15 13" fill="none")
                      path(d="M0 1.5H7.5M15 1.5H7.5M7.5 1.5V0V3" stroke="black")
                      path(d="M0 11.5H3.44595M15 11.5H3.44595M3.44595 11.5V10M3.44595 11.5V13" stroke="black")
                      path(d="M15 6.5H11.5541M1.19209e-07 6.5H11.5541M11.5541 6.5V5M11.5541 6.5V8" stroke="black")
                    span Сортировать по:
                  span Сортировать по:
                  ul
                    li
                      a(href="#").active Рейтингу
                    li
                      a(href="#") Размеру парка
                    li
                      a(href="#") Отдаленности от адреса
            .content
              - for (let i = 0; i < 5; i++)
                .m-block
                  .m-block__wrapp
                    .m-block__group
                      .m-block__date Дата заявки: 12.01.19
                      .m-block__name Республика Башкортостан, Уфимский район, Кириловский сельсовет
                      .box-dh__block
                        .box-date
                          .box-date__item
                            span 18.02.19 
                            | (
                            span.time 14:50 
                            | )   
                          | -   
                          .box-date__item
                            span     19.02.19 
                            | (
                            span.time 11:00
                            | )
                        .box-dh
                          span 8 дней 
                          span.line /
                          span  48 часов
                      .box-dh__block.box-dh__block--inline
                        .m-block__text Время до окончания подачи предложений: 
                          span.accent 00:14:52
                        .m-block__text Оценочная стоимость:
                          span.accent 135 290 ₽
                    .m-block__group.m-block__group--width
                      span.badge.badge--custom Колесный экскаватор (#[span 8])
                      span.badge.badge--custom Колесный экскаватор (#[span 8])
                      span.badge.badge--custom Колесный экскаватор (#[span 8])
                      button.btn-more.red-tooltip(rel='tooltip', type='button', data-toggle='tooltip', data-html='true' title="<span сlass='badge'>Колесный экскаватор (<span>8</span>)</span><span сlass='badge'>Колесный экскаватор (<span>8</span>)</span><span сlass='badge'>Колесный экскаватор (<span>8</span>)</span><span сlass='badge'>Колесный экскаватор (<span>8</span>)</span><span сlass='badge'>Колесный экскаватор (<span>8</span>)</span>") + 8
                  .m-block__group.m-block__group--btn
                    a(href="#").btn.btn--primary.btn--w Подробнее
                    button.btn-share(data-toggle="modal" data-target="#share-modal")
                      svg(width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                        circle(cx="11.2236" cy="2.77634" r="2.03243" transform="rotate(150 11.2236 2.77634)" fill="black")
                        circle(cx="2" cy="8.24146" r="2" fill="black")
                        line(x1="10.2148" y1="3.46719" x2="1.06213" y2="8.75151" stroke="black")
                        circle(cx="10.5119" cy="13.562" r="2.03243" transform="rotate(-150 10.5119 13.562)" fill="black")
                        line(x1="9.41016" y1="13.0343" x2="0.257442" y2="7.75001" stroke="black")

                      span Поделиться
  include ../common/_footer
  .modal.fade.adress-choose(tabindex="-1" role="dialog")
    .modal-dialog.modal-sm.modal-adress
      .modal-content
        .modal-head
          ul.nav.nav-tabs(role="tablist")
            li.nav-item
              a(class="nav-link nav-link-address active" data-toggle="tab" href="#select-address") Выбрать адрес
            li.nav-item
              a(class="nav-link nav-new-address" data-toggle="tab" href="#new-address") Добавить новый
        .tab-content
          .tab-pane.fade.active.show(id="select-address" role="tabpanel")
            .tab-pane-adress
              .address-list-wrap
                ul.address-list
                  -for(let l = 0; l < 10; l++)
                    li
                      a(href="#")
                        .name Название объекта
                        .address
                          .icon
                            img(src="assets/img/map.png", alt="")
                          span г.Уфа, ул.Ленина, 2
          .tab-pane.fade(id="new-address" role="tabpanel")
            .tab-pane-map
              .map-tab
                //место для карты(картинка -  для примера)
                img(src="assets/img/map-examle.png" alt="")
              form 
                .form__item
                  input(placeholder="Введите адрес")
                  button
                    svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(d="M1 8.09091L6.73529 14L14 1" stroke="white")

  .modal.fade#share-modal(tabindex="-1" role="dialog")
    .modal-dialog.modal-share(role="document")
      .modal-content
        h3.title Поделиться
        ul.social
          li
            a(href="#").social__link
              svg(class="facebook" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M47.2379 0H2.75962C1.23656 0 0 1.23409 0 2.75962V47.2379C0 48.7634 1.23656 49.9992 2.75962 49.9992H26.7054V30.6366H20.19V23.0896H26.7054V17.5242C26.7054 11.0673 30.6481 7.54944 36.4094 7.54944C39.1715 7.54944 41.54 7.75608 42.2308 7.84582V14.595L38.2346 14.5967C35.102 14.5967 34.4977 16.086 34.4977 18.2701V23.0871H41.9714L40.9942 30.6333H34.4969V49.9967H47.2371C48.7618 49.9967 49.9992 48.7593 49.9992 47.2379V2.75797C49.9984 1.23409 48.7626 0 47.2379 0Z" fill="#242424")
          li
            a(href="#").social__link
              svg(class="vk" width="88" height="50" viewBox="0 0 88 50" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M87.1709 45.1555C87.0648 44.9268 86.9659 44.7371 86.874 44.5851C85.3535 41.8467 82.4479 38.4855 78.159 34.5005L78.0684 34.4093L78.023 34.3645L77.9771 34.3186H77.9311C75.9845 32.463 74.7519 31.2154 74.2357 30.5766C73.2912 29.3598 73.0796 28.1281 73.5958 26.8801C73.9605 25.9372 75.3304 23.9459 77.7024 20.9035C78.9501 19.2911 79.9382 17.9989 80.6679 17.0253C85.9308 10.0286 88.2124 5.55764 87.5124 3.61063L87.2406 3.15563C87.0579 2.88171 86.5865 2.63112 85.8269 2.40259C85.0655 2.17453 84.0924 2.13682 82.9058 2.2888L69.7652 2.37958C69.5523 2.30414 69.2484 2.31117 68.8523 2.40259C68.4568 2.494 68.259 2.53987 68.259 2.53987L68.0303 2.65414L67.8487 2.79142C67.6966 2.88219 67.5292 3.04185 67.3466 3.27006C67.1649 3.49748 67.0129 3.76437 66.8914 4.06849C65.4608 7.74918 63.8342 11.1713 62.0086 14.3347C60.883 16.2209 59.8494 17.8557 58.9053 19.2398C57.9626 20.6235 57.1717 21.643 56.5334 22.2964C55.8941 22.9506 55.3172 23.4746 54.7991 23.8705C54.2818 24.2665 53.8868 24.4338 53.6134 24.3726C53.3393 24.3114 53.0812 24.2507 52.8369 24.1899C52.4113 23.916 52.069 23.5435 51.8109 23.072C51.5516 22.6006 51.3771 22.0072 51.2859 21.2923C51.1951 20.577 51.1414 19.9617 51.1261 19.4444C51.1118 18.9277 51.1184 18.1969 51.1492 17.254C51.1809 16.3106 51.1951 15.6723 51.1951 15.3376C51.1951 14.1815 51.2176 12.9268 51.2629 11.5732C51.3089 10.2196 51.3461 9.14707 51.3773 8.35695C51.4083 7.56603 51.4227 6.72924 51.4227 5.84707C51.4227 4.96489 51.369 4.27306 51.2629 3.77092C51.158 3.26942 50.9971 2.78263 50.785 2.3107C50.5717 1.83924 50.2594 1.47455 49.8496 1.21565C49.4391 0.957068 48.9286 0.751866 48.3212 0.599403C46.7088 0.234547 44.6557 0.0371766 42.1608 0.00649227C36.5032 -0.0542372 32.8679 0.311098 31.2557 1.10202C30.6169 1.43619 30.0389 1.89278 29.522 2.47035C28.9743 3.13981 28.898 3.50515 29.2933 3.56524C31.1187 3.83868 32.411 4.4928 33.1716 5.52696L33.4456 6.07496C33.6588 6.47034 33.8717 7.17033 34.0847 8.17397C34.2974 9.1776 34.4347 10.2878 34.4951 11.504C34.647 13.725 34.647 15.6261 34.4951 17.2076C34.3428 18.7898 34.199 20.0215 34.0617 20.9037C33.9244 21.7858 33.7192 22.5007 33.4456 23.048C33.1716 23.5956 32.9892 23.9302 32.8978 24.0517C32.8065 24.1731 32.7305 24.2497 32.6701 24.2797C32.2747 24.4312 31.8635 24.5084 31.4379 24.5084C31.0117 24.5084 30.4948 24.2952 29.8866 23.8692C29.2785 23.4431 28.6474 22.8579 27.9932 22.1125C27.3391 21.367 26.6014 20.3251 25.7798 18.9868C24.9589 17.6486 24.107 16.0669 23.2249 14.2418L22.495 12.9182C22.0387 12.0667 21.4154 10.8269 20.6245 9.19981C19.8331 7.5721 19.1336 5.99761 18.5255 4.47666C18.2824 3.83788 17.9173 3.35157 17.4306 3.01692L17.2023 2.87963C17.0504 2.75818 16.8067 2.62921 16.4724 2.49176C16.1376 2.35448 15.7882 2.25604 15.4229 2.19547L2.92077 2.28624C1.64321 2.28624 0.776378 2.57567 0.319948 3.15372L0.137281 3.42716C0.0460265 3.57946 0 3.8227 0 4.15751C0 4.49216 0.091254 4.90288 0.273922 5.3892C2.099 9.67862 4.08374 13.8154 6.22813 17.8002C8.37252 21.785 10.236 24.9949 11.8173 27.427C13.399 29.8608 15.0112 32.1578 16.6539 34.3169C18.2967 36.4768 19.384 37.8609 19.9161 38.469C20.4487 39.0782 20.8671 39.5337 21.1712 39.8378L22.3122 40.9327C23.0422 41.6629 24.1142 42.5374 25.5287 43.5562C26.9436 44.5757 28.5099 45.5793 30.2286 46.5687C31.9475 47.5565 33.9473 48.3626 36.229 48.9861C38.5103 49.6102 40.7308 49.8606 42.8907 49.7398H48.138C49.2022 49.6479 50.0085 49.3132 50.5565 48.7357L50.738 48.507C50.8601 48.3254 50.9744 48.0433 51.0799 47.6638C51.1866 47.2836 51.2397 46.8647 51.2397 46.4091C51.2085 45.1013 51.3081 43.9227 51.5357 42.8733C51.7631 41.8243 52.0223 41.0334 52.3122 40.5007C52.6019 39.9686 52.9289 39.5195 53.2928 39.1554C53.6575 38.7906 53.9174 38.5695 54.0698 38.4935C54.2213 38.4169 54.3423 38.365 54.4336 38.3338C55.1636 38.0906 56.0228 38.3261 57.0123 39.0416C58.0011 39.7565 58.9285 40.6391 59.796 41.6882C60.663 42.7381 61.7046 43.9161 62.9212 45.2239C64.1385 46.5321 65.2028 47.5046 66.115 48.1443L67.0273 48.6919C67.6365 49.0572 68.4274 49.3919 69.401 49.696C70.3728 49.9999 71.2243 50.076 71.9555 49.924L83.6358 49.7418C84.7911 49.7418 85.6901 49.5505 86.3277 49.171C86.9667 48.7908 87.3462 48.3719 87.4686 47.9163C87.5907 47.4602 87.5973 46.9427 87.4918 46.3642C87.3836 45.7871 87.277 45.3835 87.1709 45.1555Z" fill="#242424")
        form.form.search-item.flex-element
          label(for="link") Ссылка
          input(type="text" id='link')
          button.btn.btn--light.btn--size Копировать	