extends ../_template

block variables
	- var title = 'Личный кабинет';
	- var selected = 'Техника'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная'], 'Личный кабинет')
				h1.page-heading Личный кабинет
				.rights Менеджер
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Заявки')
								+aside-personal('aplications.html', 'plan.png', 'Заказы')
								+aside-personal('aplications.html', 'documents.png', 'Техника')
								+aside-personal('aplications.html', 'user.png', 'Пользователи')
								+aside-personal('aplications.html', 'notification.png', 'Контент')
					.inner-content
						.manager-page.manager-page--order
							ul.filter-btn
								li
									button #[span Заявки на одобрение техники]
										span.count 12
								li
									button #[span Проверка документации]
										span.count 12
								li
									button #[span Споры]
										span.count 12
								li
									button #[span Редактирование БД техники]
										span.count 12
								li
									button.active #[span Индивидуальный договор]
										span.count 12
								li
									button #[span Прямые сообщения]
										span.count 12
							.ctm-block
								h3 Индивидуальный договор
								form.form-line
									ul.filter-sec
										li
											a.active(href="#") Новые
										li
											a(href="#") Завершенные
									.search-b
										input(placeholder="Поиск")
										button
											svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
												path(opacity="0.3" d="M12.5 7C12.5 10.0376 10.0376 12.5 7 12.5V13.5C10.5899 13.5 13.5 10.5899 13.5 7H12.5ZM7 12.5C3.96243 12.5 1.5 10.0376 1.5 7H0.5C0.5 10.5899 3.41015 13.5 7 13.5V12.5ZM1.5 7C1.5 3.96243 3.96243 1.5 7 1.5V0.5C3.41015 0.5 0.5 3.41015 0.5 7H1.5ZM7 1.5C10.0376 1.5 12.5 3.96243 12.5 7H13.5C13.5 3.41015 10.5899 0.5 7 0.5V1.5ZM11.6464 12.3536L16.6464 17.3536L17.3536 16.6464L12.3536 11.6464L11.6464 12.3536Z" fill="#AEA69D")

								.content.scr-el
									- for (let i = 0; i < 10; i++)
										.block-or
											a(href="#").block-or__group
												.block-or__img
													img(src="assets/img/rectangle1.png", alt="")
												.block-or__block
													.block-or__title Заказчик
													.block-or__text Причина обращения: описание
											span.count 12



	include ../common/_footer