extends ../_template

block variables
  - var title = 'Мои заявки';
  - var selected = 'Мои заявки'

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb
        +breadcrumbs(['Главная', 'Категория'], 'Вид')
        h1.page-heading Мои заявки
        .switch
          span Заказчик
            input(type="checkbox" id="switch").switch__input
            label(for="switch").switch__label
          span Арендодатель
        .inner-page
          include ../common/elements/aside-personal
          aside
            nav.menu.menu--personal
              ul
                +aside-personal('aplications.html', 'checklist.png', 'Мои заявки')
                +aside-personal('#', 'floor-plan.png', 'Мои заказы')
                +aside-personal('message.html', 'message.png', 'Сообщения')
                +aside-personal('acts.html', 'documents.png', 'Акты и отчеты')
                +aside-personal('#', 'notification.png', 'Уведомления')
                +aside-personal('#', 'personal-data.png', 'Личные данные')
                +aside-personal('balance.html', 'menu-male.png', 'Баланс и платежи')
          .inner-content
            .page-order
              .page-order__head
                .starting-block
                  form.form
                    .form__line.flex-element
                      .item.item--w
                        label(for="city").label-size Город или регион
                        input(type="text" id="city")
                      .item.item--select
                        label(for="subspecies").label-size Подвид техники
                        select.selectpicker.bright.stand(id="subspecies")
                          option 1
                          option 2
                      .item.item--select
                        label(for="type").label-size Подвид техники
                        select.selectpicker.bright.stand(id="type")
                          option Тип техники
                          option Тип техники 2
                      .item.item--stan
                        label(for="applicant-name").label-size Имя подавшего заявку
                        input(type="text" id="applicant-name")
                      .item.item--stan
                        label(for="name-two").label-size Имя разместившего предложение
                        input(type="text" id="name-two")
                      .item
                        label(for="id-order").label-size ID заказа
                        input(type="text" id="id-order")
                      .item.item--btn
                        button.btn.btn--primary.btn--wide Применить
                      .item__group
                        .item
                          input(class="custom-input"  type="checkbox" id="type-1")
                          label(class="custom-label label-size" for="type-1") #[span Самовывоз]
                        .item
                          input(class="custom-input"  type="checkbox" id="type-2")
                          label(class="custom-label label-size" for="type-2") #[span Без машиниста]
                form.form
                  ul.filter-primary
                    li
                      a(href="#").active В работе
                    li
                      a(href="#") На подтверждении
                      span.count 8
                    li
                      a(href="#") В споре
                        span.count 8
                    li
                      a(href="#") Будущие
                    li
                      a(href="#") Завершенные
                    li
                      a(href="#") Все
                form.form
                  .controls
                    .controls-b
                      span Сортировать по:
                      ul
                        li
                          a(href="#").active Время до начала
                        li
                          a(href="#") Дата заказа
                        li
                          a(href="#").active Стоимость фактическая
                        li
                          a(href="#") Стоимость оценочная
                        li
                          a(href="#") Степень завершенности
              .content
                - for (let i = 0; i < 2; i++)
                  .box-item.flex-element
                    .box-item__wrap
                      .box-item__group.box-item__group--flex
                        .box-item__img
                          img(src="assets/img/123.png")
                        .box-item__info
                          .box-info-date Дата заказа: #[span 12.01.19]
                          .box-item__name Автокран 15 тн. #[span КАМАЗ 6520]
                          .box-date
                            .box-date__item
                              span 18.02.19 
                              | (
                              span.time 14:50 
                              | ) 
                            | -   
                            .box-date__item
                              span   19.02.19 
                              | (
                              span.time 11:00
                              | )
                          .box-dh
                            span 8 дней 
                            span.line /
                            span  48 часов
                      .box-item__group
                        p Фактическая стоимость: 
                          span.accent 12 382 ₽
                        p.dark Оценочная стоимость: #[span 14 224 ₽]
                    .box-item__group.box-item__group--right
                      .box-rate
                        .box-rate-wrapper(style="width: 78%")
                        .box-rate-on
                          button(class="btn-tool" data-placement="top" data-original-title="Какой то текс")
                            img(src="assets/img/icon/tooltip.png", alt="")
                          span 78%
                      a(href="applications-inside.html").btn.btn--light Открыть подробности
            
  include ../common/_footer