extends ../_template

block variables
	- var title = 'Мои заявки';
	- var selected = 'Мои заявки'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная', 'Категория'], 'Вид')
				h1.page-heading Мои заявки
				.switch
					span Заказчик
						input(type="checkbox" id="switch").switch__input
						label(for="switch").switch__label
					span Арендодатель
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Мои заявки')
								+aside-personal('#', 'floor-plan.png', 'Мои заказы')
								+aside-personal('message.html', 'message.png', 'Сообщения')
								+aside-personal('acts.html', 'documents.png', 'Акты и отчеты')
								+aside-personal('#', 'notification.png', 'Уведомления')
								+aside-personal('#', 'personal-data.png', 'Личные данные')
								+aside-personal('balance.html', 'menu-male.png', 'Баланс и платежи')
					.inner-content
						.order-detail
							.order-detail__head
								a(href="#").back
									span 
										svg(width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M5 1L1 5.17391L5 9" stroke="#FC7327")
									| К списку заказов 
								.order-detail__group
									a(href="#").btn.btn--light Изменить даты заказа
									a(href="#").btn.btn--light Отменить заказ
									a(href="#").btn.btn--light Перейти к диалогу
							.box-item.flex-element
								.box-item__group.box-item__group--flex
									.box-item__img
										img(src="assets/img/123.png" alt="")
									.box-item__info
										.box-item__name Автокран 15 тн. #[span КАМАЗ 6520]
										.box-item__number
											b Номер: 
											span C322KA
										span.accent.size Дополнительное оборудование
										.box-date
											.box-date__item
												span 18.02.19 
												| (
												span.time 14:50 
												| ) 
											| -   
											.box-date__item
												span   19.02.19 
												| (
												span.time 11:00
												| )
								.box-item__group.box-item__group--right
									.box-rate
										.box-rate-wrapper(style="width: 78%")
										.box-rate-on
											button(class="btn-tool" data-placement="top" data-original-title="Какой то текс")
												img(src="assets/img/icon/tooltip.png", alt="")
											span 78%
									.box-item__option
										.item
											input(type="checkbox" id="pickup" class="custom-input")
											label(for="pickup" class="custom-label custom-label--color label-size") #[span Самовывоз]
										.item
											input(type="checkbox" id="no-operator" class="custom-input")
											label(for="no-operator" class="custom-label custom-label--color label-size") #[span Без оператора]
							.wrap-obj
								.aplication-details.aplication-details--custom
									.aplication-details__block
										.order-date
											span.size.dark Дата заказа: 12.01.19

										.aplication-details__line
											h3 Детали завки
											span Заказ №123417
										.aplication-details__list.flex-element
											.aplication-details__obj-item.aplication-details__obj
												h4 Исполнитель и объект
												span.size.dark Transbuilder
												ul
													li
														.map
															img(src='assets/img/map.png' alt="" aria-hidden="true")
														span г.Уфа, ул Советская, 73
													li
														span Расстояние до объекта: 25 км
													li Рабочих дней в неделе: 6
													li Продолжительность смены: 8ч
											.aplication-details__obj-item
												h4.flex
													| Стоимость
													span.accent 17 290 ₽
												span.size.dark НДС не облагается
												ul.block
													li Тариф р/час 
														span 9 300 ₽
													li Срок аренды 
														span 5 дней / 8 часов
													li Стоимость  дороги 
														span 1 479 ₽
													li Доставка 
														span 1 479 ₽
								.aplication-details.aplication-details--custom
									h3 Фактические данные
									ul.block
										li Срок аренды #[span -]
										li Тариф р/час #[span -]
										h4.flex Итого
											span.dark -
									.text.dark Факт аренды за весь период рассчитан исходя из введённых исполнителем данных, а также оплаченных вами счетов
							.notes-block
								.notes-block__item
									textarea.notes-block__body Примечание
								.notes-block__item
									textarea.notes-block__body Примечание
								.notes-block__item
									textarea.notes-block__body Примечание
								.notes-block__item
									textarea.notes-block__body Примечание
							.order-detail__block.order-detail__block--line.order-detail__block--calendar
								.order-detail__block__group
									h3.title Календарь аренды
									.calendar-rent
										ul.nav.nav-tabs.nav-tabs--small(role="tablist")
											li(class="nav-item")
												a(class="nav-link active" data-toggle="tab" href="#current") Неделя
											li(class="nav-item")
												a(class="nav-link" data-toggle="tab" href="#expired") Месяц
										.tab-content
											.tab-pane#current.fade.active.show
												.widget-day
													form
														table.table
															thead
																tr
																	th
																		span ПН
																		span.group
																			.day 12
																			.month янв
																	th
																		span ВТ
																		span.group
																			.day 12 
																			.month янв
																	th.active
																		span СР
																		span.group
																			.day 12
																			.month янв
																	th
																		span ЧТ
																		span.group
																			.day 12
																			.month янв
																	th
																		span ПТ
																		span.group
																			.day 12
																			.month янв
																	th
																		span СБ
																		span.group
																			.day 12
																			.month янв
																	th Часов
																	th Тариф
																	th Итог
															tbody
																tr
																	td 3,5 ч
																	td 3,5 ч
																	td.active 3,5 ч
																	td 3,5 ч
																	td 3,5 ч
																	td 3,5 ч
																	td.total
																		span Часы:
																		| 15,5
																	td.total
																		span Тариф:
																		| 1 240₽/ч
																	td.total
																		span Итог:
																		| 12 328 ₽
														.info-block.flex-element.flex-element--option.info-block--custom
															.btn-group
																button.btn-send.btn.btn--light Одобрить за заказчика
																button.btn-send.btn.btn--primary Ввести данные за исполнителя
												
											.tab-pane#expired.fade
												.widget-month
													form
														.widget-month-group
															button.button-action.prev
																svg(width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg")
																	path(d="M7 1L1 7L7 13" stroke="#7F7B77")
															.month-title Апрель
															button.button-action.next
																svg(width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg")
																	path(d="M1 1L7 7L1 13" stroke="#7F7B77")
														table.table
															thead
																tr
																	th
																	th
																	th
																	th
																	th
																	th
																	th
																	th Часов
																	th Тариф
																	th Итог
															tbody
																tr
																	td.status
																		.badge.badge-success
																			span Одобрен
																	td
																		span.dark 12 янв
																		| 7.5 ч
																	td
																		span.dark 12 янв
																		| 3,5 ч
																	td
																		span.dark 12 янв
																		| 3,5 ч
																	td
																		span.dark 12 янв
																		| -
																	td
																		span.dark 12 янв
																		| 3,5 ч
																	td
																		span.dark 12 янв
																		| 3,5 ч
																	td.total 15,5
																	td.total 1 240₽/ч
																	td.total 12 328 ₽
																tr
																	td.status
																		.badge.badge-info
																			span В споре
																		.item.item--check
																			input(type="checkbox" id="test1" class="custom-input")
																			label(for="test1" class="custom-label")


																	td
																		input(type="number" name="monday" step="0.5" min="0")
																	td
																		input(type="number" name="monday" step="0.5" min="0")
																	td
																		input(type="number" name="monday" step="0.5" min="0")
																	td
																		input(type="number" name="monday" step="0.5" min="0")
																	td
																		input(type="number" name="monday" step="0.5" min="0")
																	td
																		input(type="number" name="monday" step="0.5" min="0")
																	td.total 15,5
																	td.total 1 240₽/ч
																	td.total 12 328 ₽
													.btn-group
															button.btn-s.btn.btn--primary Отправить
							.order-detail__block.order-detail__block--line
								.order-detail__block__group
									h3.title Диалоговая область
									p Описание раздела, правила пользования и поряд действий
								button(href="#" type="button" data-toggle="modal" data-target="#inconsistency").btn.btn--light Обратиться в сервис
								.chat-block
									.chat-block__left
										.chat-block__head Уведомлений по этой технике:
											span.count 2
										.chat-block__body
											.chat-block__message
												.chat.sent
													.chat__item
														.photo
															img(src="assets/img/photo.png")
														.chat-content
															.chat-text Сэмпл более длинного  текста. Сэмпл более длинного текста. Сэмпл более длинного текста. Сэмпл более длинного текста. Сэмпл более длинного текста.
												.chat.replies
													.chat__item
														.photo
															img(src="assets/img/photo.png")
														.chat-content
															.chat-text Привет
													.chat__item
														.photo
															img(src="assets/img/photo.png")
														.chat-content
															.chat-text Как дела ?
												.chat.sent
													.chat__item
														.photo
															img(src="assets/img/photo.png")
														.chat-content
															.chat-media
																a(href="assets/img/example.png" target="_blank")
																	img(src="assets/img/example.png")
											.chat-view
										form
											.message-input
												.media-block
													label
														img(src="assets/img/choose.png")
													input(type="file" multiple="multiple" accept="image/*, .doc, .docx, .pdf" class="select-choose")
												textarea(placeholder="Введите сообщение")
												button
													svg(width="27" height="8" viewBox="0 0 27 8" fill="none" xmlns="http://www.w3.org/2000/svg")
														path(d="M0 7H25.5L19.5 1" stroke="white")
		.modal.fade#inconsistency (tabindex="-1" role="dialog")
			.modal-dialog.modal-dialog-centered.modal-inconsistency(role="document")
				.modal-content
					h3 Выберите причину обращения
					form.form
						.item
							select.selectpicker.width-all.bright
								option 1
								option 2
								option 3
						.item
							textarea(class="item-size" placeholder="Опишите причину")
						.input-file-wrap.input-file-wrap--height
							.input-files
								label.input-trigger
									span Выбрать файл для загрузки
								input(class="input-file input-file-tr" type="file")
						button.btn.btn--primary.btn--w Отправить
	include ../common/_footer
