extends ../_template

block variables
	- var title = 'Баланс';
	- var selected = 'Баланс и платежи'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная', 'Категория'], 'Вид')
				h1.page-heading Баланс
				.switch
					span Заказчик
						input(type="checkbox" id="switch").switch__input
						label(for="switch").switch__label
					span Арендодатель
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('#', 'checklist.png', 'Мои заявки')
								+aside-personal('#', 'floor-plan.png', 'Мои заказы')
								+aside-personal('#', 'message.png', 'Сообщения')
								+aside-personal('#', 'user-menu-male.png', 'Мой автопарк')
								+aside-personal('#', 'documents.png', 'Акты и отчеты')
								+aside-personal('#', 'notification.png', 'Уведомления')
								+aside-personal('#', 'personal-data.png', 'Личные данные')
								+aside-personal('#', 'menu-male.png', 'Баланс и платежи')
					.inner-content
						#calendar
						.widget-calendar
							.widget-header
								span.state-active День
								span Неделя
								span Месяц
							.widget-day
								.widget-action
									.btn-wrap
										button.prev
											svg(width="10" height="22" viewBox="0 0 10 22" fill="none" xmlns="http://www.w3.org/2000/svg")
												path(d="M9 1L1 11L9 21" stroke="#242424")
										button.next
											svg(width="10" height="22" viewBox="0 0 10 22" fill="none" xmlns="http://www.w3.org/2000/svg")
												path(d="M1 1L9 11L1 21" stroke="#242424")
								table.table
									thead
										tr
											th
											th 08:00
											th 10:00
											th 12:00
											th 14:00
											th 16:00
											th 18:00
									tbody
										tr
											td.name КАМАЗ Автокран 5490 15 тн
											td(colspan="5")
												.event
											td
										tr
											td.name КАМАЗ Автокран 5490 15 тн
											td
											td(colspan="3")
												.event
											td
											td
										tr
											td.name КАМАЗ Автокран 5490 15 тн
											td
											td
											td
											td
											td
											td
										tr
											td.name КАМАЗ Автокран 5490 15 тн
											td
											td
											td(colspan="4")
												.event
										tr
											td.name КАМАЗ Автокран 5490 15 тн
											td
											td
											td
											td
											td
											td
										tr
											td.name КАМАЗ Автокран 5490 15 тн
											td
											td
											td
											td
											td
											td
						.widget-calendar
							.widget-header
								span День
								span.state-active Неделя
								span Месяц
							.widget-week
								table.table
									thead
										tr
											th
												.btn-wrap
													button.prev
														svg(width="10" height="22" viewBox="0 0 10 22" fill="none" xmlns="http://www.w3.org/2000/svg")
															path(d="M9 1L1 11L9 21" stroke="#242424")
													button.next
														svg(width="10" height="22" viewBox="0 0 10 22" fill="none" xmlns="http://www.w3.org/2000/svg")
															path(d="M1 1L9 11L1 21" stroke="#242424")
											th ПН #[span 12]
											th ВТ #[span 13]
											th СР #[span 14]
											th ЧТ #[span 15]
											th ПТ #[span 16]
											th CБ #[span 17]
									tbody
										tr
											td.name КАМАЗ Автокран 5490 15 тн
											td #[span 4 ч]
											td #[span 4 ч]
											td
											td
											td
											td
										tr
											td.name КАМАЗ Автокран 5490 15 тн
											td
											td 
											td #[span 4 ч]
											td
											td
											td #[span 4 ч]
										tr
											td.name КАМАЗ Автокран 5490 15 тн
											td
											td
											td
											td
											td
											td
										tr
											td.name КАМАЗ Автокран 5490 15 тн
											td
											td
											td
											td
											td
											td
										tr
											td.name КАМАЗ Автокран 5490 15 тн
											td
											td #[span 4 ч]
											td
											td #[span 4 ч]
											td
											td
										tr
											td.name КАМАЗ Автокран 5490 15 тн
											td
											td 
											td
											td
											td
											td #[span 4 ч]
						.widget-calendar
							.widget-header
								span День
								span Неделя
								span.state-active  Месяц
							.widget-month
								table.table
									thead
										tr
											th
											th ПН #[span 12]
											th ВТ #[span 13]
											th СР #[span 14]
											th ЧТ #[span 15]
											th ПТ #[span 16]
											th CБ #[span 17]
									tbody
										tr
											td.name КАМАЗ Автокран 5490 15 тн
											td #[span 4 ч]
											td #[span 4 ч]
											td
											td
											td
											td
										tr
											td.name КАМАЗ Автокран 5490 15 тн
											td
											td 
											td #[span 4 ч]
											td
											td
											td #[span 4 ч]
										tr
											td.name КАМАЗ Автокран 5490 15 тн
											td
											td
											td
											td
											td
											td
										tr
											td.name КАМАЗ Автокран 5490 15 тн
											td
											td
											td
											td
											td
											td
										tr
											td.name КАМАЗ Автокран 5490 15 тн
											td
											td #[span 4 ч]
											td
											td #[span 4 ч]
											td
											td
										tr
											td.name КАМАЗ Автокран 5490 15 тн
											td
											td 
											td
											td
											td
											td #[span 4 ч]


	include ../common/_footer