extends ../_template

block variables
	- var title = 'Личный кабинет';
	- var selected = 'Контент3434'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная'], 'Личный кабинет')
				h1.page-heading Личный кабинет
				.rights Менеджер
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Заявки')
								+aside-personal('aplications.html', 'plan.png', 'Заказы')
								+aside-personal('aplications.html', 'documents.png', 'Техника')
								+aside-personal('aplications.html', 'user.png', 'Пользователи')
								+aside-personal('aplications.html', 'notification.png', 'Контент')
					.inner-content
						.page-city
							.container-city
								.city-template
									.city-template__block
										.city-template__line
											h3 Регионы
										.region-select.list-tovar
											.item.active
												.geo-region Алтайский край							
											- for (var x = 0; x < 20; x++)
												.item
													.geo-region Алтайский край
										// form.city-select
										// 	// активность элемента вызываеться по нажатию на карандаш. и добавляеться класс active для item
									.city-template__block
										.city-template__line
											h3 Населенные пункты
										form.city-select
									.city-template__block.city-template__block--all
										h3.pb Применить шаблон
										.sub «Название региона или населенного пункта»
										select.selectpicker.bright.custom-size(title="Название шаблона")
											option 1
											option 2
									button.btn.btn--primary.template-save Применить
								form.search-b
									input(placeholder="Найти город или регион")



	include ../common/_footer