extends ../_template

block variables
	- var title = 'Личный кабинет';
	- var selected = 'Техника'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная'], 'Личный кабинет')
				h1.page-heading Личный кабинет
				.rights Менеджер
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Заявки')
								+aside-personal('aplications.html', 'plan.png', 'Заказы')
								+aside-personal('aplications.html', 'documents.png', 'Техника')
								+aside-personal('aplications.html', 'user.png', 'Пользователи')
								+aside-personal('aplications.html', 'notification.png', 'Контент')
					.inner-content.inner-content--min
						.categories-page
							.categories-page__block
								h3.title.title-pb Категории техники
								.categories-page__line
									.btn-group
										a(href="#").btn.btn--light Редактировать БД
										a(href="#").btn.btn--light Вся техника на площадке
									a(href="#").btn.btn--light Запросы на редактирование
										span.count 2
								.element-wrap
									.plus-item.item-el
										h3.title Добавить вид
										img(src="assets/img/icon/plus.png")
										.group
											button.btn.btn--light.btn--w Добавить товарную позицию
											button.btn.btn--primary.btn--w Добавить
									- for (let i = 0; i < 5; i++)
										.category-edit.item-el
											.category-edit__view
												h3.title Экскаватор
												img(src="assets/img/item.png")
												button.btn.btn--primary.btn--w.edit-open Редактировать
											.category-edit__form
												form
													textarea Экскаватор
													.icon.icon-choose
														label(class="input-file-icon")
															img(src="assets/img/edit.png", alt="")
														input(class="input-img" type="file")
													.group
														button.btn.btn--light.btn--w Удлить раздел
														button.btn.btn--primary.btn--w Сохранить изменения
							.categories-page__block
								h3.title Популярные
								form.search-inside
									label(for="search-popular") Добавить в популярное
									.search-inside__line
										input(placeholder="Введите название товарной позиции" id="search-popular")
										button.btn.btn--primary Добавить
								.element-wrap
									- for (let x = 0; x < 3; x++)
										.catalog
											h3 3т - 6т колесный экскаватор 
											.catalog__img
												img(src="assets/img/catalog.png", alt="")
											ul.catalog-params
												li Мощность: 18v
												li Параметр: 20х
												li Вес: 2t
											.catalog-prices
												.prices
													span.text от
													span.price 14920
													b ₽ / час
												.prices-left
													span.text 2740 ₽ / без оператора
											button.btn.btn--primary Удалить из популярного
	include ../common/_footer