extends ../_template

block variables
	- var title = 'Уведомления';
	- var selected = 'Уведомления'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				nav
					ol.breadcrumb
						li
							a(href="#") Главная
						li.active
							a(href="#") Личный кабинет
				h1.page-heading Личные данные
				.switch
					span Заказчик
						input(type="checkbox" id="switch").switch__input
						label(for="switch").switch__label
					span Арендодатель
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Мои заявки')
								+aside-personal('#', 'floor-plan.png', 'Мои заказы')
								+aside-personal('message.html', 'message.png', 'Сообщения')
								+aside-personal('acts.html', 'documents.png', 'Акты и отчеты')
								+aside-personal('#', 'notification.png', 'Уведомления')
								+aside-personal('#', 'personal-data.png', 'Личные данные')
								+aside-personal('balance.html', 'menu-male.png', 'Баланс и платежи')
					.inner-content
						.inner-content__line
							h3.title Основные данные
						.personal-wrap
							.form-bg.form-bg--more
								form.form.form--basis.form--personal.form--personal--cutom
									.form__title Персональные данные
									.form__wrapp
										.form__group
											.form__item
												label(for="surname") Фамилия
												input(type="text" id="surname ")
											.form__item
												label(for="name") Имя
												input(type="text" id="name")
											.form__item
												label(for="patronymic") Отчество
												input(type="text" id="patronymic")
											.form__item
												label(for="birth") Дата рождения
												input(type="text" id="birth")
										.form__group
											.form__item
												span.dark Загрузить логотип
												.block-title__img.file-upload
													img(class="image" src="assets/img/rectangle1.png")
													input(class="file-one" type="file")
											.form__item
												label(for="phone") Телефон
												input(type="text" id="phone")
											.form__item
												label(for="mail") E-mail
												input(type="text" id="mail")
									button.btn.btn--primary.btn--submit Тест
							.form-bg.form-bg--small
								form.form.form--basis.form--personal
									.form__title Изменить пароль
									.form__item
										label(for="current-password") Текущий пароль
										input(type="password" id="current-password ")
									.form__item
										label(for="new-password") Новый пароль
										input(type="password" id="new-password")
									.form__item
										label(for="repeat-password") Подтвердите новый пароль
										input(type="password" id="repeat-password")
	include ../common/_footer