extends ../_template

block variables
  - var title = 'Уведомления';
  - var selected = 'Уведомления'

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        nav
          ol.breadcrumb
            li
              a(href="#") Главная
            li.active
              a(href="#") Личный кабинет
        h1.page-heading Личные данные
        .switch
          span Заказчик				
            input(type="checkbox" id="switch").switch__input
            label(for="switch").switch__label
        .inner-page
          include ../common/elements/aside-personal
          aside
            nav.menu.menu--personal
              ul
                +aside-personal('aplications.html', 'checklist.png', 'Мои заявки')
                +aside-personal('#', 'floor-plan.png', 'Мои заказы')
                +aside-personal('message.html', 'message.png', 'Сообщения')
                +aside-personal('acts.html', 'documents.png', 'Акты и отчеты')
                +aside-personal('#', 'notification.png', 'Уведомления')
                +aside-personal('#', 'personal-data.png', 'Личные данные')
                +aside-personal('balance.html', 'menu-male.png', 'Баланс и платежи')
          .inner-content
            .inner-content__line
              h3.title Основные данные
              .btn-group
                button.btn.btn--light(type="button" data-toggle="modal" data-target="#modal-change") Изменить пароль
                button.btn.btn--light(type="button" data-toggle="modal" data-target="#modal-individual") Запросить индивидуальный договор
            .personal-wrap.personal-wrap--pt.personal-wrap--custom
              .form-bg.form-bg--small
                form.form.form--basis.form--personal
                  .form__title Персональные данные
                  .form__item
                    span.dark Загрузить логотип
                    .block-title__img.file-upload
                      img(class="image" src="assets/img/rectangle1.png")
                      input(class="file-one" type="file")
                  .form__item
                    label(for="name") Имя
                    input(type="text" id="name")
                  .form__item
                    label(for="surname") Фамилия
                    input(type="text" id="surname ")
                  .form__item
                    label(for="phone") Телефон
                    input(type="text" id="phone")
                  .form__item
                    label(for="mail") E-mail
                    input(type="text" id="mail")
              .form-bg.form-bg--small
                form.form.form.form--basis.form--personal
                  .form__title Данные организации
                  .form__item
                    label(for="organization") Организация
                    input(type="text" id="organization")
                  .form__item
                    label(for="OPF") ОПФ
                    select.selectpicker.width-all
                      option 1
                      option 2
                      option 3
                  .form__item
                    label(for="legal-address") Юридический адрес
                    input(type="text" id="legal-address")
                  .form__item
                    label(for="inn") ИНН
                    input(type="text" id="inn")
              .form-bg.form-bg--small
                form.form.form.form--basis.form--personal
                  .form__title Реквизиты
                  .form__item
                    label(for="bank-details") Банковские реквизиты
                    input(type="text" id="bank-details")
                  .form__item
                    label(for="bank-details-2") Банковские реквизиты
                    input(type="text" id="bank-details-2")
                  .form__item
                    label(for="bank-details-3") Банковские реквизиты
                    input(type="text" id="bank-details-3")
                  .form__item
                    label(for="bank-details-4") Банковские реквизиты
                    p Межрегиональное операционное управление Федерального казначейства
              .form-bg.form-bg--custom.document-wrap
                h4 Документы
                form.form.form--basis
                  .row.justify-content-between
                    - for(let d = 0; d < 4; d++)
                      .col-xl-4
                        .form__item
                          .input-file-wrap
                            .input-file__name Учредительные документы 1
                            .input-file-wrap.input-file-wrap--line
                              .input-files
                                label(class="input-file-trigger")
                                  input(class="input-file" type="file")
                              .input-files-link
                                a(href="#")
                                  img(src="assets/img/icon/arrowDown.png")
              .form-bg.form-bg--custom
                h3.title Пригласить в команду
                .subtitle Отправьте приглашение участникам своей команды
                form.form.form--basis
                  .form__item.form__item-line
                    label.label-size(for="send-mail") E-mail
                    input(type="text" id="send-mail")
                    button.btn.btn--light(type="button" data-toggle="modal" data-target="#modal-send") Отправить
                  .list-members.flex-element
                    .list-members__title Список участников
                    .list-members-row
                      - for(let i = 0; i < 6; i++)
                        .list-members-row__item
                          label.label-size E-mail
                          input(type="text")
                          button.delite
                            svg(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                              path(d="M13 1L7 7M1 13L7 7M7 7L13 13L1 1" stroke="black")
    .wrap-save
      .title Внесенные изменения требуют сохранения
      button.btn.btn--primary Сохранить

  include ../common/_footer
  .modal.fade(id="modal-send" tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog.modal-dialog-centered.modal-dialog-send(role="document")
      .modal-content.box-send
        button(class="close" type="button" data-dismiss="modal" aria-label="Закрыть")
          img(src="assets/img/close2.png", alt="")
        .title Приглашение отправлено
        .sub Участнику отправлено сообщение о подтверждении на его e-mail
  .modal.fade(id="modal-change" tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog.modal-dialog-centered.modal-dialog-change(role="document")
      .modal-content.modal-change
        form.form.form--basis
          .form__title Изменить пароль
          .form__item
            label(for="current-password").label-size Текущий пароль
            input(type="password" id="current-password ")
          .form__item
            label(for="new-password").label-size Новый пароль
            input(type="password" id="new-password")
          .form__item
            label(for="repeat-password").label-size Подтвердите новый пароль
            input(type="password" id="repeat-password")
          button.btn.btn--primary Сохранить
  .modal.fade(id="modal-individual" tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog.modal-dialog-centered.modal-dialog-individual(role="document")
      .modal-content.modal-change
        form.form.form--basis
          .form__title Запрос на индивидуальный договор
          .form__sib-text Опишите запрашиваемые условия договора.
          .form__item
            textarea
          button.btn.btn--primary Отправить
  .modal.fade(id="invitation-sent" tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog.modal-dialog-centered.modal-sent(role="document")
      .modal-content.modal-change
        h3.title Приглашение отправлено
        .subtext Участнику отправлено сообщение о подтверждении на его e-mail
