extends ../_template

block variables
	- var title = 'Личный кабинет';
	- var selected = 'Техника'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная'], 'Личный кабинет')
				h1.page-heading Личный кабинет
				.rights Менеджер
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Заявки')
								+aside-personal('aplications.html', 'plan.png', 'Заказы')
								+aside-personal('aplications.html', 'documents.png', 'Техника')
								+aside-personal('aplications.html', 'user.png', 'Пользователи')
								+aside-personal('aplications.html', 'car.png', 'Отчеты')
								+aside-personal('aplications.html', 'mod.png', 'Модерация')
								+aside-personal('aplications.html', 'content.png', 'Контент')
								+aside-personal('aplications.html', 'city.png', 'Города')
								+aside-personal('aplications.html', 'patterns.png', 'Шаблоны')
								+aside-personal('aplications.html', 'extra.png', 'Доп. оборудование')
								+aside-personal('aplications.html', 'settings.png', 'Настройки платформы')
					.inner-content
						.categories-page
							.categories-page__block
								h3.title.title-pb.title--catalog Категории техники
								.categories-page__line
									.btn-group
										a(href="#").btn.btn--light Редактировать БД
										a(href="#").btn.btn--light Вся техника на площадке
									a(href="#").btn.btn--light Запросы на редактирование
										span.count 2
								.element-wrap.dragAndrop
									.plus-item.item-el
										h3.title Добавить категорию
										img(src="assets/img/icon/plus.jpg")
										button.btn.btn--primary.btn--w Добавить категории
									.category-edit.item-el
											.category-edit__view
												a(href="#")
													h3.title Землеройная техника
													.category-edit__img
														img(src="assets/img/test1.jpg")
												button.btn.btn--primary.btn--w.edit-open Редактировать
											.category-edit__form
												form
													textarea Землеройная техника
													.icon.icon-choose
														label(class="input-file-icon")
															img(src="assets/img/edit.png", alt="")
														input(class="input-img" type="file")
															
													.group
														button.btn.btn--light.btn--w Удлить раздел
														button.btn.btn--primary.btn--w Сохранить изменения
									.category-edit.item-el
										span.handle
											svg(width="64" version="1.1" xmlns="http://www.w3.org/2000/svg" height="64" viewBox="0 0 64 64" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 64 64")
												g
													path(fill="#1D1D1B" d="m63.875,31.203c-0.102-0.246-0.248-0.467-0.435-0.652l-6.837-6.838c-0.783-0.783-2.051-0.783-2.834,0-0.781,0.781-0.781,2.05 0,2.832l3.42,3.42-23.16-.001 .002-23.155 3.568,3.57c0.393,0.392 0.904,0.588 1.418,0.588 0.512,0 1.025-0.196 1.416-0.588 0.783-0.781 0.783-2.051 0-2.834l-6.988-6.99c-0.186-0.186-0.406-0.332-0.652-0.434-0.49-0.203-1.041-0.203-1.531,0-0.244,0.101-0.463,0.246-0.646,0.429 0,0-0.002,0.002-0.004,0.003l-6.844,6.84c-0.781,0.783-0.781,2.051 0,2.834 0.393,0.391 0.904,0.587 1.418,0.587 0.512,0 1.025-0.196 1.416-0.587l3.422-3.42-.002,23.157-23.15-.001 3.417-3.418c0.781-0.782 0.781-2.051 0-2.832-0.783-0.783-2.051-0.783-2.834,0l-6.838,6.84c-0.393,0.391-0.588,0.903-0.588,1.416s0.195,1.025 0.588,1.417l6.988,6.989c0.392,0.393 0.904,0.588 1.417,0.588s1.025-0.195 1.417-0.588c0.782-0.783 0.782-2.051 0-2.833l-3.571-3.571 23.153,.001-.001,23.153-3.418-3.417c-0.783-0.78-2.051-0.782-2.834,0.001-0.781,0.783-0.781,2.052 0,2.834l6.844,6.839c0.391,0.392 0.904,0.587 1.416,0.587 0.513,0 1.025-0.195 1.416-0.587l6.99-6.991c0.783-0.783 0.783-2.053 0-2.834-0.783-0.783-2.051-0.783-2.834,0l-3.572,3.574 .002-23.159 23.16,.001-3.57,3.569c-0.781,0.782-0.781,2.05 0,2.833 0.393,0.393 0.904,0.588 1.418,0.588 0.512,0 1.025-0.195 1.416-0.588l6.989-6.989c0.004-0.005 0.006-0.012 0.012-0.017 0.177-0.182 0.321-0.396 0.421-0.633 0.102-0.246 0.154-0.506 0.154-0.768-0.001-0.259-0.053-0.52-0.155-0.765z")

										.category-edit__view
											a(href="#")
												h3.title Землеройная техника
												.category-edit__img
													img(src="assets/img/test2.jpg")
											button.btn.btn--primary.btn--w.edit-open Редактировать
										.category-edit__form
											form
												textarea Землеройная техника
												.icon.icon-choose
													label(class="input-file-icon")
														img(src="assets/img/edit.png", alt="")
													input(class="input-img" type="file")
														
												.group
													button.btn.btn--light.btn--w Удлить раздел
													button.btn.btn--primary.btn--w Сохранить изменения
									- for (let i = 0; i < 2; i++)
										.category-edit.item-el
											span.handle
												svg(width="64" version="1.1" xmlns="http://www.w3.org/2000/svg" height="64" viewBox="0 0 64 64" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 64 64")
													g
														path(fill="#1D1D1B" d="m63.875,31.203c-0.102-0.246-0.248-0.467-0.435-0.652l-6.837-6.838c-0.783-0.783-2.051-0.783-2.834,0-0.781,0.781-0.781,2.05 0,2.832l3.42,3.42-23.16-.001 .002-23.155 3.568,3.57c0.393,0.392 0.904,0.588 1.418,0.588 0.512,0 1.025-0.196 1.416-0.588 0.783-0.781 0.783-2.051 0-2.834l-6.988-6.99c-0.186-0.186-0.406-0.332-0.652-0.434-0.49-0.203-1.041-0.203-1.531,0-0.244,0.101-0.463,0.246-0.646,0.429 0,0-0.002,0.002-0.004,0.003l-6.844,6.84c-0.781,0.783-0.781,2.051 0,2.834 0.393,0.391 0.904,0.587 1.418,0.587 0.512,0 1.025-0.196 1.416-0.587l3.422-3.42-.002,23.157-23.15-.001 3.417-3.418c0.781-0.782 0.781-2.051 0-2.832-0.783-0.783-2.051-0.783-2.834,0l-6.838,6.84c-0.393,0.391-0.588,0.903-0.588,1.416s0.195,1.025 0.588,1.417l6.988,6.989c0.392,0.393 0.904,0.588 1.417,0.588s1.025-0.195 1.417-0.588c0.782-0.783 0.782-2.051 0-2.833l-3.571-3.571 23.153,.001-.001,23.153-3.418-3.417c-0.783-0.78-2.051-0.782-2.834,0.001-0.781,0.783-0.781,2.052 0,2.834l6.844,6.839c0.391,0.392 0.904,0.587 1.416,0.587 0.513,0 1.025-0.195 1.416-0.587l6.99-6.991c0.783-0.783 0.783-2.053 0-2.834-0.783-0.783-2.051-0.783-2.834,0l-3.572,3.574 .002-23.159 23.16,.001-3.57,3.569c-0.781,0.782-0.781,2.05 0,2.833 0.393,0.393 0.904,0.588 1.418,0.588 0.512,0 1.025-0.195 1.416-0.588l6.989-6.989c0.004-0.005 0.006-0.012 0.012-0.017 0.177-0.182 0.321-0.396 0.421-0.633 0.102-0.246 0.154-0.506 0.154-0.768-0.001-0.259-0.053-0.52-0.155-0.765z")
											.category-edit__view
												a(href="#")
													h3.title Землеройная техника
													.category-edit__img
														img(src="assets/img/item.png")
												button.btn.btn--primary.btn--w.edit-open Редактировать
											.category-edit__form
												form
													textarea Землеройная техника
													.icon.icon-choose
														label(class="input-file-icon")
															img(src="assets/img/edit.png", alt="")
														input(class="input-img" type="file")
															
													.group
														button.btn.btn--light.btn--w Удлить раздел
														button.btn.btn--primary.btn--w Сохранить изменения
							.categories-page__block
								h3.title Популярные
								form.search-inside
									label(for="search-popular") Добавить в популярное
									.search-inside__line
										input(placeholder="Введите название товарной позиции" id="search-popular")
										button.btn.btn--primary Добавить
								.element-wrap
									- for (let x = 0; x < 3; x++)
										.catalog
											h3 3т - 6т колесный экскаватор 
											.catalog__img
												img(src="assets/img/catalog.png", alt="")
											ul.catalog-params
												li Мощность: 18v
												li Параметр: 20х
												li Вес: 2t
											.catalog-prices
												.prices
													span.text от
													span.price 14920
													b ₽ / час
												.prices-left
													span.text 2740 ₽ / без оператора
											button.btn.btn--primary Удалить из популярного
	include ../common/_footer