extends ../_template

block variables
	- var title = 'Личный кабинет';
	- var selected = 'Техника'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная'], 'Личный кабинет')
				h1.page-heading Личный кабинет
				.rights Менеджер
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Заявки')
								+aside-personal('aplications.html', 'plan.png', 'Заказы')
								+aside-personal('aplications.html', 'documents.png', 'Техника')
								+aside-personal('aplications.html', 'user.png', 'Пользователи')
								+aside-personal('aplications.html', 'notification.png', 'Контент')
					.inner-content
						.page-reports
							.page-reports__block
								h3.title Категории техники
								form.form
									.item
										label.label-size(for="city") Город или регион
										input(id="city")
									.item
										label.label-size Подвид техники
										select.selectpicker.width-all
											option 1
											option 2
							.page-reports__block
								h3 Выберите тип отчета
								ul.nav.nav-tabs(role="tablist")
									li.nav-item
										a(href="#type-1" data-toggle="tab").nav-link Заявки перешедшие в заказ
									li.nav-item
										a(href="#type-2" data-toggle="tab").nav-link N техники / N оформлено заказов
									li.nav-item
										a(href="#type-3" data-toggle="tab").nav-link Количество предложений на заявку
									li.nav-item
										a(href="#type-4" data-toggle="tab").nav-link Среднее количество техники у владельцев
								.tab-content
									.tab-pane.fade.show.active(id="type-1" role="tabpanel")
										a(href="#").btn.btn--primary Выгрузить в Excel
									.tab-pane.fade(id="type-2" role="tabpanel")
										a(href="#").btn.btn--primary Выгрузить в Excel
									.tab-pane.fade(id="type-3" role="tabpanel")
										a(href="#").btn.btn--primary Выгрузить в Excel
									.tab-pane.fade(id="type-4" role="tabpanel")
										a(href="#").btn.btn--primary Выгрузить в Excel

	include ../common/_footer