extends ../_template

block variables
  - var title = 'Мой автопарк';
  - var selected = 'Мой автопарк'

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb
        +breadcrumbs(['Главная', 'Категория'], 'Вид')
        h1.page-heading Мой автопарк
        .switch
          span Заказчик
            input(type="checkbox" id="switch").switch__input
            label(for="switch").switch__label
          span Арендодатель
        .inner-page
          include ../common/elements/aside-lessor
          .inner-content
            a(href="#").btn-prev
              svg(width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(opacity="0.3" d="M8.63636 1L1 7.26087L8.63636 13" stroke="black")
              span Вернуться назад
            .inside-techique.techique.techique--view
              form.form.form--basis.form--custom
                .techique__head
                  .techique__block
                    .item-wrap
                      label.label-size Адрес базирования техники
                      .item-map Уфа, улица Маршала Жукова, 29
                      .sub Изменение данных вашей техники возможно путём обращения в службу 
                        a(href="#") поддержки (ссылка на обращение в сервис)
                    .filter-block.filter-slider-options
                      .filter-block__name Радиус выезда техники
                      .filter-block__group
                        .filter-block__wrap
                          .filter-block__input
                            input.amount-all(name='radius-1')
                        .slider-range2
                .techique__body
                  .techique__block.techique__block--pb.techique__block--start
                    .techique__group.techique__group--line
                      .form__item
                        label.label-size Подвид
                        p Самосвал
                      .form__group
                        .form__item.form__item--width
                          label.label-size Модель
                          p 312560    
                        .form__item.form__item--width
                          label.label-size Модель
                          p FAW
                    .techique__group
                      .form__item
                        input(class="custom-input" type="checkbox" id="type-3")
                        label(class="custom-label custom-label--color" for="type-3")
                          span Буду сдавать эту технику без машиниста (холодная аренда)
                    .techique__group.techique__group--min
                      .form__item
                        label.label-size Дополнительное оборудование
                        .block-badge
                          span.badge Колесный экскаватор (8)
                          span.badge Колесный экскаватор (8)
                          span.badge Колесный экскаватор (8)
                          span.badge Колесный экскаватор (8)
                          span.badge Колесный экскаватор (8)
                          span.badge Колесный экскаватор (8)
                          span.badge Колесный экскаватор (8)
                          span.badge Колесный экскаватор (8)
                  .techique__block.techique__block--pb.techique__block--pb--more
                    .form__item.form__item--width
                      label.label-size Год выпуска:
                      p 2012
                    .form__item.form__item--width
                      label.label-size VIN
                      p 2012
                    .form__item.form__item--width
                      label.label-size Номер
                      p 2012

                  h3 Свидетельство о регистрации ТС                    
                  .input-file-wrap.input-file-wrap--height
                    .wrapper-inside
                .techique__bottom
                  button.btn.btn--light(type="button" data-toggle="modal" data-target="#delete-obj" ) Удалить технику
                  button.btn.btn--primary Сохранить
  .modal.fade.adress-choose(tabindex="-1" role="dialog")
    .modal-dialog.modal-sm.modal-adress
      .modal-content
        .modal-head
          ul.nav.nav-tabs(role="tablist")
            li.nav-item
              a(class="nav-link nav-link-address active" data-toggle="tab" href="#select-address") Выбрать адрес
            li.nav-item
              a(class="nav-link nav-new-address" data-toggle="tab" href="#new-address") Добавить новый
        .tab-content
          .tab-pane.fade.active.show(id="select-address" role="tabpanel")
            .tab-pane-adress
              .address-list-wrap
                ul.address-list
                  -for(let l = 0; l < 10; l++)
                    li
                      .select-address
                        .name Название объекта
                        .address
                          .icon
                            img(src="assets/img/map.png", alt="")
                          span г.Уфа, ул.Ленина, 2
          .tab-pane.fade(id="new-address" role="tabpanel")
            .tab-pane-map
              .map-tab
                #map
              form 
                .form__item
                  input(placeholder="Введите адрес")
                  button
                    svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(d="M1 8.09091L6.73529 14L14 1" stroke="white")
  .modal.fade#match(tabindex="-1" role="dialog")
    .modal-dialog.modal-sm.modal-dialog-centered.modal-dialog-median
      .modal-content
        form.form.form--basis.form--custom
          h3 Запрос на редактирование
          .form__item
            label Марка
            input(type="text")
          .form__item
            label Марка
            input(type="text")
          .form__item
            label Опишете несоответствие
            textarea
          button.btn.btn--primary Отправить запрос

  .modal.fade#no-brand(tabindex="-1" role="dialog")
    .modal-dialog.modal-sm.modal-dialog-centered.modal-dialog-static
      .modal-content
        form.form.form--basis.form--custom
          h3 Запрос на редактирование
          .form__inline
            .form__item
              label.label-size(for="marka") Марка
              input(type="text" id="marka")
            .form__item
              label.label-size(for="model") Модель
              input(type="text" id="model")
            .form__item.form__item--width
              label.label-size Опишите несоответствие
              select.selectpicker.width-all
                option 1
                option 2
                option 3
            .input-file-wrap.input-file-wrap--height
                .add-file-block
                  .add-file-block__icon
                    svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none")
                      path(d="M9.99999 0V20M0 10H20" stroke="black")
                .wrapper-inside
            
          .btn-send
            button.btn.btn--primary Отправить запрос          

  .modal.fade#not-list(tabindex="-1" role="dialog")
    .modal-dialog.modal-sm.modal-dialog-centered.modal-dialog-median
      .modal-content
        form.form.form--basis.form--custom
          h3 Запрос на добавление техники
          .form__item
            label Марка
            input(type="text")
          .form__item
            label Марка
            input(type="text")
          button.btn.btn--primary Отправить запрос

  .modal.fade#thank-con(tabindex="-1" role="dialog")
    .modal-dialog.modal-sm.modal-dialog-centered.modal-dialog-median
      .modal-content
        form.form.form--basis.form--custom
          h3 Спасибо за обращение
          .form__text Ваша заявка на добавление техники будет рассмотрена менеджером платформы в ближайшее время.
          .form__item.form__item-pb
            input(type="text" value="JCB-243")
          button.btn.btn--primary Готово
  .modal.fade#delete-obj(tabindex="-1" role="dialog")
      .modal-dialog.modal-dialog-centered.modal-white(role="document")
        .modal-content
          h3 Вы уверены, что хотите удалить данную заявку?
          .btn-group
            button.btn.btn--primary Удалить
            button(data-dismiss="modal").btn.btn--light Отмена


  include ../common/_footer