extends ../_template

block variables
  - var title = 'Мой автопарк';
  - var selected = 'Мой автопарк'

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        include ../common/elements/breadcrumb
        +breadcrumbs(['Главная', 'Категория'], 'Вид')
        h1.page-heading Мой автопарк
        .switch
          span Заказчик
            input(type="checkbox" id="switch").switch__input
            label(for="switch").switch__label
          span Арендодатель
        .inner-page
          include ../common/elements/aside-lessor
          .inner-content
            .page-technique
              .block-mn
                .btn-group
                  a(href="#").btn.btn--primary Добавить технику
                  button.btn.btn--light Календарь загрузки
                .group
                  .filter-block.filter-slider-options
                    .filter-block__name Радиус выезда техники
                    .filter-block__wrap
                      .filter-block__input
                        input.amount-all(name='radius-1')
                    .slider-range2
                  .block-mn-select
                    select.selectpicker.custom-size.custom-center(title="Подвид техники")
                      option 1
                      option 2
                      option 3

              #accordion.custon-accordion.custon-accordion--light
                .card
                  .card-header
                    button(data-toggle='collapse', data-target='#open-1' aria-expanded="true") Автокран
                      span.open
                        svg(width="27" height="15" viewBox="0 0 27 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                          path(d="M1 1.16211L13.5 13.1621L26 1.16211" stroke="#AEA69D" stroke-opacity="0.3" stroke-width="2")
                  #open-1.show
                    - for (let x = 0; x < 1; x++)
                      .item-box.flex-element.flex-element--option
                        .item-box__block
                          .item-box__wrapper
                            .item-box__img
                              img(src="assets/img/gf.png" alt="Foton Lovol lovol type of")
                            .item-box__group
                              .item-box__name Foton Lovol lovol type of
                              .item-box__el.item-box__el--upper FL936F
                          .item-box__group
                            .item-box__el Год выпуска: 2012
                            .item-box__item
                              .item-box__label Статус:
                              .item-box__el  на модерации
                          .item-box__group.item-box__group--size
                            .item-box__el VIN: LKBSG9JV7CY001357
                            .item-box__el Номер: 0205AA116
                        a(href="technique-more.html").btn.btn--light Открыть подробности
                    .item-box.flex-element.flex-element--option
                      .item-box__block
                        .item-box__wrapper
                          .item-box__img
                            img(src="assets/img/gf.png" alt="Foton Lovol lovol type of")
                          .item-box__group
                            .item-box__name Foton Lovol lovol type of
                            .item-box__el.item-box__el--upper FL936F
                        .item-box__group
                          .item-box__el Год выпуска: 2012
                        .item-box__group.item-box__group--size
                          .item-box__el VIN: LKBSG9JV7CY001357
                          .item-box__el Номер: 0205AA116

                      a(href="technique-more.html").btn.btn--light Открыть подробности

  include ../common/_footer