extends ../_template

block variables
	- var title = 'Личный кабинет';
	- var selected = 'Техника'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная'], 'Личный кабинет')
				h1.page-heading Оборудование
				.rights Менеджер
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Заявки')
								+aside-personal('aplications.html', 'plan.png', 'Заказы')
								+aside-personal('aplications.html', 'documents.png', 'Техника')
								+aside-personal('aplications.html', 'user.png', 'Пользователи')
								+aside-personal('aplications.html', 'notification.png', 'Контент')
					.inner-content
						.page-dop
							h3 Список шаблонов
							.page-dop__line.flex-element.flex-element--option
								button.btn.btn--primary.btn--wide Добавить оборудование
								button.btn.btn--light.btn--wide Удалить
							.wrapp-dop
								- for (let c = 0; c < 5; c++)
									.item-technique-el
										.item-check
											input(class="input-checkbox" type="checkbox" id="catalog1")
											label(class="label-checkbox label-checkbox--dark" for="catalog1")
										.item-technique.item-technique--template.flex-element.flex-element--option
											.item-technique__group.flex-element.flex-element--option.item-technique__group--width
												.item-technique__name Название доп оборудования
												a(href="#").btn.btn--light Редактировать
	include ../common/_footer