extends ../_template

block variables
	- var title = 'Список чатов';
	- var selected = 'Сообщение'

block content
	include ../common/_header
	main
		.container
			.inner-page-wraper
				include ../common/elements/breadcrumb
				+breadcrumbs(['Главная'], 'Личный кабинет')
				h1.page-heading Оборудование
				.rights Менеджер
				.inner-page
					include ../common/elements/aside-personal
					aside
						nav.menu.menu--personal
							ul
								+aside-personal('aplications.html', 'checklist.png', 'Заявки')
								+aside-personal('aplications.html', 'plan.png', 'Заказы')
								+aside-personal('aplications.html', 'documents.png', 'Техника')
								+aside-personal('aplications.html', 'user.png', 'Пользователи')
								+aside-personal('aplications.html', 'notification.png', 'Контент')
					.inner-content
						.page-message
							.head-block
								a(href="#").btn-prev
									svg(width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg")
										path(opacity="0.3" d="M8.63636 1L1 7.26087L8.63636 13" stroke="black")
									span Назад к чатам
								button.btn.btn--primary.btn--action Взять на работу
								button.btn.btn--light.btn--action Закрыть
							.chat-block
								.chat-block__left
									.chat-block__head.chat-block__head--title Тема обращения: Название 1
									.chat-block__body
										.chat-block__message
											.chat.sent
												.chat__item
													.photo
														img(src="assets/img/photo.png")
													.chat-content
														.chat-text Сэмпл более длинного  текста. Сэмпл более длинного текста. Сэмпл более длинного текста. Сэмпл более длинного текста. Сэмпл более длинного текста.
											.chat.replies
												.chat__item
													.photo
														img(src="assets/img/photo.png")
													.chat-content
														.chat-text Привет
												.chat__item
													.photo
														img(src="assets/img/photo.png")
													.chat-content
														.chat-text Как дела ?
											.chat.sent
												.chat__item
													.photo
														img(src="assets/img/photo.png")
													.chat-content
														.chat-media
															a(href="assets/img/example.png" target="_blank")
																img(src="assets/img/example.png")
										.chat-view
									form
										.message-input
											.media-block
												label
													img(src="assets/img/choose.png")
												input(type="file" multiple="multiple" accept="image/*, .doc, .docx, .pdf" class="select-choose")
											textarea(placeholder="Введите сообщение")
											button
												svg(width="27" height="8" viewBox="0 0 27 8" fill="none" xmlns="http://www.w3.org/2000/svg")
													path(d="M0 7H25.5L19.5 1" stroke="white")

								.chat-block__right
									.chat-block__person
										img(src="assets/img/chat.png")
										span.name Transbuilding
	include ../common/_footer