extends ../_template
include ../common/elements/aside

block variables
  - var title = 'Главная';
  - var selected = 'Главная'

block content
  include ../common/_header
  main
    .container
      .inner-page-wraper
        nav
          ol.breadcrumb
            li
              a(href="#") Главная
            li.active
              a(href="#") Категория
          h1.page-heading КМУ/САМОСВАЛ
          .inner-page
            .catalog-inner
              .catalog-inner__line.flex-element
                .catalog-inner__img
                  img(src="assets/img/catalog.png" alt="Название позиции").responsiv-img
                .catalog-inner__block
                  .switch-block
                    h3 Вид Тарифа
                    .switch
                      span Почасовая
                      input(class="switch__input" type="checkbox" id="switch")
                      label(class="switch__label" for="switch")
                      span По расстоянию и объему груза
                  .catalog-inner__group
                    .catalog-inner__title Место начала маршрута
                    div.item-map
                      button(class="input-button btn-open-address" type="button" data-toggle="modal" data-target=".adress-choose") fdsfrdsf fhjkdsfh j fjdsfh dsjfhjds fj fhdjskfh dsjfdsfj fhdsjf fdsfrdsf fhjkdsfh j fjdsfh dsjfhjds fj fhdjskfh dsjfdsfj fhdsjf fdsfrdsf fhjkdsfh j fjdsfh dsjfhjds fj fhdjskfh dsjfdsfj fhdsjf
                      button(class="btn-open-map btn btn--light" type="button" data-toggle="modal" data-target=".adress-choose" aria-label="Открыть карту")
                        span Карта
                        svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve")
                          g
                            path(fill="#FC7327" d="M256,0C167.641,0,96,71.625,96,160c0,24.75,5.625,48.219,15.672,69.125C112.234,230.313,256,512,256,512l142.594-279.375   C409.719,210.844,416,186.156,416,160C416,71.625,344.375,0,256,0z M256,256c-53.016,0-96-43-96-96s42.984-96,96-96   c53,0,96,43,96,96S309,256,256,256z")
                  .catalog-inner__group
                    .catalog-inner__title Место окончания маршрута
                    div.item-map
                      button(class="input-button btn-open-address" type="button" data-toggle="modal" data-target=".adress-choose")
                      button(class="btn-open-map btn btn--light" type="button" data-toggle="modal" data-target=".adress-choose" aria-label="Открыть карту")
                        span Карта
                        svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve")
                          g
                            path(fill="#FC7327" d="M256,0C167.641,0,96,71.625,96,160c0,24.75,5.625,48.219,15.672,69.125C112.234,230.313,256,512,256,512l142.594-279.375   C409.719,210.844,416,186.156,416,160C416,71.625,344.375,0,256,0z M256,256c-53.016,0-96-43-96-96s42.984-96,96-96   c53,0,96,43,96,96S309,256,256,256z")
                  .group.flex-element
                    .check-item
                      input(type="checkbox" id="type-1" class="custom-input")
                      label(for="type-1" class="custom-label label-size") Без машиниста
                      button(class="btn-tool" type="button" data-toggle="tooltip" title="Текст" aria-hidden="true")
                        img(src="assets/img/icon/tooltip.png", alt="")
                    .check-item
                      input(type="checkbox" id="type-2" class="custom-input")
                      label(for="type-2" class="custom-label label-size") Самовывоз
              .catalog-inner__information.flex-element
                .catalog-inner__group.catalog-inner__group--custom.catalog-inner__group--date.catalog-inner__group--date--pr
                  .catalog-inner__head
                    .catalog-inner__title Начало аренды
                    .flex-element.catalog-block-group
                      input.form-control(id="test1")
                      input.form-control(id="test-timepicker")
                      input(class="start-date date-phone input-custom")
                      input(class="start-time date-phone input-custom")
                .catalog-inner__group.catalog-inner__group--custom.catalog-inner__group--date.catalog-inner__group--notpr
                    .catalog-inner__head
                        .catalog-inner__title Окончание аренды
                        .flex-element.catalog-block-group
                            input.form-control
                            input.form-control
                            input(class="finish-date date-phone input-custom")
                            input(class="finish-time date-phone input-custom")
                //.catalog-inner__group.catalog-inner__group--date
                //  .catalog-inner__head
                //    .catalog-inner__title Начало аренды
                //    .wrap-tool
                //      button.btn-tool(aria-hidden="true" data-placement="top" title="Текст")
                //        img(src="assets/img/icon/tooltip.png" alt="")
                //
                //  span.ad
                //  .catalog-inner__head
                //    .catalog-inner__title Окончание аренды
                //    .wrap-tool
                //      button.btn-tool(data-placement="top" title="Текст" aria-hidden="true")
                //        img(src="assets/img/icon/tooltip.png" alt="")
                //    input(class="start-date date-phone input-custom")
                //  .catalog-inner__flex
                //    input(class="date input-custom" id="date-input")
                //.catalog-inner__group
                //  .catalog-inner__head
                //    .catalog-inner__title Рабочие дни
                //    .wrap-tool
                //      button.btn-tool(aria-hidden="true" data-placement="top" title="Текст")
                //        img(src="assets/img/icon/tooltip.png" alt="")
                //  select(class="selectpicker cutsom-min" data-selected-text-format="count")
                //    option 5
                //    option 4
                //    option 6
                .catalog-inner__group
                  .catalog-inner__head
                    .catalog-inner__title Смена
                    .wrap-tool
                      button.btn-tool(aria-hidden="true" data-placement="top" title="Текст")
                        img(src="assets/img/icon/tooltip.png" alt="")
                  select(class="selectpicker cutsom-min")
                    option 8 ч
                    option 9
                    option 10
                .catalog-inner__group.catalog-inner__group--custom
                  .catalog-inner__head
                    .catalog-inner__title Масса / объем груза
                  .flex-element.catalog-block-group
                    input.form-control
                    select(class="selectpicker cutsom-min")
                      option 8 ч
                      option 9
                      option 10
              .catalog-inner__block.catalog-inner__block--line
                .catalog-inner__group.catalog-inner__group--flex
                  .catalog-inner__wrapp
                    .catalog-inner__title.catalog-inner__title--custm Дополнительное оборудование
                    select(class="selectpicker select-width bright" multiple data-selected-text-format="count")
                      option Позиция 1
                      option Позиция 2
                      option Позиция 3
                      option Позиция 4
                      option Позиция 5
                      option Позиция 6
                  .check-item
                    input(type="checkbox" id="landrover" class="custom-input")
                    label(for="landrover" class="custom-label label-size") Вездеход
              .catalog-inner__block
                .notes-block
                  -for(let n = 0; n < 4; n++)
                    .notes-block__item
                      .notes-block__title
                        span Описание примечания
                        button.btn-tool(aria-hidden="true" data-placement="top" title="Техника является несамоходной и для неё требуется услуга по доставке")
                          img(src="assets/img/icon/tooltip.png" alt="")
                      .notes-block__body Примечание
              .catalog-inner__block
                .catalog-chars
                  .catalog-char
                    .catalog-inner__title Характеристики:
                    ul
                      li Характеристика витрины: #[span 4281 мм]
                      li Характеристика витрины 2: #[span 4,6 - 5,2 км/ч ]
                      li Характеристика описания 1: #[span 3500-4820 мм]
                      li Характеристика описания 2: #[span дизель]
                      li Характеристика описания 3: #[span 28 - 341 квт]
                  .catalog-char
                    .catalog-inner__title Габариты:
                    ul
                      li Ширина: #[span 1980 - 2000 мм]
                      li Высота: #[span 2359 - 2790 мм ]
                      li Длина: #[span 5420 - 5680 мм]
                      li Вес: #[span 6025 - 6790 кг]
            .result-wrapper
              .result-block
                .result-block__item
                  h4 Тарифы
                  ul
                    li #[span Стандартный] #[span 4 281 ₽/час]
                    li #[span От 20 смен] #[span 3 780 ₽/час]
                .result-block__item
                  .result-block__line
                    h4 Итог
                    span.accent 17 290 ₽
                  ul
                    li #[span Тариф ₽/час] #[span 4 281 ₽]
                    li #[span Срок аренды] #[span 5 дней / 40 часов]
                    li
                      span Стоимость дороги
                        button(class="btn-tool" data-placement="top" data-original-title="Какой то текс")
                          img(src="assets/img/icon/tooltip.png", alt="")
                      span 1 479 ₽
                    li
                      span Доставка тралом
                        button(class="btn-tool" data-placement="top" data-original-title="Какой то текс")
                          img(src="assets/img/icon/tooltip.png", alt="")
                    li #[span Количество]
                      .counter.counter--other
                        button(class="counter-action counter-action--minus") -
                        input(class="counte-number" value="1")
                        button(class="counter-action counter-action--plus") + 
                .result-block__text Итоговая стоимость заявки приблизительная, точный расчёт будет произведен при выборе предложений арендодателей.
              .btn-group
                button.btn.btn--primary Добавить в корзину
                button.btn.btn--light.test(disabled) Быстрый заказ
                button.btn.btn--light(type="button" data-toggle="modal" data-target="#test") Модалка
                
  .modal.fade.adress-choose(tabindex="-1" role="dialog")
    .modal-dialog.modal-sm.modal-adress
      .modal-content
        .modal-head
          ul.nav.nav-tabs(role="tablist")
            li.nav-item
              a(class="nav-link nav-link-address active" data-toggle="tab" href="#select-address") Выбрать адрес
            li.nav-item
              a(class="nav-link nav-new-address" data-toggle="tab" href="#new-address") Добавить новый
        .tab-content
          .tab-pane.fade.active.show(id="select-address" role="tabpanel")
            .tab-pane-adress
              .address-list-wrap
                ul.address-list
                  -for(let l = 0; l < 10; l++)
                    li
                      a(href="#")
                        .name Название объекта
                        .address
                          .icon
                            img(src="assets/img/map.png", alt="")
                          span г.Уфа, ул.Ленина, 2
          .tab-pane.fade(id="new-address" role="tabpanel")
            .tab-pane-map
              .map-tab
                #map
              form 
                .form__item
                  input(placeholder="Введите адрес")
                  button
                    svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(d="M1 8.09091L6.73529 14L14 1" stroke="white")
  .modal.fade#test(tabindex="-1" role="dialog")
    .modal-dialog.modal-dialog-centered.modal-information
      .modal-content
        form.form.seach-item.flex-element
          label.visually-hidden(for="search") Поиск
          input(type="text" id="search" placeholder="Найти")
          button.btn.btn--light Найти
        button(type="button" class="close" data-dismiss="modal" aria-label="Закрыть модальное окно")
          svg(width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M1 1L13.885 13M13.885 13L26.7701 25M13.885 13L26.7701 1M13.885 13L1 25" stroke="#303855" stroke-width="2")
        .scroll-default.scroll-default--more
          .a-block
            - for (let x = 0; x < 5; x++)
              .a-block__item
                .a-block__group.a-block__group--inline
                  .a-block__img
                    img(src="assets/img/manager1.png" alt="").responsiv-img
                  .a-block__group
                    .a-block__name Наименование
                    .a-block__comments
                      .raiting-block
                        ul.raiting
                          - for (let r = 0; r < 3; r++)
                            li
                              img(src="assets/img/rating/Star.png", alt="")
                          li
                            img(src="assets/img/rating/Star-2.png", alt="")
                          li
                            img(src="assets/img/rating/Star-1.png", alt="")
                        .all-rating 3.9
                        a(href="#").reviews-el Отзывов: #[span 54]
                    .a-block__text.dark Исполнитель
                .a-block__group.a-block__group--btn
                  a(href="#" class="btn btn--primary") Открыть профиль
  include ../common/_footer