@import "../var";

.catalog {
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  padding: 20px 15px 25px 18px;
  margin-bottom: 20px;

  .catalog__head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 45px);
  }

  .catalog__head--custom {
    justify-content: flex-start;
  }

  h3 {
    font-family: $bold;
    font-size: 14px;
    line-height: normal;
    color: $color-text;
    margin-bottom: 20px;

    @media (max-width: 992px) {
      margin-bottom: 10px;
    }

    @media (max-width: 380px) {
      font-size: 11px;
      line-height: 12px;
    }
  }

  .btn {
    width: 100%;
    padding: 6px 5px;
    font-size: 14px;
    margin-top: 13px;

    @media (max-width: 1659px) {
      margin-top: 15px;
    }

    @media (max-width: 992px) {
      margin-top: 12px;
      padding-left: 5px;
      padding-right: 5px;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  .catalog__img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    img {
      width: 140px;
    }
  }

  ul {
    margin: 7px 0 0 0;
    line-height: normal;

    li {
      display: inline-block;
      color: #aea69d;
      font-size: 12px;
      padding-right: 3px;
    }
  }

  .catalog-prices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #000;

    span.text {
      color: #aea69d;
      font-size: 12px;
    }

    .price,
    b {
      font-family: "Montserrat-Bold", sans-serif;
      font-size: 14px;
      margin-left: 7px;
      color: $accent;
    }

    @media (max-width: 1659px) and (min-width: 1110px) {
      .prices,
      .prices-left {
        width: 100%;
      }

      .prices-left {
        text-align: left;
        padding-top: 0;
      }
    }

    @media (max-width: 480px) {
      .price,
      b {
        font-size: 12px;
      }
    }

    @media (max-width: 380px) {
      .price,
      b,
      span.text {
        font-size: 11px;
      }
    }
  }

  .prices-left {
    width: 120px;
    text-align: right;
    line-height: 17px;
  }

  @media (max-width: 992px) {
    margin-bottom: 10px;
    padding-bottom: 20px;

    .catalog-prices {
      .prices-left {
        display: none;
      }
    }

    .catalog-params {
      display: none;
    }
  }

  @media (max-width: 767px) {
    > a {
      height: 100%;
    }
  }

  @media (max-width: 480px) {
    padding: 15px 10px;
  }
}

.catalog-inner {
  .switch {
    display: block;
  }

  .catalog-inner__title {
    font-family: $bold;
    margin-bottom: 10px;
  }

  .catalog-inner__line {
    .catalog-inner__img {
      width: 310px;
    }

    .catalog-inner__block {
      display: block;
      padding-left: 20px;
      width: calc(100% - 330px);

      .catalog-inner__group {
        margin-bottom: 16px;
      }

      .catalog-inner__title {
        font-size: 14px;
      }
    }

    .check-item {
      position: relative;
      margin-left: 30px;

      &:first-child {
        margin-left: 0;
      }

      button {
        margin-left: 6px;
      }
    }

    @media (max-width: 1659px) {
      .catalog-inner__img {
        width: 250px;
      }

      .catalog-inner__block {
        width: calc(100% - 270px);
      }
    }

    @media (max-width: 992px) {
      .catalog-inner__img {
        width: 180px;
      }

      .catalog-inner__block {
        width: calc(100% - 200px);
      }

      .check-item {
        margin-left: 15px;
      }
    }

    @media (max-width: 576px) {
      .catalog-inner__img {
        margin-left: auto;
        margin-right: auto;
      }

      .catalog-inner__block {
        padding-left: 0;
        width: 100%;

        .catalog-inner__title {
          margin-bottom: 7px;
          font-size: 12px;
        }
      }
    }
  }

  .catalog-inner__information {
    padding-top: 50px;
    padding-bottom: 15px;

    .catalog-block-group {
      .form-control {
        width: 110px;
        margin-right: 10px;
      }

      .bootstrap-select.cutsom-min:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 83px;
      }
    }

    .catalog-inner__title {
      font-size: 14px;
      display: block;
    }

    .catalog-inner__group {
      padding-right: 35px;
      padding-bottom: 15px;

      &:last-child {
        padding-right: 0;
      }
    }

    .catalog-inner__head {
      position: relative;
      display: inline-block;
    }

    .bootstrap-select {
      display: block;
    }

    .input-custom {
      border: 1px solid rgba(174, 166, 157, 0.3);
      display: inline-block;
      padding: 8px 13px;
    }

    .catalog-inner__group--date {
      .date-phone {
        display: none;
      }

      .form-control {
        width: 90px;
      }
    }

    .catalog-inner__group--date--pr {
      padding-right: 14px;
    }

    @media (max-width: 1200px) {
      padding-top: 30px;
    }

    @media (max-width: 992px) {
      .catalog-inner__title {
        font-size: 12px;
        margin-bottom: 6px;
      }

      .wrap-tool {
        display: none;
      }

      .catalog-inner__group {
        padding-right: 20px;
        padding-bottom: 10px;
      }

      .catalog-inner__group--notpr {
        padding-right: 0;
      }

      .catalog-inner__group--date {
        width: 48.7%;

        .catalog-inner__head {
          width: 100%;
        }

        .flex-element {
          justify-content: space-between;
        }

        .form-control {
          width: 48.7%;
          font-size: 13px;
          padding: 8px 5px;
          margin-right: 0;
        }
      }
    }

    @media (max-width: 576px) {
      padding-bottom: 5px;

      .inner__group--date--pr,
      .catalog-inner__group {
        padding-right: 0;
      }

      .catalog-inner__group {
        width: 100%;
      }

      .catalog-block-group {
        .form-control {
          width: auto;
          flex: 1;
        }
      }

      .bootstrap-select.cutsom-min:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        flex: 1;
        width: 100%;
      }

      .catalog-inner__group--date {
        width: 100%;

        .form-control {
          font-size: 12px;
          flex: none;
          width: 48.7%;
          padding: 6px;
        }
      }
    }
  }

  .catalog-inner__group--flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    .check-item {
      padding-bottom: 5px;
    }

    .catalog-inner__wrapp {
      display: inline-block;
      margin-right: 30px;
    }

    @media (max-width: 992px) {
      .catalog-inner__wrapp {
        margin-right: 20px;
      }
    }

    @media (max-width: 768px) {
      .bootstrap-select .btn-light {
        padding: 6px 5px;
      }
    }

    @media (max-width: 576px) {
      .catalog-inner__wrapp {
        margin-right: 0;
        width: 100%;
        padding-bottom: 7px;
      }

      .check-item {
        padding-bottom: 0;
      }

      .select-width.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 100%;
      }
    }
  }

  .catalog-inner__block--line {
    @media (max-width: 768px) {
      padding-top: 10px;
    }
  }

  .catalog-inner__title--custm {
    margin-bottom: 13px;

    @media (max-width: 992px) {
      font-size: 15px;
      margin-bottom: 10px;
    }

    @media (max-width: 768px) {
      font-size: 13px;
      margin-bottom: 7px;
    }
  }

  .notes-block {
    width: 100%;

    &__item:last-child {
      margin-right: 0;
    }

    @media (max-width: 1659px) {
      &__item {
        width: calc((100% / 4) - 10px);
        margin-right: 10px;
        margin-bottom: 15px;
      }
    }

    @media (max-width: 992px) {
      .btn-tool {
        display: none;
      }
    }

    @media (max-width: 768px) {
      &__item {
        width: 49%;
        margin-bottom: 10px;
        margin-right: 5px;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }

      .notes-block__title,
      .notes-block__body {
        font-size: 11px;
      }
    }
  }

  .catalog-inner__block {
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;

    &:last-child {
      padding-bottom: 0;
    }

    @media (max-width: 1659px) {
      padding-bottom: 35px;
    }

    @media (max-width: 992px) {
      padding-bottom: 25px;
    }
  }
}

.catalog-chars {
  display: flex;
  flex-wrap: wrap;

  .catalog-char {
    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: 992px) {
      margin-right: 40px;
    }

    @media (max-width: 600px) {
      margin-right: 0;
      width: 100%;
      padding-bottom: 20px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.catalog-char {
  .catalog-inner__title {
    padding-bottom: 13px;
    border-bottom: 1px solid rgba(36, 36, 36, 0.1);
  }

  ul {
    li {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 6px;
      font-size: 14px;

      &:last-child {
        padding-bottom: 0;
      }

      span {
        color: #aea69d;
        padding-left: 20px;
      }
    }

    @media (max-width: 992px) {
      li {
        font-size: 13px;
      }
    }

    @media (max-width: 576px) {
      li {
        font-size: 11px;
      }
    }
  }

  @media (max-width: 768px) {
    .catalog-inner__title {
      font-size: 14px;
      padding-bottom: 10px;
    }
  }

  @media (max-width: 576px) {
    .catalog-inner__title {
      font-size: 13px;
      padding-bottom: 7px;
    }
  }
}

.catalog-preview {
  justify-content: space-between;
  align-items: center;

  &__title,
  &__price {
    font-family: $bold;
    font-size: 17px;
  }

  &__img {
    width: 120px;
  }

  .counter {
    margin-right: 30px;
  }

  .catalog-preview__right,
  .catalog-preview__left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .catalog-preview__title {
    margin-left: 30px;
  }

  @media (max-width: 992px) {
    &__img {
      width: 100px;
    }

    .catalog-preview__title {
      margin-left: 20px;
    }

    &__title,
    &__price {
      font-family: $bold;
      font-size: 16px;
    }

    .counter {
      margin-right: 25px;
    }
  }

  @media (max-width: 768px) {
    &__img {
      width: 90px;
    }

    &__title,
    &__price {
      font-family: $bold;
      font-size: 14px;
    }

    .catalog-preview__title {
      margin-left: 0;
      width: 100%;
    }

    .catalog-preview__left {
      width: 100%;
    }

    .catalog-preview__right {
      padding-top: 8px;
    }
  }
}

.catalog-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;

  .catalog {
    flex: 0 0 calc((100% / 3) - 20px);
    max-width: calc((100% / 3) - 20px);
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (max-width: 670px) {
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;

    .catalog {
      margin-left: 0;
      margin-right: 0;
      flex: 0 0 calc((100% / 2) - 3px);
      max-width: calc((100% / 2) - 3px);
    }
  }
}

.catalog-section {
  padding-top: 70px;
  padding-bottom: 100px;

  h2 {
    margin-bottom: 40px;
    font-size: 25px;
  }

  .catalog {
    flex: 0 0 calc((100% / 4) - 20px);
    max-width: calc((100% / 4) - 20px);
  }

  .btn-wrap {
    text-align: center;
    margin-top: 50px;

    .btn {
      width: 305px;
    }

    @media (max-width: 1500px) {
      margin-top: 30px;
    }

    @media (max-width: 480px) {
      margin-top: 15px;

      .btn {
        width: 90%;
        font-size: 13px;
      }
    }
  }

  .catalog-wrap {
    @media (max-width: 1300px) {
      .catalog {
        margin-left: 5px;
        margin-right: 5px;
        flex: 0 0 calc((100% / 4) - 10px);
        max-width: calc((100% / 4) - 10px);
      }

      margin-right: -5px;
      margin-left: -5px;
    }

    @media (max-width: 1109px) {
      .catalog {
        flex: 0 0 calc((100% / 3) - 10px);
        max-width: calc((100% / 3) - 10px);
      }
    }

    @media (max-width: 670px) {
      justify-content: space-between;

      .catalog {
        margin-left: 0;
        margin-right: 0;
        flex: 0 0 calc((100% / 2) - 3px);
        max-width: calc((100% / 2) - 3px);
      }
    }
  }

  @media (max-width: 1659px) {
    padding-top: 60px;
    padding-bottom: 60px;

    h2 {
      margin-bottom: 35px;
    }
  }

  @media (max-width: 992px) {
    padding-top: 40px;
    padding-bottom: 50px;

    h2 {
      margin-bottom: 25px;
    }
  }

  @media (max-width: 768px) {
    padding-top: 30px;
  }

  @media (max-width: 480px) {
    padding-top: 25px;
    padding-bottom: 50px;

    h2 {
      margin-bottom: 20px;
    }
  }
}

.filter-wrap {
  width: 217px;

  .filter-block {
    margin-bottom: 27px;
  }

  h3.title {
    margin-bottom: 25px;
  }
}

.filter-wrap-controls {
  width: 217px;
  padding-top: 12px;
  padding-bottom: 50px;
}

.result-block {
  background: #fff;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.06);
  padding: 25px 25px 35px 25px;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;

    span {
      color: $accent;
      font-family: $bold;
      font-size: 18px;
    }

    h3 {
      font-size: 19px;
      margin-bottom: 0;
    }
  }

  // элементы со страница детальной
  &__text {
    font-size: 12px;
    line-height: 1.5;
    color: #aea69d;
    text-align: center;
    margin-top: 10px;
  }

  h4 {
    font-size: 18px;
    font-family: $bold;
    margin-bottom: 15px;
  }

  ul {
    li {
      display: flex;
      justify-content: space-between;
      padding-bottom: 8px;
      font-size: 13px;

      span:nth-child(2) {
        color: #626262;
      }

      button.btn-tool {
        vertical-align: middle;
        margin-left: 8px;
        margin-top: -4px;
      }
    }
  }

  &__item {
    border-bottom: 1px solid rgba(174, 166, 157, 0.1);
    padding-top: 20px;

    &:nth-child(2) {
      border-bottom: 0;
    }

    &:first-child {
      padding-top: 0;
    }
  }

  &__line {
    display: flex;
    justify-content: space-between;

    span {
      font-family: $bold;
      font-size: 17px;
    }
  }

  .btn {
    width: 100%;
    margin-top: 10px;
  }

  @media (max-width: 1659px) {
    padding: 20px;

    &__head {
      padding-bottom: 20px;
    }

    h4 {
      font-size: 16px;
    }
  }

  @media (max-width: 992px) {
    &__head {
      padding-bottom: 15px;

      span {
        font-size: 16px;
      }

      h3 {
        font-size: 17px;
      }
    }

    ul {
      li {
        button.btn-tool {
          display: none;
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 15px;

    h4 {
      font-size: 15px;
    }

    .result-block__line {
      span {
        font-size: 14px;
      }
    }

    .result-block__item {
      padding-top: 10px;

      &:first-child {
        padding-top: 0;
      }
    }
  }

  @media (max-width: 576px) {
    .result-block__text {
      font-size: 11px;
      line-height: 1.3;
    }
  }

  @media (max-width: 480px) {
    padding-right: 7px;
    padding-left: 7px;

    &__head {
      span {
        font-size: 15px;
      }

      h3 {
        font-size: 16px;
      }
    }

    ul {
      li {
        font-size: 12px;
      }
    }
  }
}

.result-wrapper {
  .btn-group {
    flex-wrap: wrap;
    padding-top: 11px;
    width: 100%;

    .btn:last-child {
      margin-bottom: 0;
    }

    @media (max-width: 992px) {
      justify-content: space-between;

      .btn {
        flex: unset;
        width: 49%;
        margin-bottom: 0;
      }
    }

    @media (max-width: 576px) {
      .btn {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  .btn {
    width: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-bottom: 10px;

    @media (max-width: 992px) {
      font-size: 13px;
      padding: 7px;
    }

    @media (max-width: 480px) {
      font-size: 12px;
      padding: 6px 5px;
    }
  }
}
